nifi/Cyber_S3-version-1.json
{"externalControllerServices":{},"flowContents":{"comments":"","componentType":"PROCESS_GROUP","connections":[{"backPressureDataSizeThreshold":"1 GB","backPressureObjectThreshold":10000,"bends":[],"componentType":"CONNECTION","destination":{"comments":"","groupId":"f51c1956-74ac-3b21-9c4e-b55fe46c2b55","id":"86ff624c-a12a-3f92-9b44-6800ebf700ae","name":"Funnel","type":"FUNNEL"},"flowFileExpiration":"0 sec","groupIdentifier":"f51c1956-74ac-3b21-9c4e-b55fe46c2b55","identifier":"a57bc428-4ab9-3da2-a1de-7e43baf7a6c9","labelIndex":1,"loadBalanceCompression":"DO_NOT_COMPRESS","loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","name":"","partitioningAttribute":"","prioritizers":[],"selectedRelationships":["failure"],"source":{"comments":"","groupId":"f51c1956-74ac-3b21-9c4e-b55fe46c2b55","id":"4af97b8c-8cbd-347f-9f26-1755f12f2eda","name":"MergeRecord","type":"PROCESSOR"},"zIndex":0},{"backPressureDataSizeThreshold":"1 GB","backPressureObjectThreshold":10000,"bends":[],"componentType":"CONNECTION","destination":{"comments":"","groupId":"f51c1956-74ac-3b21-9c4e-b55fe46c2b55","id":"9a700c94-3eb1-38f9-a657-c473085ea471","name":"CompressContent","type":"PROCESSOR"},"flowFileExpiration":"0 sec","groupIdentifier":"f51c1956-74ac-3b21-9c4e-b55fe46c2b55","identifier":"3e0d58a1-dbcc-3f22-a7c7-558e22991867","labelIndex":1,"loadBalanceCompression":"DO_NOT_COMPRESS","loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","name":"","partitioningAttribute":"","prioritizers":[],"selectedRelationships":["success"],"source":{"comments":"","groupId":"f51c1956-74ac-3b21-9c4e-b55fe46c2b55","id":"a5a1bbc7-b064-3b4d-add9-cff34888d9f0","name":"UpdateAttribute","type":"PROCESSOR"},"zIndex":0},{"backPressureDataSizeThreshold":"1 GB","backPressureObjectThreshold":10000,"bends":[{"x":1493.2641133770278,"y":1291.4282712509814}],"componentType":"CONNECTION","destination":{"comments":"","groupId":"f51c1956-74ac-3b21-9c4e-b55fe46c2b55","id":"2a8b21dc-a80e-3430-bc20-d599663dc2d9","name":"toInfoSecS3Bucket_PRD","type":"PROCESSOR"},"flowFileExpiration":"48 hr","groupIdentifier":"f51c1956-74ac-3b21-9c4e-b55fe46c2b55","identifier":"9f9d08bc-0623-3f56-86c1-163441b9a718","labelIndex":1,"loadBalanceCompression":"DO_NOT_COMPRESS","loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","name":"","partitioningAttribute":"","prioritizers":[],"selectedRelationships":[""],"source":{"comments":"Items sent to this port have not yet exceeded the maximum retry count.","groupId":"b84c980f-e4cb-3e2e-992d-a93e56ae9bee","id":"223310a7-8a6f-38a2-8b48-80eff993a953","name":"retry","type":"OUTPUT_PORT"},"zIndex":0},{"backPressureDataSizeThreshold":"1 GB","backPressureObjectThreshold":10000,"bends":[],"componentType":"CONNECTION","destination":{"comments":"","groupId":"b84c980f-e4cb-3e2e-992d-a93e56ae9bee","id":"31876291-3b22-3636-a5d5-3fb560d57614","name":"data","type":"INPUT_PORT"},"flowFileExpiration":"48 hr","groupIdentifier":"f51c1956-74ac-3b21-9c4e-b55fe46c2b55","identifier":"e1664bb9-2fee-393e-90e9-d753bc1a52ae","labelIndex":1,"loadBalanceCompression":"DO_NOT_COMPRESS","loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","name":"","partitioningAttribute":"","prioritizers":[],"selectedRelationships":["failure"],"source":{"comments":"","groupId":"f51c1956-74ac-3b21-9c4e-b55fe46c2b55","id":"2a8b21dc-a80e-3430-bc20-d599663dc2d9","name":"toInfoSecS3Bucket_PRD","type":"PROCESSOR"},"zIndex":0},{"backPressureDataSizeThreshold":"1 GB","backPressureObjectThreshold":1000000,"bends":[],"componentType":"CONNECTION","destination":{"comments":"","groupId":"f51c1956-74ac-3b21-9c4e-b55fe46c2b55","id":"c128ff4e-e6ad-3b0f-a6b2-8337824ecf83","name":"Funnel","type":"FUNNEL"},"flowFileExpiration":"24 hr","groupIdentifier":"f51c1956-74ac-3b21-9c4e-b55fe46c2b55","identifier":"1771a93f-907f-354f-b785-d4eb475fd3a1","labelIndex":1,"loadBalanceCompression":"DO_NOT_COMPRESS","loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","name":"","partitioningAttribute":"","prioritizers":[],"selectedRelationships":["failure"],"source":{"comments":"","groupId":"f51c1956-74ac-3b21-9c4e-b55fe46c2b55","id":"66e704e5-5924-3cc5-a668-2f06c95710c2","name":"MergeRecord","type":"PROCESSOR"},"zIndex":0},{"backPressureDataSizeThreshold":"1 GB","backPressureObjectThreshold":10000,"bends":[],"componentType":"CONNECTION","destination":{"comments":"","groupId":"f51c1956-74ac-3b21-9c4e-b55fe46c2b55","id":"c128ff4e-e6ad-3b0f-a6b2-8337824ecf83","name":"Funnel","type":"FUNNEL"},"flowFileExpiration":"24 hr","groupIdentifier":"f51c1956-74ac-3b21-9c4e-b55fe46c2b55","identifier":"9f70b7e1-963b-3361-8d5e-9556f7c9084c","labelIndex":1,"loadBalanceCompression":"DO_NOT_COMPRESS","loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","name":"","partitioningAttribute":"","prioritizers":[],"selectedRelationships":["unmatched"],"source":{"comments":"","groupId":"f51c1956-74ac-3b21-9c4e-b55fe46c2b55","id":"9f781953-9541-3ace-ac8d-18ef2fd8b074","name":"RouteOnAttribute","type":"PROCESSOR"},"zIndex":0},{"backPressureDataSizeThreshold":"1 GB","backPressureObjectThreshold":10000,"bends":[],"componentType":"CONNECTION","destination":{"comments":"","groupId":"f51c1956-74ac-3b21-9c4e-b55fe46c2b55","id":"a5a1bbc7-b064-3b4d-add9-cff34888d9f0","name":"UpdateAttribute","type":"PROCESSOR"},"flowFileExpiration":"0 sec","groupIdentifier":"f51c1956-74ac-3b21-9c4e-b55fe46c2b55","identifier":"f0f4b23a-1b35-3428-8e29-480b71d11dbe","labelIndex":1,"loadBalanceCompression":"DO_NOT_COMPRESS","loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","name":"","partitioningAttribute":"","prioritizers":[],"selectedRelationships":["merged"],"source":{"comments":"","groupId":"f51c1956-74ac-3b21-9c4e-b55fe46c2b55","id":"66e704e5-5924-3cc5-a668-2f06c95710c2","name":"MergeRecord","type":"PROCESSOR"},"zIndex":0},{"backPressureDataSizeThreshold":"1 GB","backPressureObjectThreshold":10000,"bends":[],"componentType":"CONNECTION","destination":{"comments":"","groupId":"f51c1956-74ac-3b21-9c4e-b55fe46c2b55","id":"9feee544-51a3-3314-aba2-ee797387a668","name":"toInfoSecS3Bucket_DEV","type":"PROCESSOR"},"flowFileExpiration":"48 hr","groupIdentifier":"f51c1956-74ac-3b21-9c4e-b55fe46c2b55","identifier":"f592e49d-29f9-3568-a38e-048055f162b0","labelIndex":1,"loadBalanceCompression":"DO_NOT_COMPRESS","loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","name":"","partitioningAttribute":"","prioritizers":[],"selectedRelationships":[""],"source":{"comments":"","groupId":"f51c1956-74ac-3b21-9c4e-b55fe46c2b55","id":"5f5606be-07eb-3ed0-b0aa-195e68fb5c72","name":"Funnel","type":"FUNNEL"},"zIndex":0},{"backPressureDataSizeThreshold":"1 GB","backPressureObjectThreshold":1000000,"bends":[],"componentType":"CONNECTION","destination":{"comments":"","groupId":"f51c1956-74ac-3b21-9c4e-b55fe46c2b55","id":"9f781953-9541-3ace-ac8d-18ef2fd8b074","name":"RouteOnAttribute","type":"PROCESSOR"},"flowFileExpiration":"0 sec","groupIdentifier":"f51c1956-74ac-3b21-9c4e-b55fe46c2b55","identifier":"4b887333-0a2f-36a1-b49c-70a8ea9d6e1e","labelIndex":1,"loadBalanceCompression":"DO_NOT_COMPRESS","loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","name":"","partitioningAttribute":"","prioritizers":[],"selectedRelationships":["success"],"source":{"comments":"","groupId":"f51c1956-74ac-3b21-9c4e-b55fe46c2b55","id":"7806a584-ef8a-32f6-a874-52702b2bdb83","name":"UpdateAttribute","type":"PROCESSOR"},"zIndex":0},{"backPressureDataSizeThreshold":"1 GB","backPressureObjectThreshold":10000,"bends":[],"componentType":"CONNECTION","destination":{"comments":"","groupId":"f51c1956-74ac-3b21-9c4e-b55fe46c2b55","id":"45bddf4e-dbe4-3bce-817e-661a6aa0a274","name":"Funnel","type":"FUNNEL"},"flowFileExpiration":"48 hr","groupIdentifier":"f51c1956-74ac-3b21-9c4e-b55fe46c2b55","identifier":"fdf63296-61a1-3a96-b292-87e411465786","labelIndex":1,"loadBalanceCompression":"DO_NOT_COMPRESS","loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","name":"","partitioningAttribute":"","prioritizers":[],"selectedRelationships":["success"],"source":{"comments":"","groupId":"f51c1956-74ac-3b21-9c4e-b55fe46c2b55","id":"9feee544-51a3-3314-aba2-ee797387a668","name":"toInfoSecS3Bucket_DEV","type":"PROCESSOR"},"zIndex":0},{"backPressureDataSizeThreshold":"1 GB","backPressureObjectThreshold":10000,"bends":[],"componentType":"CONNECTION","destination":{"comments":"","groupId":"f51c1956-74ac-3b21-9c4e-b55fe46c2b55","id":"7806a584-ef8a-32f6-a874-52702b2bdb83","name":"UpdateAttribute","type":"PROCESSOR"},"flowFileExpiration":"0 sec","groupIdentifier":"f51c1956-74ac-3b21-9c4e-b55fe46c2b55","identifier":"2a1a8b4f-a3d1-3a5e-b5f3-45e413727baa","labelIndex":1,"loadBalanceCompression":"DO_NOT_COMPRESS","loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","name":"","partitioningAttribute":"","prioritizers":[],"selectedRelationships":[""],"source":{"comments":"","groupId":"f51c1956-74ac-3b21-9c4e-b55fe46c2b55","id":"893e8e2f-f8ee-3902-bea4-c29dfdc69a89","name":"Input","type":"INPUT_PORT"},"zIndex":0},{"backPressureDataSizeThreshold":"1 GB","backPressureObjectThreshold":10000,"bends":[],"componentType":"CONNECTION","destination":{"comments":"","groupId":"16943032-856b-34ae-b969-0d08282b9f5a","id":"31876291-3b22-3636-a5d5-3fb560d57614","name":"data","type":"INPUT_PORT"},"flowFileExpiration":"48 hr","groupIdentifier":"f51c1956-74ac-3b21-9c4e-b55fe46c2b55","identifier":"293bd11d-2041-30e2-867b-31df235aa001","labelIndex":1,"loadBalanceCompression":"DO_NOT_COMPRESS","loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","name":"","partitioningAttribute":"","prioritizers":[],"selectedRelationships":["failure"],"source":{"comments":"","groupId":"f51c1956-74ac-3b21-9c4e-b55fe46c2b55","id":"9feee544-51a3-3314-aba2-ee797387a668","name":"toInfoSecS3Bucket_DEV","type":"PROCESSOR"},"zIndex":0},{"backPressureDataSizeThreshold":"1 GB","backPressureObjectThreshold":10000,"bends":[],"componentType":"CONNECTION","destination":{"comments":"","groupId":"f51c1956-74ac-3b21-9c4e-b55fe46c2b55","id":"66e704e5-5924-3cc5-a668-2f06c95710c2","name":"MergeRecord","type":"PROCESSOR"},"flowFileExpiration":"0 sec","groupIdentifier":"f51c1956-74ac-3b21-9c4e-b55fe46c2b55","identifier":"c9023fbd-0ff2-3c97-83c0-c7670fd3714d","labelIndex":1,"loadBalanceCompression":"DO_NOT_COMPRESS","loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","name":"","partitioningAttribute":"","prioritizers":[],"selectedRelationships":["subnets"],"source":{"comments":"","groupId":"f51c1956-74ac-3b21-9c4e-b55fe46c2b55","id":"9f781953-9541-3ace-ac8d-18ef2fd8b074","name":"RouteOnAttribute","type":"PROCESSOR"},"zIndex":0},{"backPressureDataSizeThreshold":"1 GB","backPressureObjectThreshold":1000000,"bends":[],"componentType":"CONNECTION","destination":{"comments":"","groupId":"f51c1956-74ac-3b21-9c4e-b55fe46c2b55","id":"c128ff4e-e6ad-3b0f-a6b2-8337824ecf83","name":"Funnel","type":"FUNNEL"},"flowFileExpiration":"24 hr","groupIdentifier":"f51c1956-74ac-3b21-9c4e-b55fe46c2b55","identifier":"2a426b47-170c-3e24-b81e-c2feedde45b1","labelIndex":1,"loadBalanceCompression":"DO_NOT_COMPRESS","loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","name":"","partitioningAttribute":"","prioritizers":[],"selectedRelationships":["failure"],"source":{"comments":"","groupId":"f51c1956-74ac-3b21-9c4e-b55fe46c2b55","id":"7d29f7ef-387a-31e9-8249-154e87e41cac","name":"MergeRecord","type":"PROCESSOR"},"zIndex":0},{"backPressureDataSizeThreshold":"1 GB","backPressureObjectThreshold":10000,"bends":[],"componentType":"CONNECTION","destination":{"comments":"","groupId":"f51c1956-74ac-3b21-9c4e-b55fe46c2b55","id":"a5a1bbc7-b064-3b4d-add9-cff34888d9f0","name":"UpdateAttribute","type":"PROCESSOR"},"flowFileExpiration":"0 sec","groupIdentifier":"f51c1956-74ac-3b21-9c4e-b55fe46c2b55","identifier":"7d2172fe-aecb-3613-9a87-d0d8c90cd9a0","labelIndex":1,"loadBalanceCompression":"DO_NOT_COMPRESS","loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","name":"","partitioningAttribute":"","prioritizers":[],"selectedRelationships":["merged"],"source":{"comments":"","groupId":"f51c1956-74ac-3b21-9c4e-b55fe46c2b55","id":"7d29f7ef-387a-31e9-8249-154e87e41cac","name":"MergeRecord","type":"PROCESSOR"},"zIndex":0},{"backPressureDataSizeThreshold":"1 GB","backPressureObjectThreshold":10000,"bends":[],"componentType":"CONNECTION","destination":{"comments":"","groupId":"f51c1956-74ac-3b21-9c4e-b55fe46c2b55","id":"5f5606be-07eb-3ed0-b0aa-195e68fb5c72","name":"Funnel","type":"FUNNEL"},"flowFileExpiration":"0 sec","groupIdentifier":"f51c1956-74ac-3b21-9c4e-b55fe46c2b55","identifier":"b5f6814c-2bc2-39ca-b139-ecdfac964082","labelIndex":1,"loadBalanceCompression":"DO_NOT_COMPRESS","loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","name":"","partitioningAttribute":"","prioritizers":[],"selectedRelationships":["success"],"source":{"comments":"","groupId":"f51c1956-74ac-3b21-9c4e-b55fe46c2b55","id":"9a700c94-3eb1-38f9-a657-c473085ea471","name":"CompressContent","type":"PROCESSOR"},"zIndex":0},{"backPressureDataSizeThreshold":"1 GB","backPressureObjectThreshold":10000,"bends":[{"x":1489.2641133770278,"y":942.4282712509814}],"componentType":"CONNECTION","destination":{"comments":"","groupId":"f51c1956-74ac-3b21-9c4e-b55fe46c2b55","id":"9feee544-51a3-3314-aba2-ee797387a668","name":"toInfoSecS3Bucket_DEV","type":"PROCESSOR"},"flowFileExpiration":"48 hr","groupIdentifier":"f51c1956-74ac-3b21-9c4e-b55fe46c2b55","identifier":"e72a3f9f-98d4-32b8-b494-3996ef114e56","labelIndex":1,"loadBalanceCompression":"DO_NOT_COMPRESS","loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","name":"","partitioningAttribute":"","prioritizers":[],"selectedRelationships":[""],"source":{"comments":"Items sent to this port have not yet exceeded the maximum retry count.","groupId":"16943032-856b-34ae-b969-0d08282b9f5a","id":"223310a7-8a6f-38a2-8b48-80eff993a953","name":"retry","type":"OUTPUT_PORT"},"zIndex":0},{"backPressureDataSizeThreshold":"1 GB","backPressureObjectThreshold":10000,"bends":[],"componentType":"CONNECTION","destination":{"comments":"","groupId":"f51c1956-74ac-3b21-9c4e-b55fe46c2b55","id":"2a8b21dc-a80e-3430-bc20-d599663dc2d9","name":"toInfoSecS3Bucket_PRD","type":"PROCESSOR"},"flowFileExpiration":"48 hr","groupIdentifier":"f51c1956-74ac-3b21-9c4e-b55fe46c2b55","identifier":"964a2a32-a71f-34ae-b795-23ee2b1b4909","labelIndex":1,"loadBalanceCompression":"DO_NOT_COMPRESS","loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","name":"","partitioningAttribute":"","prioritizers":[],"selectedRelationships":[""],"source":{"comments":"","groupId":"f51c1956-74ac-3b21-9c4e-b55fe46c2b55","id":"5f5606be-07eb-3ed0-b0aa-195e68fb5c72","name":"Funnel","type":"FUNNEL"},"zIndex":0},{"backPressureDataSizeThreshold":"1 GB","backPressureObjectThreshold":10000,"bends":[],"componentType":"CONNECTION","destination":{"comments":"","groupId":"f51c1956-74ac-3b21-9c4e-b55fe46c2b55","id":"7d29f7ef-387a-31e9-8249-154e87e41cac","name":"MergeRecord","type":"PROCESSOR"},"flowFileExpiration":"0 sec","groupIdentifier":"f51c1956-74ac-3b21-9c4e-b55fe46c2b55","identifier":"a20e1d39-5b35-36e0-8957-51c96e33e3bb","labelIndex":1,"loadBalanceCompression":"DO_NOT_COMPRESS","loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","name":"","partitioningAttribute":"","prioritizers":[],"selectedRelationships":["devices"],"source":{"comments":"","groupId":"f51c1956-74ac-3b21-9c4e-b55fe46c2b55","id":"9f781953-9541-3ace-ac8d-18ef2fd8b074","name":"RouteOnAttribute","type":"PROCESSOR"},"zIndex":0},{"backPressureDataSizeThreshold":"1 GB","backPressureObjectThreshold":10000,"bends":[{"x":1465.2641133770278,"y":-201.57172874901863}],"componentType":"CONNECTION","destination":{"comments":"","groupId":"f51c1956-74ac-3b21-9c4e-b55fe46c2b55","id":"4af97b8c-8cbd-347f-9f26-1755f12f2eda","name":"MergeRecord","type":"PROCESSOR"},"flowFileExpiration":"0 sec","groupIdentifier":"f51c1956-74ac-3b21-9c4e-b55fe46c2b55","identifier":"5a26b32f-284e-3963-bc9c-509e31fd925e","labelIndex":1,"loadBalanceCompression":"DO_NOT_COMPRESS","loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","name":"","partitioningAttribute":"","prioritizers":[],"selectedRelationships":["inventory"],"source":{"comments":"","groupId":"f51c1956-74ac-3b21-9c4e-b55fe46c2b55","id":"9f781953-9541-3ace-ac8d-18ef2fd8b074","name":"RouteOnAttribute","type":"PROCESSOR"},"zIndex":0},{"backPressureDataSizeThreshold":"1 GB","backPressureObjectThreshold":10000,"bends":[],"componentType":"CONNECTION","destination":{"comments":"","groupId":"f51c1956-74ac-3b21-9c4e-b55fe46c2b55","id":"45bddf4e-dbe4-3bce-817e-661a6aa0a274","name":"Funnel","type":"FUNNEL"},"flowFileExpiration":"48 hr","groupIdentifier":"f51c1956-74ac-3b21-9c4e-b55fe46c2b55","identifier":"8c1e9e41-a77d-3ffd-9be1-5f7df7518382","labelIndex":1,"loadBalanceCompression":"DO_NOT_COMPRESS","loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","name":"","partitioningAttribute":"","prioritizers":[],"selectedRelationships":["success"],"source":{"comments":"","groupId":"f51c1956-74ac-3b21-9c4e-b55fe46c2b55","id":"2a8b21dc-a80e-3430-bc20-d599663dc2d9","name":"toInfoSecS3Bucket_PRD","type":"PROCESSOR"},"zIndex":0},{"backPressureDataSizeThreshold":"1 GB","backPressureObjectThreshold":10000,"bends":[],"componentType":"CONNECTION","destination":{"comments":"","groupId":"f51c1956-74ac-3b21-9c4e-b55fe46c2b55","id":"fcb2f52a-c361-3939-aaee-f0b4365488c5","name":"Funnel","type":"FUNNEL"},"flowFileExpiration":"0 sec","groupIdentifier":"f51c1956-74ac-3b21-9c4e-b55fe46c2b55","identifier":"ca98e7c2-8be5-36ee-a3f0-cadb52c8e5d9","labelIndex":1,"loadBalanceCompression":"DO_NOT_COMPRESS","loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","name":"","partitioningAttribute":"","prioritizers":[],"selectedRelationships":["merged"],"source":{"comments":"","groupId":"f51c1956-74ac-3b21-9c4e-b55fe46c2b55","id":"4af97b8c-8cbd-347f-9f26-1755f12f2eda","name":"MergeRecord","type":"PROCESSOR"},"zIndex":0},{"backPressureDataSizeThreshold":"1 GB","backPressureObjectThreshold":10000,"bends":[],"componentType":"CONNECTION","destination":{"comments":"","groupId":"f51c1956-74ac-3b21-9c4e-b55fe46c2b55","id":"a5a1bbc7-b064-3b4d-add9-cff34888d9f0","name":"UpdateAttribute","type":"PROCESSOR"},"flowFileExpiration":"0 sec","groupIdentifier":"f51c1956-74ac-3b21-9c4e-b55fe46c2b55","identifier":"4d2f665a-991b-3ba4-97cd-8ea7d11ed010","labelIndex":1,"loadBalanceCompression":"DO_NOT_COMPRESS","loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","name":"","partitioningAttribute":"","prioritizers":[],"selectedRelationships":[""],"source":{"comments":"","groupId":"f51c1956-74ac-3b21-9c4e-b55fe46c2b55","id":"fcb2f52a-c361-3939-aaee-f0b4365488c5","name":"Funnel","type":"FUNNEL"},"zIndex":0},{"backPressureDataSizeThreshold":"1 GB","backPressureObjectThreshold":10000,"bends":[],"componentType":"CONNECTION","destination":{"comments":"","groupId":"f51c1956-74ac-3b21-9c4e-b55fe46c2b55","id":"38e8f0c4-145f-355e-8e97-ee71170bb0f6","name":"Funnel","type":"FUNNEL"},"flowFileExpiration":"24 hr","groupIdentifier":"f51c1956-74ac-3b21-9c4e-b55fe46c2b55","identifier":"aca98a65-0965-3ec0-9734-a11f040dd4bc","labelIndex":1,"loadBalanceCompression":"DO_NOT_COMPRESS","loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","name":"","partitioningAttribute":"","prioritizers":[],"selectedRelationships":["failure"],"source":{"comments":"","groupId":"f51c1956-74ac-3b21-9c4e-b55fe46c2b55","id":"9a700c94-3eb1-38f9-a657-c473085ea471","name":"CompressContent","type":"PROCESSOR"},"zIndex":0}],"controllerServices":[{"bundle":{"artifact":"nifi-record-serialization-services-nar","group":"org.apache.nifi","version":"1.12.1"},"comments":"","componentType":"CONTROLLER_SERVICE","controllerServiceApis":[{"bundle":{"artifact":"nifi-standard-services-api-nar","group":"org.apache.nifi","version":"1.12.1"},"type":"org.apache.nifi.serialization.RecordReaderFactory"}],"groupIdentifier":"f51c1956-74ac-3b21-9c4e-b55fe46c2b55","identifier":"b2042dee-5b68-369e-876f-ef9f89776481","name":"JsonTreeReader","properties":{"schema-name":"${schema.name}","schema-access-strategy":"infer-schema","schema-text":"${avro.schema}"},"propertyDescriptors":{"Timestamp Format":{"displayName":"Timestamp Format","identifiesControllerService":false,"name":"Timestamp Format","sensitive":false},"schema-inference-cache":{"displayName":"Schema Inference Cache","identifiesControllerService":true,"name":"schema-inference-cache","sensitive":false},"Date Format":{"displayName":"Date Format","identifiesControllerService":false,"name":"Date Format","sensitive":false},"schema-branch":{"displayName":"Schema Branch","identifiesControllerService":false,"name":"schema-branch","sensitive":false},"schema-name":{"displayName":"Schema Name","identifiesControllerService":false,"name":"schema-name","sensitive":false},"schema-registry":{"displayName":"Schema Registry","identifiesControllerService":true,"name":"schema-registry","sensitive":false},"Time Format":{"displayName":"Time Format","identifiesControllerService":false,"name":"Time Format","sensitive":false},"schema-access-strategy":{"displayName":"Schema Access Strategy","identifiesControllerService":false,"name":"schema-access-strategy","sensitive":false},"schema-version":{"displayName":"Schema Version","identifiesControllerService":false,"name":"schema-version","sensitive":false},"schema-text":{"displayName":"Schema Text","identifiesControllerService":false,"name":"schema-text","sensitive":false}},"type":"org.apache.nifi.json.JsonTreeReader"},{"bundle":{"artifact":"nifi-record-serialization-services-nar","group":"org.apache.nifi","version":"1.12.1"},"comments":"","componentType":"CONTROLLER_SERVICE","controllerServiceApis":[{"bundle":{"artifact":"nifi-standard-services-api-nar","group":"org.apache.nifi","version":"1.12.1"},"type":"org.apache.nifi.serialization.RecordSetWriterFactory"}],"groupIdentifier":"f51c1956-74ac-3b21-9c4e-b55fe46c2b55","identifier":"a88f1e7e-4e95-33f1-8702-762ecd3e9c9c","name":"JsonRecordSetWriter","properties":{"compression-level":"1","Pretty Print JSON":"false","compression-format":"none","Schema Write Strategy":"no-schema","suppress-nulls":"never-suppress","output-grouping":"output-array","schema-name":"${schema.name}","schema-access-strategy":"inherit-record-schema","schema-protocol-version":"1","schema-text":"${avro.schema}"},"propertyDescriptors":{"schema-branch":{"displayName":"Schema Branch","identifiesControllerService":false,"name":"schema-branch","sensitive":false},"compression-level":{"displayName":"Compression Level","identifiesControllerService":false,"name":"compression-level","sensitive":false},"schema-cache":{"displayName":"Schema Cache","identifiesControllerService":true,"name":"schema-cache","sensitive":false},"Timestamp Format":{"displayName":"Timestamp Format","identifiesControllerService":false,"name":"Timestamp Format","sensitive":false},"Date Format":{"displayName":"Date Format","identifiesControllerService":false,"name":"Date Format","sensitive":false},"Pretty Print JSON":{"displayName":"Pretty Print JSON","identifiesControllerService":false,"name":"Pretty Print JSON","sensitive":false},"compression-format":{"displayName":"Compression Format","identifiesControllerService":false,"name":"compression-format","sensitive":false},"Schema Write Strategy":{"displayName":"Schema Write Strategy","identifiesControllerService":false,"name":"Schema Write Strategy","sensitive":false},"suppress-nulls":{"displayName":"Suppress Null Values","identifiesControllerService":false,"name":"suppress-nulls","sensitive":false},"output-grouping":{"displayName":"Output Grouping","identifiesControllerService":false,"name":"output-grouping","sensitive":false},"schema-name":{"displayName":"Schema Name","identifiesControllerService":false,"name":"schema-name","sensitive":false},"schema-registry":{"displayName":"Schema Registry","identifiesControllerService":true,"name":"schema-registry","sensitive":false},"Time Format":{"displayName":"Time Format","identifiesControllerService":false,"name":"Time Format","sensitive":false},"schema-access-strategy":{"displayName":"Schema Access Strategy","identifiesControllerService":false,"name":"schema-access-strategy","sensitive":false},"schema-protocol-version":{"displayName":"Schema Protocol Version","identifiesControllerService":false,"name":"schema-protocol-version","sensitive":false},"schema-version":{"displayName":"Schema Version","identifiesControllerService":false,"name":"schema-version","sensitive":false},"schema-text":{"displayName":"Schema Text","identifiesControllerService":false,"name":"schema-text","sensitive":false}},"type":"org.apache.nifi.json.JsonRecordSetWriter"}],"flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","funnels":[{"componentType":"FUNNEL","groupIdentifier":"f51c1956-74ac-3b21-9c4e-b55fe46c2b55","identifier":"c128ff4e-e6ad-3b0f-a6b2-8337824ecf83","position":{"x":545.2641133770278,"y":-1.5717287490186322}},{"componentType":"FUNNEL","groupIdentifier":"f51c1956-74ac-3b21-9c4e-b55fe46c2b55","identifier":"38e8f0c4-145f-355e-8e97-ee71170bb0f6","position":{"x":1073.2641133770278,"y":454.42827125098137}},{"componentType":"FUNNEL","groupIdentifier":"f51c1956-74ac-3b21-9c4e-b55fe46c2b55","identifier":"fcb2f52a-c361-3939-aaee-f0b4365488c5","position":{"x":1441.2641133770278,"y":198.42827125098137}},{"componentType":"FUNNEL","groupIdentifier":"f51c1956-74ac-3b21-9c4e-b55fe46c2b55","identifier":"5f5606be-07eb-3ed0-b0aa-195e68fb5c72","position":{"x":561.2641133770278,"y":894.4282712509814}},{"componentType":"FUNNEL","groupIdentifier":"f51c1956-74ac-3b21-9c4e-b55fe46c2b55","identifier":"86ff624c-a12a-3f92-9b44-6800ebf700ae","position":{"x":1977.2641133770278,"y":-9.571728749018632}},{"componentType":"FUNNEL","groupIdentifier":"f51c1956-74ac-3b21-9c4e-b55fe46c2b55","identifier":"45bddf4e-dbe4-3bce-817e-661a6aa0a274","position":{"x":1065.2641133770278,"y":958.4282712509814}}],"identifier":"f51c1956-74ac-3b21-9c4e-b55fe46c2b55","inputPorts":[{"allowRemoteAccess":false,"comments":"","componentType":"INPUT_PORT","concurrentlySchedulableTaskCount":1,"groupIdentifier":"f51c1956-74ac-3b21-9c4e-b55fe46c2b55","identifier":"893e8e2f-f8ee-3902-bea4-c29dfdc69a89","name":"Input","position":{"x":-806.7358866229722,"y":-225.57172874901863},"type":"INPUT_PORT"}],"labels":[],"name":"Cyber_S3","outputPorts":[],"position":{"x":136.0,"y":-112.0},"processGroups":[{"comments":"This flow will track how many times a given flow file routes through it.  If the number of times exceeds a specific maximum then it will route to the 'limit exceeded' port.  Otherwise it will route to 'retry'.\n\nThe attributes it uses are 'retry.counter' and 'retry.maxcount'.  If the 'retry.maxcount' is specified on a given flowfile then it will be honored.  Otherwise a default of '3' is set as the maximum retry count.\n\nAs the flowfile goes through this flow it increments the 'retry.maxcount' attribute by 1.  It then checks if this value exceeds 'retry.maxcount' and if so then it routes the flowfile to 'limit exceeded' otherwise it routes to 'retry'.\n\nSo you can configure the 'retry' relationship to loop back to the process you want and you can send the 'limit exceeded' to move on from that process to something else.","componentType":"PROCESS_GROUP","connections":[{"backPressureDataSizeThreshold":"1 GB","backPressureObjectThreshold":100000,"bends":[],"componentType":"CONNECTION","destination":{"comments":"","groupId":"16943032-856b-34ae-b969-0d08282b9f5a","id":"530bac67-ecee-3075-a2d2-060d4f698aa5","name":"Funnel","type":"FUNNEL"},"flowFileExpiration":"0 days","groupIdentifier":"16943032-856b-34ae-b969-0d08282b9f5a","identifier":"271a111b-59bf-3e7d-982c-338334f8cdca","labelIndex":1,"loadBalanceCompression":"DO_NOT_COMPRESS","loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","name":"","partitioningAttribute":"","prioritizers":[],"selectedRelationships":["unmatched"],"source":{"comments":"","groupId":"16943032-856b-34ae-b969-0d08282b9f5a","id":"2d7c93da-1e41-357e-8710-332c6984f636","name":"Check Retry Count","type":"PROCESSOR"},"zIndex":0},{"backPressureDataSizeThreshold":"0 MB","backPressureObjectThreshold":10,"bends":[],"componentType":"CONNECTION","destination":{"comments":"","groupId":"16943032-856b-34ae-b969-0d08282b9f5a","id":"6addf3f2-b6ba-3ed5-90f4-4a94425ccce2","name":"Set retry counter","type":"PROCESSOR"},"flowFileExpiration":"0 sec","groupIdentifier":"16943032-856b-34ae-b969-0d08282b9f5a","identifier":"e5ffabc0-3879-3290-ad54-2c3d1a1324d3","labelIndex":1,"loadBalanceCompression":"DO_NOT_COMPRESS","loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","name":"","partitioningAttribute":"","prioritizers":[],"selectedRelationships":[""],"source":{"comments":"","groupId":"16943032-856b-34ae-b969-0d08282b9f5a","id":"31876291-3b22-3636-a5d5-3fb560d57614","name":"data","type":"INPUT_PORT"},"zIndex":0},{"backPressureDataSizeThreshold":"0 MB","backPressureObjectThreshold":10,"bends":[],"componentType":"CONNECTION","destination":{"comments":"Items sent to this port have not yet exceeded the maximum retry count.","groupId":"16943032-856b-34ae-b969-0d08282b9f5a","id":"223310a7-8a6f-38a2-8b48-80eff993a953","name":"retry","type":"OUTPUT_PORT"},"flowFileExpiration":"0 sec","groupIdentifier":"16943032-856b-34ae-b969-0d08282b9f5a","identifier":"40bf0e3d-2ce9-3bf7-8ca9-abc2448b81b7","labelIndex":1,"loadBalanceCompression":"DO_NOT_COMPRESS","loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","name":"","partitioningAttribute":"","prioritizers":[],"selectedRelationships":["Try again"],"source":{"comments":"","groupId":"16943032-856b-34ae-b969-0d08282b9f5a","id":"2d7c93da-1e41-357e-8710-332c6984f636","name":"Check Retry Count","type":"PROCESSOR"},"zIndex":0},{"backPressureDataSizeThreshold":"0 MB","backPressureObjectThreshold":100,"bends":[],"componentType":"CONNECTION","destination":{"comments":"","groupId":"16943032-856b-34ae-b969-0d08282b9f5a","id":"2d7c93da-1e41-357e-8710-332c6984f636","name":"Check Retry Count","type":"PROCESSOR"},"flowFileExpiration":"0 sec","groupIdentifier":"16943032-856b-34ae-b969-0d08282b9f5a","identifier":"44b47f94-91dc-3be8-a1bd-496d8bf57a1e","labelIndex":1,"loadBalanceCompression":"DO_NOT_COMPRESS","loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","name":"","partitioningAttribute":"","prioritizers":[],"selectedRelationships":["success"],"source":{"comments":"","groupId":"16943032-856b-34ae-b969-0d08282b9f5a","id":"6addf3f2-b6ba-3ed5-90f4-4a94425ccce2","name":"Set retry counter","type":"PROCESSOR"},"zIndex":0}],"controllerServices":[],"flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","funnels":[{"componentType":"FUNNEL","groupIdentifier":"16943032-856b-34ae-b969-0d08282b9f5a","identifier":"530bac67-ecee-3075-a2d2-060d4f698aa5","position":{"x":1055.5088557816625,"y":473.8863572898272}}],"groupIdentifier":"f51c1956-74ac-3b21-9c4e-b55fe46c2b55","identifier":"16943032-856b-34ae-b969-0d08282b9f5a","inputPorts":[{"allowRemoteAccess":false,"comments":"","componentType":"INPUT_PORT","concurrentlySchedulableTaskCount":1,"groupIdentifier":"16943032-856b-34ae-b969-0d08282b9f5a","identifier":"31876291-3b22-3636-a5d5-3fb560d57614","name":"data","position":{"x":418.0189879282432,"y":107.99999712137014},"type":"INPUT_PORT"}],"labels":[{"componentType":"LABEL","groupIdentifier":"16943032-856b-34ae-b969-0d08282b9f5a","height":84.0,"identifier":"cff791bd-5db0-370c-b2d4-f237a35a1d58","label":"Right click empty space -> select Variables \nset max_retry variable","position":{"x":-194.96208164979453,"y":124.19798271082527},"style":{"font-size":"24px"},"width":541.9999847412109}],"name":"Retry Check Loop","outputPorts":[{"allowRemoteAccess":false,"comments":"Items sent to this port have not yet exceeded the maximum retry count.","componentType":"OUTPUT_PORT","concurrentlySchedulableTaskCount":1,"groupIdentifier":"16943032-856b-34ae-b969-0d08282b9f5a","identifier":"223310a7-8a6f-38a2-8b48-80eff993a953","name":"retry","position":{"x":-194.96208259025042,"y":472.8863572898272},"type":"OUTPUT_PORT"}],"position":{"x":1705.2641133770278,"y":678.4282712509814},"processGroups":[],"processors":[{"autoTerminatedRelationships":[],"bulletinLevel":"WARN","bundle":{"artifact":"nifi-standard-nar","group":"org.apache.nifi","version":"1.12.1"},"comments":"","componentType":"PROCESSOR","concurrentlySchedulableTaskCount":1,"executionNode":"ALL","groupIdentifier":"16943032-856b-34ae-b969-0d08282b9f5a","identifier":"2d7c93da-1e41-357e-8710-332c6984f636","name":"Check Retry Count","penaltyDuration":"30 sec","position":{"x":363.0189879282432,"y":432.8863572898272},"properties":{"Routing Strategy":"Route to Property name","Try again":"${retry.counter:le('${retry.maxcount}')}"},"propertyDescriptors":{"Routing Strategy":{"displayName":"Routing Strategy","identifiesControllerService":false,"name":"Routing Strategy","sensitive":false},"Try again":{"displayName":"Try again","identifiesControllerService":false,"name":"Try again","sensitive":false}},"runDurationMillis":0,"scheduledState":"ENABLED","schedulingPeriod":"10 s","schedulingStrategy":"TIMER_DRIVEN","style":{},"type":"org.apache.nifi.processors.standard.RouteOnAttribute","yieldDuration":"1 sec"},{"autoTerminatedRelationships":[],"bulletinLevel":"WARN","bundle":{"artifact":"nifi-update-attribute-nar","group":"org.apache.nifi","version":"1.12.1"},"comments":"","componentType":"PROCESSOR","concurrentlySchedulableTaskCount":1,"executionNode":"ALL","groupIdentifier":"16943032-856b-34ae-b969-0d08282b9f5a","identifier":"6addf3f2-b6ba-3ed5-90f4-4a94425ccce2","name":"Set retry counter","penaltyDuration":"30 sec","position":{"x":363.01898792824323,"y":218.00000475076467},"properties":{"Store State":"Do not store state","canonical-value-lookup-cache-size":"100","retry.maxcount":"${retry.maxcount:replaceNull(${max_retry})}","retry.counter":"${retry.counter:replaceNull('0'):plus(1)}"},"propertyDescriptors":{"Delete Attributes Expression":{"displayName":"Delete Attributes Expression","identifiesControllerService":false,"name":"Delete Attributes Expression","sensitive":false},"Store State":{"displayName":"Store State","identifiesControllerService":false,"name":"Store State","sensitive":false},"canonical-value-lookup-cache-size":{"displayName":"Cache Value Lookup Cache Size","identifiesControllerService":false,"name":"canonical-value-lookup-cache-size","sensitive":false},"retry.maxcount":{"displayName":"retry.maxcount","identifiesControllerService":false,"name":"retry.maxcount","sensitive":false},"Stateful Variables Initial Value":{"displayName":"Stateful Variables Initial Value","identifiesControllerService":false,"name":"Stateful Variables Initial Value","sensitive":false},"retry.counter":{"displayName":"retry.counter","identifiesControllerService":false,"name":"retry.counter","sensitive":false}},"runDurationMillis":0,"scheduledState":"ENABLED","schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","style":{},"type":"org.apache.nifi.processors.attributes.UpdateAttribute","yieldDuration":"1 sec"}],"remoteProcessGroups":[],"variables":{"max_retry":"5"}},{"comments":"This flow will track how many times a given flow file routes through it.  If the number of times exceeds a specific maximum then it will route to the 'limit exceeded' port.  Otherwise it will route to 'retry'.\n\nThe attributes it uses are 'retry.counter' and 'retry.maxcount'.  If the 'retry.maxcount' is specified on a given flowfile then it will be honored.  Otherwise a default of '3' is set as the maximum retry count.\n\nAs the flowfile goes through this flow it increments the 'retry.maxcount' attribute by 1.  It then checks if this value exceeds 'retry.maxcount' and if so then it routes the flowfile to 'limit exceeded' otherwise it routes to 'retry'.\n\nSo you can configure the 'retry' relationship to loop back to the process you want and you can send the 'limit exceeded' to move on from that process to something else.","componentType":"PROCESS_GROUP","connections":[{"backPressureDataSizeThreshold":"1 GB","backPressureObjectThreshold":100000,"bends":[],"componentType":"CONNECTION","destination":{"comments":"","groupId":"b84c980f-e4cb-3e2e-992d-a93e56ae9bee","id":"530bac67-ecee-3075-a2d2-060d4f698aa5","name":"Funnel","type":"FUNNEL"},"flowFileExpiration":"0 days","groupIdentifier":"b84c980f-e4cb-3e2e-992d-a93e56ae9bee","identifier":"271a111b-59bf-3e7d-982c-338334f8cdca","labelIndex":1,"loadBalanceCompression":"DO_NOT_COMPRESS","loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","name":"","partitioningAttribute":"","prioritizers":[],"selectedRelationships":["unmatched"],"source":{"comments":"","groupId":"b84c980f-e4cb-3e2e-992d-a93e56ae9bee","id":"2d7c93da-1e41-357e-8710-332c6984f636","name":"Check Retry Count","type":"PROCESSOR"},"zIndex":0},{"backPressureDataSizeThreshold":"0 MB","backPressureObjectThreshold":10,"bends":[],"componentType":"CONNECTION","destination":{"comments":"","groupId":"b84c980f-e4cb-3e2e-992d-a93e56ae9bee","id":"6addf3f2-b6ba-3ed5-90f4-4a94425ccce2","name":"Set retry counter","type":"PROCESSOR"},"flowFileExpiration":"0 sec","groupIdentifier":"b84c980f-e4cb-3e2e-992d-a93e56ae9bee","identifier":"e5ffabc0-3879-3290-ad54-2c3d1a1324d3","labelIndex":1,"loadBalanceCompression":"DO_NOT_COMPRESS","loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","name":"","partitioningAttribute":"","prioritizers":[],"selectedRelationships":[""],"source":{"comments":"","groupId":"b84c980f-e4cb-3e2e-992d-a93e56ae9bee","id":"31876291-3b22-3636-a5d5-3fb560d57614","name":"data","type":"INPUT_PORT"},"zIndex":0},{"backPressureDataSizeThreshold":"0 MB","backPressureObjectThreshold":10,"bends":[],"componentType":"CONNECTION","destination":{"comments":"Items sent to this port have not yet exceeded the maximum retry count.","groupId":"b84c980f-e4cb-3e2e-992d-a93e56ae9bee","id":"223310a7-8a6f-38a2-8b48-80eff993a953","name":"retry","type":"OUTPUT_PORT"},"flowFileExpiration":"0 sec","groupIdentifier":"b84c980f-e4cb-3e2e-992d-a93e56ae9bee","identifier":"40bf0e3d-2ce9-3bf7-8ca9-abc2448b81b7","labelIndex":1,"loadBalanceCompression":"DO_NOT_COMPRESS","loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","name":"","partitioningAttribute":"","prioritizers":[],"selectedRelationships":["Try again"],"source":{"comments":"","groupId":"b84c980f-e4cb-3e2e-992d-a93e56ae9bee","id":"2d7c93da-1e41-357e-8710-332c6984f636","name":"Check Retry Count","type":"PROCESSOR"},"zIndex":0},{"backPressureDataSizeThreshold":"0 MB","backPressureObjectThreshold":100,"bends":[],"componentType":"CONNECTION","destination":{"comments":"","groupId":"b84c980f-e4cb-3e2e-992d-a93e56ae9bee","id":"2d7c93da-1e41-357e-8710-332c6984f636","name":"Check Retry Count","type":"PROCESSOR"},"flowFileExpiration":"0 sec","groupIdentifier":"b84c980f-e4cb-3e2e-992d-a93e56ae9bee","identifier":"44b47f94-91dc-3be8-a1bd-496d8bf57a1e","labelIndex":1,"loadBalanceCompression":"DO_NOT_COMPRESS","loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","name":"","partitioningAttribute":"","prioritizers":[],"selectedRelationships":["success"],"source":{"comments":"","groupId":"b84c980f-e4cb-3e2e-992d-a93e56ae9bee","id":"6addf3f2-b6ba-3ed5-90f4-4a94425ccce2","name":"Set retry counter","type":"PROCESSOR"},"zIndex":0}],"controllerServices":[],"flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","funnels":[{"componentType":"FUNNEL","groupIdentifier":"b84c980f-e4cb-3e2e-992d-a93e56ae9bee","identifier":"530bac67-ecee-3075-a2d2-060d4f698aa5","position":{"x":1055.5088557816625,"y":473.8863572898272}}],"groupIdentifier":"f51c1956-74ac-3b21-9c4e-b55fe46c2b55","identifier":"b84c980f-e4cb-3e2e-992d-a93e56ae9bee","inputPorts":[{"allowRemoteAccess":false,"comments":"","componentType":"INPUT_PORT","concurrentlySchedulableTaskCount":1,"groupIdentifier":"b84c980f-e4cb-3e2e-992d-a93e56ae9bee","identifier":"31876291-3b22-3636-a5d5-3fb560d57614","name":"data","position":{"x":418.0189879282432,"y":107.99999712137014},"type":"INPUT_PORT"}],"labels":[{"componentType":"LABEL","groupIdentifier":"b84c980f-e4cb-3e2e-992d-a93e56ae9bee","height":84.0,"identifier":"cff791bd-5db0-370c-b2d4-f237a35a1d58","label":"Right click empty space -> select Variables \nset max_retry variable","position":{"x":-194.96208164979453,"y":124.19798271082527},"style":{"font-size":"24px"},"width":541.9999847412109}],"name":"Copy of Retry Check Loop","outputPorts":[{"allowRemoteAccess":false,"comments":"Items sent to this port have not yet exceeded the maximum retry count.","componentType":"OUTPUT_PORT","concurrentlySchedulableTaskCount":1,"groupIdentifier":"b84c980f-e4cb-3e2e-992d-a93e56ae9bee","identifier":"223310a7-8a6f-38a2-8b48-80eff993a953","name":"retry","position":{"x":-194.96208259025042,"y":472.8863572898272},"type":"OUTPUT_PORT"}],"position":{"x":1705.2641133770278,"y":1094.4282712509814},"processGroups":[],"processors":[{"autoTerminatedRelationships":[],"bulletinLevel":"WARN","bundle":{"artifact":"nifi-standard-nar","group":"org.apache.nifi","version":"1.12.1"},"comments":"","componentType":"PROCESSOR","concurrentlySchedulableTaskCount":1,"executionNode":"ALL","groupIdentifier":"b84c980f-e4cb-3e2e-992d-a93e56ae9bee","identifier":"2d7c93da-1e41-357e-8710-332c6984f636","name":"Check Retry Count","penaltyDuration":"30 sec","position":{"x":363.0189879282432,"y":432.8863572898272},"properties":{"Routing Strategy":"Route to Property name","Try again":"${retry.counter:le('${retry.maxcount}')}"},"propertyDescriptors":{"Routing Strategy":{"displayName":"Routing Strategy","identifiesControllerService":false,"name":"Routing Strategy","sensitive":false},"Try again":{"displayName":"Try again","identifiesControllerService":false,"name":"Try again","sensitive":false}},"runDurationMillis":0,"scheduledState":"ENABLED","schedulingPeriod":"10 s","schedulingStrategy":"TIMER_DRIVEN","style":{},"type":"org.apache.nifi.processors.standard.RouteOnAttribute","yieldDuration":"1 sec"},{"autoTerminatedRelationships":[],"bulletinLevel":"WARN","bundle":{"artifact":"nifi-update-attribute-nar","group":"org.apache.nifi","version":"1.12.1"},"comments":"","componentType":"PROCESSOR","concurrentlySchedulableTaskCount":1,"executionNode":"ALL","groupIdentifier":"b84c980f-e4cb-3e2e-992d-a93e56ae9bee","identifier":"6addf3f2-b6ba-3ed5-90f4-4a94425ccce2","name":"Set retry counter","penaltyDuration":"30 sec","position":{"x":363.01898792824323,"y":218.00000475076467},"properties":{"Store State":"Do not store state","canonical-value-lookup-cache-size":"100","retry.maxcount":"${retry.maxcount:replaceNull(${max_retry})}","retry.counter":"${retry.counter:replaceNull('0'):plus(1)}"},"propertyDescriptors":{"Delete Attributes Expression":{"displayName":"Delete Attributes Expression","identifiesControllerService":false,"name":"Delete Attributes Expression","sensitive":false},"Store State":{"displayName":"Store State","identifiesControllerService":false,"name":"Store State","sensitive":false},"canonical-value-lookup-cache-size":{"displayName":"Cache Value Lookup Cache Size","identifiesControllerService":false,"name":"canonical-value-lookup-cache-size","sensitive":false},"retry.maxcount":{"displayName":"retry.maxcount","identifiesControllerService":false,"name":"retry.maxcount","sensitive":false},"Stateful Variables Initial Value":{"displayName":"Stateful Variables Initial Value","identifiesControllerService":false,"name":"Stateful Variables Initial Value","sensitive":false},"retry.counter":{"displayName":"retry.counter","identifiesControllerService":false,"name":"retry.counter","sensitive":false}},"runDurationMillis":0,"scheduledState":"ENABLED","schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","style":{},"type":"org.apache.nifi.processors.attributes.UpdateAttribute","yieldDuration":"1 sec"}],"remoteProcessGroups":[],"variables":{"max_retry":"5"}}],"processors":[{"autoTerminatedRelationships":["original"],"bulletinLevel":"WARN","bundle":{"artifact":"nifi-standard-nar","group":"org.apache.nifi","version":"1.12.1"},"comments":"","componentType":"PROCESSOR","concurrentlySchedulableTaskCount":1,"executionNode":"ALL","groupIdentifier":"f51c1956-74ac-3b21-9c4e-b55fe46c2b55","identifier":"7d29f7ef-387a-31e9-8249-154e87e41cac","name":"MergeRecord","penaltyDuration":"30 sec","position":{"x":-110.7358866229722,"y":-41.57172874901863},"properties":{"max-bin-age":"10 mins","Attribute Strategy":"Keep Only Common Attributes","min-records":"1","max-bin-size":"20MB","record-writer":"a88f1e7e-4e95-33f1-8702-762ecd3e9c9c","merge-strategy":"Bin-Packing Algorithm","record-reader":"b2042dee-5b68-369e-876f-ef9f89776481","max-records":"100000","min-bin-size":"0 B","max.bin.count":"10"},"propertyDescriptors":{"max-bin-age":{"displayName":"Max Bin Age","identifiesControllerService":false,"name":"max-bin-age","sensitive":false},"correlation-attribute-name":{"displayName":"Correlation Attribute Name","identifiesControllerService":false,"name":"correlation-attribute-name","sensitive":false},"Attribute Strategy":{"displayName":"Attribute Strategy","identifiesControllerService":false,"name":"Attribute Strategy","sensitive":false},"min-records":{"displayName":"Minimum Number of Records","identifiesControllerService":false,"name":"min-records","sensitive":false},"max-bin-size":{"displayName":"Maximum Bin Size","identifiesControllerService":false,"name":"max-bin-size","sensitive":false},"record-writer":{"displayName":"Record Writer","identifiesControllerService":true,"name":"record-writer","sensitive":false},"merge-strategy":{"displayName":"Merge Strategy","identifiesControllerService":false,"name":"merge-strategy","sensitive":false},"record-reader":{"displayName":"Record Reader","identifiesControllerService":true,"name":"record-reader","sensitive":false},"max-records":{"displayName":"Maximum Number of Records","identifiesControllerService":false,"name":"max-records","sensitive":false},"min-bin-size":{"displayName":"Minimum Bin Size","identifiesControllerService":false,"name":"min-bin-size","sensitive":false},"max.bin.count":{"displayName":"Maximum Number of Bins","identifiesControllerService":false,"name":"max.bin.count","sensitive":false}},"runDurationMillis":0,"scheduledState":"ENABLED","schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","style":{},"type":"org.apache.nifi.processors.standard.MergeRecord","yieldDuration":"1 sec"},{"autoTerminatedRelationships":[],"bulletinLevel":"WARN","bundle":{"artifact":"nifi-update-attribute-nar","group":"org.apache.nifi","version":"1.12.1"},"comments":"","componentType":"PROCESSOR","concurrentlySchedulableTaskCount":1,"executionNode":"ALL","groupIdentifier":"f51c1956-74ac-3b21-9c4e-b55fe46c2b55","identifier":"7806a584-ef8a-32f6-a874-52702b2bdb83","name":"UpdateAttribute","penaltyDuration":"30 sec","position":{"x":-278.7358866229722,"y":-265.57172874901863},"properties":{"product":"netmri","Store State":"Do not store state","canonical-value-lookup-cache-size":"100","schema.name":"netmri","topic":"infoblox"},"propertyDescriptors":{"product":{"displayName":"product","identifiesControllerService":false,"name":"product","sensitive":false},"Delete Attributes Expression":{"displayName":"Delete Attributes Expression","identifiesControllerService":false,"name":"Delete Attributes Expression","sensitive":false},"Store State":{"displayName":"Store State","identifiesControllerService":false,"name":"Store State","sensitive":false},"canonical-value-lookup-cache-size":{"displayName":"Cache Value Lookup Cache Size","identifiesControllerService":false,"name":"canonical-value-lookup-cache-size","sensitive":false},"schema.name":{"displayName":"schema.name","identifiesControllerService":false,"name":"schema.name","sensitive":false},"topic":{"displayName":"topic","identifiesControllerService":false,"name":"topic","sensitive":false},"Stateful Variables Initial Value":{"displayName":"Stateful Variables Initial Value","identifiesControllerService":false,"name":"Stateful Variables Initial Value","sensitive":false}},"runDurationMillis":0,"scheduledState":"ENABLED","schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","style":{},"type":"org.apache.nifi.processors.attributes.UpdateAttribute","yieldDuration":"1 sec"},{"autoTerminatedRelationships":[],"bulletinLevel":"WARN","bundle":{"artifact":"nifi-aws-nar","group":"org.apache.nifi","version":"1.12.1"},"comments":"","componentType":"PROCESSOR","concurrentlySchedulableTaskCount":1,"executionNode":"ALL","groupIdentifier":"f51c1956-74ac-3b21-9c4e-b55fe46c2b55","identifier":"9feee544-51a3-3314-aba2-ee797387a668","name":"toInfoSecS3Bucket_DEV","penaltyDuration":"30 sec","position":{"x":913.2641133770278,"y":710.4282712509814},"properties":{"FullControl User List":"${s3.permissions.full.users}","Owner":"${s3.owner}","s3-object-remove-tags-prefix":"false","Multipart Upload Max Age Threshold":"7 days","canned-acl":"${s3.permissions.cannedacl}","Signer Override":"Default Signature","Write ACL User List":"${s3.permissions.writeacl.users}","server-side-encryption":"None","Read ACL User List":"${s3.permissions.readacl.users}","Storage Class":"Standard","Multipart Part Size":"5 GB","use-chunked-encoding":"true","Object Key":"outbound/${topic}/${schema.name}/${pull_type}/${timestamp:format(\"yyyy\")}/${timestamp:format(\"MM\")}/${timestamp:format(\"dd\")}/${schema.name}_${timestamp:format(\"yyyyMMdd\")}_${uuid}.json.bz2","Multipart Threshold":"5 GB","Bucket":"aws-cdi-data-outbound-924506175250-eu-west-1-bucket","Multipart Upload AgeOff Interval":"60 min","use-path-style-access":"false","Write Permission User List":"${s3.permissions.write.users}","Communications Timeout":"30 secs","Region":"eu-west-1","Read Permission User List":"${s3.permissions.read.users}","s3-temporary-directory-multipart":"${java.io.tmpdir}"},"propertyDescriptors":{"Proxy Host":{"displayName":"Proxy Host","identifiesControllerService":false,"name":"Proxy Host","sensitive":false},"FullControl User List":{"displayName":"FullControl User List","identifiesControllerService":false,"name":"FullControl User List","sensitive":false},"Owner":{"displayName":"Owner","identifiesControllerService":false,"name":"Owner","sensitive":false},"Access Key":{"displayName":"Access Key ID","identifiesControllerService":false,"name":"Access Key","sensitive":true},"proxy-configuration-service":{"displayName":"Proxy Configuration Service","identifiesControllerService":true,"name":"proxy-configuration-service","sensitive":false},"Cache Control":{"displayName":"Cache Control","identifiesControllerService":false,"name":"Cache Control","sensitive":false},"s3-object-remove-tags-prefix":{"displayName":"Remove Tag Prefix","identifiesControllerService":false,"name":"s3-object-remove-tags-prefix","sensitive":false},"Endpoint Override URL":{"displayName":"Endpoint Override URL","identifiesControllerService":false,"name":"Endpoint Override URL","sensitive":false},"Multipart Upload Max Age Threshold":{"displayName":"Multipart Upload Max Age Threshold","identifiesControllerService":false,"name":"Multipart Upload Max Age Threshold","sensitive":false},"canned-acl":{"displayName":"Canned ACL","identifiesControllerService":false,"name":"canned-acl","sensitive":false},"Signer Override":{"displayName":"Signer Override","identifiesControllerService":false,"name":"Signer Override","sensitive":false},"proxy-user-password":{"displayName":"Proxy Password","identifiesControllerService":false,"name":"proxy-user-password","sensitive":true},"Content Type":{"displayName":"Content Type","identifiesControllerService":false,"name":"Content Type","sensitive":false},"Secret Key":{"displayName":"Secret Access Key","identifiesControllerService":false,"name":"Secret Key","sensitive":true},"Write ACL User List":{"displayName":"Write ACL User List","identifiesControllerService":false,"name":"Write ACL User List","sensitive":false},"server-side-encryption":{"displayName":"Server Side Encryption","identifiesControllerService":false,"name":"server-side-encryption","sensitive":false},"Read ACL User List":{"displayName":"Read ACL User List","identifiesControllerService":false,"name":"Read ACL User List","sensitive":false},"encryption-service":{"displayName":"Encryption Service","identifiesControllerService":true,"name":"encryption-service","sensitive":false},"Content Disposition":{"displayName":"Content Disposition","identifiesControllerService":false,"name":"Content Disposition","sensitive":false},"Storage Class":{"displayName":"Storage Class","identifiesControllerService":false,"name":"Storage Class","sensitive":false},"Multipart Part Size":{"displayName":"Multipart Part Size","identifiesControllerService":false,"name":"Multipart Part Size","sensitive":false},"use-chunked-encoding":{"displayName":"Use Chunked Encoding","identifiesControllerService":false,"name":"use-chunked-encoding","sensitive":false},"Object Key":{"displayName":"Object Key","identifiesControllerService":false,"name":"Object Key","sensitive":false},"AWS Credentials Provider service":{"displayName":"AWS Credentials Provider service","identifiesControllerService":true,"name":"AWS Credentials Provider service","sensitive":false},"Multipart Threshold":{"displayName":"Multipart Threshold","identifiesControllerService":false,"name":"Multipart Threshold","sensitive":false},"s3-object-tags-prefix":{"displayName":"Object Tags Prefix","identifiesControllerService":false,"name":"s3-object-tags-prefix","sensitive":false},"SSL Context Service":{"displayName":"SSL Context Service","identifiesControllerService":true,"name":"SSL Context Service","sensitive":false},"Bucket":{"displayName":"Bucket","identifiesControllerService":false,"name":"Bucket","sensitive":false},"Multipart Upload AgeOff Interval":{"displayName":"Multipart Upload AgeOff Interval","identifiesControllerService":false,"name":"Multipart Upload AgeOff Interval","sensitive":false},"use-path-style-access":{"displayName":"Use Path Style Access","identifiesControllerService":false,"name":"use-path-style-access","sensitive":false},"Write Permission User List":{"displayName":"Write Permission User List","identifiesControllerService":false,"name":"Write Permission User List","sensitive":false},"Communications Timeout":{"displayName":"Communications Timeout","identifiesControllerService":false,"name":"Communications Timeout","sensitive":false},"Credentials File":{"displayName":"Credentials File","identifiesControllerService":false,"name":"Credentials File","sensitive":false},"Region":{"displayName":"Region","identifiesControllerService":false,"name":"Region","sensitive":false},"Read Permission User List":{"displayName":"Read Permission User List","identifiesControllerService":false,"name":"Read Permission User List","sensitive":false},"Expiration Time Rule":{"displayName":"Expiration Time Rule","identifiesControllerService":false,"name":"Expiration Time Rule","sensitive":false},"proxy-user-name":{"displayName":"Proxy Username","identifiesControllerService":false,"name":"proxy-user-name","sensitive":false},"Proxy Host Port":{"displayName":"Proxy Host Port","identifiesControllerService":false,"name":"Proxy Host Port","sensitive":false},"s3-temporary-directory-multipart":{"displayName":"s3-temporary-directory-multipart","identifiesControllerService":false,"name":"s3-temporary-directory-multipart","sensitive":false}},"runDurationMillis":0,"scheduledState":"ENABLED","schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","style":{},"type":"org.apache.nifi.processors.aws.s3.PutS3Object","yieldDuration":"1 sec"},{"autoTerminatedRelationships":[],"bulletinLevel":"WARN","bundle":{"artifact":"nifi-standard-nar","group":"org.apache.nifi","version":"1.12.1"},"comments":"","componentType":"PROCESSOR","concurrentlySchedulableTaskCount":1,"executionNode":"ALL","groupIdentifier":"f51c1956-74ac-3b21-9c4e-b55fe46c2b55","identifier":"9a700c94-3eb1-38f9-a657-c473085ea471","name":"CompressContent","penaltyDuration":"30 sec","position":{"x":409.2641133770278,"y":414.42827125098137},"properties":{"Compression Format":"bzip2","Mode":"compress","Compression Level":"1","Update Filename":"true"},"propertyDescriptors":{"Compression Format":{"displayName":"Compression Format","identifiesControllerService":false,"name":"Compression Format","sensitive":false},"Mode":{"displayName":"Mode","identifiesControllerService":false,"name":"Mode","sensitive":false},"Compression Level":{"displayName":"Compression Level","identifiesControllerService":false,"name":"Compression Level","sensitive":false},"Update Filename":{"displayName":"Update Filename","identifiesControllerService":false,"name":"Update Filename","sensitive":false}},"runDurationMillis":0,"scheduledState":"ENABLED","schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","style":{},"type":"org.apache.nifi.processors.standard.CompressContent","yieldDuration":"1 sec"},{"autoTerminatedRelationships":[],"bulletinLevel":"WARN","bundle":{"artifact":"nifi-update-attribute-nar","group":"org.apache.nifi","version":"1.12.1"},"comments":"","componentType":"PROCESSOR","concurrentlySchedulableTaskCount":1,"executionNode":"ALL","groupIdentifier":"f51c1956-74ac-3b21-9c4e-b55fe46c2b55","identifier":"a5a1bbc7-b064-3b4d-add9-cff34888d9f0","name":"UpdateAttribute","penaltyDuration":"30 sec","position":{"x":409.2641133770278,"y":158.42827125098137},"properties":{"Store State":"Do not store state","canonical-value-lookup-cache-size":"100","timestamp":"${now():toNumber()}"},"propertyDescriptors":{"Delete Attributes Expression":{"displayName":"Delete Attributes Expression","identifiesControllerService":false,"name":"Delete Attributes Expression","sensitive":false},"Store State":{"displayName":"Store State","identifiesControllerService":false,"name":"Store State","sensitive":false},"canonical-value-lookup-cache-size":{"displayName":"Cache Value Lookup Cache Size","identifiesControllerService":false,"name":"canonical-value-lookup-cache-size","sensitive":false},"Stateful Variables Initial Value":{"displayName":"Stateful Variables Initial Value","identifiesControllerService":false,"name":"Stateful Variables Initial Value","sensitive":false},"timestamp":{"displayName":"timestamp","identifiesControllerService":false,"name":"timestamp","sensitive":false}},"runDurationMillis":0,"scheduledState":"ENABLED","schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","style":{},"type":"org.apache.nifi.processors.attributes.UpdateAttribute","yieldDuration":"1 sec"},{"autoTerminatedRelationships":[],"bulletinLevel":"WARN","bundle":{"artifact":"nifi-aws-nar","group":"org.apache.nifi","version":"1.12.1"},"comments":"","componentType":"PROCESSOR","concurrentlySchedulableTaskCount":1,"executionNode":"ALL","groupIdentifier":"f51c1956-74ac-3b21-9c4e-b55fe46c2b55","identifier":"2a8b21dc-a80e-3430-bc20-d599663dc2d9","name":"toInfoSecS3Bucket_PRD","penaltyDuration":"30 sec","position":{"x":913.2641133770278,"y":1126.4282712509814},"properties":{"FullControl User List":"${s3.permissions.full.users}","Owner":"${s3.owner}","s3-object-remove-tags-prefix":"false","Multipart Upload Max Age Threshold":"7 days","canned-acl":"${s3.permissions.cannedacl}","Signer Override":"Default Signature","Write ACL User List":"${s3.permissions.writeacl.users}","server-side-encryption":"None","Read ACL User List":"${s3.permissions.readacl.users}","Storage Class":"Standard","Multipart Part Size":"5 GB","use-chunked-encoding":"true","Object Key":"outbound/${topic}/${schema.name}/${timestamp:format(\"yyyy\")}/${timestamp:format(\"MM\")}/${timestamp:format(\"dd\")}/${schema.name}_${timestamp:format(\"yyyyMMdd\")}_${uuid}.json.bz2","Multipart Threshold":"5 GB","Bucket":"aws-cdi-data-outbound-294882693839-eu-west-1-bucket","Multipart Upload AgeOff Interval":"60 min","use-path-style-access":"false","Write Permission User List":"${s3.permissions.write.users}","Communications Timeout":"30 secs","Region":"eu-west-1","Read Permission User List":"${s3.permissions.read.users}","s3-temporary-directory-multipart":"${java.io.tmpdir}"},"propertyDescriptors":{"Proxy Host":{"displayName":"Proxy Host","identifiesControllerService":false,"name":"Proxy Host","sensitive":false},"FullControl User List":{"displayName":"FullControl User List","identifiesControllerService":false,"name":"FullControl User List","sensitive":false},"Owner":{"displayName":"Owner","identifiesControllerService":false,"name":"Owner","sensitive":false},"Access Key":{"displayName":"Access Key ID","identifiesControllerService":false,"name":"Access Key","sensitive":true},"proxy-configuration-service":{"displayName":"Proxy Configuration Service","identifiesControllerService":true,"name":"proxy-configuration-service","sensitive":false},"Cache Control":{"displayName":"Cache Control","identifiesControllerService":false,"name":"Cache Control","sensitive":false},"s3-object-remove-tags-prefix":{"displayName":"Remove Tag Prefix","identifiesControllerService":false,"name":"s3-object-remove-tags-prefix","sensitive":false},"Endpoint Override URL":{"displayName":"Endpoint Override URL","identifiesControllerService":false,"name":"Endpoint Override URL","sensitive":false},"Multipart Upload Max Age Threshold":{"displayName":"Multipart Upload Max Age Threshold","identifiesControllerService":false,"name":"Multipart Upload Max Age Threshold","sensitive":false},"canned-acl":{"displayName":"Canned ACL","identifiesControllerService":false,"name":"canned-acl","sensitive":false},"Signer Override":{"displayName":"Signer Override","identifiesControllerService":false,"name":"Signer Override","sensitive":false},"proxy-user-password":{"displayName":"Proxy Password","identifiesControllerService":false,"name":"proxy-user-password","sensitive":true},"Content Type":{"displayName":"Content Type","identifiesControllerService":false,"name":"Content Type","sensitive":false},"Secret Key":{"displayName":"Secret Access Key","identifiesControllerService":false,"name":"Secret Key","sensitive":true},"Write ACL User List":{"displayName":"Write ACL User List","identifiesControllerService":false,"name":"Write ACL User List","sensitive":false},"server-side-encryption":{"displayName":"Server Side Encryption","identifiesControllerService":false,"name":"server-side-encryption","sensitive":false},"Read ACL User List":{"displayName":"Read ACL User List","identifiesControllerService":false,"name":"Read ACL User List","sensitive":false},"encryption-service":{"displayName":"Encryption Service","identifiesControllerService":true,"name":"encryption-service","sensitive":false},"Content Disposition":{"displayName":"Content Disposition","identifiesControllerService":false,"name":"Content Disposition","sensitive":false},"Storage Class":{"displayName":"Storage Class","identifiesControllerService":false,"name":"Storage Class","sensitive":false},"Multipart Part Size":{"displayName":"Multipart Part Size","identifiesControllerService":false,"name":"Multipart Part Size","sensitive":false},"use-chunked-encoding":{"displayName":"Use Chunked Encoding","identifiesControllerService":false,"name":"use-chunked-encoding","sensitive":false},"Object Key":{"displayName":"Object Key","identifiesControllerService":false,"name":"Object Key","sensitive":false},"AWS Credentials Provider service":{"displayName":"AWS Credentials Provider service","identifiesControllerService":true,"name":"AWS Credentials Provider service","sensitive":false},"Multipart Threshold":{"displayName":"Multipart Threshold","identifiesControllerService":false,"name":"Multipart Threshold","sensitive":false},"s3-object-tags-prefix":{"displayName":"Object Tags Prefix","identifiesControllerService":false,"name":"s3-object-tags-prefix","sensitive":false},"SSL Context Service":{"displayName":"SSL Context Service","identifiesControllerService":true,"name":"SSL Context Service","sensitive":false},"Bucket":{"displayName":"Bucket","identifiesControllerService":false,"name":"Bucket","sensitive":false},"Multipart Upload AgeOff Interval":{"displayName":"Multipart Upload AgeOff Interval","identifiesControllerService":false,"name":"Multipart Upload AgeOff Interval","sensitive":false},"use-path-style-access":{"displayName":"Use Path Style Access","identifiesControllerService":false,"name":"use-path-style-access","sensitive":false},"Write Permission User List":{"displayName":"Write Permission User List","identifiesControllerService":false,"name":"Write Permission User List","sensitive":false},"Communications Timeout":{"displayName":"Communications Timeout","identifiesControllerService":false,"name":"Communications Timeout","sensitive":false},"Credentials File":{"displayName":"Credentials File","identifiesControllerService":false,"name":"Credentials File","sensitive":false},"Region":{"displayName":"Region","identifiesControllerService":false,"name":"Region","sensitive":false},"Read Permission User List":{"displayName":"Read Permission User List","identifiesControllerService":false,"name":"Read Permission User List","sensitive":false},"Expiration Time Rule":{"displayName":"Expiration Time Rule","identifiesControllerService":false,"name":"Expiration Time Rule","sensitive":false},"proxy-user-name":{"displayName":"Proxy Username","identifiesControllerService":false,"name":"proxy-user-name","sensitive":false},"Proxy Host Port":{"displayName":"Proxy Host Port","identifiesControllerService":false,"name":"Proxy Host Port","sensitive":false},"s3-temporary-directory-multipart":{"displayName":"s3-temporary-directory-multipart","identifiesControllerService":false,"name":"s3-temporary-directory-multipart","sensitive":false}},"runDurationMillis":0,"scheduledState":"DISABLED","schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","style":{},"type":"org.apache.nifi.processors.aws.s3.PutS3Object","yieldDuration":"1 sec"},{"autoTerminatedRelationships":["original"],"bulletinLevel":"WARN","bundle":{"artifact":"nifi-standard-nar","group":"org.apache.nifi","version":"1.12.1"},"comments":"","componentType":"PROCESSOR","concurrentlySchedulableTaskCount":1,"executionNode":"ALL","groupIdentifier":"f51c1956-74ac-3b21-9c4e-b55fe46c2b55","identifier":"66e704e5-5924-3cc5-a668-2f06c95710c2","name":"MergeRecord","penaltyDuration":"30 sec","position":{"x":865.2641133770278,"y":-49.57172874901863},"properties":{"max-bin-age":"10 mins","Attribute Strategy":"Keep Only Common Attributes","min-records":"1","max-bin-size":"20MB","record-writer":"a88f1e7e-4e95-33f1-8702-762ecd3e9c9c","merge-strategy":"Bin-Packing Algorithm","record-reader":"b2042dee-5b68-369e-876f-ef9f89776481","max-records":"100000","min-bin-size":"0 B","max.bin.count":"10"},"propertyDescriptors":{"max-bin-age":{"displayName":"Max Bin Age","identifiesControllerService":false,"name":"max-bin-age","sensitive":false},"correlation-attribute-name":{"displayName":"Correlation Attribute Name","identifiesControllerService":false,"name":"correlation-attribute-name","sensitive":false},"Attribute Strategy":{"displayName":"Attribute Strategy","identifiesControllerService":false,"name":"Attribute Strategy","sensitive":false},"min-records":{"displayName":"Minimum Number of Records","identifiesControllerService":false,"name":"min-records","sensitive":false},"max-bin-size":{"displayName":"Maximum Bin Size","identifiesControllerService":false,"name":"max-bin-size","sensitive":false},"record-writer":{"displayName":"Record Writer","identifiesControllerService":true,"name":"record-writer","sensitive":false},"merge-strategy":{"displayName":"Merge Strategy","identifiesControllerService":false,"name":"merge-strategy","sensitive":false},"record-reader":{"displayName":"Record Reader","identifiesControllerService":true,"name":"record-reader","sensitive":false},"max-records":{"displayName":"Maximum Number of Records","identifiesControllerService":false,"name":"max-records","sensitive":false},"min-bin-size":{"displayName":"Minimum Bin Size","identifiesControllerService":false,"name":"min-bin-size","sensitive":false},"max.bin.count":{"displayName":"Maximum Number of Bins","identifiesControllerService":false,"name":"max.bin.count","sensitive":false}},"runDurationMillis":0,"scheduledState":"ENABLED","schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","style":{},"type":"org.apache.nifi.processors.standard.MergeRecord","yieldDuration":"1 sec"},{"autoTerminatedRelationships":["original"],"bulletinLevel":"WARN","bundle":{"artifact":"nifi-standard-nar","group":"org.apache.nifi","version":"1.12.1"},"comments":"","componentType":"PROCESSOR","concurrentlySchedulableTaskCount":1,"executionNode":"ALL","groupIdentifier":"f51c1956-74ac-3b21-9c4e-b55fe46c2b55","identifier":"4af97b8c-8cbd-347f-9f26-1755f12f2eda","name":"MergeRecord","penaltyDuration":"30 sec","position":{"x":1289.2641133770278,"y":-41.57172874901863},"properties":{"max-bin-age":"10 mins","Attribute Strategy":"Keep Only Common Attributes","min-records":"1","max-bin-size":"20MB","record-writer":"a88f1e7e-4e95-33f1-8702-762ecd3e9c9c","merge-strategy":"Bin-Packing Algorithm","record-reader":"b2042dee-5b68-369e-876f-ef9f89776481","max-records":"100000","min-bin-size":"0 B","max.bin.count":"10"},"propertyDescriptors":{"max-bin-age":{"displayName":"Max Bin Age","identifiesControllerService":false,"name":"max-bin-age","sensitive":false},"correlation-attribute-name":{"displayName":"Correlation Attribute Name","identifiesControllerService":false,"name":"correlation-attribute-name","sensitive":false},"Attribute Strategy":{"displayName":"Attribute Strategy","identifiesControllerService":false,"name":"Attribute Strategy","sensitive":false},"min-records":{"displayName":"Minimum Number of Records","identifiesControllerService":false,"name":"min-records","sensitive":false},"max-bin-size":{"displayName":"Maximum Bin Size","identifiesControllerService":false,"name":"max-bin-size","sensitive":false},"record-writer":{"displayName":"Record Writer","identifiesControllerService":true,"name":"record-writer","sensitive":false},"merge-strategy":{"displayName":"Merge Strategy","identifiesControllerService":false,"name":"merge-strategy","sensitive":false},"record-reader":{"displayName":"Record Reader","identifiesControllerService":true,"name":"record-reader","sensitive":false},"max-records":{"displayName":"Maximum Number of Records","identifiesControllerService":false,"name":"max-records","sensitive":false},"min-bin-size":{"displayName":"Minimum Bin Size","identifiesControllerService":false,"name":"min-bin-size","sensitive":false},"max.bin.count":{"displayName":"Maximum Number of Bins","identifiesControllerService":false,"name":"max.bin.count","sensitive":false}},"runDurationMillis":0,"scheduledState":"ENABLED","schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","style":{},"type":"org.apache.nifi.processors.standard.MergeRecord","yieldDuration":"1 sec"},{"autoTerminatedRelationships":[],"bulletinLevel":"WARN","bundle":{"artifact":"nifi-standard-nar","group":"org.apache.nifi","version":"1.12.1"},"comments":"","componentType":"PROCESSOR","concurrentlySchedulableTaskCount":1,"executionNode":"ALL","groupIdentifier":"f51c1956-74ac-3b21-9c4e-b55fe46c2b55","identifier":"9f781953-9541-3ace-ac8d-18ef2fd8b074","name":"RouteOnAttribute","penaltyDuration":"30 sec","position":{"x":393.2641133770278,"y":-265.57172874901863},"properties":{"Routing Strategy":"Route to Property name","devices":"${pull_type:equals(\"devices\")}","subnets":"${pull_type:equals(\"subnets\")}","inventory":"${pull_type:equals(\"inventory\")}"},"propertyDescriptors":{"Routing Strategy":{"displayName":"Routing Strategy","identifiesControllerService":false,"name":"Routing Strategy","sensitive":false},"devices":{"displayName":"devices","identifiesControllerService":false,"name":"devices","sensitive":false},"subnets":{"displayName":"subnets","identifiesControllerService":false,"name":"subnets","sensitive":false},"inventory":{"displayName":"inventory","identifiesControllerService":false,"name":"inventory","sensitive":false}},"runDurationMillis":0,"scheduledState":"ENABLED","schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","style":{},"type":"org.apache.nifi.processors.standard.RouteOnAttribute","yieldDuration":"1 sec"}],"remoteProcessGroups":[],"variables":{}},"flowEncodingVersion":"1.0","parameterContexts":{},"snapshotMetadata":{"author":"anonymous","comments":"","timestamp":1763647651709,"version":1}}