nifi/cyber_s3.xml
<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<template encoding-version="1.3">
    <description></description>
    <groupId>e76f12f5-362b-1e26-8850-f557037fc0a4</groupId>
    <name>cyber_s3</name>
    <snippet>
        <connections>
            <id>120edad5-bf9e-3ad4-0000-000000000000</id>
            <parentGroupId>4411ec76-17aa-3740-0000-000000000000</parentGroupId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
            <destination>
                <groupId>c2a1297a-4ccf-3acd-0000-000000000000</groupId>
                <id>79f37666-53f1-33ae-0000-000000000000</id>
                <type>INPUT_PORT</type>
                <versionedComponentId>31876291-3b22-3636-a5d5-3fb560d57614</versionedComponentId>
            </destination>
            <flowFileExpiration>48 hr</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
            <name></name>
            <selectedRelationships>failure</selectedRelationships>
            <source>
                <groupId>4411ec76-17aa-3740-0000-000000000000</groupId>
                <id>5257581d-0dd2-3873-0000-000000000000</id>
                <type>PROCESSOR</type>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <connections>
            <id>2052807c-15c1-32c2-0000-000000000000</id>
            <parentGroupId>4411ec76-17aa-3740-0000-000000000000</parentGroupId>
            <versionedComponentId>2052807c-15c1-32c2-a933-b73e28e6baea</versionedComponentId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
            <destination>
                <groupId>4411ec76-17aa-3740-0000-000000000000</groupId>
                <id>d5232567-d59c-3e84-0000-000000000000</id>
                <type>PROCESSOR</type>
                <versionedComponentId>d5232567-d59c-3e84-8867-e97ca75231fa</versionedComponentId>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
            <name></name>
            <selectedRelationships>merged</selectedRelationships>
            <source>
                <groupId>4411ec76-17aa-3740-0000-000000000000</groupId>
                <id>0a71fe0d-4463-3b52-0000-000000000000</id>
                <type>PROCESSOR</type>
                <versionedComponentId>0a71fe0d-4463-3b52-a386-16a686cf530c</versionedComponentId>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <connections>
            <id>26b7dac5-8136-31e7-0000-000000000000</id>
            <parentGroupId>4411ec76-17aa-3740-0000-000000000000</parentGroupId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
            <destination>
                <groupId>95a11d2d-e323-37b6-0000-000000000000</groupId>
                <id>f30c2e1b-c6f6-35b1-0000-000000000000</id>
                <type>INPUT_PORT</type>
                <versionedComponentId>31876291-3b22-3636-a5d5-3fb560d57614</versionedComponentId>
            </destination>
            <flowFileExpiration>48 hr</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
            <name></name>
            <selectedRelationships>failure</selectedRelationships>
            <source>
                <groupId>4411ec76-17aa-3740-0000-000000000000</groupId>
                <id>ab2695a0-def1-376c-0000-000000000000</id>
                <type>PROCESSOR</type>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <connections>
            <id>2b8f10d2-77e4-34a1-0000-000000000000</id>
            <parentGroupId>4411ec76-17aa-3740-0000-000000000000</parentGroupId>
            <versionedComponentId>2b8f10d2-77e4-34a1-8f33-7b62d12e2700</versionedComponentId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
            <destination>
                <groupId>4411ec76-17aa-3740-0000-000000000000</groupId>
                <id>d0743633-0a22-36d3-0000-000000000000</id>
                <type>PROCESSOR</type>
                <versionedComponentId>d0743633-0a22-36d3-9a3f-0e303112fb46</versionedComponentId>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
            <name></name>
            <selectedRelationships>success</selectedRelationships>
            <source>
                <groupId>4411ec76-17aa-3740-0000-000000000000</groupId>
                <id>d5232567-d59c-3e84-0000-000000000000</id>
                <type>PROCESSOR</type>
                <versionedComponentId>d5232567-d59c-3e84-8867-e97ca75231fa</versionedComponentId>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <connections>
            <id>3170fb84-8702-3156-0000-000000000000</id>
            <parentGroupId>4411ec76-17aa-3740-0000-000000000000</parentGroupId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
            <destination>
                <groupId>4411ec76-17aa-3740-0000-000000000000</groupId>
                <id>8166f27b-7ce2-3a5d-0000-000000000000</id>
                <type>FUNNEL</type>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
            <name></name>
            <selectedRelationships>failure</selectedRelationships>
            <source>
                <groupId>4411ec76-17aa-3740-0000-000000000000</groupId>
                <id>e7eeca7d-1ce4-3768-0000-000000000000</id>
                <type>PROCESSOR</type>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <connections>
            <id>5d5b8cc6-e235-3a02-0000-000000000000</id>
            <parentGroupId>4411ec76-17aa-3740-0000-000000000000</parentGroupId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
            <destination>
                <groupId>4411ec76-17aa-3740-0000-000000000000</groupId>
                <id>ab2695a0-def1-376c-0000-000000000000</id>
                <type>PROCESSOR</type>
            </destination>
            <flowFileExpiration>48 hr</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
            <name></name>
            <source>
                <groupId>4411ec76-17aa-3740-0000-000000000000</groupId>
                <id>0a53343d-72e0-3399-0000-000000000000</id>
                <type>FUNNEL</type>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <connections>
            <id>7394c360-adf5-3faa-0000-000000000000</id>
            <parentGroupId>4411ec76-17aa-3740-0000-000000000000</parentGroupId>
            <versionedComponentId>7394c360-adf5-3faa-a0c9-f3b55e4658c7</versionedComponentId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>1000000</backPressureObjectThreshold>
            <destination>
                <groupId>4411ec76-17aa-3740-0000-000000000000</groupId>
                <id>93a49a91-8af6-39c5-0000-000000000000</id>
                <type>PROCESSOR</type>
                <versionedComponentId>93a49a91-8af6-39c5-aab3-96cab56a2e83</versionedComponentId>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
            <name></name>
            <selectedRelationships>success</selectedRelationships>
            <source>
                <groupId>4411ec76-17aa-3740-0000-000000000000</groupId>
                <id>2ebffbd2-0b67-3918-0000-000000000000</id>
                <type>PROCESSOR</type>
                <versionedComponentId>2ebffbd2-0b67-3918-bc1a-f2135ee288d9</versionedComponentId>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <connections>
            <id>7f439b40-503d-3be1-0000-000000000000</id>
            <parentGroupId>4411ec76-17aa-3740-0000-000000000000</parentGroupId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
            <bends>
                <x>2272.0</x>
                <y>64.0</y>
            </bends>
            <destination>
                <groupId>4411ec76-17aa-3740-0000-000000000000</groupId>
                <id>e7eeca7d-1ce4-3768-0000-000000000000</id>
                <type>PROCESSOR</type>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>0</labelIndex>
            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
            <name></name>
            <selectedRelationships>inventory</selectedRelationships>
            <source>
                <groupId>4411ec76-17aa-3740-0000-000000000000</groupId>
                <id>93a49a91-8af6-39c5-0000-000000000000</id>
                <type>PROCESSOR</type>
                <versionedComponentId>93a49a91-8af6-39c5-aab3-96cab56a2e83</versionedComponentId>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <connections>
            <id>820aad15-c7e7-3dd3-0000-000000000000</id>
            <parentGroupId>4411ec76-17aa-3740-0000-000000000000</parentGroupId>
            <versionedComponentId>820aad15-c7e7-3dd3-abef-e3ba3e8ab8bb</versionedComponentId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
            <destination>
                <groupId>4411ec76-17aa-3740-0000-000000000000</groupId>
                <id>b3ab153a-f5b6-3b1a-0000-000000000000</id>
                <type>FUNNEL</type>
                <versionedComponentId>b3ab153a-f5b6-3b1a-aecb-33933fe663de</versionedComponentId>
            </destination>
            <flowFileExpiration>24 hr</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
            <name></name>
            <selectedRelationships>unmatched</selectedRelationships>
            <source>
                <groupId>4411ec76-17aa-3740-0000-000000000000</groupId>
                <id>93a49a91-8af6-39c5-0000-000000000000</id>
                <type>PROCESSOR</type>
                <versionedComponentId>93a49a91-8af6-39c5-aab3-96cab56a2e83</versionedComponentId>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <connections>
            <id>8425059e-d353-32fa-0000-000000000000</id>
            <parentGroupId>4411ec76-17aa-3740-0000-000000000000</parentGroupId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
            <bends>
                <x>2296.0</x>
                <y>1208.0</y>
            </bends>
            <destination>
                <groupId>4411ec76-17aa-3740-0000-000000000000</groupId>
                <id>ab2695a0-def1-376c-0000-000000000000</id>
                <type>PROCESSOR</type>
            </destination>
            <flowFileExpiration>48 hr</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
            <name></name>
            <source>
                <groupId>95a11d2d-e323-37b6-0000-000000000000</groupId>
                <id>32b6434a-d1a5-3470-0000-000000000000</id>
                <type>OUTPUT_PORT</type>
                <versionedComponentId>223310a7-8a6f-38a2-8b48-80eff993a953</versionedComponentId>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <connections>
            <id>8c24ca79-68c8-359a-0000-000000000000</id>
            <parentGroupId>4411ec76-17aa-3740-0000-000000000000</parentGroupId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
            <destination>
                <groupId>4411ec76-17aa-3740-0000-000000000000</groupId>
                <id>4885ca4c-80f3-3158-0000-000000000000</id>
                <type>FUNNEL</type>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
            <name></name>
            <selectedRelationships>merged</selectedRelationships>
            <source>
                <groupId>4411ec76-17aa-3740-0000-000000000000</groupId>
                <id>e7eeca7d-1ce4-3768-0000-000000000000</id>
                <type>PROCESSOR</type>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <connections>
            <id>8e1dd58b-731f-31fe-0000-000000000000</id>
            <parentGroupId>4411ec76-17aa-3740-0000-000000000000</parentGroupId>
            <versionedComponentId>8e1dd58b-731f-31fe-8c10-8c26b3160301</versionedComponentId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
            <destination>
                <groupId>4411ec76-17aa-3740-0000-000000000000</groupId>
                <id>1ec1ef23-663b-35b9-0000-000000000000</id>
                <type>FUNNEL</type>
                <versionedComponentId>1ec1ef23-663b-35b9-a0ed-5326499c4bb2</versionedComponentId>
            </destination>
            <flowFileExpiration>24 hr</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
            <name></name>
            <selectedRelationships>failure</selectedRelationships>
            <source>
                <groupId>4411ec76-17aa-3740-0000-000000000000</groupId>
                <id>d0743633-0a22-36d3-0000-000000000000</id>
                <type>PROCESSOR</type>
                <versionedComponentId>d0743633-0a22-36d3-9a3f-0e303112fb46</versionedComponentId>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <connections>
            <id>8f4b3a48-29bf-31a9-0000-000000000000</id>
            <parentGroupId>4411ec76-17aa-3740-0000-000000000000</parentGroupId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
            <destination>
                <groupId>4411ec76-17aa-3740-0000-000000000000</groupId>
                <id>837ea1ee-39a6-3ea5-0000-000000000000</id>
                <type>FUNNEL</type>
                <versionedComponentId>837ea1ee-39a6-3ea5-985d-62c644ee46b6</versionedComponentId>
            </destination>
            <flowFileExpiration>48 hr</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
            <name></name>
            <selectedRelationships>success</selectedRelationships>
            <source>
                <groupId>4411ec76-17aa-3740-0000-000000000000</groupId>
                <id>ab2695a0-def1-376c-0000-000000000000</id>
                <type>PROCESSOR</type>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <connections>
            <id>a5d5b307-6351-38f4-0000-000000000000</id>
            <parentGroupId>4411ec76-17aa-3740-0000-000000000000</parentGroupId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
            <destination>
                <groupId>4411ec76-17aa-3740-0000-000000000000</groupId>
                <id>5257581d-0dd2-3873-0000-000000000000</id>
                <type>PROCESSOR</type>
            </destination>
            <flowFileExpiration>48 hr</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
            <name></name>
            <source>
                <groupId>4411ec76-17aa-3740-0000-000000000000</groupId>
                <id>0a53343d-72e0-3399-0000-000000000000</id>
                <type>FUNNEL</type>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <connections>
            <id>abe413dc-ef9c-3ea0-0000-000000000000</id>
            <parentGroupId>4411ec76-17aa-3740-0000-000000000000</parentGroupId>
            <versionedComponentId>abe413dc-ef9c-3ea0-910e-914d15d93c36</versionedComponentId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
            <destination>
                <groupId>4411ec76-17aa-3740-0000-000000000000</groupId>
                <id>2ebffbd2-0b67-3918-0000-000000000000</id>
                <type>PROCESSOR</type>
                <versionedComponentId>2ebffbd2-0b67-3918-bc1a-f2135ee288d9</versionedComponentId>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
            <name></name>
            <source>
                <groupId>4411ec76-17aa-3740-0000-000000000000</groupId>
                <id>338db65f-b8d9-3102-0000-000000000000</id>
                <type>INPUT_PORT</type>
                <versionedComponentId>338db65f-b8d9-3102-be82-bbfa9eb74393</versionedComponentId>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <connections>
            <id>ad28aaa1-e2f3-392f-0000-000000000000</id>
            <parentGroupId>4411ec76-17aa-3740-0000-000000000000</parentGroupId>
            <versionedComponentId>ad28aaa1-e2f3-392f-a4e2-58462a3134f6</versionedComponentId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
            <destination>
                <groupId>4411ec76-17aa-3740-0000-000000000000</groupId>
                <id>d5232567-d59c-3e84-0000-000000000000</id>
                <type>PROCESSOR</type>
                <versionedComponentId>d5232567-d59c-3e84-8867-e97ca75231fa</versionedComponentId>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
            <name></name>
            <selectedRelationships>merged</selectedRelationships>
            <source>
                <groupId>4411ec76-17aa-3740-0000-000000000000</groupId>
                <id>98c50938-bd66-3365-0000-000000000000</id>
                <type>PROCESSOR</type>
                <versionedComponentId>98c50938-bd66-3365-b98b-7261005a7c21</versionedComponentId>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <connections>
            <id>b0905132-450f-34e5-0000-000000000000</id>
            <parentGroupId>4411ec76-17aa-3740-0000-000000000000</parentGroupId>
            <versionedComponentId>b0905132-450f-34e5-a15f-0d69d1feb106</versionedComponentId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>1000000</backPressureObjectThreshold>
            <destination>
                <groupId>4411ec76-17aa-3740-0000-000000000000</groupId>
                <id>b3ab153a-f5b6-3b1a-0000-000000000000</id>
                <type>FUNNEL</type>
                <versionedComponentId>b3ab153a-f5b6-3b1a-aecb-33933fe663de</versionedComponentId>
            </destination>
            <flowFileExpiration>24 hr</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
            <name></name>
            <selectedRelationships>failure</selectedRelationships>
            <source>
                <groupId>4411ec76-17aa-3740-0000-000000000000</groupId>
                <id>0a71fe0d-4463-3b52-0000-000000000000</id>
                <type>PROCESSOR</type>
                <versionedComponentId>0a71fe0d-4463-3b52-a386-16a686cf530c</versionedComponentId>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <connections>
            <id>ba372562-23d2-38ff-0000-000000000000</id>
            <parentGroupId>4411ec76-17aa-3740-0000-000000000000</parentGroupId>
            <versionedComponentId>ba372562-23d2-38ff-8b4f-a71683eff04c</versionedComponentId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
            <destination>
                <groupId>4411ec76-17aa-3740-0000-000000000000</groupId>
                <id>98c50938-bd66-3365-0000-000000000000</id>
                <type>PROCESSOR</type>
                <versionedComponentId>98c50938-bd66-3365-b98b-7261005a7c21</versionedComponentId>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
            <name></name>
            <selectedRelationships>devices</selectedRelationships>
            <source>
                <groupId>4411ec76-17aa-3740-0000-000000000000</groupId>
                <id>93a49a91-8af6-39c5-0000-000000000000</id>
                <type>PROCESSOR</type>
                <versionedComponentId>93a49a91-8af6-39c5-aab3-96cab56a2e83</versionedComponentId>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <connections>
            <id>c654bdfd-2ff6-3866-0000-000000000000</id>
            <parentGroupId>4411ec76-17aa-3740-0000-000000000000</parentGroupId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
            <destination>
                <groupId>4411ec76-17aa-3740-0000-000000000000</groupId>
                <id>0a71fe0d-4463-3b52-0000-000000000000</id>
                <type>PROCESSOR</type>
                <versionedComponentId>0a71fe0d-4463-3b52-a386-16a686cf530c</versionedComponentId>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
            <name></name>
            <selectedRelationships>subnets</selectedRelationships>
            <source>
                <groupId>4411ec76-17aa-3740-0000-000000000000</groupId>
                <id>93a49a91-8af6-39c5-0000-000000000000</id>
                <type>PROCESSOR</type>
                <versionedComponentId>93a49a91-8af6-39c5-aab3-96cab56a2e83</versionedComponentId>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <connections>
            <id>df20374e-61f5-3e8c-0000-000000000000</id>
            <parentGroupId>4411ec76-17aa-3740-0000-000000000000</parentGroupId>
            <versionedComponentId>df20374e-61f5-3e8c-be87-4569e38e25e8</versionedComponentId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>1000000</backPressureObjectThreshold>
            <destination>
                <groupId>4411ec76-17aa-3740-0000-000000000000</groupId>
                <id>b3ab153a-f5b6-3b1a-0000-000000000000</id>
                <type>FUNNEL</type>
                <versionedComponentId>b3ab153a-f5b6-3b1a-aecb-33933fe663de</versionedComponentId>
            </destination>
            <flowFileExpiration>24 hr</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
            <name></name>
            <selectedRelationships>failure</selectedRelationships>
            <source>
                <groupId>4411ec76-17aa-3740-0000-000000000000</groupId>
                <id>98c50938-bd66-3365-0000-000000000000</id>
                <type>PROCESSOR</type>
                <versionedComponentId>98c50938-bd66-3365-b98b-7261005a7c21</versionedComponentId>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <connections>
            <id>e6c12cfc-9cd3-35a0-0000-000000000000</id>
            <parentGroupId>4411ec76-17aa-3740-0000-000000000000</parentGroupId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
            <destination>
                <groupId>4411ec76-17aa-3740-0000-000000000000</groupId>
                <id>837ea1ee-39a6-3ea5-0000-000000000000</id>
                <type>FUNNEL</type>
                <versionedComponentId>837ea1ee-39a6-3ea5-985d-62c644ee46b6</versionedComponentId>
            </destination>
            <flowFileExpiration>48 hr</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
            <name></name>
            <selectedRelationships>success</selectedRelationships>
            <source>
                <groupId>4411ec76-17aa-3740-0000-000000000000</groupId>
                <id>5257581d-0dd2-3873-0000-000000000000</id>
                <type>PROCESSOR</type>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <connections>
            <id>f9b356b2-bdc4-3d6b-0000-000000000000</id>
            <parentGroupId>4411ec76-17aa-3740-0000-000000000000</parentGroupId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
            <bends>
                <x>2300.0</x>
                <y>1557.0</y>
            </bends>
            <destination>
                <groupId>4411ec76-17aa-3740-0000-000000000000</groupId>
                <id>5257581d-0dd2-3873-0000-000000000000</id>
                <type>PROCESSOR</type>
            </destination>
            <flowFileExpiration>48 hr</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
            <name></name>
            <source>
                <groupId>c2a1297a-4ccf-3acd-0000-000000000000</groupId>
                <id>fcb0d630-75af-34f1-0000-000000000000</id>
                <type>OUTPUT_PORT</type>
                <versionedComponentId>223310a7-8a6f-38a2-8b48-80eff993a953</versionedComponentId>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <connections>
            <id>fc7454c9-6392-3d91-0000-000000000000</id>
            <parentGroupId>4411ec76-17aa-3740-0000-000000000000</parentGroupId>
            <versionedComponentId>fc7454c9-6392-3d91-bd58-ae661632b248</versionedComponentId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
            <destination>
                <groupId>4411ec76-17aa-3740-0000-000000000000</groupId>
                <id>0a53343d-72e0-3399-0000-000000000000</id>
                <type>FUNNEL</type>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
            <name></name>
            <selectedRelationships>success</selectedRelationships>
            <source>
                <groupId>4411ec76-17aa-3740-0000-000000000000</groupId>
                <id>d0743633-0a22-36d3-0000-000000000000</id>
                <type>PROCESSOR</type>
                <versionedComponentId>d0743633-0a22-36d3-9a3f-0e303112fb46</versionedComponentId>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <connections>
            <id>fcb8c3ca-4cbb-3064-0000-000000000000</id>
            <parentGroupId>4411ec76-17aa-3740-0000-000000000000</parentGroupId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
            <destination>
                <groupId>4411ec76-17aa-3740-0000-000000000000</groupId>
                <id>d5232567-d59c-3e84-0000-000000000000</id>
                <type>PROCESSOR</type>
                <versionedComponentId>d5232567-d59c-3e84-8867-e97ca75231fa</versionedComponentId>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
            <name></name>
            <source>
                <groupId>4411ec76-17aa-3740-0000-000000000000</groupId>
                <id>4885ca4c-80f3-3158-0000-000000000000</id>
                <type>FUNNEL</type>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <controllerServices>
            <id>21c666b5-25a8-3038-0000-000000000000</id>
            <parentGroupId>4411ec76-17aa-3740-0000-000000000000</parentGroupId>
            <versionedComponentId>21c666b5-25a8-3038-b0ec-166bf9de8672</versionedComponentId>
            <bundle>
                <artifact>nifi-record-serialization-services-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.12.1</version>
            </bundle>
            <comments></comments>
            <descriptors>
                <entry>
                    <key>Schema Write Strategy</key>
                    <value>
                        <name>Schema Write Strategy</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-cache</key>
                    <value>
                        <identifiesControllerService>org.apache.nifi.serialization.RecordSchemaCacheService</identifiesControllerService>
                        <name>schema-cache</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-protocol-version</key>
                    <value>
                        <name>schema-protocol-version</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-access-strategy</key>
                    <value>
                        <name>schema-access-strategy</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-registry</key>
                    <value>
                        <identifiesControllerService>org.apache.nifi.schemaregistry.services.SchemaRegistry</identifiesControllerService>
                        <name>schema-registry</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-name</key>
                    <value>
                        <name>schema-name</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-version</key>
                    <value>
                        <name>schema-version</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-branch</key>
                    <value>
                        <name>schema-branch</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-text</key>
                    <value>
                        <name>schema-text</name>
                    </value>
                </entry>
                <entry>
                    <key>Date Format</key>
                    <value>
                        <name>Date Format</name>
                    </value>
                </entry>
                <entry>
                    <key>Time Format</key>
                    <value>
                        <name>Time Format</name>
                    </value>
                </entry>
                <entry>
                    <key>Timestamp Format</key>
                    <value>
                        <name>Timestamp Format</name>
                    </value>
                </entry>
                <entry>
                    <key>Pretty Print JSON</key>
                    <value>
                        <name>Pretty Print JSON</name>
                    </value>
                </entry>
                <entry>
                    <key>suppress-nulls</key>
                    <value>
                        <name>suppress-nulls</name>
                    </value>
                </entry>
                <entry>
                    <key>output-grouping</key>
                    <value>
                        <name>output-grouping</name>
                    </value>
                </entry>
                <entry>
                    <key>compression-format</key>
                    <value>
                        <name>compression-format</name>
                    </value>
                </entry>
                <entry>
                    <key>compression-level</key>
                    <value>
                        <name>compression-level</name>
                    </value>
                </entry>
            </descriptors>
            <name>JsonRecordSetWriter</name>
            <persistsState>false</persistsState>
            <properties>
                <entry>
                    <key>Schema Write Strategy</key>
                    <value>no-schema</value>
                </entry>
                <entry>
                    <key>schema-cache</key>
                </entry>
                <entry>
                    <key>schema-protocol-version</key>
                    <value>1</value>
                </entry>
                <entry>
                    <key>schema-access-strategy</key>
                    <value>inherit-record-schema</value>
                </entry>
                <entry>
                    <key>schema-registry</key>
                </entry>
                <entry>
                    <key>schema-name</key>
                    <value>${schema.name}</value>
                </entry>
                <entry>
                    <key>schema-version</key>
                </entry>
                <entry>
                    <key>schema-branch</key>
                </entry>
                <entry>
                    <key>schema-text</key>
                    <value>${avro.schema}</value>
                </entry>
                <entry>
                    <key>Date Format</key>
                </entry>
                <entry>
                    <key>Time Format</key>
                </entry>
                <entry>
                    <key>Timestamp Format</key>
                </entry>
                <entry>
                    <key>Pretty Print JSON</key>
                    <value>false</value>
                </entry>
                <entry>
                    <key>suppress-nulls</key>
                    <value>never-suppress</value>
                </entry>
                <entry>
                    <key>output-grouping</key>
                    <value>output-array</value>
                </entry>
                <entry>
                    <key>compression-format</key>
                    <value>none</value>
                </entry>
                <entry>
                    <key>compression-level</key>
                    <value>1</value>
                </entry>
            </properties>
            <state>ENABLED</state>
            <type>org.apache.nifi.json.JsonRecordSetWriter</type>
        </controllerServices>
        <controllerServices>
            <id>cb0c2eaf-26e7-3949-0000-000000000000</id>
            <parentGroupId>4411ec76-17aa-3740-0000-000000000000</parentGroupId>
            <versionedComponentId>cb0c2eaf-26e7-3949-8bf6-381098e851b9</versionedComponentId>
            <bundle>
                <artifact>nifi-record-serialization-services-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.12.1</version>
            </bundle>
            <comments></comments>
            <descriptors>
                <entry>
                    <key>schema-access-strategy</key>
                    <value>
                        <name>schema-access-strategy</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-registry</key>
                    <value>
                        <identifiesControllerService>org.apache.nifi.schemaregistry.services.SchemaRegistry</identifiesControllerService>
                        <name>schema-registry</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-name</key>
                    <value>
                        <name>schema-name</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-version</key>
                    <value>
                        <name>schema-version</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-branch</key>
                    <value>
                        <name>schema-branch</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-text</key>
                    <value>
                        <name>schema-text</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-inference-cache</key>
                    <value>
                        <identifiesControllerService>org.apache.nifi.serialization.RecordSchemaCacheService</identifiesControllerService>
                        <name>schema-inference-cache</name>
                    </value>
                </entry>
                <entry>
                    <key>Date Format</key>
                    <value>
                        <name>Date Format</name>
                    </value>
                </entry>
                <entry>
                    <key>Time Format</key>
                    <value>
                        <name>Time Format</name>
                    </value>
                </entry>
                <entry>
                    <key>Timestamp Format</key>
                    <value>
                        <name>Timestamp Format</name>
                    </value>
                </entry>
            </descriptors>
            <name>JsonTreeReader</name>
            <persistsState>false</persistsState>
            <properties>
                <entry>
                    <key>schema-access-strategy</key>
                    <value>infer-schema</value>
                </entry>
                <entry>
                    <key>schema-registry</key>
                </entry>
                <entry>
                    <key>schema-name</key>
                    <value>${schema.name}</value>
                </entry>
                <entry>
                    <key>schema-version</key>
                </entry>
                <entry>
                    <key>schema-branch</key>
                </entry>
                <entry>
                    <key>schema-text</key>
                    <value>${avro.schema}</value>
                </entry>
                <entry>
                    <key>schema-inference-cache</key>
                </entry>
                <entry>
                    <key>Date Format</key>
                </entry>
                <entry>
                    <key>Time Format</key>
                </entry>
                <entry>
                    <key>Timestamp Format</key>
                </entry>
            </properties>
            <state>ENABLED</state>
            <type>org.apache.nifi.json.JsonTreeReader</type>
        </controllerServices>
        <funnels>
            <id>0a53343d-72e0-3399-0000-000000000000</id>
            <parentGroupId>4411ec76-17aa-3740-0000-000000000000</parentGroupId>
            <position>
                <x>1368.0</x>
                <y>1160.0</y>
            </position>
        </funnels>
        <funnels>
            <id>1ec1ef23-663b-35b9-0000-000000000000</id>
            <parentGroupId>4411ec76-17aa-3740-0000-000000000000</parentGroupId>
            <position>
                <x>1880.0</x>
                <y>720.0</y>
            </position>
            <versionedComponentId>1ec1ef23-663b-35b9-a0ed-5326499c4bb2</versionedComponentId>
        </funnels>
        <funnels>
            <id>4885ca4c-80f3-3158-0000-000000000000</id>
            <parentGroupId>4411ec76-17aa-3740-0000-000000000000</parentGroupId>
            <position>
                <x>2248.0</x>
                <y>464.0</y>
            </position>
        </funnels>
        <funnels>
            <id>8166f27b-7ce2-3a5d-0000-000000000000</id>
            <parentGroupId>4411ec76-17aa-3740-0000-000000000000</parentGroupId>
            <position>
                <x>2784.0</x>
                <y>256.0</y>
            </position>
        </funnels>
        <funnels>
            <id>837ea1ee-39a6-3ea5-0000-000000000000</id>
            <parentGroupId>4411ec76-17aa-3740-0000-000000000000</parentGroupId>
            <position>
                <x>1872.0</x>
                <y>1224.0</y>
            </position>
            <versionedComponentId>837ea1ee-39a6-3ea5-985d-62c644ee46b6</versionedComponentId>
        </funnels>
        <funnels>
            <id>b3ab153a-f5b6-3b1a-0000-000000000000</id>
            <parentGroupId>4411ec76-17aa-3740-0000-000000000000</parentGroupId>
            <position>
                <x>1352.0</x>
                <y>264.0</y>
            </position>
            <versionedComponentId>b3ab153a-f5b6-3b1a-aecb-33933fe663de</versionedComponentId>
        </funnels>
        <inputPorts>
            <id>338db65f-b8d9-3102-0000-000000000000</id>
            <parentGroupId>4411ec76-17aa-3740-0000-000000000000</parentGroupId>
            <position>
                <x>0.0</x>
                <y>40.0</y>
            </position>
            <versionedComponentId>338db65f-b8d9-3102-be82-bbfa9eb74393</versionedComponentId>
            <comments></comments>
            <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
            <name>Input</name>
            <state>RUNNING</state>
            <type>INPUT_PORT</type>
        </inputPorts>
        <processGroups>
            <id>95a11d2d-e323-37b6-0000-000000000000</id>
            <parentGroupId>4411ec76-17aa-3740-0000-000000000000</parentGroupId>
            <position>
                <x>2512.0</x>
                <y>944.0</y>
            </position>
            <comments>This flow will track how many times a given flow file routes through it.  If the number of times exceeds a specific maximum then it will route to the 'limit exceeded' port.  Otherwise it will route to 'retry'.

The attributes it uses are 'retry.counter' and 'retry.maxcount'.  If the 'retry.maxcount' is specified on a given flowfile then it will be honored.  Otherwise a default of '3' is set as the maximum retry count.

As the flowfile goes through this flow it increments the 'retry.maxcount' attribute by 1.  It then checks if this value exceeds 'retry.maxcount' and if so then it routes the flowfile to 'limit exceeded' otherwise it routes to 'retry'.

So you can configure the 'retry' relationship to loop back to the process you want and you can send the 'limit exceeded' to move on from that process to something else.</comments>
            <contents>
                <connections>
                    <id>79c35091-d602-3782-0000-000000000000</id>
                    <parentGroupId>95a11d2d-e323-37b6-0000-000000000000</parentGroupId>
                    <versionedComponentId>e5ffabc0-3879-3290-ad54-2c3d1a1324d3</versionedComponentId>
                    <backPressureDataSizeThreshold>0 MB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10</backPressureObjectThreshold>
                    <destination>
                        <groupId>95a11d2d-e323-37b6-0000-000000000000</groupId>
                        <id>eb627f30-2812-353d-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>6addf3f2-b6ba-3ed5-90f4-4a94425ccce2</versionedComponentId>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <source>
                        <groupId>95a11d2d-e323-37b6-0000-000000000000</groupId>
                        <id>f30c2e1b-c6f6-35b1-0000-000000000000</id>
                        <type>INPUT_PORT</type>
                        <versionedComponentId>31876291-3b22-3636-a5d5-3fb560d57614</versionedComponentId>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>8fc79abd-3a87-37e3-0000-000000000000</id>
                    <parentGroupId>95a11d2d-e323-37b6-0000-000000000000</parentGroupId>
                    <versionedComponentId>271a111b-59bf-3e7d-982c-338334f8cdca</versionedComponentId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>100000</backPressureObjectThreshold>
                    <destination>
                        <groupId>95a11d2d-e323-37b6-0000-000000000000</groupId>
                        <id>28c54c60-a4bd-31e0-0000-000000000000</id>
                        <type>FUNNEL</type>
                        <versionedComponentId>530bac67-ecee-3075-a2d2-060d4f698aa5</versionedComponentId>
                    </destination>
                    <flowFileExpiration>0 days</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>unmatched</selectedRelationships>
                    <source>
                        <groupId>95a11d2d-e323-37b6-0000-000000000000</groupId>
                        <id>c792682d-f630-386f-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>2d7c93da-1e41-357e-8710-332c6984f636</versionedComponentId>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>99de849c-46e6-3834-0000-000000000000</id>
                    <parentGroupId>95a11d2d-e323-37b6-0000-000000000000</parentGroupId>
                    <versionedComponentId>40bf0e3d-2ce9-3bf7-8ca9-abc2448b81b7</versionedComponentId>
                    <backPressureDataSizeThreshold>0 MB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10</backPressureObjectThreshold>
                    <destination>
                        <groupId>95a11d2d-e323-37b6-0000-000000000000</groupId>
                        <id>32b6434a-d1a5-3470-0000-000000000000</id>
                        <type>OUTPUT_PORT</type>
                        <versionedComponentId>223310a7-8a6f-38a2-8b48-80eff993a953</versionedComponentId>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>Try again</selectedRelationships>
                    <source>
                        <groupId>95a11d2d-e323-37b6-0000-000000000000</groupId>
                        <id>c792682d-f630-386f-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>2d7c93da-1e41-357e-8710-332c6984f636</versionedComponentId>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>b6348706-3573-3ba3-0000-000000000000</id>
                    <parentGroupId>95a11d2d-e323-37b6-0000-000000000000</parentGroupId>
                    <versionedComponentId>44b47f94-91dc-3be8-a1bd-496d8bf57a1e</versionedComponentId>
                    <backPressureDataSizeThreshold>0 MB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>100</backPressureObjectThreshold>
                    <destination>
                        <groupId>95a11d2d-e323-37b6-0000-000000000000</groupId>
                        <id>c792682d-f630-386f-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>2d7c93da-1e41-357e-8710-332c6984f636</versionedComponentId>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>success</selectedRelationships>
                    <source>
                        <groupId>95a11d2d-e323-37b6-0000-000000000000</groupId>
                        <id>eb627f30-2812-353d-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>6addf3f2-b6ba-3ed5-90f4-4a94425ccce2</versionedComponentId>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <funnels>
                    <id>28c54c60-a4bd-31e0-0000-000000000000</id>
                    <parentGroupId>95a11d2d-e323-37b6-0000-000000000000</parentGroupId>
                    <position>
                        <x>1055.5088557816625</x>
                        <y>473.8863572898272</y>
                    </position>
                    <versionedComponentId>530bac67-ecee-3075-a2d2-060d4f698aa5</versionedComponentId>
                </funnels>
                <inputPorts>
                    <id>f30c2e1b-c6f6-35b1-0000-000000000000</id>
                    <parentGroupId>95a11d2d-e323-37b6-0000-000000000000</parentGroupId>
                    <position>
                        <x>418.0189879282432</x>
                        <y>107.99999712137014</y>
                    </position>
                    <versionedComponentId>31876291-3b22-3636-a5d5-3fb560d57614</versionedComponentId>
                    <comments></comments>
                    <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                    <name>data</name>
                    <state>RUNNING</state>
                    <type>INPUT_PORT</type>
                </inputPorts>
                <labels>
                    <id>11faba85-099f-36fd-0000-000000000000</id>
                    <parentGroupId>95a11d2d-e323-37b6-0000-000000000000</parentGroupId>
                    <position>
                        <x>-194.96208164979453</x>
                        <y>124.19798271082527</y>
                    </position>
                    <versionedComponentId>cff791bd-5db0-370c-b2d4-f237a35a1d58</versionedComponentId>
                    <height>84.0</height>
                    <label>Right click empty space -&gt; select Variables 
set max_retry variable</label>
                    <style>
                        <entry>
                            <key>font-size</key>
                            <value>24px</value>
                        </entry>
                    </style>
                    <width>541.9999847412109</width>
                </labels>
                <outputPorts>
                    <id>32b6434a-d1a5-3470-0000-000000000000</id>
                    <parentGroupId>95a11d2d-e323-37b6-0000-000000000000</parentGroupId>
                    <position>
                        <x>-194.96208259025042</x>
                        <y>472.8863572898272</y>
                    </position>
                    <versionedComponentId>223310a7-8a6f-38a2-8b48-80eff993a953</versionedComponentId>
                    <comments>Items sent to this port have not yet exceeded the maximum retry count.</comments>
                    <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                    <name>retry</name>
                    <state>RUNNING</state>
                    <type>OUTPUT_PORT</type>
                </outputPorts>
                <processors>
                    <id>c792682d-f630-386f-0000-000000000000</id>
                    <parentGroupId>95a11d2d-e323-37b6-0000-000000000000</parentGroupId>
                    <position>
                        <x>363.0189879282432</x>
                        <y>432.8863572898272</y>
                    </position>
                    <versionedComponentId>2d7c93da-1e41-357e-8710-332c6984f636</versionedComponentId>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.12.1</version>
                    </bundle>
                    <config>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>Routing Strategy</key>
<value>
    <name>Routing Strategy</name>
</value>
                            </entry>
                            <entry>
<key>Try again</key>
<value>
    <name>Try again</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>Routing Strategy</key>
<value>Route to Property name</value>
                            </entry>
                            <entry>
<key>Try again</key>
<value>${retry.counter:le('${retry.maxcount}')}</value>
                            </entry>
                        </properties>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>10 s</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>Check Retry Count</name>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>Try again</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>unmatched</name>
                    </relationships>
                    <state>RUNNING</state>
                    <style/>
                    <type>org.apache.nifi.processors.standard.RouteOnAttribute</type>
                </processors>
                <processors>
                    <id>eb627f30-2812-353d-0000-000000000000</id>
                    <parentGroupId>95a11d2d-e323-37b6-0000-000000000000</parentGroupId>
                    <position>
                        <x>363.01898792824323</x>
                        <y>218.00000475076467</y>
                    </position>
                    <versionedComponentId>6addf3f2-b6ba-3ed5-90f4-4a94425ccce2</versionedComponentId>
                    <bundle>
                        <artifact>nifi-update-attribute-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.12.1</version>
                    </bundle>
                    <config>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>Delete Attributes Expression</key>
<value>
    <name>Delete Attributes Expression</name>
</value>
                            </entry>
                            <entry>
<key>Store State</key>
<value>
    <name>Store State</name>
</value>
                            </entry>
                            <entry>
<key>Stateful Variables Initial Value</key>
<value>
    <name>Stateful Variables Initial Value</name>
</value>
                            </entry>
                            <entry>
<key>canonical-value-lookup-cache-size</key>
<value>
    <name>canonical-value-lookup-cache-size</name>
</value>
                            </entry>
                            <entry>
<key>retry.counter</key>
<value>
    <name>retry.counter</name>
</value>
                            </entry>
                            <entry>
<key>retry.maxcount</key>
<value>
    <name>retry.maxcount</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>Delete Attributes Expression</key>
                            </entry>
                            <entry>
<key>Store State</key>
<value>Do not store state</value>
                            </entry>
                            <entry>
<key>Stateful Variables Initial Value</key>
                            </entry>
                            <entry>
<key>canonical-value-lookup-cache-size</key>
<value>100</value>
                            </entry>
                            <entry>
<key>retry.counter</key>
<value>${retry.counter:replaceNull('0'):plus(1)}</value>
                            </entry>
                            <entry>
<key>retry.maxcount</key>
<value>${retry.maxcount:replaceNull(${max_retry})}</value>
                            </entry>
                        </properties>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>Set retry counter</name>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>success</name>
                    </relationships>
                    <state>RUNNING</state>
                    <style/>
                    <type>org.apache.nifi.processors.attributes.UpdateAttribute</type>
                </processors>
            </contents>
            <flowfileConcurrency>UNBOUNDED</flowfileConcurrency>
            <flowfileOutboundPolicy>STREAM_WHEN_AVAILABLE</flowfileOutboundPolicy>
            <name>Retry Check Loop</name>
            <variables>
                <entry>
                    <key>max_retry</key>
                    <value>5</value>
                </entry>
            </variables>
        </processGroups>
        <processGroups>
            <id>c2a1297a-4ccf-3acd-0000-000000000000</id>
            <parentGroupId>4411ec76-17aa-3740-0000-000000000000</parentGroupId>
            <position>
                <x>2512.0</x>
                <y>1360.0</y>
            </position>
            <comments>This flow will track how many times a given flow file routes through it.  If the number of times exceeds a specific maximum then it will route to the 'limit exceeded' port.  Otherwise it will route to 'retry'.

The attributes it uses are 'retry.counter' and 'retry.maxcount'.  If the 'retry.maxcount' is specified on a given flowfile then it will be honored.  Otherwise a default of '3' is set as the maximum retry count.

As the flowfile goes through this flow it increments the 'retry.maxcount' attribute by 1.  It then checks if this value exceeds 'retry.maxcount' and if so then it routes the flowfile to 'limit exceeded' otherwise it routes to 'retry'.

So you can configure the 'retry' relationship to loop back to the process you want and you can send the 'limit exceeded' to move on from that process to something else.</comments>
            <contents>
                <connections>
                    <id>1486d07f-7497-39d5-0000-000000000000</id>
                    <parentGroupId>c2a1297a-4ccf-3acd-0000-000000000000</parentGroupId>
                    <versionedComponentId>40bf0e3d-2ce9-3bf7-8ca9-abc2448b81b7</versionedComponentId>
                    <backPressureDataSizeThreshold>0 MB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10</backPressureObjectThreshold>
                    <destination>
                        <groupId>c2a1297a-4ccf-3acd-0000-000000000000</groupId>
                        <id>fcb0d630-75af-34f1-0000-000000000000</id>
                        <type>OUTPUT_PORT</type>
                        <versionedComponentId>223310a7-8a6f-38a2-8b48-80eff993a953</versionedComponentId>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>Try again</selectedRelationships>
                    <source>
                        <groupId>c2a1297a-4ccf-3acd-0000-000000000000</groupId>
                        <id>eb46d76f-2561-36d7-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>2d7c93da-1e41-357e-8710-332c6984f636</versionedComponentId>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>1c6efa6d-caed-399e-0000-000000000000</id>
                    <parentGroupId>c2a1297a-4ccf-3acd-0000-000000000000</parentGroupId>
                    <versionedComponentId>271a111b-59bf-3e7d-982c-338334f8cdca</versionedComponentId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>100000</backPressureObjectThreshold>
                    <destination>
                        <groupId>c2a1297a-4ccf-3acd-0000-000000000000</groupId>
                        <id>198fa982-b197-396b-0000-000000000000</id>
                        <type>FUNNEL</type>
                        <versionedComponentId>530bac67-ecee-3075-a2d2-060d4f698aa5</versionedComponentId>
                    </destination>
                    <flowFileExpiration>0 days</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>unmatched</selectedRelationships>
                    <source>
                        <groupId>c2a1297a-4ccf-3acd-0000-000000000000</groupId>
                        <id>eb46d76f-2561-36d7-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>2d7c93da-1e41-357e-8710-332c6984f636</versionedComponentId>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>8ffaaba1-369a-319c-0000-000000000000</id>
                    <parentGroupId>c2a1297a-4ccf-3acd-0000-000000000000</parentGroupId>
                    <versionedComponentId>44b47f94-91dc-3be8-a1bd-496d8bf57a1e</versionedComponentId>
                    <backPressureDataSizeThreshold>0 MB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>100</backPressureObjectThreshold>
                    <destination>
                        <groupId>c2a1297a-4ccf-3acd-0000-000000000000</groupId>
                        <id>eb46d76f-2561-36d7-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>2d7c93da-1e41-357e-8710-332c6984f636</versionedComponentId>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>success</selectedRelationships>
                    <source>
                        <groupId>c2a1297a-4ccf-3acd-0000-000000000000</groupId>
                        <id>6d747f8c-0b04-324c-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>6addf3f2-b6ba-3ed5-90f4-4a94425ccce2</versionedComponentId>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>aafebcba-0bc8-38c2-0000-000000000000</id>
                    <parentGroupId>c2a1297a-4ccf-3acd-0000-000000000000</parentGroupId>
                    <versionedComponentId>e5ffabc0-3879-3290-ad54-2c3d1a1324d3</versionedComponentId>
                    <backPressureDataSizeThreshold>0 MB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10</backPressureObjectThreshold>
                    <destination>
                        <groupId>c2a1297a-4ccf-3acd-0000-000000000000</groupId>
                        <id>6d747f8c-0b04-324c-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>6addf3f2-b6ba-3ed5-90f4-4a94425ccce2</versionedComponentId>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <source>
                        <groupId>c2a1297a-4ccf-3acd-0000-000000000000</groupId>
                        <id>79f37666-53f1-33ae-0000-000000000000</id>
                        <type>INPUT_PORT</type>
                        <versionedComponentId>31876291-3b22-3636-a5d5-3fb560d57614</versionedComponentId>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <funnels>
                    <id>198fa982-b197-396b-0000-000000000000</id>
                    <parentGroupId>c2a1297a-4ccf-3acd-0000-000000000000</parentGroupId>
                    <position>
                        <x>1055.5088557816625</x>
                        <y>473.8863572898272</y>
                    </position>
                    <versionedComponentId>530bac67-ecee-3075-a2d2-060d4f698aa5</versionedComponentId>
                </funnels>
                <inputPorts>
                    <id>79f37666-53f1-33ae-0000-000000000000</id>
                    <parentGroupId>c2a1297a-4ccf-3acd-0000-000000000000</parentGroupId>
                    <position>
                        <x>418.0189879282432</x>
                        <y>107.99999712137014</y>
                    </position>
                    <versionedComponentId>31876291-3b22-3636-a5d5-3fb560d57614</versionedComponentId>
                    <comments></comments>
                    <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                    <name>data</name>
                    <state>RUNNING</state>
                    <type>INPUT_PORT</type>
                </inputPorts>
                <labels>
                    <id>2d5d1de9-3e95-3d20-0000-000000000000</id>
                    <parentGroupId>c2a1297a-4ccf-3acd-0000-000000000000</parentGroupId>
                    <position>
                        <x>-194.96208164979453</x>
                        <y>124.19798271082527</y>
                    </position>
                    <versionedComponentId>cff791bd-5db0-370c-b2d4-f237a35a1d58</versionedComponentId>
                    <height>84.0</height>
                    <label>Right click empty space -&gt; select Variables 
set max_retry variable</label>
                    <style>
                        <entry>
                            <key>font-size</key>
                            <value>24px</value>
                        </entry>
                    </style>
                    <width>541.9999847412109</width>
                </labels>
                <outputPorts>
                    <id>fcb0d630-75af-34f1-0000-000000000000</id>
                    <parentGroupId>c2a1297a-4ccf-3acd-0000-000000000000</parentGroupId>
                    <position>
                        <x>-194.96208259025042</x>
                        <y>472.8863572898272</y>
                    </position>
                    <versionedComponentId>223310a7-8a6f-38a2-8b48-80eff993a953</versionedComponentId>
                    <comments>Items sent to this port have not yet exceeded the maximum retry count.</comments>
                    <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                    <name>retry</name>
                    <state>RUNNING</state>
                    <type>OUTPUT_PORT</type>
                </outputPorts>
                <processors>
                    <id>6d747f8c-0b04-324c-0000-000000000000</id>
                    <parentGroupId>c2a1297a-4ccf-3acd-0000-000000000000</parentGroupId>
                    <position>
                        <x>363.01898792824323</x>
                        <y>218.00000475076467</y>
                    </position>
                    <versionedComponentId>6addf3f2-b6ba-3ed5-90f4-4a94425ccce2</versionedComponentId>
                    <bundle>
                        <artifact>nifi-update-attribute-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.12.1</version>
                    </bundle>
                    <config>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>Delete Attributes Expression</key>
<value>
    <name>Delete Attributes Expression</name>
</value>
                            </entry>
                            <entry>
<key>Store State</key>
<value>
    <name>Store State</name>
</value>
                            </entry>
                            <entry>
<key>Stateful Variables Initial Value</key>
<value>
    <name>Stateful Variables Initial Value</name>
</value>
                            </entry>
                            <entry>
<key>canonical-value-lookup-cache-size</key>
<value>
    <name>canonical-value-lookup-cache-size</name>
</value>
                            </entry>
                            <entry>
<key>retry.counter</key>
<value>
    <name>retry.counter</name>
</value>
                            </entry>
                            <entry>
<key>retry.maxcount</key>
<value>
    <name>retry.maxcount</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>Delete Attributes Expression</key>
                            </entry>
                            <entry>
<key>Store State</key>
<value>Do not store state</value>
                            </entry>
                            <entry>
<key>Stateful Variables Initial Value</key>
                            </entry>
                            <entry>
<key>canonical-value-lookup-cache-size</key>
<value>100</value>
                            </entry>
                            <entry>
<key>retry.counter</key>
<value>${retry.counter:replaceNull('0'):plus(1)}</value>
                            </entry>
                            <entry>
<key>retry.maxcount</key>
<value>${retry.maxcount:replaceNull(${max_retry})}</value>
                            </entry>
                        </properties>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>Set retry counter</name>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>success</name>
                    </relationships>
                    <state>RUNNING</state>
                    <style/>
                    <type>org.apache.nifi.processors.attributes.UpdateAttribute</type>
                </processors>
                <processors>
                    <id>eb46d76f-2561-36d7-0000-000000000000</id>
                    <parentGroupId>c2a1297a-4ccf-3acd-0000-000000000000</parentGroupId>
                    <position>
                        <x>363.0189879282432</x>
                        <y>432.8863572898272</y>
                    </position>
                    <versionedComponentId>2d7c93da-1e41-357e-8710-332c6984f636</versionedComponentId>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.12.1</version>
                    </bundle>
                    <config>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>Routing Strategy</key>
<value>
    <name>Routing Strategy</name>
</value>
                            </entry>
                            <entry>
<key>Try again</key>
<value>
    <name>Try again</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>Routing Strategy</key>
<value>Route to Property name</value>
                            </entry>
                            <entry>
<key>Try again</key>
<value>${retry.counter:le('${retry.maxcount}')}</value>
                            </entry>
                        </properties>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>10 s</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>Check Retry Count</name>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>Try again</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>unmatched</name>
                    </relationships>
                    <state>RUNNING</state>
                    <style/>
                    <type>org.apache.nifi.processors.standard.RouteOnAttribute</type>
                </processors>
            </contents>
            <flowfileConcurrency>UNBOUNDED</flowfileConcurrency>
            <flowfileOutboundPolicy>STREAM_WHEN_AVAILABLE</flowfileOutboundPolicy>
            <name>Retry Check Loop</name>
            <variables>
                <entry>
                    <key>max_retry</key>
                    <value>5</value>
                </entry>
            </variables>
        </processGroups>
        <processors>
            <id>0a71fe0d-4463-3b52-0000-000000000000</id>
            <parentGroupId>4411ec76-17aa-3740-0000-000000000000</parentGroupId>
            <position>
                <x>1672.0</x>
                <y>216.0</y>
            </position>
            <versionedComponentId>0a71fe0d-4463-3b52-a386-16a686cf530c</versionedComponentId>
            <bundle>
                <artifact>nifi-standard-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.12.1</version>
            </bundle>
            <config>
                <bulletinLevel>WARN</bulletinLevel>
                <comments></comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <descriptors>
                    <entry>
                        <key>record-reader</key>
                        <value>
                            <identifiesControllerService>org.apache.nifi.serialization.RecordReaderFactory</identifiesControllerService>
                            <name>record-reader</name>
                        </value>
                    </entry>
                    <entry>
                        <key>record-writer</key>
                        <value>
                            <identifiesControllerService>org.apache.nifi.serialization.RecordSetWriterFactory</identifiesControllerService>
                            <name>record-writer</name>
                        </value>
                    </entry>
                    <entry>
                        <key>merge-strategy</key>
                        <value>
                            <name>merge-strategy</name>
                        </value>
                    </entry>
                    <entry>
                        <key>correlation-attribute-name</key>
                        <value>
                            <name>correlation-attribute-name</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Attribute Strategy</key>
                        <value>
                            <name>Attribute Strategy</name>
                        </value>
                    </entry>
                    <entry>
                        <key>min-records</key>
                        <value>
                            <name>min-records</name>
                        </value>
                    </entry>
                    <entry>
                        <key>max-records</key>
                        <value>
                            <name>max-records</name>
                        </value>
                    </entry>
                    <entry>
                        <key>min-bin-size</key>
                        <value>
                            <name>min-bin-size</name>
                        </value>
                    </entry>
                    <entry>
                        <key>max-bin-size</key>
                        <value>
                            <name>max-bin-size</name>
                        </value>
                    </entry>
                    <entry>
                        <key>max-bin-age</key>
                        <value>
                            <name>max-bin-age</name>
                        </value>
                    </entry>
                    <entry>
                        <key>max.bin.count</key>
                        <value>
                            <name>max.bin.count</name>
                        </value>
                    </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                    <entry>
                        <key>record-reader</key>
                        <value>cb0c2eaf-26e7-3949-0000-000000000000</value>
                    </entry>
                    <entry>
                        <key>record-writer</key>
                        <value>21c666b5-25a8-3038-0000-000000000000</value>
                    </entry>
                    <entry>
                        <key>merge-strategy</key>
                        <value>Bin-Packing Algorithm</value>
                    </entry>
                    <entry>
                        <key>correlation-attribute-name</key>
                    </entry>
                    <entry>
                        <key>Attribute Strategy</key>
                        <value>Keep Only Common Attributes</value>
                    </entry>
                    <entry>
                        <key>min-records</key>
                        <value>1</value>
                    </entry>
                    <entry>
                        <key>max-records</key>
                        <value>100000</value>
                    </entry>
                    <entry>
                        <key>min-bin-size</key>
                        <value>0 B</value>
                    </entry>
                    <entry>
                        <key>max-bin-size</key>
                        <value>20MB</value>
                    </entry>
                    <entry>
                        <key>max-bin-age</key>
                        <value>10 mins</value>
                    </entry>
                    <entry>
                        <key>max.bin.count</key>
                        <value>10</value>
                    </entry>
                </properties>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>0 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
            </config>
            <executionNodeRestricted>false</executionNodeRestricted>
            <name>MergeRecord</name>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>failure</name>
            </relationships>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>merged</name>
            </relationships>
            <relationships>
                <autoTerminate>true</autoTerminate>
                <name>original</name>
            </relationships>
            <state>RUNNING</state>
            <style/>
            <type>org.apache.nifi.processors.standard.MergeRecord</type>
        </processors>
        <processors>
            <id>2ebffbd2-0b67-3918-0000-000000000000</id>
            <parentGroupId>4411ec76-17aa-3740-0000-000000000000</parentGroupId>
            <position>
                <x>528.0</x>
                <y>0.0</y>
            </position>
            <versionedComponentId>2ebffbd2-0b67-3918-bc1a-f2135ee288d9</versionedComponentId>
            <bundle>
                <artifact>nifi-update-attribute-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.12.1</version>
            </bundle>
            <config>
                <bulletinLevel>WARN</bulletinLevel>
                <comments></comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <descriptors>
                    <entry>
                        <key>Delete Attributes Expression</key>
                        <value>
                            <name>Delete Attributes Expression</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Store State</key>
                        <value>
                            <name>Store State</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Stateful Variables Initial Value</key>
                        <value>
                            <name>Stateful Variables Initial Value</name>
                        </value>
                    </entry>
                    <entry>
                        <key>canonical-value-lookup-cache-size</key>
                        <value>
                            <name>canonical-value-lookup-cache-size</name>
                        </value>
                    </entry>
                    <entry>
                        <key>product</key>
                        <value>
                            <name>product</name>
                        </value>
                    </entry>
                    <entry>
                        <key>schema.name</key>
                        <value>
                            <name>schema.name</name>
                        </value>
                    </entry>
                    <entry>
                        <key>topic</key>
                        <value>
                            <name>topic</name>
                        </value>
                    </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                    <entry>
                        <key>Delete Attributes Expression</key>
                    </entry>
                    <entry>
                        <key>Store State</key>
                        <value>Do not store state</value>
                    </entry>
                    <entry>
                        <key>Stateful Variables Initial Value</key>
                    </entry>
                    <entry>
                        <key>canonical-value-lookup-cache-size</key>
                        <value>100</value>
                    </entry>
                    <entry>
                        <key>product</key>
                        <value>netmri</value>
                    </entry>
                    <entry>
                        <key>schema.name</key>
                        <value>netmri</value>
                    </entry>
                    <entry>
                        <key>topic</key>
                        <value>infoblox</value>
                    </entry>
                </properties>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>0 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
            </config>
            <executionNodeRestricted>false</executionNodeRestricted>
            <name>UpdateAttribute</name>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>success</name>
            </relationships>
            <state>RUNNING</state>
            <style/>
            <type>org.apache.nifi.processors.attributes.UpdateAttribute</type>
        </processors>
        <processors>
            <id>5257581d-0dd2-3873-0000-000000000000</id>
            <parentGroupId>4411ec76-17aa-3740-0000-000000000000</parentGroupId>
            <position>
                <x>1720.0</x>
                <y>1392.0</y>
            </position>
            <bundle>
                <artifact>nifi-aws-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.12.1</version>
            </bundle>
            <config>
                <bulletinLevel>WARN</bulletinLevel>
                <comments></comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <descriptors>
                    <entry>
                        <key>Object Key</key>
                        <value>
                            <name>Object Key</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Bucket</key>
                        <value>
                            <name>Bucket</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Content Type</key>
                        <value>
                            <name>Content Type</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Content Disposition</key>
                        <value>
                            <name>Content Disposition</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Cache Control</key>
                        <value>
                            <name>Cache Control</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Access Key</key>
                        <value>
                            <name>Access Key</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Secret Key</key>
                        <value>
                            <name>Secret Key</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Credentials File</key>
                        <value>
                            <name>Credentials File</name>
                        </value>
                    </entry>
                    <entry>
                        <key>AWS Credentials Provider service</key>
                        <value>
                            <identifiesControllerService>org.apache.nifi.processors.aws.credentials.provider.service.AWSCredentialsProviderService</identifiesControllerService>
                            <name>AWS Credentials Provider service</name>
                        </value>
                    </entry>
                    <entry>
                        <key>s3-object-tags-prefix</key>
                        <value>
                            <name>s3-object-tags-prefix</name>
                        </value>
                    </entry>
                    <entry>
                        <key>s3-object-remove-tags-prefix</key>
                        <value>
                            <name>s3-object-remove-tags-prefix</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Storage Class</key>
                        <value>
                            <name>Storage Class</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Region</key>
                        <value>
                            <name>Region</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Communications Timeout</key>
                        <value>
                            <name>Communications Timeout</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Expiration Time Rule</key>
                        <value>
                            <name>Expiration Time Rule</name>
                        </value>
                    </entry>
                    <entry>
                        <key>FullControl User List</key>
                        <value>
                            <name>FullControl User List</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Read Permission User List</key>
                        <value>
                            <name>Read Permission User List</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Write Permission User List</key>
                        <value>
                            <name>Write Permission User List</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Read ACL User List</key>
                        <value>
                            <name>Read ACL User List</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Write ACL User List</key>
                        <value>
                            <name>Write ACL User List</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Owner</key>
                        <value>
                            <name>Owner</name>
                        </value>
                    </entry>
                    <entry>
                        <key>canned-acl</key>
                        <value>
                            <name>canned-acl</name>
                        </value>
                    </entry>
                    <entry>
                        <key>SSL Context Service</key>
                        <value>
                            <identifiesControllerService>org.apache.nifi.ssl.SSLContextService</identifiesControllerService>
                            <name>SSL Context Service</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Endpoint Override URL</key>
                        <value>
                            <name>Endpoint Override URL</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Signer Override</key>
                        <value>
                            <name>Signer Override</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Multipart Threshold</key>
                        <value>
                            <name>Multipart Threshold</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Multipart Part Size</key>
                        <value>
                            <name>Multipart Part Size</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Multipart Upload AgeOff Interval</key>
                        <value>
                            <name>Multipart Upload AgeOff Interval</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Multipart Upload Max Age Threshold</key>
                        <value>
                            <name>Multipart Upload Max Age Threshold</name>
                        </value>
                    </entry>
                    <entry>
                        <key>server-side-encryption</key>
                        <value>
                            <name>server-side-encryption</name>
                        </value>
                    </entry>
                    <entry>
                        <key>encryption-service</key>
                        <value>
                            <identifiesControllerService>org.apache.nifi.processors.aws.s3.AmazonS3EncryptionService</identifiesControllerService>
                            <name>encryption-service</name>
                        </value>
                    </entry>
                    <entry>
                        <key>use-chunked-encoding</key>
                        <value>
                            <name>use-chunked-encoding</name>
                        </value>
                    </entry>
                    <entry>
                        <key>use-path-style-access</key>
                        <value>
                            <name>use-path-style-access</name>
                        </value>
                    </entry>
                    <entry>
                        <key>proxy-configuration-service</key>
                        <value>
                            <identifiesControllerService>org.apache.nifi.proxy.ProxyConfigurationService</identifiesControllerService>
                            <name>proxy-configuration-service</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Proxy Host</key>
                        <value>
                            <name>Proxy Host</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Proxy Host Port</key>
                        <value>
                            <name>Proxy Host Port</name>
                        </value>
                    </entry>
                    <entry>
                        <key>proxy-user-name</key>
                        <value>
                            <name>proxy-user-name</name>
                        </value>
                    </entry>
                    <entry>
                        <key>proxy-user-password</key>
                        <value>
                            <name>proxy-user-password</name>
                        </value>
                    </entry>
                    <entry>
                        <key>s3-temporary-directory-multipart</key>
                        <value>
                            <name>s3-temporary-directory-multipart</name>
                        </value>
                    </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                    <entry>
                        <key>Object Key</key>
                        <value>outbound/${topic}/${schema.name}/${timestamp:format("yyyy")}/${timestamp:format("MM")}/${timestamp:format("dd")}/${schema.name}_${timestamp:format("yyyyMMdd")}_${uuid}.json.bz2</value>
                    </entry>
                    <entry>
                        <key>Bucket</key>
                        <value>aws-cdi-data-outbound-294882693839-eu-west-1-bucket</value>
                    </entry>
                    <entry>
                        <key>Content Type</key>
                    </entry>
                    <entry>
                        <key>Content Disposition</key>
                    </entry>
                    <entry>
                        <key>Cache Control</key>
                    </entry>
                    <entry>
                        <key>Access Key</key>
                    </entry>
                    <entry>
                        <key>Secret Key</key>
                    </entry>
                    <entry>
                        <key>Credentials File</key>
                    </entry>
                    <entry>
                        <key>AWS Credentials Provider service</key>
                    </entry>
                    <entry>
                        <key>s3-object-tags-prefix</key>
                    </entry>
                    <entry>
                        <key>s3-object-remove-tags-prefix</key>
                        <value>false</value>
                    </entry>
                    <entry>
                        <key>Storage Class</key>
                        <value>Standard</value>
                    </entry>
                    <entry>
                        <key>Region</key>
                        <value>eu-west-1</value>
                    </entry>
                    <entry>
                        <key>Communications Timeout</key>
                        <value>30 secs</value>
                    </entry>
                    <entry>
                        <key>Expiration Time Rule</key>
                    </entry>
                    <entry>
                        <key>FullControl User List</key>
                        <value>${s3.permissions.full.users}</value>
                    </entry>
                    <entry>
                        <key>Read Permission User List</key>
                        <value>${s3.permissions.read.users}</value>
                    </entry>
                    <entry>
                        <key>Write Permission User List</key>
                        <value>${s3.permissions.write.users}</value>
                    </entry>
                    <entry>
                        <key>Read ACL User List</key>
                        <value>${s3.permissions.readacl.users}</value>
                    </entry>
                    <entry>
                        <key>Write ACL User List</key>
                        <value>${s3.permissions.writeacl.users}</value>
                    </entry>
                    <entry>
                        <key>Owner</key>
                        <value>${s3.owner}</value>
                    </entry>
                    <entry>
                        <key>canned-acl</key>
                        <value>${s3.permissions.cannedacl}</value>
                    </entry>
                    <entry>
                        <key>SSL Context Service</key>
                    </entry>
                    <entry>
                        <key>Endpoint Override URL</key>
                    </entry>
                    <entry>
                        <key>Signer Override</key>
                        <value>Default Signature</value>
                    </entry>
                    <entry>
                        <key>Multipart Threshold</key>
                        <value>5 GB</value>
                    </entry>
                    <entry>
                        <key>Multipart Part Size</key>
                        <value>5 GB</value>
                    </entry>
                    <entry>
                        <key>Multipart Upload AgeOff Interval</key>
                        <value>60 min</value>
                    </entry>
                    <entry>
                        <key>Multipart Upload Max Age Threshold</key>
                        <value>7 days</value>
                    </entry>
                    <entry>
                        <key>server-side-encryption</key>
                        <value>None</value>
                    </entry>
                    <entry>
                        <key>encryption-service</key>
                    </entry>
                    <entry>
                        <key>use-chunked-encoding</key>
                        <value>true</value>
                    </entry>
                    <entry>
                        <key>use-path-style-access</key>
                        <value>false</value>
                    </entry>
                    <entry>
                        <key>proxy-configuration-service</key>
                    </entry>
                    <entry>
                        <key>Proxy Host</key>
                    </entry>
                    <entry>
                        <key>Proxy Host Port</key>
                    </entry>
                    <entry>
                        <key>proxy-user-name</key>
                    </entry>
                    <entry>
                        <key>proxy-user-password</key>
                    </entry>
                    <entry>
                        <key>s3-temporary-directory-multipart</key>
                        <value>${java.io.tmpdir}</value>
                    </entry>
                </properties>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>0 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
            </config>
            <executionNodeRestricted>false</executionNodeRestricted>
            <name>toInfoSecS3Bucket_PRD</name>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>failure</name>
            </relationships>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>success</name>
            </relationships>
            <state>DISABLED</state>
            <style/>
            <type>org.apache.nifi.processors.aws.s3.PutS3Object</type>
        </processors>
        <processors>
            <id>93a49a91-8af6-39c5-0000-000000000000</id>
            <parentGroupId>4411ec76-17aa-3740-0000-000000000000</parentGroupId>
            <position>
                <x>1200.0</x>
                <y>0.0</y>
            </position>
            <versionedComponentId>93a49a91-8af6-39c5-aab3-96cab56a2e83</versionedComponentId>
            <bundle>
                <artifact>nifi-standard-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.12.1</version>
            </bundle>
            <config>
                <bulletinLevel>WARN</bulletinLevel>
                <comments></comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <descriptors>
                    <entry>
                        <key>Routing Strategy</key>
                        <value>
                            <name>Routing Strategy</name>
                        </value>
                    </entry>
                    <entry>
                        <key>devices</key>
                        <value>
                            <name>devices</name>
                        </value>
                    </entry>
                    <entry>
                        <key>inventory</key>
                        <value>
                            <name>inventory</name>
                        </value>
                    </entry>
                    <entry>
                        <key>subnets</key>
                        <value>
                            <name>subnets</name>
                        </value>
                    </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                    <entry>
                        <key>Routing Strategy</key>
                        <value>Route to Property name</value>
                    </entry>
                    <entry>
                        <key>devices</key>
                        <value>${pull_type:equals("devices")}</value>
                    </entry>
                    <entry>
                        <key>inventory</key>
                        <value>${pull_type:equals("inventory")}</value>
                    </entry>
                    <entry>
                        <key>subnets</key>
                        <value>${pull_type:equals("subnets")}</value>
                    </entry>
                </properties>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>0 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
            </config>
            <executionNodeRestricted>false</executionNodeRestricted>
            <name>RouteOnAttribute</name>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>devices</name>
            </relationships>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>inventory</name>
            </relationships>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>subnets</name>
            </relationships>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>unmatched</name>
            </relationships>
            <state>RUNNING</state>
            <style/>
            <type>org.apache.nifi.processors.standard.RouteOnAttribute</type>
        </processors>
        <processors>
            <id>98c50938-bd66-3365-0000-000000000000</id>
            <parentGroupId>4411ec76-17aa-3740-0000-000000000000</parentGroupId>
            <position>
                <x>696.0</x>
                <y>224.0</y>
            </position>
            <versionedComponentId>98c50938-bd66-3365-b98b-7261005a7c21</versionedComponentId>
            <bundle>
                <artifact>nifi-standard-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.12.1</version>
            </bundle>
            <config>
                <bulletinLevel>WARN</bulletinLevel>
                <comments></comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <descriptors>
                    <entry>
                        <key>record-reader</key>
                        <value>
                            <identifiesControllerService>org.apache.nifi.serialization.RecordReaderFactory</identifiesControllerService>
                            <name>record-reader</name>
                        </value>
                    </entry>
                    <entry>
                        <key>record-writer</key>
                        <value>
                            <identifiesControllerService>org.apache.nifi.serialization.RecordSetWriterFactory</identifiesControllerService>
                            <name>record-writer</name>
                        </value>
                    </entry>
                    <entry>
                        <key>merge-strategy</key>
                        <value>
                            <name>merge-strategy</name>
                        </value>
                    </entry>
                    <entry>
                        <key>correlation-attribute-name</key>
                        <value>
                            <name>correlation-attribute-name</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Attribute Strategy</key>
                        <value>
                            <name>Attribute Strategy</name>
                        </value>
                    </entry>
                    <entry>
                        <key>min-records</key>
                        <value>
                            <name>min-records</name>
                        </value>
                    </entry>
                    <entry>
                        <key>max-records</key>
                        <value>
                            <name>max-records</name>
                        </value>
                    </entry>
                    <entry>
                        <key>min-bin-size</key>
                        <value>
                            <name>min-bin-size</name>
                        </value>
                    </entry>
                    <entry>
                        <key>max-bin-size</key>
                        <value>
                            <name>max-bin-size</name>
                        </value>
                    </entry>
                    <entry>
                        <key>max-bin-age</key>
                        <value>
                            <name>max-bin-age</name>
                        </value>
                    </entry>
                    <entry>
                        <key>max.bin.count</key>
                        <value>
                            <name>max.bin.count</name>
                        </value>
                    </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                    <entry>
                        <key>record-reader</key>
                        <value>cb0c2eaf-26e7-3949-0000-000000000000</value>
                    </entry>
                    <entry>
                        <key>record-writer</key>
                        <value>21c666b5-25a8-3038-0000-000000000000</value>
                    </entry>
                    <entry>
                        <key>merge-strategy</key>
                        <value>Bin-Packing Algorithm</value>
                    </entry>
                    <entry>
                        <key>correlation-attribute-name</key>
                    </entry>
                    <entry>
                        <key>Attribute Strategy</key>
                        <value>Keep Only Common Attributes</value>
                    </entry>
                    <entry>
                        <key>min-records</key>
                        <value>1</value>
                    </entry>
                    <entry>
                        <key>max-records</key>
                        <value>100000</value>
                    </entry>
                    <entry>
                        <key>min-bin-size</key>
                        <value>0 B</value>
                    </entry>
                    <entry>
                        <key>max-bin-size</key>
                        <value>20MB</value>
                    </entry>
                    <entry>
                        <key>max-bin-age</key>
                        <value>10 mins</value>
                    </entry>
                    <entry>
                        <key>max.bin.count</key>
                        <value>10</value>
                    </entry>
                </properties>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>0 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
            </config>
            <executionNodeRestricted>false</executionNodeRestricted>
            <name>MergeRecord</name>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>failure</name>
            </relationships>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>merged</name>
            </relationships>
            <relationships>
                <autoTerminate>true</autoTerminate>
                <name>original</name>
            </relationships>
            <state>RUNNING</state>
            <style/>
            <type>org.apache.nifi.processors.standard.MergeRecord</type>
        </processors>
        <processors>
            <id>ab2695a0-def1-376c-0000-000000000000</id>
            <parentGroupId>4411ec76-17aa-3740-0000-000000000000</parentGroupId>
            <position>
                <x>1720.0</x>
                <y>976.0</y>
            </position>
            <bundle>
                <artifact>nifi-aws-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.12.1</version>
            </bundle>
            <config>
                <bulletinLevel>WARN</bulletinLevel>
                <comments></comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <descriptors>
                    <entry>
                        <key>Object Key</key>
                        <value>
                            <name>Object Key</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Bucket</key>
                        <value>
                            <name>Bucket</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Content Type</key>
                        <value>
                            <name>Content Type</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Content Disposition</key>
                        <value>
                            <name>Content Disposition</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Cache Control</key>
                        <value>
                            <name>Cache Control</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Access Key</key>
                        <value>
                            <name>Access Key</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Secret Key</key>
                        <value>
                            <name>Secret Key</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Credentials File</key>
                        <value>
                            <name>Credentials File</name>
                        </value>
                    </entry>
                    <entry>
                        <key>AWS Credentials Provider service</key>
                        <value>
                            <identifiesControllerService>org.apache.nifi.processors.aws.credentials.provider.service.AWSCredentialsProviderService</identifiesControllerService>
                            <name>AWS Credentials Provider service</name>
                        </value>
                    </entry>
                    <entry>
                        <key>s3-object-tags-prefix</key>
                        <value>
                            <name>s3-object-tags-prefix</name>
                        </value>
                    </entry>
                    <entry>
                        <key>s3-object-remove-tags-prefix</key>
                        <value>
                            <name>s3-object-remove-tags-prefix</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Storage Class</key>
                        <value>
                            <name>Storage Class</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Region</key>
                        <value>
                            <name>Region</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Communications Timeout</key>
                        <value>
                            <name>Communications Timeout</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Expiration Time Rule</key>
                        <value>
                            <name>Expiration Time Rule</name>
                        </value>
                    </entry>
                    <entry>
                        <key>FullControl User List</key>
                        <value>
                            <name>FullControl User List</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Read Permission User List</key>
                        <value>
                            <name>Read Permission User List</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Write Permission User List</key>
                        <value>
                            <name>Write Permission User List</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Read ACL User List</key>
                        <value>
                            <name>Read ACL User List</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Write ACL User List</key>
                        <value>
                            <name>Write ACL User List</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Owner</key>
                        <value>
                            <name>Owner</name>
                        </value>
                    </entry>
                    <entry>
                        <key>canned-acl</key>
                        <value>
                            <name>canned-acl</name>
                        </value>
                    </entry>
                    <entry>
                        <key>SSL Context Service</key>
                        <value>
                            <identifiesControllerService>org.apache.nifi.ssl.SSLContextService</identifiesControllerService>
                            <name>SSL Context Service</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Endpoint Override URL</key>
                        <value>
                            <name>Endpoint Override URL</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Signer Override</key>
                        <value>
                            <name>Signer Override</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Multipart Threshold</key>
                        <value>
                            <name>Multipart Threshold</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Multipart Part Size</key>
                        <value>
                            <name>Multipart Part Size</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Multipart Upload AgeOff Interval</key>
                        <value>
                            <name>Multipart Upload AgeOff Interval</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Multipart Upload Max Age Threshold</key>
                        <value>
                            <name>Multipart Upload Max Age Threshold</name>
                        </value>
                    </entry>
                    <entry>
                        <key>server-side-encryption</key>
                        <value>
                            <name>server-side-encryption</name>
                        </value>
                    </entry>
                    <entry>
                        <key>encryption-service</key>
                        <value>
                            <identifiesControllerService>org.apache.nifi.processors.aws.s3.AmazonS3EncryptionService</identifiesControllerService>
                            <name>encryption-service</name>
                        </value>
                    </entry>
                    <entry>
                        <key>use-chunked-encoding</key>
                        <value>
                            <name>use-chunked-encoding</name>
                        </value>
                    </entry>
                    <entry>
                        <key>use-path-style-access</key>
                        <value>
                            <name>use-path-style-access</name>
                        </value>
                    </entry>
                    <entry>
                        <key>proxy-configuration-service</key>
                        <value>
                            <identifiesControllerService>org.apache.nifi.proxy.ProxyConfigurationService</identifiesControllerService>
                            <name>proxy-configuration-service</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Proxy Host</key>
                        <value>
                            <name>Proxy Host</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Proxy Host Port</key>
                        <value>
                            <name>Proxy Host Port</name>
                        </value>
                    </entry>
                    <entry>
                        <key>proxy-user-name</key>
                        <value>
                            <name>proxy-user-name</name>
                        </value>
                    </entry>
                    <entry>
                        <key>proxy-user-password</key>
                        <value>
                            <name>proxy-user-password</name>
                        </value>
                    </entry>
                    <entry>
                        <key>s3-temporary-directory-multipart</key>
                        <value>
                            <name>s3-temporary-directory-multipart</name>
                        </value>
                    </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                    <entry>
                        <key>Object Key</key>
                        <value>outbound/${topic}/${schema.name}/${pull_type}/${timestamp:format("yyyy")}/${timestamp:format("MM")}/${timestamp:format("dd")}/${schema.name}_${timestamp:format("yyyyMMdd")}_${uuid}.json.bz2</value>
                    </entry>
                    <entry>
                        <key>Bucket</key>
                        <value>aws-cdi-data-outbound-924506175250-eu-west-1-bucket</value>
                    </entry>
                    <entry>
                        <key>Content Type</key>
                    </entry>
                    <entry>
                        <key>Content Disposition</key>
                    </entry>
                    <entry>
                        <key>Cache Control</key>
                    </entry>
                    <entry>
                        <key>Access Key</key>
                    </entry>
                    <entry>
                        <key>Secret Key</key>
                    </entry>
                    <entry>
                        <key>Credentials File</key>
                    </entry>
                    <entry>
                        <key>AWS Credentials Provider service</key>
                    </entry>
                    <entry>
                        <key>s3-object-tags-prefix</key>
                    </entry>
                    <entry>
                        <key>s3-object-remove-tags-prefix</key>
                        <value>false</value>
                    </entry>
                    <entry>
                        <key>Storage Class</key>
                        <value>Standard</value>
                    </entry>
                    <entry>
                        <key>Region</key>
                        <value>eu-west-1</value>
                    </entry>
                    <entry>
                        <key>Communications Timeout</key>
                        <value>30 secs</value>
                    </entry>
                    <entry>
                        <key>Expiration Time Rule</key>
                    </entry>
                    <entry>
                        <key>FullControl User List</key>
                        <value>${s3.permissions.full.users}</value>
                    </entry>
                    <entry>
                        <key>Read Permission User List</key>
                        <value>${s3.permissions.read.users}</value>
                    </entry>
                    <entry>
                        <key>Write Permission User List</key>
                        <value>${s3.permissions.write.users}</value>
                    </entry>
                    <entry>
                        <key>Read ACL User List</key>
                        <value>${s3.permissions.readacl.users}</value>
                    </entry>
                    <entry>
                        <key>Write ACL User List</key>
                        <value>${s3.permissions.writeacl.users}</value>
                    </entry>
                    <entry>
                        <key>Owner</key>
                        <value>${s3.owner}</value>
                    </entry>
                    <entry>
                        <key>canned-acl</key>
                        <value>${s3.permissions.cannedacl}</value>
                    </entry>
                    <entry>
                        <key>SSL Context Service</key>
                    </entry>
                    <entry>
                        <key>Endpoint Override URL</key>
                    </entry>
                    <entry>
                        <key>Signer Override</key>
                        <value>Default Signature</value>
                    </entry>
                    <entry>
                        <key>Multipart Threshold</key>
                        <value>5 GB</value>
                    </entry>
                    <entry>
                        <key>Multipart Part Size</key>
                        <value>5 GB</value>
                    </entry>
                    <entry>
                        <key>Multipart Upload AgeOff Interval</key>
                        <value>60 min</value>
                    </entry>
                    <entry>
                        <key>Multipart Upload Max Age Threshold</key>
                        <value>7 days</value>
                    </entry>
                    <entry>
                        <key>server-side-encryption</key>
                        <value>None</value>
                    </entry>
                    <entry>
                        <key>encryption-service</key>
                    </entry>
                    <entry>
                        <key>use-chunked-encoding</key>
                        <value>true</value>
                    </entry>
                    <entry>
                        <key>use-path-style-access</key>
                        <value>false</value>
                    </entry>
                    <entry>
                        <key>proxy-configuration-service</key>
                    </entry>
                    <entry>
                        <key>Proxy Host</key>
                    </entry>
                    <entry>
                        <key>Proxy Host Port</key>
                    </entry>
                    <entry>
                        <key>proxy-user-name</key>
                    </entry>
                    <entry>
                        <key>proxy-user-password</key>
                    </entry>
                    <entry>
                        <key>s3-temporary-directory-multipart</key>
                        <value>${java.io.tmpdir}</value>
                    </entry>
                </properties>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>0 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
            </config>
            <executionNodeRestricted>false</executionNodeRestricted>
            <name>toInfoSecS3Bucket_DEV</name>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>failure</name>
            </relationships>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>success</name>
            </relationships>
            <state>RUNNING</state>
            <style/>
            <type>org.apache.nifi.processors.aws.s3.PutS3Object</type>
        </processors>
        <processors>
            <id>d0743633-0a22-36d3-0000-000000000000</id>
            <parentGroupId>4411ec76-17aa-3740-0000-000000000000</parentGroupId>
            <position>
                <x>1216.0</x>
                <y>680.0</y>
            </position>
            <versionedComponentId>d0743633-0a22-36d3-9a3f-0e303112fb46</versionedComponentId>
            <bundle>
                <artifact>nifi-standard-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.12.1</version>
            </bundle>
            <config>
                <bulletinLevel>WARN</bulletinLevel>
                <comments></comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <descriptors>
                    <entry>
                        <key>Mode</key>
                        <value>
                            <name>Mode</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Compression Format</key>
                        <value>
                            <name>Compression Format</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Compression Level</key>
                        <value>
                            <name>Compression Level</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Update Filename</key>
                        <value>
                            <name>Update Filename</name>
                        </value>
                    </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                    <entry>
                        <key>Mode</key>
                        <value>compress</value>
                    </entry>
                    <entry>
                        <key>Compression Format</key>
                        <value>bzip2</value>
                    </entry>
                    <entry>
                        <key>Compression Level</key>
                        <value>1</value>
                    </entry>
                    <entry>
                        <key>Update Filename</key>
                        <value>true</value>
                    </entry>
                </properties>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>0 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
            </config>
            <executionNodeRestricted>false</executionNodeRestricted>
            <name>CompressContent</name>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>failure</name>
            </relationships>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>success</name>
            </relationships>
            <state>RUNNING</state>
            <style/>
            <type>org.apache.nifi.processors.standard.CompressContent</type>
        </processors>
        <processors>
            <id>d5232567-d59c-3e84-0000-000000000000</id>
            <parentGroupId>4411ec76-17aa-3740-0000-000000000000</parentGroupId>
            <position>
                <x>1216.0</x>
                <y>424.0</y>
            </position>
            <versionedComponentId>d5232567-d59c-3e84-8867-e97ca75231fa</versionedComponentId>
            <bundle>
                <artifact>nifi-update-attribute-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.12.1</version>
            </bundle>
            <config>
                <bulletinLevel>WARN</bulletinLevel>
                <comments></comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <descriptors>
                    <entry>
                        <key>Delete Attributes Expression</key>
                        <value>
                            <name>Delete Attributes Expression</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Store State</key>
                        <value>
                            <name>Store State</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Stateful Variables Initial Value</key>
                        <value>
                            <name>Stateful Variables Initial Value</name>
                        </value>
                    </entry>
                    <entry>
                        <key>canonical-value-lookup-cache-size</key>
                        <value>
                            <name>canonical-value-lookup-cache-size</name>
                        </value>
                    </entry>
                    <entry>
                        <key>timestamp</key>
                        <value>
                            <name>timestamp</name>
                        </value>
                    </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                    <entry>
                        <key>Delete Attributes Expression</key>
                    </entry>
                    <entry>
                        <key>Store State</key>
                        <value>Do not store state</value>
                    </entry>
                    <entry>
                        <key>Stateful Variables Initial Value</key>
                    </entry>
                    <entry>
                        <key>canonical-value-lookup-cache-size</key>
                        <value>100</value>
                    </entry>
                    <entry>
                        <key>timestamp</key>
                        <value>${now():toNumber()}</value>
                    </entry>
                </properties>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>0 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
            </config>
            <executionNodeRestricted>false</executionNodeRestricted>
            <name>UpdateAttribute</name>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>success</name>
            </relationships>
            <state>RUNNING</state>
            <style/>
            <type>org.apache.nifi.processors.attributes.UpdateAttribute</type>
        </processors>
        <processors>
            <id>e7eeca7d-1ce4-3768-0000-000000000000</id>
            <parentGroupId>4411ec76-17aa-3740-0000-000000000000</parentGroupId>
            <position>
                <x>2096.0</x>
                <y>224.0</y>
            </position>
            <bundle>
                <artifact>nifi-standard-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.12.1</version>
            </bundle>
            <config>
                <bulletinLevel>WARN</bulletinLevel>
                <comments></comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <descriptors>
                    <entry>
                        <key>record-reader</key>
                        <value>
                            <identifiesControllerService>org.apache.nifi.serialization.RecordReaderFactory</identifiesControllerService>
                            <name>record-reader</name>
                        </value>
                    </entry>
                    <entry>
                        <key>record-writer</key>
                        <value>
                            <identifiesControllerService>org.apache.nifi.serialization.RecordSetWriterFactory</identifiesControllerService>
                            <name>record-writer</name>
                        </value>
                    </entry>
                    <entry>
                        <key>merge-strategy</key>
                        <value>
                            <name>merge-strategy</name>
                        </value>
                    </entry>
                    <entry>
                        <key>correlation-attribute-name</key>
                        <value>
                            <name>correlation-attribute-name</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Attribute Strategy</key>
                        <value>
                            <name>Attribute Strategy</name>
                        </value>
                    </entry>
                    <entry>
                        <key>min-records</key>
                        <value>
                            <name>min-records</name>
                        </value>
                    </entry>
                    <entry>
                        <key>max-records</key>
                        <value>
                            <name>max-records</name>
                        </value>
                    </entry>
                    <entry>
                        <key>min-bin-size</key>
                        <value>
                            <name>min-bin-size</name>
                        </value>
                    </entry>
                    <entry>
                        <key>max-bin-size</key>
                        <value>
                            <name>max-bin-size</name>
                        </value>
                    </entry>
                    <entry>
                        <key>max-bin-age</key>
                        <value>
                            <name>max-bin-age</name>
                        </value>
                    </entry>
                    <entry>
                        <key>max.bin.count</key>
                        <value>
                            <name>max.bin.count</name>
                        </value>
                    </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                    <entry>
                        <key>record-reader</key>
                        <value>cb0c2eaf-26e7-3949-0000-000000000000</value>
                    </entry>
                    <entry>
                        <key>record-writer</key>
                        <value>21c666b5-25a8-3038-0000-000000000000</value>
                    </entry>
                    <entry>
                        <key>merge-strategy</key>
                        <value>Bin-Packing Algorithm</value>
                    </entry>
                    <entry>
                        <key>correlation-attribute-name</key>
                    </entry>
                    <entry>
                        <key>Attribute Strategy</key>
                        <value>Keep Only Common Attributes</value>
                    </entry>
                    <entry>
                        <key>min-records</key>
                        <value>1</value>
                    </entry>
                    <entry>
                        <key>max-records</key>
                        <value>100000</value>
                    </entry>
                    <entry>
                        <key>min-bin-size</key>
                        <value>0 B</value>
                    </entry>
                    <entry>
                        <key>max-bin-size</key>
                        <value>20MB</value>
                    </entry>
                    <entry>
                        <key>max-bin-age</key>
                        <value>10 mins</value>
                    </entry>
                    <entry>
                        <key>max.bin.count</key>
                        <value>10</value>
                    </entry>
                </properties>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>0 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
            </config>
            <executionNodeRestricted>false</executionNodeRestricted>
            <name>MergeRecord</name>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>failure</name>
            </relationships>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>merged</name>
            </relationships>
            <relationships>
                <autoTerminate>true</autoTerminate>
                <name>original</name>
            </relationships>
            <state>RUNNING</state>
            <style/>
            <type>org.apache.nifi.processors.standard.MergeRecord</type>
        </processors>
    </snippet>
    <timestamp>11/20/2025 13:44:38 UTC</timestamp>
</template>
