nifi/Infosec_S3-version-1.json
{"externalControllerServices":{},"flowContents":{"comments":"","componentType":"PROCESS_GROUP","connections":[{"backPressureDataSizeThreshold":"1 GB","backPressureObjectThreshold":10000,"bends":[],"componentType":"CONNECTION","destination":{"comments":"","groupId":"a470593b-d20b-3ee9-bb56-774282e6fb6d","id":"a50140a0-5158-3c10-85e5-d07f5f83924b","name":"Funnel","type":"FUNNEL"},"flowFileExpiration":"0 sec","groupIdentifier":"a470593b-d20b-3ee9-bb56-774282e6fb6d","identifier":"b6a95b47-f9f0-30e6-8f19-ddbb4a1164ef","labelIndex":1,"loadBalanceCompression":"DO_NOT_COMPRESS","loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","name":"","partitioningAttribute":"","prioritizers":[],"selectedRelationships":["failure"],"source":{"comments":"","groupId":"a470593b-d20b-3ee9-bb56-774282e6fb6d","id":"f0b0b064-cd2d-3233-9f12-c9a1e5e44ffe","name":"UpdateRecord","type":"PROCESSOR"},"zIndex":0},{"backPressureDataSizeThreshold":"1 GB","backPressureObjectThreshold":10000,"bends":[],"componentType":"CONNECTION","destination":{"comments":"","groupId":"afc1cef8-5bdf-3a2a-b173-3fe625bb3b66","id":"dd27b5e5-b445-3283-8958-df4ac03562bf","name":"data","type":"INPUT_PORT"},"flowFileExpiration":"0 sec","groupIdentifier":"a470593b-d20b-3ee9-bb56-774282e6fb6d","identifier":"3328afc8-361f-3242-8b88-bc57aaabe190","labelIndex":1,"loadBalanceCompression":"DO_NOT_COMPRESS","loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","name":"","partitioningAttribute":"","prioritizers":[],"selectedRelationships":["failure"],"source":{"comments":"","groupId":"a470593b-d20b-3ee9-bb56-774282e6fb6d","id":"0127df33-ee1f-3de1-8c79-109837295fa6","name":"toInfoSecS3Bucket_new_PRD_LZ","type":"PROCESSOR"},"zIndex":0},{"backPressureDataSizeThreshold":"1 GB","backPressureObjectThreshold":10000,"bends":[],"componentType":"CONNECTION","destination":{"comments":"","groupId":"ef7f31f1-74aa-31ba-9ee6-d9425674426d","id":"dd27b5e5-b445-3283-8958-df4ac03562bf","name":"data","type":"INPUT_PORT"},"flowFileExpiration":"0 sec","groupIdentifier":"a470593b-d20b-3ee9-bb56-774282e6fb6d","identifier":"1401dd39-69eb-3419-9661-3fa665ff5cb7","labelIndex":1,"loadBalanceCompression":"DO_NOT_COMPRESS","loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","name":"","partitioningAttribute":"","prioritizers":[],"selectedRelationships":["failure"],"source":{"comments":"","groupId":"a470593b-d20b-3ee9-bb56-774282e6fb6d","id":"754e92cf-e15b-3209-a583-be61d556f5c7","name":"toInfoSecS3Bucket","type":"PROCESSOR"},"zIndex":0},{"backPressureDataSizeThreshold":"1 GB","backPressureObjectThreshold":10000,"bends":[{"x":956.2641133770278,"y":1558.4282712509814}],"componentType":"CONNECTION","destination":{"comments":"","groupId":"a470593b-d20b-3ee9-bb56-774282e6fb6d","id":"56cc0efd-525a-3a41-8b98-aeb4a8bc03aa","name":"toInfoSecS3Bucket_new_DEV_LZ","type":"PROCESSOR"},"flowFileExpiration":"0 sec","groupIdentifier":"a470593b-d20b-3ee9-bb56-774282e6fb6d","identifier":"0a607187-0995-3bc9-a7af-580530be60ec","labelIndex":1,"loadBalanceCompression":"DO_NOT_COMPRESS","loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","name":"","partitioningAttribute":"","prioritizers":[],"selectedRelationships":[""],"source":{"comments":"Items sent to this port have not yet exceeded the maximum retry count.","groupId":"55760617-9951-3985-813f-58b9a0a3ef4f","id":"8a9c0740-f38f-3f7b-b751-0cb5523562a2","name":"retry","type":"OUTPUT_PORT"},"zIndex":0},{"backPressureDataSizeThreshold":"1 GB","backPressureObjectThreshold":10000,"bends":[],"componentType":"CONNECTION","destination":{"comments":"","groupId":"a470593b-d20b-3ee9-bb56-774282e6fb6d","id":"f0b0b064-cd2d-3233-9f12-c9a1e5e44ffe","name":"UpdateRecord","type":"PROCESSOR"},"flowFileExpiration":"0 sec","groupIdentifier":"a470593b-d20b-3ee9-bb56-774282e6fb6d","identifier":"a2a501f4-ad69-314e-b4d4-0ec09377947b","labelIndex":1,"loadBalanceCompression":"DO_NOT_COMPRESS","loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","name":"","partitioningAttribute":"","prioritizers":[],"selectedRelationships":["success"],"source":{"comments":"","groupId":"a470593b-d20b-3ee9-bb56-774282e6fb6d","id":"36f8e3b6-a53c-30e5-a8b7-59bb0c2854de","name":"UpdateAttribute","type":"PROCESSOR"},"zIndex":0},{"backPressureDataSizeThreshold":"1 GB","backPressureObjectThreshold":10000,"bends":[],"componentType":"CONNECTION","destination":{"comments":"","groupId":"a470593b-d20b-3ee9-bb56-774282e6fb6d","id":"58c23680-278c-348c-b330-7be23fa4b484","name":"Funnel","type":"FUNNEL"},"flowFileExpiration":"0 sec","groupIdentifier":"a470593b-d20b-3ee9-bb56-774282e6fb6d","identifier":"54c77b81-775d-304c-bdf7-d18184241386","labelIndex":1,"loadBalanceCompression":"DO_NOT_COMPRESS","loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","name":"","partitioningAttribute":"","prioritizers":[],"selectedRelationships":["success"],"source":{"comments":"","groupId":"a470593b-d20b-3ee9-bb56-774282e6fb6d","id":"e58637b8-8d22-39c5-85aa-7fea2ebf441b","name":"CompressContent","type":"PROCESSOR"},"zIndex":0},{"backPressureDataSizeThreshold":"1 GB","backPressureObjectThreshold":10000,"bends":[],"componentType":"CONNECTION","destination":{"comments":"","groupId":"a470593b-d20b-3ee9-bb56-774282e6fb6d","id":"8014af94-1efd-338f-a0fe-9f8db7cc8e3f","name":"Funnel","type":"FUNNEL"},"flowFileExpiration":"24 hr","groupIdentifier":"a470593b-d20b-3ee9-bb56-774282e6fb6d","identifier":"9fce27a6-944e-3dd2-bce4-561859096ea1","labelIndex":1,"loadBalanceCompression":"DO_NOT_COMPRESS","loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","name":"","partitioningAttribute":"","prioritizers":[],"selectedRelationships":["success"],"source":{"comments":"","groupId":"a470593b-d20b-3ee9-bb56-774282e6fb6d","id":"0127df33-ee1f-3de1-8c79-109837295fa6","name":"toInfoSecS3Bucket_new_PRD_LZ","type":"PROCESSOR"},"zIndex":0},{"backPressureDataSizeThreshold":"1 GB","backPressureObjectThreshold":10000,"bends":[],"componentType":"CONNECTION","destination":{"comments":"","groupId":"a470593b-d20b-3ee9-bb56-774282e6fb6d","id":"36f8e3b6-a53c-30e5-a8b7-59bb0c2854de","name":"UpdateAttribute","type":"PROCESSOR"},"flowFileExpiration":"0 sec","groupIdentifier":"a470593b-d20b-3ee9-bb56-774282e6fb6d","identifier":"b5addd24-f074-3bb1-972f-59cbb49d91b9","labelIndex":1,"loadBalanceCompression":"DO_NOT_COMPRESS","loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","name":"","partitioningAttribute":"","prioritizers":[],"selectedRelationships":["success"],"source":{"comments":"","groupId":"a470593b-d20b-3ee9-bb56-774282e6fb6d","id":"6de80e2a-bae6-3bd1-acdd-dff22e2414c6","name":"ReplaceText","type":"PROCESSOR"},"zIndex":0},{"backPressureDataSizeThreshold":"1 GB","backPressureObjectThreshold":10000,"bends":[],"componentType":"CONNECTION","destination":{"comments":"","groupId":"55760617-9951-3985-813f-58b9a0a3ef4f","id":"dd27b5e5-b445-3283-8958-df4ac03562bf","name":"data","type":"INPUT_PORT"},"flowFileExpiration":"0 sec","groupIdentifier":"a470593b-d20b-3ee9-bb56-774282e6fb6d","identifier":"fa9b3c29-8a31-3ddb-958a-35d8cccbffe4","labelIndex":1,"loadBalanceCompression":"DO_NOT_COMPRESS","loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","name":"","partitioningAttribute":"","prioritizers":[],"selectedRelationships":["failure"],"source":{"comments":"","groupId":"a470593b-d20b-3ee9-bb56-774282e6fb6d","id":"56cc0efd-525a-3a41-8b98-aeb4a8bc03aa","name":"toInfoSecS3Bucket_new_DEV_LZ","type":"PROCESSOR"},"zIndex":0},{"backPressureDataSizeThreshold":"1 GB","backPressureObjectThreshold":10000,"bends":[],"componentType":"CONNECTION","destination":{"comments":"","groupId":"a470593b-d20b-3ee9-bb56-774282e6fb6d","id":"e58637b8-8d22-39c5-85aa-7fea2ebf441b","name":"CompressContent","type":"PROCESSOR"},"flowFileExpiration":"0 sec","groupIdentifier":"a470593b-d20b-3ee9-bb56-774282e6fb6d","identifier":"2d171238-c501-34c4-a591-6fa4a44c6816","labelIndex":1,"loadBalanceCompression":"DO_NOT_COMPRESS","loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","name":"","partitioningAttribute":"","prioritizers":[],"selectedRelationships":["success"],"source":{"comments":"","groupId":"a470593b-d20b-3ee9-bb56-774282e6fb6d","id":"a6168a79-34fd-393a-9a99-beb0abc0a3f0","name":"UpdateAttribute","type":"PROCESSOR"},"zIndex":0},{"backPressureDataSizeThreshold":"1 GB","backPressureObjectThreshold":10000,"bends":[],"componentType":"CONNECTION","destination":{"comments":"","groupId":"a470593b-d20b-3ee9-bb56-774282e6fb6d","id":"8014af94-1efd-338f-a0fe-9f8db7cc8e3f","name":"Funnel","type":"FUNNEL"},"flowFileExpiration":"24 hr","groupIdentifier":"a470593b-d20b-3ee9-bb56-774282e6fb6d","identifier":"95beaea1-46e0-3596-8c7a-5bd771c2b077","labelIndex":1,"loadBalanceCompression":"DO_NOT_COMPRESS","loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","name":"","partitioningAttribute":"","prioritizers":[],"selectedRelationships":["success"],"source":{"comments":"","groupId":"a470593b-d20b-3ee9-bb56-774282e6fb6d","id":"56cc0efd-525a-3a41-8b98-aeb4a8bc03aa","name":"toInfoSecS3Bucket_new_DEV_LZ","type":"PROCESSOR"},"zIndex":0},{"backPressureDataSizeThreshold":"1 GB","backPressureObjectThreshold":10000,"bends":[],"componentType":"CONNECTION","destination":{"comments":"","groupId":"a470593b-d20b-3ee9-bb56-774282e6fb6d","id":"6de80e2a-bae6-3bd1-acdd-dff22e2414c6","name":"ReplaceText","type":"PROCESSOR"},"flowFileExpiration":"0 sec","groupIdentifier":"a470593b-d20b-3ee9-bb56-774282e6fb6d","identifier":"38764e6e-f729-33e4-8ed1-106d2712e947","labelIndex":1,"loadBalanceCompression":"DO_NOT_COMPRESS","loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","name":"","partitioningAttribute":"","prioritizers":[],"selectedRelationships":[""],"source":{"comments":"","groupId":"a470593b-d20b-3ee9-bb56-774282e6fb6d","id":"8271a318-c2b8-34ac-ad03-d91e7630efe0","name":"Tessian Benchmark Logs","type":"INPUT_PORT"},"zIndex":0},{"backPressureDataSizeThreshold":"1 GB","backPressureObjectThreshold":10000,"bends":[],"componentType":"CONNECTION","destination":{"comments":"","groupId":"a470593b-d20b-3ee9-bb56-774282e6fb6d","id":"9dfdf7eb-453d-3344-86a7-ab1e59fd60dd","name":"Funnel","type":"FUNNEL"},"flowFileExpiration":"0 sec","groupIdentifier":"a470593b-d20b-3ee9-bb56-774282e6fb6d","identifier":"96cf8c9b-0a67-36d1-b7f5-6271680a9644","labelIndex":1,"loadBalanceCompression":"DO_NOT_COMPRESS","loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","name":"","partitioningAttribute":"","prioritizers":[],"selectedRelationships":["failure"],"source":{"comments":"","groupId":"a470593b-d20b-3ee9-bb56-774282e6fb6d","id":"6de80e2a-bae6-3bd1-acdd-dff22e2414c6","name":"ReplaceText","type":"PROCESSOR"},"zIndex":0},{"backPressureDataSizeThreshold":"1 GB","backPressureObjectThreshold":10000,"bends":[],"componentType":"CONNECTION","destination":{"comments":"","groupId":"a470593b-d20b-3ee9-bb56-774282e6fb6d","id":"a6168a79-34fd-393a-9a99-beb0abc0a3f0","name":"UpdateAttribute","type":"PROCESSOR"},"flowFileExpiration":"0 sec","groupIdentifier":"a470593b-d20b-3ee9-bb56-774282e6fb6d","identifier":"66e77b5c-6d4a-3b43-a11d-4646ac572a82","labelIndex":1,"loadBalanceCompression":"DO_NOT_COMPRESS","loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","name":"","partitioningAttribute":"","prioritizers":[],"selectedRelationships":["success"],"source":{"comments":"","groupId":"a470593b-d20b-3ee9-bb56-774282e6fb6d","id":"f0b0b064-cd2d-3233-9f12-c9a1e5e44ffe","name":"UpdateRecord","type":"PROCESSOR"},"zIndex":0},{"backPressureDataSizeThreshold":"1 GB","backPressureObjectThreshold":10000,"bends":[{"x":860.2641133770278,"y":1150.4282712509814}],"componentType":"CONNECTION","destination":{"comments":"","groupId":"a470593b-d20b-3ee9-bb56-774282e6fb6d","id":"754e92cf-e15b-3209-a583-be61d556f5c7","name":"toInfoSecS3Bucket","type":"PROCESSOR"},"flowFileExpiration":"0 sec","groupIdentifier":"a470593b-d20b-3ee9-bb56-774282e6fb6d","identifier":"9336fb62-cea6-362c-89ca-043b8c344c9c","labelIndex":1,"loadBalanceCompression":"DO_NOT_COMPRESS","loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","name":"","partitioningAttribute":"","prioritizers":[],"selectedRelationships":[""],"source":{"comments":"Items sent to this port have not yet exceeded the maximum retry count.","groupId":"ef7f31f1-74aa-31ba-9ee6-d9425674426d","id":"8a9c0740-f38f-3f7b-b751-0cb5523562a2","name":"retry","type":"OUTPUT_PORT"},"zIndex":0},{"backPressureDataSizeThreshold":"1 GB","backPressureObjectThreshold":10000,"bends":[],"componentType":"CONNECTION","destination":{"comments":"","groupId":"a470593b-d20b-3ee9-bb56-774282e6fb6d","id":"0127df33-ee1f-3de1-8c79-109837295fa6","name":"toInfoSecS3Bucket_new_PRD_LZ","type":"PROCESSOR"},"flowFileExpiration":"24 hr","groupIdentifier":"a470593b-d20b-3ee9-bb56-774282e6fb6d","identifier":"ff1e1acb-bc94-3a25-a425-edf1a9b97925","labelIndex":1,"loadBalanceCompression":"DO_NOT_COMPRESS","loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","name":"","partitioningAttribute":"","prioritizers":[],"selectedRelationships":[""],"source":{"comments":"","groupId":"a470593b-d20b-3ee9-bb56-774282e6fb6d","id":"58c23680-278c-348c-b330-7be23fa4b484","name":"Funnel","type":"FUNNEL"},"zIndex":0},{"backPressureDataSizeThreshold":"1 GB","backPressureObjectThreshold":10000,"bends":[],"componentType":"CONNECTION","destination":{"comments":"","groupId":"a470593b-d20b-3ee9-bb56-774282e6fb6d","id":"a50140a0-5158-3c10-85e5-d07f5f83924b","name":"Funnel","type":"FUNNEL"},"flowFileExpiration":"0 sec","groupIdentifier":"a470593b-d20b-3ee9-bb56-774282e6fb6d","identifier":"0d5a6cb0-9024-30f2-8831-5d3e65888f65","labelIndex":1,"loadBalanceCompression":"DO_NOT_COMPRESS","loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","name":"","partitioningAttribute":"","prioritizers":[],"selectedRelationships":["failure"],"source":{"comments":"","groupId":"a470593b-d20b-3ee9-bb56-774282e6fb6d","id":"e58637b8-8d22-39c5-85aa-7fea2ebf441b","name":"CompressContent","type":"PROCESSOR"},"zIndex":0},{"backPressureDataSizeThreshold":"1 GB","backPressureObjectThreshold":10000,"bends":[],"componentType":"CONNECTION","destination":{"comments":"","groupId":"a470593b-d20b-3ee9-bb56-774282e6fb6d","id":"fa5e2505-38d0-316a-96fb-92c4e83a8542","name":"Funnel","type":"FUNNEL"},"flowFileExpiration":"24 hr","groupIdentifier":"a470593b-d20b-3ee9-bb56-774282e6fb6d","identifier":"7244d4f5-6bc0-30d1-a4db-476a4878a71a","labelIndex":1,"loadBalanceCompression":"DO_NOT_COMPRESS","loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","name":"","partitioningAttribute":"","prioritizers":[],"selectedRelationships":["success"],"source":{"comments":"","groupId":"a470593b-d20b-3ee9-bb56-774282e6fb6d","id":"754e92cf-e15b-3209-a583-be61d556f5c7","name":"toInfoSecS3Bucket","type":"PROCESSOR"},"zIndex":0},{"backPressureDataSizeThreshold":"1 GB","backPressureObjectThreshold":10000,"bends":[{"x":988.2641133770278,"y":1886.4282712509814}],"componentType":"CONNECTION","destination":{"comments":"","groupId":"a470593b-d20b-3ee9-bb56-774282e6fb6d","id":"0127df33-ee1f-3de1-8c79-109837295fa6","name":"toInfoSecS3Bucket_new_PRD_LZ","type":"PROCESSOR"},"flowFileExpiration":"0 sec","groupIdentifier":"a470593b-d20b-3ee9-bb56-774282e6fb6d","identifier":"7cc110e5-430a-326a-af8b-5000b91c0152","labelIndex":1,"loadBalanceCompression":"DO_NOT_COMPRESS","loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","name":"","partitioningAttribute":"","prioritizers":[],"selectedRelationships":[""],"source":{"comments":"Items sent to this port have not yet exceeded the maximum retry count.","groupId":"afc1cef8-5bdf-3a2a-b173-3fe625bb3b66","id":"8a9c0740-f38f-3f7b-b751-0cb5523562a2","name":"retry","type":"OUTPUT_PORT"},"zIndex":0},{"backPressureDataSizeThreshold":"1 GB","backPressureObjectThreshold":10000,"bends":[],"componentType":"CONNECTION","destination":{"comments":"","groupId":"a470593b-d20b-3ee9-bb56-774282e6fb6d","id":"6de80e2a-bae6-3bd1-acdd-dff22e2414c6","name":"ReplaceText","type":"PROCESSOR"},"flowFileExpiration":"0 sec","groupIdentifier":"a470593b-d20b-3ee9-bb56-774282e6fb6d","identifier":"85dcc419-4baa-3fe0-8e4a-58d50e6660f4","labelIndex":1,"loadBalanceCompression":"DO_NOT_COMPRESS","loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","name":"","partitioningAttribute":"","prioritizers":[],"selectedRelationships":[""],"source":{"comments":"","groupId":"a470593b-d20b-3ee9-bb56-774282e6fb6d","id":"d51633f7-dfc8-37a0-ac55-e2844895df48","name":"Tessian Schroders Logs","type":"INPUT_PORT"},"zIndex":0}],"controllerServices":[{"bundle":{"artifact":"nifi-record-serialization-services-nar","group":"org.apache.nifi","version":"1.12.1"},"comments":"","componentType":"CONTROLLER_SERVICE","controllerServiceApis":[{"bundle":{"artifact":"nifi-standard-services-api-nar","group":"org.apache.nifi","version":"1.12.1"},"type":"org.apache.nifi.serialization.RecordReaderFactory"}],"groupIdentifier":"a470593b-d20b-3ee9-bb56-774282e6fb6d","identifier":"1e976359-87c5-3deb-866e-a990e8c99ed6","name":"JsonTreeReader","properties":{"schema-name":"${tessianmodule}","schema-access-strategy":"infer-schema","schema-text":"${avro.schema}"},"propertyDescriptors":{"Timestamp Format":{"displayName":"Timestamp Format","identifiesControllerService":false,"name":"Timestamp Format","sensitive":false},"schema-inference-cache":{"displayName":"Schema Inference Cache","identifiesControllerService":true,"name":"schema-inference-cache","sensitive":false},"Date Format":{"displayName":"Date Format","identifiesControllerService":false,"name":"Date Format","sensitive":false},"schema-branch":{"displayName":"Schema Branch","identifiesControllerService":false,"name":"schema-branch","sensitive":false},"schema-name":{"displayName":"Schema Name","identifiesControllerService":false,"name":"schema-name","sensitive":false},"schema-registry":{"displayName":"Schema Registry","identifiesControllerService":true,"name":"schema-registry","sensitive":false},"Time Format":{"displayName":"Time Format","identifiesControllerService":false,"name":"Time Format","sensitive":false},"schema-access-strategy":{"displayName":"Schema Access Strategy","identifiesControllerService":false,"name":"schema-access-strategy","sensitive":false},"schema-version":{"displayName":"Schema Version","identifiesControllerService":false,"name":"schema-version","sensitive":false},"schema-text":{"displayName":"Schema Text","identifiesControllerService":false,"name":"schema-text","sensitive":false}},"type":"org.apache.nifi.json.JsonTreeReader"},{"bundle":{"artifact":"nifi-record-serialization-services-nar","group":"org.apache.nifi","version":"1.12.1"},"comments":"","componentType":"CONTROLLER_SERVICE","controllerServiceApis":[{"bundle":{"artifact":"nifi-standard-services-api-nar","group":"org.apache.nifi","version":"1.12.1"},"type":"org.apache.nifi.serialization.RecordSetWriterFactory"}],"groupIdentifier":"a470593b-d20b-3ee9-bb56-774282e6fb6d","identifier":"533f6bb7-238c-33b7-ae8d-41edf7b68bed","name":"JsonRecordSetWriter","properties":{"compression-level":"1","Pretty Print JSON":"false","compression-format":"none","Schema Write Strategy":"no-schema","suppress-nulls":"never-suppress","output-grouping":"output-array","schema-name":"${schema.name}","schema-access-strategy":"inherit-record-schema","schema-protocol-version":"1","schema-text":"${avro.schema}"},"propertyDescriptors":{"schema-branch":{"displayName":"Schema Branch","identifiesControllerService":false,"name":"schema-branch","sensitive":false},"compression-level":{"displayName":"Compression Level","identifiesControllerService":false,"name":"compression-level","sensitive":false},"schema-cache":{"displayName":"Schema Cache","identifiesControllerService":true,"name":"schema-cache","sensitive":false},"Timestamp Format":{"displayName":"Timestamp Format","identifiesControllerService":false,"name":"Timestamp Format","sensitive":false},"Date Format":{"displayName":"Date Format","identifiesControllerService":false,"name":"Date Format","sensitive":false},"Pretty Print JSON":{"displayName":"Pretty Print JSON","identifiesControllerService":false,"name":"Pretty Print JSON","sensitive":false},"compression-format":{"displayName":"Compression Format","identifiesControllerService":false,"name":"compression-format","sensitive":false},"Schema Write Strategy":{"displayName":"Schema Write Strategy","identifiesControllerService":false,"name":"Schema Write Strategy","sensitive":false},"suppress-nulls":{"displayName":"Suppress Null Values","identifiesControllerService":false,"name":"suppress-nulls","sensitive":false},"output-grouping":{"displayName":"Output Grouping","identifiesControllerService":false,"name":"output-grouping","sensitive":false},"schema-name":{"displayName":"Schema Name","identifiesControllerService":false,"name":"schema-name","sensitive":false},"schema-registry":{"displayName":"Schema Registry","identifiesControllerService":true,"name":"schema-registry","sensitive":false},"Time Format":{"displayName":"Time Format","identifiesControllerService":false,"name":"Time Format","sensitive":false},"schema-access-strategy":{"displayName":"Schema Access Strategy","identifiesControllerService":false,"name":"schema-access-strategy","sensitive":false},"schema-protocol-version":{"displayName":"Schema Protocol Version","identifiesControllerService":false,"name":"schema-protocol-version","sensitive":false},"schema-version":{"displayName":"Schema Version","identifiesControllerService":false,"name":"schema-version","sensitive":false},"schema-text":{"displayName":"Schema Text","identifiesControllerService":false,"name":"schema-text","sensitive":false}},"type":"org.apache.nifi.json.JsonRecordSetWriter"}],"flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","funnels":[{"componentType":"FUNNEL","groupIdentifier":"a470593b-d20b-3ee9-bb56-774282e6fb6d","identifier":"9dfdf7eb-453d-3344-86a7-ab1e59fd60dd","position":{"x":564.2641133770278,"y":-185.57172874901863}},{"componentType":"FUNNEL","groupIdentifier":"a470593b-d20b-3ee9-bb56-774282e6fb6d","identifier":"fa5e2505-38d0-316a-96fb-92c4e83a8542","position":{"x":660.2641133770278,"y":1518.4282712509814}},{"componentType":"FUNNEL","groupIdentifier":"a470593b-d20b-3ee9-bb56-774282e6fb6d","identifier":"58c23680-278c-348c-b330-7be23fa4b484","position":{"x":60.2641133770278,"y":1630.4282712509814}},{"componentType":"FUNNEL","groupIdentifier":"a470593b-d20b-3ee9-bb56-774282e6fb6d","identifier":"8014af94-1efd-338f-a0fe-9f8db7cc8e3f","position":{"x":732.2641133770278,"y":1846.4282712509814}},{"componentType":"FUNNEL","groupIdentifier":"a470593b-d20b-3ee9-bb56-774282e6fb6d","identifier":"a50140a0-5158-3c10-85e5-d07f5f83924b","position":{"x":764.2641133770278,"y":758.4282712509814}}],"identifier":"a470593b-d20b-3ee9-bb56-774282e6fb6d","inputPorts":[{"allowRemoteAccess":false,"comments":"","componentType":"INPUT_PORT","concurrentlySchedulableTaskCount":1,"groupIdentifier":"a470593b-d20b-3ee9-bb56-774282e6fb6d","identifier":"d51633f7-dfc8-37a0-ac55-e2844895df48","name":"Tessian Schroders Logs","position":{"x":-763.7358866229722,"y":-145.57172874901863},"type":"INPUT_PORT"},{"allowRemoteAccess":false,"comments":"","componentType":"INPUT_PORT","concurrentlySchedulableTaskCount":1,"groupIdentifier":"a470593b-d20b-3ee9-bb56-774282e6fb6d","identifier":"8271a318-c2b8-34ac-ad03-d91e7630efe0","name":"Tessian Benchmark Logs","position":{"x":-763.7358866229722,"y":14.428271250981368},"type":"INPUT_PORT"}],"labels":[{"componentType":"LABEL","groupIdentifier":"a470593b-d20b-3ee9-bb56-774282e6fb6d","height":200.0,"identifier":"f5bf207f-a864-3f6c-ba4a-75d6f4bd47a1","label":"The New Dev AWS S3 LZ was turned off on 2025-01-16 \nThe Old SBX AWS S3 LZ had already been turned off earlier\nAll necessary data sources are being delivered to, and should be consumed from  \nthe New Prod LZ","position":{"x":332.2641133770278,"y":1550.4282712509814},"style":{"font-size":"12px"},"width":480.0}],"name":"Infosec_S3","outputPorts":[],"position":{"x":552.0,"y":-112.0},"processGroups":[{"comments":"This flow will track how many times a given flow file routes through it.  If the number of times exceeds a specific maximum then it will route to the 'limit exceeded' port.  Otherwise it will route to 'retry'.\n\nThe attributes it uses are 'retry.counter' and 'retry.maxcount'.  If the 'retry.maxcount' is specified on a given flowfile then it will be honored.  Otherwise a default of '3' is set as the maximum retry count.\n\nAs the flowfile goes through this flow it increments the 'retry.maxcount' attribute by 1.  It then checks if this value exceeds 'retry.maxcount' and if so then it routes the flowfile to 'limit exceeded' otherwise it routes to 'retry'.\n\nSo you can configure the 'retry' relationship to loop back to the process you want and you can send the 'limit exceeded' to move on from that process to something else.","componentType":"PROCESS_GROUP","connections":[{"backPressureDataSizeThreshold":"0 MB","backPressureObjectThreshold":10,"bends":[],"componentType":"CONNECTION","destination":{"comments":"","groupId":"ef7f31f1-74aa-31ba-9ee6-d9425674426d","id":"260ae67a-744b-3122-ab46-999ee9b823a8","name":"Set retry counter","type":"PROCESSOR"},"flowFileExpiration":"0 sec","groupIdentifier":"ef7f31f1-74aa-31ba-9ee6-d9425674426d","identifier":"13145387-c758-3a61-bd51-4dd5963ed52f","labelIndex":1,"loadBalanceCompression":"DO_NOT_COMPRESS","loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","name":"","partitioningAttribute":"","prioritizers":[],"selectedRelationships":[""],"source":{"comments":"","groupId":"ef7f31f1-74aa-31ba-9ee6-d9425674426d","id":"dd27b5e5-b445-3283-8958-df4ac03562bf","name":"data","type":"INPUT_PORT"},"zIndex":0},{"backPressureDataSizeThreshold":"1 GB","backPressureObjectThreshold":100000,"bends":[],"componentType":"CONNECTION","destination":{"comments":"","groupId":"ef7f31f1-74aa-31ba-9ee6-d9425674426d","id":"4ed64c34-cc43-3dd4-a3d7-08aa56483268","name":"Funnel","type":"FUNNEL"},"flowFileExpiration":"0 days","groupIdentifier":"ef7f31f1-74aa-31ba-9ee6-d9425674426d","identifier":"ccdc00ce-1031-3236-a675-e7dadaea27c3","labelIndex":1,"loadBalanceCompression":"DO_NOT_COMPRESS","loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","name":"","partitioningAttribute":"","prioritizers":[],"selectedRelationships":["unmatched"],"source":{"comments":"","groupId":"ef7f31f1-74aa-31ba-9ee6-d9425674426d","id":"01805251-b76d-33c2-a303-60c4ec160965","name":"Check Retry Count","type":"PROCESSOR"},"zIndex":0},{"backPressureDataSizeThreshold":"0 MB","backPressureObjectThreshold":10,"bends":[],"componentType":"CONNECTION","destination":{"comments":"Items sent to this port have not yet exceeded the maximum retry count.","groupId":"ef7f31f1-74aa-31ba-9ee6-d9425674426d","id":"8a9c0740-f38f-3f7b-b751-0cb5523562a2","name":"retry","type":"OUTPUT_PORT"},"flowFileExpiration":"0 sec","groupIdentifier":"ef7f31f1-74aa-31ba-9ee6-d9425674426d","identifier":"1c541ec6-f115-3818-8d50-49931b354dc5","labelIndex":1,"loadBalanceCompression":"DO_NOT_COMPRESS","loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","name":"","partitioningAttribute":"","prioritizers":[],"selectedRelationships":["Try again"],"source":{"comments":"","groupId":"ef7f31f1-74aa-31ba-9ee6-d9425674426d","id":"01805251-b76d-33c2-a303-60c4ec160965","name":"Check Retry Count","type":"PROCESSOR"},"zIndex":0},{"backPressureDataSizeThreshold":"0 MB","backPressureObjectThreshold":100,"bends":[],"componentType":"CONNECTION","destination":{"comments":"","groupId":"ef7f31f1-74aa-31ba-9ee6-d9425674426d","id":"01805251-b76d-33c2-a303-60c4ec160965","name":"Check Retry Count","type":"PROCESSOR"},"flowFileExpiration":"0 sec","groupIdentifier":"ef7f31f1-74aa-31ba-9ee6-d9425674426d","identifier":"2f2d6e42-bbf1-33eb-b5b3-037a32ca3587","labelIndex":1,"loadBalanceCompression":"DO_NOT_COMPRESS","loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","name":"","partitioningAttribute":"","prioritizers":[],"selectedRelationships":["success"],"source":{"comments":"","groupId":"ef7f31f1-74aa-31ba-9ee6-d9425674426d","id":"260ae67a-744b-3122-ab46-999ee9b823a8","name":"Set retry counter","type":"PROCESSOR"},"zIndex":0}],"controllerServices":[],"flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","funnels":[{"componentType":"FUNNEL","groupIdentifier":"ef7f31f1-74aa-31ba-9ee6-d9425674426d","identifier":"4ed64c34-cc43-3dd4-a3d7-08aa56483268","position":{"x":1055.5088557816625,"y":473.8863572898272}}],"groupIdentifier":"a470593b-d20b-3ee9-bb56-774282e6fb6d","identifier":"ef7f31f1-74aa-31ba-9ee6-d9425674426d","inputPorts":[{"allowRemoteAccess":false,"comments":"","componentType":"INPUT_PORT","concurrentlySchedulableTaskCount":1,"groupIdentifier":"ef7f31f1-74aa-31ba-9ee6-d9425674426d","identifier":"dd27b5e5-b445-3283-8958-df4ac03562bf","name":"data","position":{"x":418.0189879282432,"y":107.99999712137014},"type":"INPUT_PORT"}],"labels":[{"componentType":"LABEL","groupIdentifier":"ef7f31f1-74aa-31ba-9ee6-d9425674426d","height":84.0,"identifier":"1659e998-f815-3b09-af16-b2d585cdae6e","label":"Right click empty space -> group variables \nset max_retry variable","position":{"x":-194.96208164979453,"y":124.19798271082527},"style":{"font-size":"24px"},"width":541.9999847412109}],"name":"Copy of Retry Check Loop","outputPorts":[{"allowRemoteAccess":false,"comments":"Items sent to this port have not yet exceeded the maximum retry count.","componentType":"OUTPUT_PORT","concurrentlySchedulableTaskCount":1,"groupIdentifier":"ef7f31f1-74aa-31ba-9ee6-d9425674426d","identifier":"8a9c0740-f38f-3f7b-b751-0cb5523562a2","name":"retry","position":{"x":-191.96208259025042,"y":467.8863572898272},"type":"OUTPUT_PORT"}],"position":{"x":1172.2641133770278,"y":1270.4282712509814},"processGroups":[],"processors":[{"autoTerminatedRelationships":[],"bulletinLevel":"WARN","bundle":{"artifact":"nifi-standard-nar","group":"org.apache.nifi","version":"1.12.1"},"comments":"","componentType":"PROCESSOR","concurrentlySchedulableTaskCount":1,"executionNode":"ALL","groupIdentifier":"ef7f31f1-74aa-31ba-9ee6-d9425674426d","identifier":"01805251-b76d-33c2-a303-60c4ec160965","name":"Check Retry Count","penaltyDuration":"30 sec","position":{"x":363.0189879282432,"y":432.8863572898272},"properties":{"Routing Strategy":"Route to Property name","Try again":"${retry.counter:le('${retry.maxcount}')}"},"propertyDescriptors":{"Routing Strategy":{"displayName":"Routing Strategy","identifiesControllerService":false,"name":"Routing Strategy","sensitive":false},"Try again":{"displayName":"Try again","identifiesControllerService":false,"name":"Try again","sensitive":false}},"runDurationMillis":0,"scheduledState":"DISABLED","schedulingPeriod":"30 s","schedulingStrategy":"TIMER_DRIVEN","style":{},"type":"org.apache.nifi.processors.standard.RouteOnAttribute","yieldDuration":"1 sec"},{"autoTerminatedRelationships":[],"bulletinLevel":"WARN","bundle":{"artifact":"nifi-update-attribute-nar","group":"org.apache.nifi","version":"1.12.1"},"comments":"","componentType":"PROCESSOR","concurrentlySchedulableTaskCount":1,"executionNode":"ALL","groupIdentifier":"ef7f31f1-74aa-31ba-9ee6-d9425674426d","identifier":"260ae67a-744b-3122-ab46-999ee9b823a8","name":"Set retry counter","penaltyDuration":"30 sec","position":{"x":363.01898792824323,"y":218.00000475076467},"properties":{"Store State":"Do not store state","canonical-value-lookup-cache-size":"100","retry.maxcount":"${retry.maxcount:replaceNull(${max_retry})}","retry.counter":"${retry.counter:replaceNull('0'):plus(1)}"},"propertyDescriptors":{"Delete Attributes Expression":{"displayName":"Delete Attributes Expression","identifiesControllerService":false,"name":"Delete Attributes Expression","sensitive":false},"Store State":{"displayName":"Store State","identifiesControllerService":false,"name":"Store State","sensitive":false},"canonical-value-lookup-cache-size":{"displayName":"Cache Value Lookup Cache Size","identifiesControllerService":false,"name":"canonical-value-lookup-cache-size","sensitive":false},"retry.maxcount":{"displayName":"retry.maxcount","identifiesControllerService":false,"name":"retry.maxcount","sensitive":false},"Stateful Variables Initial Value":{"displayName":"Stateful Variables Initial Value","identifiesControllerService":false,"name":"Stateful Variables Initial Value","sensitive":false},"retry.counter":{"displayName":"retry.counter","identifiesControllerService":false,"name":"retry.counter","sensitive":false}},"runDurationMillis":0,"scheduledState":"DISABLED","schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","style":{},"type":"org.apache.nifi.processors.attributes.UpdateAttribute","yieldDuration":"1 sec"}],"remoteProcessGroups":[],"variables":{"max_retry":"5"}},{"comments":"This flow will track how many times a given flow file routes through it.  If the number of times exceeds a specific maximum then it will route to the 'limit exceeded' port.  Otherwise it will route to 'retry'.\n\nThe attributes it uses are 'retry.counter' and 'retry.maxcount'.  If the 'retry.maxcount' is specified on a given flowfile then it will be honored.  Otherwise a default of '3' is set as the maximum retry count.\n\nAs the flowfile goes through this flow it increments the 'retry.maxcount' attribute by 1.  It then checks if this value exceeds 'retry.maxcount' and if so then it routes the flowfile to 'limit exceeded' otherwise it routes to 'retry'.\n\nSo you can configure the 'retry' relationship to loop back to the process you want and you can send the 'limit exceeded' to move on from that process to something else.","componentType":"PROCESS_GROUP","connections":[{"backPressureDataSizeThreshold":"0 MB","backPressureObjectThreshold":10,"bends":[],"componentType":"CONNECTION","destination":{"comments":"","groupId":"afc1cef8-5bdf-3a2a-b173-3fe625bb3b66","id":"260ae67a-744b-3122-ab46-999ee9b823a8","name":"Set retry counter","type":"PROCESSOR"},"flowFileExpiration":"0 sec","groupIdentifier":"afc1cef8-5bdf-3a2a-b173-3fe625bb3b66","identifier":"13145387-c758-3a61-bd51-4dd5963ed52f","labelIndex":1,"loadBalanceCompression":"DO_NOT_COMPRESS","loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","name":"","partitioningAttribute":"","prioritizers":[],"selectedRelationships":[""],"source":{"comments":"","groupId":"afc1cef8-5bdf-3a2a-b173-3fe625bb3b66","id":"dd27b5e5-b445-3283-8958-df4ac03562bf","name":"data","type":"INPUT_PORT"},"zIndex":0},{"backPressureDataSizeThreshold":"1 GB","backPressureObjectThreshold":100000,"bends":[],"componentType":"CONNECTION","destination":{"comments":"","groupId":"afc1cef8-5bdf-3a2a-b173-3fe625bb3b66","id":"4ed64c34-cc43-3dd4-a3d7-08aa56483268","name":"Funnel","type":"FUNNEL"},"flowFileExpiration":"0 days","groupIdentifier":"afc1cef8-5bdf-3a2a-b173-3fe625bb3b66","identifier":"ccdc00ce-1031-3236-a675-e7dadaea27c3","labelIndex":1,"loadBalanceCompression":"DO_NOT_COMPRESS","loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","name":"","partitioningAttribute":"","prioritizers":[],"selectedRelationships":["unmatched"],"source":{"comments":"","groupId":"afc1cef8-5bdf-3a2a-b173-3fe625bb3b66","id":"01805251-b76d-33c2-a303-60c4ec160965","name":"Check Retry Count","type":"PROCESSOR"},"zIndex":0},{"backPressureDataSizeThreshold":"0 MB","backPressureObjectThreshold":10,"bends":[],"componentType":"CONNECTION","destination":{"comments":"Items sent to this port have not yet exceeded the maximum retry count.","groupId":"afc1cef8-5bdf-3a2a-b173-3fe625bb3b66","id":"8a9c0740-f38f-3f7b-b751-0cb5523562a2","name":"retry","type":"OUTPUT_PORT"},"flowFileExpiration":"0 sec","groupIdentifier":"afc1cef8-5bdf-3a2a-b173-3fe625bb3b66","identifier":"1c541ec6-f115-3818-8d50-49931b354dc5","labelIndex":1,"loadBalanceCompression":"DO_NOT_COMPRESS","loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","name":"","partitioningAttribute":"","prioritizers":[],"selectedRelationships":["Try again"],"source":{"comments":"","groupId":"afc1cef8-5bdf-3a2a-b173-3fe625bb3b66","id":"01805251-b76d-33c2-a303-60c4ec160965","name":"Check Retry Count","type":"PROCESSOR"},"zIndex":0},{"backPressureDataSizeThreshold":"0 MB","backPressureObjectThreshold":100,"bends":[],"componentType":"CONNECTION","destination":{"comments":"","groupId":"afc1cef8-5bdf-3a2a-b173-3fe625bb3b66","id":"01805251-b76d-33c2-a303-60c4ec160965","name":"Check Retry Count","type":"PROCESSOR"},"flowFileExpiration":"0 sec","groupIdentifier":"afc1cef8-5bdf-3a2a-b173-3fe625bb3b66","identifier":"2f2d6e42-bbf1-33eb-b5b3-037a32ca3587","labelIndex":1,"loadBalanceCompression":"DO_NOT_COMPRESS","loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","name":"","partitioningAttribute":"","prioritizers":[],"selectedRelationships":["success"],"source":{"comments":"","groupId":"afc1cef8-5bdf-3a2a-b173-3fe625bb3b66","id":"260ae67a-744b-3122-ab46-999ee9b823a8","name":"Set retry counter","type":"PROCESSOR"},"zIndex":0}],"controllerServices":[],"flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","funnels":[{"componentType":"FUNNEL","groupIdentifier":"afc1cef8-5bdf-3a2a-b173-3fe625bb3b66","identifier":"4ed64c34-cc43-3dd4-a3d7-08aa56483268","position":{"x":1055.5088557816625,"y":473.8863572898272}}],"groupIdentifier":"a470593b-d20b-3ee9-bb56-774282e6fb6d","identifier":"afc1cef8-5bdf-3a2a-b173-3fe625bb3b66","inputPorts":[{"allowRemoteAccess":false,"comments":"","componentType":"INPUT_PORT","concurrentlySchedulableTaskCount":1,"groupIdentifier":"afc1cef8-5bdf-3a2a-b173-3fe625bb3b66","identifier":"dd27b5e5-b445-3283-8958-df4ac03562bf","name":"data","position":{"x":418.0189879282432,"y":107.99999712137014},"type":"INPUT_PORT"}],"labels":[{"componentType":"LABEL","groupIdentifier":"afc1cef8-5bdf-3a2a-b173-3fe625bb3b66","height":84.0,"identifier":"1659e998-f815-3b09-af16-b2d585cdae6e","label":"Right click empty space -> group variables \nset max_retry variable","position":{"x":-194.96208164979453,"y":124.19798271082527},"style":{"font-size":"24px"},"width":541.9999847412109}],"name":"Copy of Copy of Retry Check Loop","outputPorts":[{"allowRemoteAccess":false,"comments":"Items sent to this port have not yet exceeded the maximum retry count.","componentType":"OUTPUT_PORT","concurrentlySchedulableTaskCount":1,"groupIdentifier":"afc1cef8-5bdf-3a2a-b173-3fe625bb3b66","identifier":"8a9c0740-f38f-3f7b-b751-0cb5523562a2","name":"retry","position":{"x":-191.96208259025042,"y":467.8863572898272},"type":"OUTPUT_PORT"}],"position":{"x":1172.2641133770278,"y":1926.4282712509814},"processGroups":[],"processors":[{"autoTerminatedRelationships":[],"bulletinLevel":"WARN","bundle":{"artifact":"nifi-standard-nar","group":"org.apache.nifi","version":"1.12.1"},"comments":"","componentType":"PROCESSOR","concurrentlySchedulableTaskCount":1,"executionNode":"ALL","groupIdentifier":"afc1cef8-5bdf-3a2a-b173-3fe625bb3b66","identifier":"01805251-b76d-33c2-a303-60c4ec160965","name":"Check Retry Count","penaltyDuration":"30 sec","position":{"x":363.0189879282432,"y":432.8863572898272},"properties":{"Routing Strategy":"Route to Property name","Try again":"${retry.counter:le('${retry.maxcount}')}"},"propertyDescriptors":{"Routing Strategy":{"displayName":"Routing Strategy","identifiesControllerService":false,"name":"Routing Strategy","sensitive":false},"Try again":{"displayName":"Try again","identifiesControllerService":false,"name":"Try again","sensitive":false}},"runDurationMillis":0,"scheduledState":"ENABLED","schedulingPeriod":"30 s","schedulingStrategy":"TIMER_DRIVEN","style":{},"type":"org.apache.nifi.processors.standard.RouteOnAttribute","yieldDuration":"1 sec"},{"autoTerminatedRelationships":[],"bulletinLevel":"WARN","bundle":{"artifact":"nifi-update-attribute-nar","group":"org.apache.nifi","version":"1.12.1"},"comments":"","componentType":"PROCESSOR","concurrentlySchedulableTaskCount":1,"executionNode":"ALL","groupIdentifier":"afc1cef8-5bdf-3a2a-b173-3fe625bb3b66","identifier":"260ae67a-744b-3122-ab46-999ee9b823a8","name":"Set retry counter","penaltyDuration":"30 sec","position":{"x":363.01898792824323,"y":218.00000475076467},"properties":{"Store State":"Do not store state","canonical-value-lookup-cache-size":"100","retry.maxcount":"${retry.maxcount:replaceNull(${max_retry})}","retry.counter":"${retry.counter:replaceNull('0'):plus(1)}"},"propertyDescriptors":{"Delete Attributes Expression":{"displayName":"Delete Attributes Expression","identifiesControllerService":false,"name":"Delete Attributes Expression","sensitive":false},"Store State":{"displayName":"Store State","identifiesControllerService":false,"name":"Store State","sensitive":false},"canonical-value-lookup-cache-size":{"displayName":"Cache Value Lookup Cache Size","identifiesControllerService":false,"name":"canonical-value-lookup-cache-size","sensitive":false},"retry.maxcount":{"displayName":"retry.maxcount","identifiesControllerService":false,"name":"retry.maxcount","sensitive":false},"Stateful Variables Initial Value":{"displayName":"Stateful Variables Initial Value","identifiesControllerService":false,"name":"Stateful Variables Initial Value","sensitive":false},"retry.counter":{"displayName":"retry.counter","identifiesControllerService":false,"name":"retry.counter","sensitive":false}},"runDurationMillis":0,"scheduledState":"ENABLED","schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","style":{},"type":"org.apache.nifi.processors.attributes.UpdateAttribute","yieldDuration":"1 sec"}],"remoteProcessGroups":[],"variables":{"max_retry":"5"}},{"comments":"This flow will track how many times a given flow file routes through it.  If the number of times exceeds a specific maximum then it will route to the 'limit exceeded' port.  Otherwise it will route to 'retry'.\n\nThe attributes it uses are 'retry.counter' and 'retry.maxcount'.  If the 'retry.maxcount' is specified on a given flowfile then it will be honored.  Otherwise a default of '3' is set as the maximum retry count.\n\nAs the flowfile goes through this flow it increments the 'retry.maxcount' attribute by 1.  It then checks if this value exceeds 'retry.maxcount' and if so then it routes the flowfile to 'limit exceeded' otherwise it routes to 'retry'.\n\nSo you can configure the 'retry' relationship to loop back to the process you want and you can send the 'limit exceeded' to move on from that process to something else.","componentType":"PROCESS_GROUP","connections":[{"backPressureDataSizeThreshold":"0 MB","backPressureObjectThreshold":10,"bends":[],"componentType":"CONNECTION","destination":{"comments":"","groupId":"55760617-9951-3985-813f-58b9a0a3ef4f","id":"260ae67a-744b-3122-ab46-999ee9b823a8","name":"Set retry counter","type":"PROCESSOR"},"flowFileExpiration":"0 sec","groupIdentifier":"55760617-9951-3985-813f-58b9a0a3ef4f","identifier":"13145387-c758-3a61-bd51-4dd5963ed52f","labelIndex":1,"loadBalanceCompression":"DO_NOT_COMPRESS","loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","name":"","partitioningAttribute":"","prioritizers":[],"selectedRelationships":[""],"source":{"comments":"","groupId":"55760617-9951-3985-813f-58b9a0a3ef4f","id":"dd27b5e5-b445-3283-8958-df4ac03562bf","name":"data","type":"INPUT_PORT"},"zIndex":0},{"backPressureDataSizeThreshold":"1 GB","backPressureObjectThreshold":100000,"bends":[],"componentType":"CONNECTION","destination":{"comments":"","groupId":"55760617-9951-3985-813f-58b9a0a3ef4f","id":"4ed64c34-cc43-3dd4-a3d7-08aa56483268","name":"Funnel","type":"FUNNEL"},"flowFileExpiration":"0 days","groupIdentifier":"55760617-9951-3985-813f-58b9a0a3ef4f","identifier":"ccdc00ce-1031-3236-a675-e7dadaea27c3","labelIndex":1,"loadBalanceCompression":"DO_NOT_COMPRESS","loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","name":"","partitioningAttribute":"","prioritizers":[],"selectedRelationships":["unmatched"],"source":{"comments":"","groupId":"55760617-9951-3985-813f-58b9a0a3ef4f","id":"01805251-b76d-33c2-a303-60c4ec160965","name":"Check Retry Count","type":"PROCESSOR"},"zIndex":0},{"backPressureDataSizeThreshold":"0 MB","backPressureObjectThreshold":10,"bends":[],"componentType":"CONNECTION","destination":{"comments":"Items sent to this port have not yet exceeded the maximum retry count.","groupId":"55760617-9951-3985-813f-58b9a0a3ef4f","id":"8a9c0740-f38f-3f7b-b751-0cb5523562a2","name":"retry","type":"OUTPUT_PORT"},"flowFileExpiration":"0 sec","groupIdentifier":"55760617-9951-3985-813f-58b9a0a3ef4f","identifier":"1c541ec6-f115-3818-8d50-49931b354dc5","labelIndex":1,"loadBalanceCompression":"DO_NOT_COMPRESS","loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","name":"","partitioningAttribute":"","prioritizers":[],"selectedRelationships":["Try again"],"source":{"comments":"","groupId":"55760617-9951-3985-813f-58b9a0a3ef4f","id":"01805251-b76d-33c2-a303-60c4ec160965","name":"Check Retry Count","type":"PROCESSOR"},"zIndex":0},{"backPressureDataSizeThreshold":"0 MB","backPressureObjectThreshold":100,"bends":[],"componentType":"CONNECTION","destination":{"comments":"","groupId":"55760617-9951-3985-813f-58b9a0a3ef4f","id":"01805251-b76d-33c2-a303-60c4ec160965","name":"Check Retry Count","type":"PROCESSOR"},"flowFileExpiration":"0 sec","groupIdentifier":"55760617-9951-3985-813f-58b9a0a3ef4f","identifier":"2f2d6e42-bbf1-33eb-b5b3-037a32ca3587","labelIndex":1,"loadBalanceCompression":"DO_NOT_COMPRESS","loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","name":"","partitioningAttribute":"","prioritizers":[],"selectedRelationships":["success"],"source":{"comments":"","groupId":"55760617-9951-3985-813f-58b9a0a3ef4f","id":"260ae67a-744b-3122-ab46-999ee9b823a8","name":"Set retry counter","type":"PROCESSOR"},"zIndex":0}],"controllerServices":[],"flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","funnels":[{"componentType":"FUNNEL","groupIdentifier":"55760617-9951-3985-813f-58b9a0a3ef4f","identifier":"4ed64c34-cc43-3dd4-a3d7-08aa56483268","position":{"x":1055.5088557816625,"y":473.8863572898272}}],"groupIdentifier":"a470593b-d20b-3ee9-bb56-774282e6fb6d","identifier":"55760617-9951-3985-813f-58b9a0a3ef4f","inputPorts":[{"allowRemoteAccess":false,"comments":"","componentType":"INPUT_PORT","concurrentlySchedulableTaskCount":1,"groupIdentifier":"55760617-9951-3985-813f-58b9a0a3ef4f","identifier":"dd27b5e5-b445-3283-8958-df4ac03562bf","name":"data","position":{"x":418.0189879282432,"y":107.99999712137014},"type":"INPUT_PORT"}],"labels":[{"componentType":"LABEL","groupIdentifier":"55760617-9951-3985-813f-58b9a0a3ef4f","height":84.0,"identifier":"1659e998-f815-3b09-af16-b2d585cdae6e","label":"Right click empty space -> group variables \nset max_retry variable","position":{"x":-194.96208164979453,"y":124.19798271082527},"style":{"font-size":"24px"},"width":541.9999847412109}],"name":"Retry Check Loop","outputPorts":[{"allowRemoteAccess":false,"comments":"Items sent to this port have not yet exceeded the maximum retry count.","componentType":"OUTPUT_PORT","concurrentlySchedulableTaskCount":1,"groupIdentifier":"55760617-9951-3985-813f-58b9a0a3ef4f","identifier":"8a9c0740-f38f-3f7b-b751-0cb5523562a2","name":"retry","position":{"x":-191.96208259025042,"y":467.8863572898272},"type":"OUTPUT_PORT"}],"position":{"x":1172.2641133770278,"y":1582.4282712509814},"processGroups":[],"processors":[{"autoTerminatedRelationships":[],"bulletinLevel":"WARN","bundle":{"artifact":"nifi-standard-nar","group":"org.apache.nifi","version":"1.12.1"},"comments":"","componentType":"PROCESSOR","concurrentlySchedulableTaskCount":1,"executionNode":"ALL","groupIdentifier":"55760617-9951-3985-813f-58b9a0a3ef4f","identifier":"01805251-b76d-33c2-a303-60c4ec160965","name":"Check Retry Count","penaltyDuration":"30 sec","position":{"x":363.0189879282432,"y":432.8863572898272},"properties":{"Routing Strategy":"Route to Property name","Try again":"${retry.counter:le('${retry.maxcount}')}"},"propertyDescriptors":{"Routing Strategy":{"displayName":"Routing Strategy","identifiesControllerService":false,"name":"Routing Strategy","sensitive":false},"Try again":{"displayName":"Try again","identifiesControllerService":false,"name":"Try again","sensitive":false}},"runDurationMillis":0,"scheduledState":"DISABLED","schedulingPeriod":"30 s","schedulingStrategy":"TIMER_DRIVEN","style":{},"type":"org.apache.nifi.processors.standard.RouteOnAttribute","yieldDuration":"1 sec"},{"autoTerminatedRelationships":[],"bulletinLevel":"WARN","bundle":{"artifact":"nifi-update-attribute-nar","group":"org.apache.nifi","version":"1.12.1"},"comments":"","componentType":"PROCESSOR","concurrentlySchedulableTaskCount":1,"executionNode":"ALL","groupIdentifier":"55760617-9951-3985-813f-58b9a0a3ef4f","identifier":"260ae67a-744b-3122-ab46-999ee9b823a8","name":"Set retry counter","penaltyDuration":"30 sec","position":{"x":363.01898792824323,"y":218.00000475076467},"properties":{"Store State":"Do not store state","canonical-value-lookup-cache-size":"100","retry.maxcount":"${retry.maxcount:replaceNull(${max_retry})}","retry.counter":"${retry.counter:replaceNull('0'):plus(1)}"},"propertyDescriptors":{"Delete Attributes Expression":{"displayName":"Delete Attributes Expression","identifiesControllerService":false,"name":"Delete Attributes Expression","sensitive":false},"Store State":{"displayName":"Store State","identifiesControllerService":false,"name":"Store State","sensitive":false},"canonical-value-lookup-cache-size":{"displayName":"Cache Value Lookup Cache Size","identifiesControllerService":false,"name":"canonical-value-lookup-cache-size","sensitive":false},"retry.maxcount":{"displayName":"retry.maxcount","identifiesControllerService":false,"name":"retry.maxcount","sensitive":false},"Stateful Variables Initial Value":{"displayName":"Stateful Variables Initial Value","identifiesControllerService":false,"name":"Stateful Variables Initial Value","sensitive":false},"retry.counter":{"displayName":"retry.counter","identifiesControllerService":false,"name":"retry.counter","sensitive":false}},"runDurationMillis":0,"scheduledState":"DISABLED","schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","style":{},"type":"org.apache.nifi.processors.attributes.UpdateAttribute","yieldDuration":"1 sec"}],"remoteProcessGroups":[],"variables":{"max_retry":"5"}}],"processors":[{"autoTerminatedRelationships":[],"bulletinLevel":"WARN","bundle":{"artifact":"nifi-aws-nar","group":"org.apache.nifi","version":"1.12.1"},"comments":"","componentType":"PROCESSOR","concurrentlySchedulableTaskCount":1,"executionNode":"ALL","groupIdentifier":"a470593b-d20b-3ee9-bb56-774282e6fb6d","identifier":"754e92cf-e15b-3209-a583-be61d556f5c7","name":"toInfoSecS3Bucket","penaltyDuration":"30 sec","position":{"x":444.2641133770278,"y":1294.4282712509814},"properties":{"FullControl User List":"${s3.permissions.full.users}","Owner":"${s3.owner}","s3-object-remove-tags-prefix":"false","Multipart Upload Max Age Threshold":"7 days","canned-acl":"${s3.permissions.cannedacl}","Signer Override":"Default Signature","Write ACL User List":"${s3.permissions.writeacl.users}","server-side-encryption":"None","Read ACL User List":"${s3.permissions.readacl.users}","Storage Class":"Standard","Multipart Part Size":"5 GB","use-chunked-encoding":"true","Object Key":"outbound/tessian/security_events/${dt:substring(0,4)}/${dt:substring(4,6)}/${dt:substring(6,8)}/${filename}","Multipart Threshold":"5 GB","Bucket":"sim-prd001-cyber-data-insight-dev","Multipart Upload AgeOff Interval":"60 min","use-path-style-access":"false","Write Permission User List":"${s3.permissions.write.users}","Communications Timeout":"30 secs","Region":"eu-west-1","Read Permission User List":"${s3.permissions.read.users}","s3-temporary-directory-multipart":"${java.io.tmpdir}"},"propertyDescriptors":{"Proxy Host":{"displayName":"Proxy Host","identifiesControllerService":false,"name":"Proxy Host","sensitive":false},"FullControl User List":{"displayName":"FullControl User List","identifiesControllerService":false,"name":"FullControl User List","sensitive":false},"Owner":{"displayName":"Owner","identifiesControllerService":false,"name":"Owner","sensitive":false},"Access Key":{"displayName":"Access Key ID","identifiesControllerService":false,"name":"Access Key","sensitive":true},"proxy-configuration-service":{"displayName":"Proxy Configuration Service","identifiesControllerService":true,"name":"proxy-configuration-service","sensitive":false},"Cache Control":{"displayName":"Cache Control","identifiesControllerService":false,"name":"Cache Control","sensitive":false},"s3-object-remove-tags-prefix":{"displayName":"Remove Tag Prefix","identifiesControllerService":false,"name":"s3-object-remove-tags-prefix","sensitive":false},"Endpoint Override URL":{"displayName":"Endpoint Override URL","identifiesControllerService":false,"name":"Endpoint Override URL","sensitive":false},"Multipart Upload Max Age Threshold":{"displayName":"Multipart Upload Max Age Threshold","identifiesControllerService":false,"name":"Multipart Upload Max Age Threshold","sensitive":false},"canned-acl":{"displayName":"Canned ACL","identifiesControllerService":false,"name":"canned-acl","sensitive":false},"Signer Override":{"displayName":"Signer Override","identifiesControllerService":false,"name":"Signer Override","sensitive":false},"proxy-user-password":{"displayName":"Proxy Password","identifiesControllerService":false,"name":"proxy-user-password","sensitive":true},"Content Type":{"displayName":"Content Type","identifiesControllerService":false,"name":"Content Type","sensitive":false},"Secret Key":{"displayName":"Secret Access Key","identifiesControllerService":false,"name":"Secret Key","sensitive":true},"Write ACL User List":{"displayName":"Write ACL User List","identifiesControllerService":false,"name":"Write ACL User List","sensitive":false},"server-side-encryption":{"displayName":"Server Side Encryption","identifiesControllerService":false,"name":"server-side-encryption","sensitive":false},"Read ACL User List":{"displayName":"Read ACL User List","identifiesControllerService":false,"name":"Read ACL User List","sensitive":false},"encryption-service":{"displayName":"Encryption Service","identifiesControllerService":true,"name":"encryption-service","sensitive":false},"Content Disposition":{"displayName":"Content Disposition","identifiesControllerService":false,"name":"Content Disposition","sensitive":false},"Storage Class":{"displayName":"Storage Class","identifiesControllerService":false,"name":"Storage Class","sensitive":false},"Multipart Part Size":{"displayName":"Multipart Part Size","identifiesControllerService":false,"name":"Multipart Part Size","sensitive":false},"use-chunked-encoding":{"displayName":"Use Chunked Encoding","identifiesControllerService":false,"name":"use-chunked-encoding","sensitive":false},"Object Key":{"displayName":"Object Key","identifiesControllerService":false,"name":"Object Key","sensitive":false},"AWS Credentials Provider service":{"displayName":"AWS Credentials Provider service","identifiesControllerService":true,"name":"AWS Credentials Provider service","sensitive":false},"Multipart Threshold":{"displayName":"Multipart Threshold","identifiesControllerService":false,"name":"Multipart Threshold","sensitive":false},"s3-object-tags-prefix":{"displayName":"Object Tags Prefix","identifiesControllerService":false,"name":"s3-object-tags-prefix","sensitive":false},"SSL Context Service":{"displayName":"SSL Context Service","identifiesControllerService":true,"name":"SSL Context Service","sensitive":false},"Bucket":{"displayName":"Bucket","identifiesControllerService":false,"name":"Bucket","sensitive":false},"Multipart Upload AgeOff Interval":{"displayName":"Multipart Upload AgeOff Interval","identifiesControllerService":false,"name":"Multipart Upload AgeOff Interval","sensitive":false},"use-path-style-access":{"displayName":"Use Path Style Access","identifiesControllerService":false,"name":"use-path-style-access","sensitive":false},"Write Permission User List":{"displayName":"Write Permission User List","identifiesControllerService":false,"name":"Write Permission User List","sensitive":false},"Communications Timeout":{"displayName":"Communications Timeout","identifiesControllerService":false,"name":"Communications Timeout","sensitive":false},"Credentials File":{"displayName":"Credentials File","identifiesControllerService":false,"name":"Credentials File","sensitive":false},"Region":{"displayName":"Region","identifiesControllerService":false,"name":"Region","sensitive":false},"Read Permission User List":{"displayName":"Read Permission User List","identifiesControllerService":false,"name":"Read Permission User List","sensitive":false},"Expiration Time Rule":{"displayName":"Expiration Time Rule","identifiesControllerService":false,"name":"Expiration Time Rule","sensitive":false},"proxy-user-name":{"displayName":"Proxy Username","identifiesControllerService":false,"name":"proxy-user-name","sensitive":false},"Proxy Host Port":{"displayName":"Proxy Host Port","identifiesControllerService":false,"name":"Proxy Host Port","sensitive":false},"s3-temporary-directory-multipart":{"displayName":"s3-temporary-directory-multipart","identifiesControllerService":false,"name":"s3-temporary-directory-multipart","sensitive":false}},"runDurationMillis":0,"scheduledState":"DISABLED","schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","style":{},"type":"org.apache.nifi.processors.aws.s3.PutS3Object","yieldDuration":"1 sec"},{"autoTerminatedRelationships":[],"bulletinLevel":"WARN","bundle":{"artifact":"nifi-aws-nar","group":"org.apache.nifi","version":"1.12.1"},"comments":"","componentType":"PROCESSOR","concurrentlySchedulableTaskCount":1,"executionNode":"ALL","groupIdentifier":"a470593b-d20b-3ee9-bb56-774282e6fb6d","identifier":"0127df33-ee1f-3de1-8c79-109837295fa6","name":"toInfoSecS3Bucket_new_PRD_LZ","penaltyDuration":"30 sec","position":{"x":444.2641133770278,"y":1966.4282712509814},"properties":{"FullControl User List":"${s3.permissions.full.users}","Owner":"${s3.owner}","s3-object-remove-tags-prefix":"false","Multipart Upload Max Age Threshold":"7 days","canned-acl":"${s3.permissions.cannedacl}","Signer Override":"Default Signature","Write ACL User List":"${s3.permissions.writeacl.users}","server-side-encryption":"None","Read ACL User List":"${s3.permissions.readacl.users}","Storage Class":"Standard","Multipart Part Size":"5 GB","use-chunked-encoding":"true","Object Key":"outbound/${product}/${schema.name}/${timestamp:format(\"yyyy\")}/${timestamp:format(\"MM\")}/${timestamp:format(\"dd\")}/${schema.name}_${timestamp:format(\"yyyyMMdd\")}_${uuid}.json.bz2","Multipart Threshold":"5 GB","Bucket":"aws-cdi-data-outbound-294882693839-eu-west-1-bucket","Multipart Upload AgeOff Interval":"60 min","use-path-style-access":"false","Write Permission User List":"${s3.permissions.write.users}","Communications Timeout":"30 secs","Region":"eu-west-1","Read Permission User List":"${s3.permissions.read.users}","s3-temporary-directory-multipart":"${java.io.tmpdir}"},"propertyDescriptors":{"Proxy Host":{"displayName":"Proxy Host","identifiesControllerService":false,"name":"Proxy Host","sensitive":false},"FullControl User List":{"displayName":"FullControl User List","identifiesControllerService":false,"name":"FullControl User List","sensitive":false},"Owner":{"displayName":"Owner","identifiesControllerService":false,"name":"Owner","sensitive":false},"Access Key":{"displayName":"Access Key ID","identifiesControllerService":false,"name":"Access Key","sensitive":true},"proxy-configuration-service":{"displayName":"Proxy Configuration Service","identifiesControllerService":true,"name":"proxy-configuration-service","sensitive":false},"Cache Control":{"displayName":"Cache Control","identifiesControllerService":false,"name":"Cache Control","sensitive":false},"s3-object-remove-tags-prefix":{"displayName":"Remove Tag Prefix","identifiesControllerService":false,"name":"s3-object-remove-tags-prefix","sensitive":false},"Endpoint Override URL":{"displayName":"Endpoint Override URL","identifiesControllerService":false,"name":"Endpoint Override URL","sensitive":false},"Multipart Upload Max Age Threshold":{"displayName":"Multipart Upload Max Age Threshold","identifiesControllerService":false,"name":"Multipart Upload Max Age Threshold","sensitive":false},"canned-acl":{"displayName":"Canned ACL","identifiesControllerService":false,"name":"canned-acl","sensitive":false},"Signer Override":{"displayName":"Signer Override","identifiesControllerService":false,"name":"Signer Override","sensitive":false},"proxy-user-password":{"displayName":"Proxy Password","identifiesControllerService":false,"name":"proxy-user-password","sensitive":true},"Content Type":{"displayName":"Content Type","identifiesControllerService":false,"name":"Content Type","sensitive":false},"Secret Key":{"displayName":"Secret Access Key","identifiesControllerService":false,"name":"Secret Key","sensitive":true},"Write ACL User List":{"displayName":"Write ACL User List","identifiesControllerService":false,"name":"Write ACL User List","sensitive":false},"server-side-encryption":{"displayName":"Server Side Encryption","identifiesControllerService":false,"name":"server-side-encryption","sensitive":false},"Read ACL User List":{"displayName":"Read ACL User List","identifiesControllerService":false,"name":"Read ACL User List","sensitive":false},"encryption-service":{"displayName":"Encryption Service","identifiesControllerService":true,"name":"encryption-service","sensitive":false},"Content Disposition":{"displayName":"Content Disposition","identifiesControllerService":false,"name":"Content Disposition","sensitive":false},"Storage Class":{"displayName":"Storage Class","identifiesControllerService":false,"name":"Storage Class","sensitive":false},"Multipart Part Size":{"displayName":"Multipart Part Size","identifiesControllerService":false,"name":"Multipart Part Size","sensitive":false},"use-chunked-encoding":{"displayName":"Use Chunked Encoding","identifiesControllerService":false,"name":"use-chunked-encoding","sensitive":false},"Object Key":{"displayName":"Object Key","identifiesControllerService":false,"name":"Object Key","sensitive":false},"AWS Credentials Provider service":{"displayName":"AWS Credentials Provider service","identifiesControllerService":true,"name":"AWS Credentials Provider service","sensitive":false},"Multipart Threshold":{"displayName":"Multipart Threshold","identifiesControllerService":false,"name":"Multipart Threshold","sensitive":false},"s3-object-tags-prefix":{"displayName":"Object Tags Prefix","identifiesControllerService":false,"name":"s3-object-tags-prefix","sensitive":false},"SSL Context Service":{"displayName":"SSL Context Service","identifiesControllerService":true,"name":"SSL Context Service","sensitive":false},"Bucket":{"displayName":"Bucket","identifiesControllerService":false,"name":"Bucket","sensitive":false},"Multipart Upload AgeOff Interval":{"displayName":"Multipart Upload AgeOff Interval","identifiesControllerService":false,"name":"Multipart Upload AgeOff Interval","sensitive":false},"use-path-style-access":{"displayName":"Use Path Style Access","identifiesControllerService":false,"name":"use-path-style-access","sensitive":false},"Write Permission User List":{"displayName":"Write Permission User List","identifiesControllerService":false,"name":"Write Permission User List","sensitive":false},"Communications Timeout":{"displayName":"Communications Timeout","identifiesControllerService":false,"name":"Communications Timeout","sensitive":false},"Credentials File":{"displayName":"Credentials File","identifiesControllerService":false,"name":"Credentials File","sensitive":false},"Region":{"displayName":"Region","identifiesControllerService":false,"name":"Region","sensitive":false},"Read Permission User List":{"displayName":"Read Permission User List","identifiesControllerService":false,"name":"Read Permission User List","sensitive":false},"Expiration Time Rule":{"displayName":"Expiration Time Rule","identifiesControllerService":false,"name":"Expiration Time Rule","sensitive":false},"proxy-user-name":{"displayName":"Proxy Username","identifiesControllerService":false,"name":"proxy-user-name","sensitive":false},"Proxy Host Port":{"displayName":"Proxy Host Port","identifiesControllerService":false,"name":"Proxy Host Port","sensitive":false},"s3-temporary-directory-multipart":{"displayName":"s3-temporary-directory-multipart","identifiesControllerService":false,"name":"s3-temporary-directory-multipart","sensitive":false}},"runDurationMillis":0,"scheduledState":"ENABLED","schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","style":{},"type":"org.apache.nifi.processors.aws.s3.PutS3Object","yieldDuration":"1 sec"},{"autoTerminatedRelationships":[],"bulletinLevel":"WARN","bundle":{"artifact":"nifi-standard-nar","group":"org.apache.nifi","version":"1.12.1"},"comments":"","componentType":"PROCESSOR","concurrentlySchedulableTaskCount":1,"executionNode":"ALL","groupIdentifier":"a470593b-d20b-3ee9-bb56-774282e6fb6d","identifier":"f0b0b064-cd2d-3233-9f12-c9a1e5e44ffe","name":"UpdateRecord","penaltyDuration":"30 sec","position":{"x":-91.7358866229722,"y":430.42827125098137},"properties":{"/timestamp":"${timestamp:divide(1000)}","record-writer":"533f6bb7-238c-33b7-ae8d-41edf7b68bed","record-reader":"1e976359-87c5-3deb-866e-a990e8c99ed6","replacement-value-strategy":"literal-value","/dt":"${timestamp:format(\"yyyyMMdd\")}"},"propertyDescriptors":{"/timestamp":{"displayName":"/timestamp","identifiesControllerService":false,"name":"/timestamp","sensitive":false},"record-writer":{"displayName":"Record Writer","identifiesControllerService":true,"name":"record-writer","sensitive":false},"record-reader":{"displayName":"Record Reader","identifiesControllerService":true,"name":"record-reader","sensitive":false},"replacement-value-strategy":{"displayName":"Replacement Value Strategy","identifiesControllerService":false,"name":"replacement-value-strategy","sensitive":false},"/dt":{"displayName":"/dt","identifiesControllerService":false,"name":"/dt","sensitive":false}},"runDurationMillis":0,"scheduledState":"ENABLED","schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","style":{},"type":"org.apache.nifi.processors.standard.UpdateRecord","yieldDuration":"1 sec"},{"autoTerminatedRelationships":[],"bulletinLevel":"WARN","bundle":{"artifact":"nifi-standard-nar","group":"org.apache.nifi","version":"1.12.1"},"comments":"","componentType":"PROCESSOR","concurrentlySchedulableTaskCount":1,"executionNode":"ALL","groupIdentifier":"a470593b-d20b-3ee9-bb56-774282e6fb6d","identifier":"6de80e2a-bae6-3bd1-acdd-dff22e2414c6","name":"ReplaceText","penaltyDuration":"30 sec","position":{"x":-99.7358866229722,"y":-145.57172874901863},"properties":{"Regular Expression":"timestamp","Replacement Value":"tessian_timestamp","Evaluation Mode":"Entire text","Line-by-Line Evaluation Mode":"All","Character Set":"UTF-8","Maximum Buffer Size":"1 MB","Replacement Strategy":"Regex Replace"},"propertyDescriptors":{"Regular Expression":{"displayName":"Search Value","identifiesControllerService":false,"name":"Regular Expression","sensitive":false},"Replacement Value":{"displayName":"Replacement Value","identifiesControllerService":false,"name":"Replacement Value","sensitive":false},"Evaluation Mode":{"displayName":"Evaluation Mode","identifiesControllerService":false,"name":"Evaluation Mode","sensitive":false},"Line-by-Line Evaluation Mode":{"displayName":"Line-by-Line Evaluation Mode","identifiesControllerService":false,"name":"Line-by-Line Evaluation Mode","sensitive":false},"Character Set":{"displayName":"Character Set","identifiesControllerService":false,"name":"Character Set","sensitive":false},"Maximum Buffer Size":{"displayName":"Maximum Buffer Size","identifiesControllerService":false,"name":"Maximum Buffer Size","sensitive":false},"Replacement Strategy":{"displayName":"Replacement Strategy","identifiesControllerService":false,"name":"Replacement Strategy","sensitive":false}},"runDurationMillis":0,"scheduledState":"ENABLED","schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","style":{},"type":"org.apache.nifi.processors.standard.ReplaceText","yieldDuration":"1 sec"},{"autoTerminatedRelationships":[],"bulletinLevel":"WARN","bundle":{"artifact":"nifi-aws-nar","group":"org.apache.nifi","version":"1.12.1"},"comments":"","componentType":"PROCESSOR","concurrentlySchedulableTaskCount":1,"executionNode":"ALL","groupIdentifier":"a470593b-d20b-3ee9-bb56-774282e6fb6d","identifier":"56cc0efd-525a-3a41-8b98-aeb4a8bc03aa","name":"toInfoSecS3Bucket_new_DEV_LZ","penaltyDuration":"30 sec","position":{"x":436.2641133770278,"y":1598.4282712509814},"properties":{"FullControl User List":"${s3.permissions.full.users}","Owner":"${s3.owner}","s3-object-remove-tags-prefix":"false","Multipart Upload Max Age Threshold":"7 days","canned-acl":"${s3.permissions.cannedacl}","Signer Override":"Default Signature","Write ACL User List":"${s3.permissions.writeacl.users}","server-side-encryption":"None","Read ACL User List":"${s3.permissions.readacl.users}","Storage Class":"Standard","Multipart Part Size":"5 GB","use-chunked-encoding":"true","Object Key":"outbound/${product}/${schema.name}/${timestamp:format(\"yyyy\")}/${timestamp:format(\"MM\")}/${timestamp:format(\"dd\")}/${schema.name}_${timestamp:format(\"yyyyMMdd\")}_${uuid}.json.bz2","Multipart Threshold":"5 GB","Bucket":"aws-cdi-data-outbound-924506175250-eu-west-1-bucket","Multipart Upload AgeOff Interval":"60 min","use-path-style-access":"false","Write Permission User List":"${s3.permissions.write.users}","Communications Timeout":"30 secs","Region":"eu-west-1","Read Permission User List":"${s3.permissions.read.users}","s3-temporary-directory-multipart":"${java.io.tmpdir}"},"propertyDescriptors":{"Proxy Host":{"displayName":"Proxy Host","identifiesControllerService":false,"name":"Proxy Host","sensitive":false},"FullControl User List":{"displayName":"FullControl User List","identifiesControllerService":false,"name":"FullControl User List","sensitive":false},"Owner":{"displayName":"Owner","identifiesControllerService":false,"name":"Owner","sensitive":false},"Access Key":{"displayName":"Access Key ID","identifiesControllerService":false,"name":"Access Key","sensitive":true},"proxy-configuration-service":{"displayName":"Proxy Configuration Service","identifiesControllerService":true,"name":"proxy-configuration-service","sensitive":false},"Cache Control":{"displayName":"Cache Control","identifiesControllerService":false,"name":"Cache Control","sensitive":false},"s3-object-remove-tags-prefix":{"displayName":"Remove Tag Prefix","identifiesControllerService":false,"name":"s3-object-remove-tags-prefix","sensitive":false},"Endpoint Override URL":{"displayName":"Endpoint Override URL","identifiesControllerService":false,"name":"Endpoint Override URL","sensitive":false},"Multipart Upload Max Age Threshold":{"displayName":"Multipart Upload Max Age Threshold","identifiesControllerService":false,"name":"Multipart Upload Max Age Threshold","sensitive":false},"canned-acl":{"displayName":"Canned ACL","identifiesControllerService":false,"name":"canned-acl","sensitive":false},"Signer Override":{"displayName":"Signer Override","identifiesControllerService":false,"name":"Signer Override","sensitive":false},"proxy-user-password":{"displayName":"Proxy Password","identifiesControllerService":false,"name":"proxy-user-password","sensitive":true},"Content Type":{"displayName":"Content Type","identifiesControllerService":false,"name":"Content Type","sensitive":false},"Secret Key":{"displayName":"Secret Access Key","identifiesControllerService":false,"name":"Secret Key","sensitive":true},"Write ACL User List":{"displayName":"Write ACL User List","identifiesControllerService":false,"name":"Write ACL User List","sensitive":false},"server-side-encryption":{"displayName":"Server Side Encryption","identifiesControllerService":false,"name":"server-side-encryption","sensitive":false},"Read ACL User List":{"displayName":"Read ACL User List","identifiesControllerService":false,"name":"Read ACL User List","sensitive":false},"encryption-service":{"displayName":"Encryption Service","identifiesControllerService":true,"name":"encryption-service","sensitive":false},"Content Disposition":{"displayName":"Content Disposition","identifiesControllerService":false,"name":"Content Disposition","sensitive":false},"Storage Class":{"displayName":"Storage Class","identifiesControllerService":false,"name":"Storage Class","sensitive":false},"Multipart Part Size":{"displayName":"Multipart Part Size","identifiesControllerService":false,"name":"Multipart Part Size","sensitive":false},"use-chunked-encoding":{"displayName":"Use Chunked Encoding","identifiesControllerService":false,"name":"use-chunked-encoding","sensitive":false},"Object Key":{"displayName":"Object Key","identifiesControllerService":false,"name":"Object Key","sensitive":false},"AWS Credentials Provider service":{"displayName":"AWS Credentials Provider service","identifiesControllerService":true,"name":"AWS Credentials Provider service","sensitive":false},"Multipart Threshold":{"displayName":"Multipart Threshold","identifiesControllerService":false,"name":"Multipart Threshold","sensitive":false},"s3-object-tags-prefix":{"displayName":"Object Tags Prefix","identifiesControllerService":false,"name":"s3-object-tags-prefix","sensitive":false},"SSL Context Service":{"displayName":"SSL Context Service","identifiesControllerService":true,"name":"SSL Context Service","sensitive":false},"Bucket":{"displayName":"Bucket","identifiesControllerService":false,"name":"Bucket","sensitive":false},"Multipart Upload AgeOff Interval":{"displayName":"Multipart Upload AgeOff Interval","identifiesControllerService":false,"name":"Multipart Upload AgeOff Interval","sensitive":false},"use-path-style-access":{"displayName":"Use Path Style Access","identifiesControllerService":false,"name":"use-path-style-access","sensitive":false},"Write Permission User List":{"displayName":"Write Permission User List","identifiesControllerService":false,"name":"Write Permission User List","sensitive":false},"Communications Timeout":{"displayName":"Communications Timeout","identifiesControllerService":false,"name":"Communications Timeout","sensitive":false},"Credentials File":{"displayName":"Credentials File","identifiesControllerService":false,"name":"Credentials File","sensitive":false},"Region":{"displayName":"Region","identifiesControllerService":false,"name":"Region","sensitive":false},"Read Permission User List":{"displayName":"Read Permission User List","identifiesControllerService":false,"name":"Read Permission User List","sensitive":false},"Expiration Time Rule":{"displayName":"Expiration Time Rule","identifiesControllerService":false,"name":"Expiration Time Rule","sensitive":false},"proxy-user-name":{"displayName":"Proxy Username","identifiesControllerService":false,"name":"proxy-user-name","sensitive":false},"Proxy Host Port":{"displayName":"Proxy Host Port","identifiesControllerService":false,"name":"Proxy Host Port","sensitive":false},"s3-temporary-directory-multipart":{"displayName":"s3-temporary-directory-multipart","identifiesControllerService":false,"name":"s3-temporary-directory-multipart","sensitive":false}},"runDurationMillis":0,"scheduledState":"DISABLED","schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","style":{},"type":"org.apache.nifi.processors.aws.s3.PutS3Object","yieldDuration":"1 sec"},{"autoTerminatedRelationships":[],"bulletinLevel":"WARN","bundle":{"artifact":"nifi-update-attribute-nar","group":"org.apache.nifi","version":"1.12.1"},"comments":"","componentType":"PROCESSOR","concurrentlySchedulableTaskCount":1,"executionNode":"ALL","groupIdentifier":"a470593b-d20b-3ee9-bb56-774282e6fb6d","identifier":"36f8e3b6-a53c-30e5-a8b7-59bb0c2854de","name":"UpdateAttribute","penaltyDuration":"30 sec","position":{"x":-91.7358866229722,"y":158.42827125098137},"properties":{"dt":"${now():format(\"yyyyMMdd\")}","Store State":"Do not store state","canonical-value-lookup-cache-size":"100","topic":"tessian_${tessianmodule}","timestamp":"${now():toNumber()}"},"propertyDescriptors":{"dt":{"displayName":"dt","identifiesControllerService":false,"name":"dt","sensitive":false},"Delete Attributes Expression":{"displayName":"Delete Attributes Expression","identifiesControllerService":false,"name":"Delete Attributes Expression","sensitive":false},"Store State":{"displayName":"Store State","identifiesControllerService":false,"name":"Store State","sensitive":false},"canonical-value-lookup-cache-size":{"displayName":"Cache Value Lookup Cache Size","identifiesControllerService":false,"name":"canonical-value-lookup-cache-size","sensitive":false},"topic":{"displayName":"topic","identifiesControllerService":false,"name":"topic","sensitive":false},"Stateful Variables Initial Value":{"displayName":"Stateful Variables Initial Value","identifiesControllerService":false,"name":"Stateful Variables Initial Value","sensitive":false},"timestamp":{"displayName":"timestamp","identifiesControllerService":false,"name":"timestamp","sensitive":false}},"runDurationMillis":0,"scheduledState":"ENABLED","schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","style":{},"type":"org.apache.nifi.processors.attributes.UpdateAttribute","yieldDuration":"1 sec"},{"autoTerminatedRelationships":[],"bulletinLevel":"WARN","bundle":{"artifact":"nifi-update-attribute-nar","group":"org.apache.nifi","version":"1.12.1"},"comments":"","componentType":"PROCESSOR","concurrentlySchedulableTaskCount":1,"executionNode":"ALL","groupIdentifier":"a470593b-d20b-3ee9-bb56-774282e6fb6d","identifier":"a6168a79-34fd-393a-9a99-beb0abc0a3f0","name":"UpdateAttribute","penaltyDuration":"30 sec","position":{"x":-91.7358866229722,"y":710.4282712509814},"properties":{"product":"tessian","filename":"${filename}-${timestamp}","Store State":"Do not store state","canonical-value-lookup-cache-size":"100","schema.name":"security_event"},"propertyDescriptors":{"product":{"displayName":"product","identifiesControllerService":false,"name":"product","sensitive":false},"Delete Attributes Expression":{"displayName":"Delete Attributes Expression","identifiesControllerService":false,"name":"Delete Attributes Expression","sensitive":false},"filename":{"displayName":"filename","identifiesControllerService":false,"name":"filename","sensitive":false},"Store State":{"displayName":"Store State","identifiesControllerService":false,"name":"Store State","sensitive":false},"canonical-value-lookup-cache-size":{"displayName":"Cache Value Lookup Cache Size","identifiesControllerService":false,"name":"canonical-value-lookup-cache-size","sensitive":false},"schema.name":{"displayName":"schema.name","identifiesControllerService":false,"name":"schema.name","sensitive":false},"Stateful Variables Initial Value":{"displayName":"Stateful Variables Initial Value","identifiesControllerService":false,"name":"Stateful Variables Initial Value","sensitive":false}},"runDurationMillis":0,"scheduledState":"ENABLED","schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","style":{},"type":"org.apache.nifi.processors.attributes.UpdateAttribute","yieldDuration":"1 sec"},{"autoTerminatedRelationships":[],"bulletinLevel":"WARN","bundle":{"artifact":"nifi-standard-nar","group":"org.apache.nifi","version":"1.12.1"},"comments":"","componentType":"PROCESSOR","concurrentlySchedulableTaskCount":1,"executionNode":"ALL","groupIdentifier":"a470593b-d20b-3ee9-bb56-774282e6fb6d","identifier":"e58637b8-8d22-39c5-85aa-7fea2ebf441b","name":"CompressContent","penaltyDuration":"30 sec","position":{"x":-91.7358866229722,"y":1062.4282712509814},"properties":{"Compression Format":"bzip2","Mode":"compress","Compression Level":"1","Update Filename":"true"},"propertyDescriptors":{"Compression Format":{"displayName":"Compression Format","identifiesControllerService":false,"name":"Compression Format","sensitive":false},"Mode":{"displayName":"Mode","identifiesControllerService":false,"name":"Mode","sensitive":false},"Compression Level":{"displayName":"Compression Level","identifiesControllerService":false,"name":"Compression Level","sensitive":false},"Update Filename":{"displayName":"Update Filename","identifiesControllerService":false,"name":"Update Filename","sensitive":false}},"runDurationMillis":0,"scheduledState":"ENABLED","schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","style":{},"type":"org.apache.nifi.processors.standard.CompressContent","yieldDuration":"1 sec"}],"remoteProcessGroups":[],"variables":{}},"flowEncodingVersion":"1.0","parameterContexts":{},"snapshotMetadata":{"author":"anonymous","comments":"","timestamp":1763647668180,"version":1}}