nifi/infosec_s3.xml
<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<template encoding-version="1.3">
    <description></description>
    <groupId>990160e2-0172-1000-ffff-ffffe49a50fc</groupId>
    <name>infosec_s3</name>
    <snippet>
        <connections>
            <id>059ced88-13cb-3c71-0000-000000000000</id>
            <parentGroupId>877a5ebb-ad50-3c75-0000-000000000000</parentGroupId>
            <versionedComponentId>059ced88-13cb-3c71-8a54-1ffc9e47e867</versionedComponentId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
            <destination>
                <groupId>877a5ebb-ad50-3c75-0000-000000000000</groupId>
                <id>bd74ed87-26d1-3036-0000-000000000000</id>
                <type>PROCESSOR</type>
                <versionedComponentId>bd74ed87-26d1-3036-bf10-dba22a343a8a</versionedComponentId>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
            <name></name>
            <selectedRelationships>success</selectedRelationships>
            <source>
                <groupId>877a5ebb-ad50-3c75-0000-000000000000</groupId>
                <id>4c41c3a7-3b25-3827-0000-000000000000</id>
                <type>PROCESSOR</type>
                <versionedComponentId>4c41c3a7-3b25-3827-9f84-45a1bb0eb589</versionedComponentId>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <connections>
            <id>06d2c438-e3da-3165-0000-000000000000</id>
            <parentGroupId>877a5ebb-ad50-3c75-0000-000000000000</parentGroupId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
            <destination>
                <groupId>410c037f-749d-3170-0000-000000000000</groupId>
                <id>6770d425-fff2-3401-0000-000000000000</id>
                <type>INPUT_PORT</type>
                <versionedComponentId>dd27b5e5-b445-3283-8958-df4ac03562bf</versionedComponentId>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
            <name></name>
            <selectedRelationships>failure</selectedRelationships>
            <source>
                <groupId>877a5ebb-ad50-3c75-0000-000000000000</groupId>
                <id>6251ef35-4021-3d32-0000-000000000000</id>
                <type>PROCESSOR</type>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <connections>
            <id>1bf9c318-c7d7-3ec2-0000-000000000000</id>
            <parentGroupId>877a5ebb-ad50-3c75-0000-000000000000</parentGroupId>
            <versionedComponentId>1bf9c318-c7d7-3ec2-9e32-c14c35120250</versionedComponentId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
            <destination>
                <groupId>877a5ebb-ad50-3c75-0000-000000000000</groupId>
                <id>f70d18f6-a11a-340a-0000-000000000000</id>
                <type>FUNNEL</type>
                <versionedComponentId>f70d18f6-a11a-340a-8e7a-07784778b061</versionedComponentId>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
            <name></name>
            <selectedRelationships>failure</selectedRelationships>
            <source>
                <groupId>877a5ebb-ad50-3c75-0000-000000000000</groupId>
                <id>acef8a06-38c3-3716-0000-000000000000</id>
                <type>PROCESSOR</type>
                <versionedComponentId>acef8a06-38c3-3716-997c-72f8b9ae001e</versionedComponentId>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <connections>
            <id>39cf0ad4-3226-3ad2-0000-000000000000</id>
            <parentGroupId>877a5ebb-ad50-3c75-0000-000000000000</parentGroupId>
            <versionedComponentId>39cf0ad4-3226-3ad2-ae43-68432aaef474</versionedComponentId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
            <destination>
                <groupId>877a5ebb-ad50-3c75-0000-000000000000</groupId>
                <id>54d7162f-4529-39b7-0000-000000000000</id>
                <type>FUNNEL</type>
                <versionedComponentId>54d7162f-4529-39b7-9fb5-a3ef75478f8c</versionedComponentId>
            </destination>
            <flowFileExpiration>24 hr</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
            <name></name>
            <selectedRelationships>success</selectedRelationships>
            <source>
                <groupId>877a5ebb-ad50-3c75-0000-000000000000</groupId>
                <id>8747cb6d-9407-3ab7-0000-000000000000</id>
                <type>PROCESSOR</type>
                <versionedComponentId>8747cb6d-9407-3ab7-87ce-2671c52a4476</versionedComponentId>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <connections>
            <id>3d30ff93-d1a4-3e5a-0000-000000000000</id>
            <parentGroupId>877a5ebb-ad50-3c75-0000-000000000000</parentGroupId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
            <destination>
                <groupId>c6ad1c37-f2f4-3716-0000-000000000000</groupId>
                <id>68f06695-a48a-3eef-0000-000000000000</id>
                <type>INPUT_PORT</type>
                <versionedComponentId>dd27b5e5-b445-3283-8958-df4ac03562bf</versionedComponentId>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
            <name></name>
            <selectedRelationships>failure</selectedRelationships>
            <source>
                <groupId>877a5ebb-ad50-3c75-0000-000000000000</groupId>
                <id>3b69dd33-955b-36f7-0000-000000000000</id>
                <type>PROCESSOR</type>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <connections>
            <id>3dcf968f-e651-39ca-0000-000000000000</id>
            <parentGroupId>877a5ebb-ad50-3c75-0000-000000000000</parentGroupId>
            <versionedComponentId>3dcf968f-e651-39ca-8245-55f529f88c7a</versionedComponentId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
            <bends>
                <x>1624.0</x>
                <y>1336.0</y>
            </bends>
            <destination>
                <groupId>877a5ebb-ad50-3c75-0000-000000000000</groupId>
                <id>8747cb6d-9407-3ab7-0000-000000000000</id>
                <type>PROCESSOR</type>
                <versionedComponentId>8747cb6d-9407-3ab7-87ce-2671c52a4476</versionedComponentId>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
            <name></name>
            <source>
                <groupId>4db7cf97-82f6-338b-0000-000000000000</groupId>
                <id>8a9c0740-f38f-3f7b-0000-000000000000</id>
                <type>OUTPUT_PORT</type>
                <versionedComponentId>8a9c0740-f38f-3f7b-b751-0cb5523562a2</versionedComponentId>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <connections>
            <id>4ceefcfb-af21-351b-0000-000000000000</id>
            <parentGroupId>877a5ebb-ad50-3c75-0000-000000000000</parentGroupId>
            <versionedComponentId>4ceefcfb-af21-351b-9602-418dcae54923</versionedComponentId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
            <destination>
                <groupId>877a5ebb-ad50-3c75-0000-000000000000</groupId>
                <id>acef8a06-38c3-3716-0000-000000000000</id>
                <type>PROCESSOR</type>
                <versionedComponentId>acef8a06-38c3-3716-997c-72f8b9ae001e</versionedComponentId>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
            <name></name>
            <source>
                <groupId>877a5ebb-ad50-3c75-0000-000000000000</groupId>
                <id>8dc6fa8d-b39f-3dfe-0000-000000000000</id>
                <type>INPUT_PORT</type>
                <versionedComponentId>8dc6fa8d-b39f-3dfe-be3c-97d8a6109f06</versionedComponentId>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <connections>
            <id>8ab1271e-3af0-354e-0000-000000000000</id>
            <parentGroupId>877a5ebb-ad50-3c75-0000-000000000000</parentGroupId>
            <versionedComponentId>8ab1271e-3af0-354e-8487-6c421b9fd9a0</versionedComponentId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
            <destination>
                <groupId>877a5ebb-ad50-3c75-0000-000000000000</groupId>
                <id>bba12d87-f758-3345-0000-000000000000</id>
                <type>PROCESSOR</type>
                <versionedComponentId>bba12d87-f758-3345-a673-5849b4433fcf</versionedComponentId>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
            <name></name>
            <selectedRelationships>success</selectedRelationships>
            <source>
                <groupId>877a5ebb-ad50-3c75-0000-000000000000</groupId>
                <id>2387194b-5ef2-3c9f-0000-000000000000</id>
                <type>PROCESSOR</type>
                <versionedComponentId>2387194b-5ef2-3c9f-b38b-784a539bac9b</versionedComponentId>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <connections>
            <id>92c5b3bc-fb9e-32c1-0000-000000000000</id>
            <parentGroupId>877a5ebb-ad50-3c75-0000-000000000000</parentGroupId>
            <versionedComponentId>92c5b3bc-fb9e-32c1-95e2-b853c11db32a</versionedComponentId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
            <destination>
                <groupId>877a5ebb-ad50-3c75-0000-000000000000</groupId>
                <id>2387194b-5ef2-3c9f-0000-000000000000</id>
                <type>PROCESSOR</type>
                <versionedComponentId>2387194b-5ef2-3c9f-b38b-784a539bac9b</versionedComponentId>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
            <name></name>
            <selectedRelationships>success</selectedRelationships>
            <source>
                <groupId>877a5ebb-ad50-3c75-0000-000000000000</groupId>
                <id>acef8a06-38c3-3716-0000-000000000000</id>
                <type>PROCESSOR</type>
                <versionedComponentId>acef8a06-38c3-3716-997c-72f8b9ae001e</versionedComponentId>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <connections>
            <id>a12711c4-c943-33b0-0000-000000000000</id>
            <parentGroupId>877a5ebb-ad50-3c75-0000-000000000000</parentGroupId>
            <versionedComponentId>a12711c4-c943-33b0-9673-cfb71d127cd5</versionedComponentId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
            <destination>
                <groupId>877a5ebb-ad50-3c75-0000-000000000000</groupId>
                <id>4c41c3a7-3b25-3827-0000-000000000000</id>
                <type>PROCESSOR</type>
                <versionedComponentId>4c41c3a7-3b25-3827-9f84-45a1bb0eb589</versionedComponentId>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
            <name></name>
            <selectedRelationships>success</selectedRelationships>
            <source>
                <groupId>877a5ebb-ad50-3c75-0000-000000000000</groupId>
                <id>bba12d87-f758-3345-0000-000000000000</id>
                <type>PROCESSOR</type>
                <versionedComponentId>bba12d87-f758-3345-a673-5849b4433fcf</versionedComponentId>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <connections>
            <id>a791407c-4777-33bb-0000-000000000000</id>
            <parentGroupId>877a5ebb-ad50-3c75-0000-000000000000</parentGroupId>
            <versionedComponentId>a791407c-4777-33bb-8411-5074c1a56b0f</versionedComponentId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
            <destination>
                <groupId>4db7cf97-82f6-338b-0000-000000000000</groupId>
                <id>dd27b5e5-b445-3283-0000-000000000000</id>
                <type>INPUT_PORT</type>
                <versionedComponentId>dd27b5e5-b445-3283-8958-df4ac03562bf</versionedComponentId>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
            <name></name>
            <selectedRelationships>failure</selectedRelationships>
            <source>
                <groupId>877a5ebb-ad50-3c75-0000-000000000000</groupId>
                <id>8747cb6d-9407-3ab7-0000-000000000000</id>
                <type>PROCESSOR</type>
                <versionedComponentId>8747cb6d-9407-3ab7-87ce-2671c52a4476</versionedComponentId>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <connections>
            <id>b4803d4e-994f-3a1a-0000-000000000000</id>
            <parentGroupId>877a5ebb-ad50-3c75-0000-000000000000</parentGroupId>
            <versionedComponentId>b4803d4e-994f-3a1a-ae4f-b4b68bc8dfe8</versionedComponentId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
            <destination>
                <groupId>877a5ebb-ad50-3c75-0000-000000000000</groupId>
                <id>acef8a06-38c3-3716-0000-000000000000</id>
                <type>PROCESSOR</type>
                <versionedComponentId>acef8a06-38c3-3716-997c-72f8b9ae001e</versionedComponentId>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
            <name></name>
            <source>
                <groupId>877a5ebb-ad50-3c75-0000-000000000000</groupId>
                <id>0b514003-83e0-3026-0000-000000000000</id>
                <type>INPUT_PORT</type>
                <versionedComponentId>0b514003-83e0-3026-bf97-27362c869ce9</versionedComponentId>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <connections>
            <id>b4baa615-f740-36d4-0000-000000000000</id>
            <parentGroupId>877a5ebb-ad50-3c75-0000-000000000000</parentGroupId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
            <destination>
                <groupId>877a5ebb-ad50-3c75-0000-000000000000</groupId>
                <id>7829a7c4-b6e0-377f-0000-000000000000</id>
                <type>FUNNEL</type>
            </destination>
            <flowFileExpiration>24 hr</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
            <name></name>
            <selectedRelationships>success</selectedRelationships>
            <source>
                <groupId>877a5ebb-ad50-3c75-0000-000000000000</groupId>
                <id>6251ef35-4021-3d32-0000-000000000000</id>
                <type>PROCESSOR</type>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <connections>
            <id>befa8041-e398-3976-0000-000000000000</id>
            <parentGroupId>877a5ebb-ad50-3c75-0000-000000000000</parentGroupId>
            <versionedComponentId>befa8041-e398-3976-8726-c4ec9ba9e8ce</versionedComponentId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
            <destination>
                <groupId>877a5ebb-ad50-3c75-0000-000000000000</groupId>
                <id>4200e9ea-10d2-35e4-0000-000000000000</id>
                <type>FUNNEL</type>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
            <name></name>
            <selectedRelationships>success</selectedRelationships>
            <source>
                <groupId>877a5ebb-ad50-3c75-0000-000000000000</groupId>
                <id>bd74ed87-26d1-3036-0000-000000000000</id>
                <type>PROCESSOR</type>
                <versionedComponentId>bd74ed87-26d1-3036-bf10-dba22a343a8a</versionedComponentId>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <connections>
            <id>c83d1baf-ab88-3604-0000-000000000000</id>
            <parentGroupId>877a5ebb-ad50-3c75-0000-000000000000</parentGroupId>
            <versionedComponentId>c83d1baf-ab88-3604-96d6-2aeb2c81cc88</versionedComponentId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
            <destination>
                <groupId>877a5ebb-ad50-3c75-0000-000000000000</groupId>
                <id>352b4c76-ca85-35f8-0000-000000000000</id>
                <type>FUNNEL</type>
                <versionedComponentId>352b4c76-ca85-35f8-abb6-d9ba64bcc3a4</versionedComponentId>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
            <name></name>
            <selectedRelationships>failure</selectedRelationships>
            <source>
                <groupId>877a5ebb-ad50-3c75-0000-000000000000</groupId>
                <id>bba12d87-f758-3345-0000-000000000000</id>
                <type>PROCESSOR</type>
                <versionedComponentId>bba12d87-f758-3345-a673-5849b4433fcf</versionedComponentId>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <connections>
            <id>d39d4c89-f563-3d2d-0000-000000000000</id>
            <parentGroupId>877a5ebb-ad50-3c75-0000-000000000000</parentGroupId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
            <destination>
                <groupId>877a5ebb-ad50-3c75-0000-000000000000</groupId>
                <id>3b69dd33-955b-36f7-0000-000000000000</id>
                <type>PROCESSOR</type>
            </destination>
            <flowFileExpiration>24 hr</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
            <name></name>
            <source>
                <groupId>877a5ebb-ad50-3c75-0000-000000000000</groupId>
                <id>4200e9ea-10d2-35e4-0000-000000000000</id>
                <type>FUNNEL</type>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <connections>
            <id>d83cb245-c16d-3b57-0000-000000000000</id>
            <parentGroupId>877a5ebb-ad50-3c75-0000-000000000000</parentGroupId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
            <bends>
                <x>1752.0</x>
                <y>2072.0</y>
            </bends>
            <destination>
                <groupId>877a5ebb-ad50-3c75-0000-000000000000</groupId>
                <id>3b69dd33-955b-36f7-0000-000000000000</id>
                <type>PROCESSOR</type>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
            <name></name>
            <source>
                <groupId>c6ad1c37-f2f4-3716-0000-000000000000</groupId>
                <id>e5f2ef2c-e827-33aa-0000-000000000000</id>
                <type>OUTPUT_PORT</type>
                <versionedComponentId>8a9c0740-f38f-3f7b-b751-0cb5523562a2</versionedComponentId>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <connections>
            <id>e5e2c456-7eff-3e4b-0000-000000000000</id>
            <parentGroupId>877a5ebb-ad50-3c75-0000-000000000000</parentGroupId>
            <versionedComponentId>e5e2c456-7eff-3e4b-a7d0-8e257b7f0677</versionedComponentId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
            <destination>
                <groupId>877a5ebb-ad50-3c75-0000-000000000000</groupId>
                <id>352b4c76-ca85-35f8-0000-000000000000</id>
                <type>FUNNEL</type>
                <versionedComponentId>352b4c76-ca85-35f8-abb6-d9ba64bcc3a4</versionedComponentId>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
            <name></name>
            <selectedRelationships>failure</selectedRelationships>
            <source>
                <groupId>877a5ebb-ad50-3c75-0000-000000000000</groupId>
                <id>bd74ed87-26d1-3036-0000-000000000000</id>
                <type>PROCESSOR</type>
                <versionedComponentId>bd74ed87-26d1-3036-bf10-dba22a343a8a</versionedComponentId>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <connections>
            <id>f81b43e4-3430-313c-0000-000000000000</id>
            <parentGroupId>877a5ebb-ad50-3c75-0000-000000000000</parentGroupId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
            <destination>
                <groupId>877a5ebb-ad50-3c75-0000-000000000000</groupId>
                <id>7829a7c4-b6e0-377f-0000-000000000000</id>
                <type>FUNNEL</type>
            </destination>
            <flowFileExpiration>24 hr</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
            <name></name>
            <selectedRelationships>success</selectedRelationships>
            <source>
                <groupId>877a5ebb-ad50-3c75-0000-000000000000</groupId>
                <id>3b69dd33-955b-36f7-0000-000000000000</id>
                <type>PROCESSOR</type>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <connections>
            <id>ff6617a1-643c-39eb-0000-000000000000</id>
            <parentGroupId>877a5ebb-ad50-3c75-0000-000000000000</parentGroupId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
            <bends>
                <x>1720.0</x>
                <y>1744.0</y>
            </bends>
            <destination>
                <groupId>877a5ebb-ad50-3c75-0000-000000000000</groupId>
                <id>6251ef35-4021-3d32-0000-000000000000</id>
                <type>PROCESSOR</type>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
            <name></name>
            <source>
                <groupId>410c037f-749d-3170-0000-000000000000</groupId>
                <id>e535714c-19ed-3682-0000-000000000000</id>
                <type>OUTPUT_PORT</type>
                <versionedComponentId>8a9c0740-f38f-3f7b-b751-0cb5523562a2</versionedComponentId>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <controllerServices>
            <id>1f9e1a90-24a5-3a30-0000-000000000000</id>
            <parentGroupId>877a5ebb-ad50-3c75-0000-000000000000</parentGroupId>
            <versionedComponentId>1f9e1a90-24a5-3a30-849a-e4f8cdca796c</versionedComponentId>
            <bundle>
                <artifact>nifi-record-serialization-services-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.12.1</version>
            </bundle>
            <comments></comments>
            <descriptors>
                <entry>
                    <key>schema-access-strategy</key>
                    <value>
                        <name>schema-access-strategy</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-registry</key>
                    <value>
                        <identifiesControllerService>org.apache.nifi.schemaregistry.services.SchemaRegistry</identifiesControllerService>
                        <name>schema-registry</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-name</key>
                    <value>
                        <name>schema-name</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-version</key>
                    <value>
                        <name>schema-version</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-branch</key>
                    <value>
                        <name>schema-branch</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-text</key>
                    <value>
                        <name>schema-text</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-inference-cache</key>
                    <value>
                        <identifiesControllerService>org.apache.nifi.serialization.RecordSchemaCacheService</identifiesControllerService>
                        <name>schema-inference-cache</name>
                    </value>
                </entry>
                <entry>
                    <key>Date Format</key>
                    <value>
                        <name>Date Format</name>
                    </value>
                </entry>
                <entry>
                    <key>Time Format</key>
                    <value>
                        <name>Time Format</name>
                    </value>
                </entry>
                <entry>
                    <key>Timestamp Format</key>
                    <value>
                        <name>Timestamp Format</name>
                    </value>
                </entry>
            </descriptors>
            <name>JsonTreeReader</name>
            <persistsState>false</persistsState>
            <properties>
                <entry>
                    <key>schema-access-strategy</key>
                    <value>infer-schema</value>
                </entry>
                <entry>
                    <key>schema-registry</key>
                </entry>
                <entry>
                    <key>schema-name</key>
                    <value>${tessianmodule}</value>
                </entry>
                <entry>
                    <key>schema-version</key>
                </entry>
                <entry>
                    <key>schema-branch</key>
                </entry>
                <entry>
                    <key>schema-text</key>
                    <value>${avro.schema}</value>
                </entry>
                <entry>
                    <key>schema-inference-cache</key>
                </entry>
                <entry>
                    <key>Date Format</key>
                </entry>
                <entry>
                    <key>Time Format</key>
                </entry>
                <entry>
                    <key>Timestamp Format</key>
                </entry>
            </properties>
            <state>ENABLED</state>
            <type>org.apache.nifi.json.JsonTreeReader</type>
        </controllerServices>
        <controllerServices>
            <id>45d88c65-eed8-3308-0000-000000000000</id>
            <parentGroupId>877a5ebb-ad50-3c75-0000-000000000000</parentGroupId>
            <versionedComponentId>45d88c65-eed8-3308-beb9-9363c3169e16</versionedComponentId>
            <bundle>
                <artifact>nifi-record-serialization-services-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.12.1</version>
            </bundle>
            <comments></comments>
            <descriptors>
                <entry>
                    <key>Schema Write Strategy</key>
                    <value>
                        <name>Schema Write Strategy</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-cache</key>
                    <value>
                        <identifiesControllerService>org.apache.nifi.serialization.RecordSchemaCacheService</identifiesControllerService>
                        <name>schema-cache</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-protocol-version</key>
                    <value>
                        <name>schema-protocol-version</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-access-strategy</key>
                    <value>
                        <name>schema-access-strategy</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-registry</key>
                    <value>
                        <identifiesControllerService>org.apache.nifi.schemaregistry.services.SchemaRegistry</identifiesControllerService>
                        <name>schema-registry</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-name</key>
                    <value>
                        <name>schema-name</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-version</key>
                    <value>
                        <name>schema-version</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-branch</key>
                    <value>
                        <name>schema-branch</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-text</key>
                    <value>
                        <name>schema-text</name>
                    </value>
                </entry>
                <entry>
                    <key>Date Format</key>
                    <value>
                        <name>Date Format</name>
                    </value>
                </entry>
                <entry>
                    <key>Time Format</key>
                    <value>
                        <name>Time Format</name>
                    </value>
                </entry>
                <entry>
                    <key>Timestamp Format</key>
                    <value>
                        <name>Timestamp Format</name>
                    </value>
                </entry>
                <entry>
                    <key>Pretty Print JSON</key>
                    <value>
                        <name>Pretty Print JSON</name>
                    </value>
                </entry>
                <entry>
                    <key>suppress-nulls</key>
                    <value>
                        <name>suppress-nulls</name>
                    </value>
                </entry>
                <entry>
                    <key>output-grouping</key>
                    <value>
                        <name>output-grouping</name>
                    </value>
                </entry>
                <entry>
                    <key>compression-format</key>
                    <value>
                        <name>compression-format</name>
                    </value>
                </entry>
                <entry>
                    <key>compression-level</key>
                    <value>
                        <name>compression-level</name>
                    </value>
                </entry>
            </descriptors>
            <name>JsonRecordSetWriter</name>
            <persistsState>false</persistsState>
            <properties>
                <entry>
                    <key>Schema Write Strategy</key>
                    <value>no-schema</value>
                </entry>
                <entry>
                    <key>schema-cache</key>
                </entry>
                <entry>
                    <key>schema-protocol-version</key>
                    <value>1</value>
                </entry>
                <entry>
                    <key>schema-access-strategy</key>
                    <value>inherit-record-schema</value>
                </entry>
                <entry>
                    <key>schema-registry</key>
                </entry>
                <entry>
                    <key>schema-name</key>
                    <value>${schema.name}</value>
                </entry>
                <entry>
                    <key>schema-version</key>
                </entry>
                <entry>
                    <key>schema-branch</key>
                </entry>
                <entry>
                    <key>schema-text</key>
                    <value>${avro.schema}</value>
                </entry>
                <entry>
                    <key>Date Format</key>
                </entry>
                <entry>
                    <key>Time Format</key>
                </entry>
                <entry>
                    <key>Timestamp Format</key>
                </entry>
                <entry>
                    <key>Pretty Print JSON</key>
                    <value>false</value>
                </entry>
                <entry>
                    <key>suppress-nulls</key>
                    <value>never-suppress</value>
                </entry>
                <entry>
                    <key>output-grouping</key>
                    <value>output-array</value>
                </entry>
                <entry>
                    <key>compression-format</key>
                    <value>none</value>
                </entry>
                <entry>
                    <key>compression-level</key>
                    <value>1</value>
                </entry>
            </properties>
            <state>ENABLED</state>
            <type>org.apache.nifi.json.JsonRecordSetWriter</type>
        </controllerServices>
        <funnels>
            <id>352b4c76-ca85-35f8-0000-000000000000</id>
            <parentGroupId>877a5ebb-ad50-3c75-0000-000000000000</parentGroupId>
            <position>
                <x>1528.0</x>
                <y>944.0</y>
            </position>
            <versionedComponentId>352b4c76-ca85-35f8-abb6-d9ba64bcc3a4</versionedComponentId>
        </funnels>
        <funnels>
            <id>4200e9ea-10d2-35e4-0000-000000000000</id>
            <parentGroupId>877a5ebb-ad50-3c75-0000-000000000000</parentGroupId>
            <position>
                <x>824.0</x>
                <y>1816.0</y>
            </position>
        </funnels>
        <funnels>
            <id>54d7162f-4529-39b7-0000-000000000000</id>
            <parentGroupId>877a5ebb-ad50-3c75-0000-000000000000</parentGroupId>
            <position>
                <x>1424.0</x>
                <y>1704.0</y>
            </position>
            <versionedComponentId>54d7162f-4529-39b7-9fb5-a3ef75478f8c</versionedComponentId>
        </funnels>
        <funnels>
            <id>7829a7c4-b6e0-377f-0000-000000000000</id>
            <parentGroupId>877a5ebb-ad50-3c75-0000-000000000000</parentGroupId>
            <position>
                <x>1496.0</x>
                <y>2032.0</y>
            </position>
        </funnels>
        <funnels>
            <id>f70d18f6-a11a-340a-0000-000000000000</id>
            <parentGroupId>877a5ebb-ad50-3c75-0000-000000000000</parentGroupId>
            <position>
                <x>1328.0</x>
                <y>0.0</y>
            </position>
            <versionedComponentId>f70d18f6-a11a-340a-8e7a-07784778b061</versionedComponentId>
        </funnels>
        <inputPorts>
            <id>0b514003-83e0-3026-0000-000000000000</id>
            <parentGroupId>877a5ebb-ad50-3c75-0000-000000000000</parentGroupId>
            <position>
                <x>0.0</x>
                <y>200.0</y>
            </position>
            <versionedComponentId>0b514003-83e0-3026-bf97-27362c869ce9</versionedComponentId>
            <comments></comments>
            <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
            <name>Tessian Benchmark Logs</name>
            <state>RUNNING</state>
            <type>INPUT_PORT</type>
        </inputPorts>
        <inputPorts>
            <id>8dc6fa8d-b39f-3dfe-0000-000000000000</id>
            <parentGroupId>877a5ebb-ad50-3c75-0000-000000000000</parentGroupId>
            <position>
                <x>0.0</x>
                <y>40.0</y>
            </position>
            <versionedComponentId>8dc6fa8d-b39f-3dfe-be3c-97d8a6109f06</versionedComponentId>
            <comments></comments>
            <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
            <name>Tessian Schroders Logs</name>
            <state>RUNNING</state>
            <type>INPUT_PORT</type>
        </inputPorts>
        <labels>
            <id>5c7db58e-9766-3541-0000-000000000000</id>
            <parentGroupId>877a5ebb-ad50-3c75-0000-000000000000</parentGroupId>
            <position>
                <x>1096.0</x>
                <y>1736.0</y>
            </position>
            <height>200.0</height>
            <label>The New Dev AWS S3 LZ was turned off on 2025-01-16 
The Old SBX AWS S3 LZ had already been turned off earlier
All necessary data sources are being delivered to, and should be consumed from  
the New Prod LZ</label>
            <style>
                <entry>
                    <key>font-size</key>
                    <value>12px</value>
                </entry>
            </style>
            <width>480.0</width>
        </labels>
        <processGroups>
            <id>410c037f-749d-3170-0000-000000000000</id>
            <parentGroupId>877a5ebb-ad50-3c75-0000-000000000000</parentGroupId>
            <position>
                <x>1936.0</x>
                <y>1768.0</y>
            </position>
            <comments>This flow will track how many times a given flow file routes through it.  If the number of times exceeds a specific maximum then it will route to the 'limit exceeded' port.  Otherwise it will route to 'retry'.

The attributes it uses are 'retry.counter' and 'retry.maxcount'.  If the 'retry.maxcount' is specified on a given flowfile then it will be honored.  Otherwise a default of '3' is set as the maximum retry count.

As the flowfile goes through this flow it increments the 'retry.maxcount' attribute by 1.  It then checks if this value exceeds 'retry.maxcount' and if so then it routes the flowfile to 'limit exceeded' otherwise it routes to 'retry'.

So you can configure the 'retry' relationship to loop back to the process you want and you can send the 'limit exceeded' to move on from that process to something else.</comments>
            <contents>
                <connections>
                    <id>48b6a8bd-c912-3cbb-0000-000000000000</id>
                    <parentGroupId>410c037f-749d-3170-0000-000000000000</parentGroupId>
                    <versionedComponentId>1c541ec6-f115-3818-8d50-49931b354dc5</versionedComponentId>
                    <backPressureDataSizeThreshold>0 MB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10</backPressureObjectThreshold>
                    <destination>
                        <groupId>410c037f-749d-3170-0000-000000000000</groupId>
                        <id>e535714c-19ed-3682-0000-000000000000</id>
                        <type>OUTPUT_PORT</type>
                        <versionedComponentId>8a9c0740-f38f-3f7b-b751-0cb5523562a2</versionedComponentId>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>Try again</selectedRelationships>
                    <source>
                        <groupId>410c037f-749d-3170-0000-000000000000</groupId>
                        <id>3cc304fa-daa4-36f1-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>01805251-b76d-33c2-a303-60c4ec160965</versionedComponentId>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>98d8fd6d-bfa4-3bc2-0000-000000000000</id>
                    <parentGroupId>410c037f-749d-3170-0000-000000000000</parentGroupId>
                    <versionedComponentId>ccdc00ce-1031-3236-a675-e7dadaea27c3</versionedComponentId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>100000</backPressureObjectThreshold>
                    <destination>
                        <groupId>410c037f-749d-3170-0000-000000000000</groupId>
                        <id>fe9bd3d4-ad45-3fa3-0000-000000000000</id>
                        <type>FUNNEL</type>
                        <versionedComponentId>4ed64c34-cc43-3dd4-a3d7-08aa56483268</versionedComponentId>
                    </destination>
                    <flowFileExpiration>0 days</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>unmatched</selectedRelationships>
                    <source>
                        <groupId>410c037f-749d-3170-0000-000000000000</groupId>
                        <id>3cc304fa-daa4-36f1-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>01805251-b76d-33c2-a303-60c4ec160965</versionedComponentId>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>bad4b4e5-41a6-38f9-0000-000000000000</id>
                    <parentGroupId>410c037f-749d-3170-0000-000000000000</parentGroupId>
                    <versionedComponentId>13145387-c758-3a61-bd51-4dd5963ed52f</versionedComponentId>
                    <backPressureDataSizeThreshold>0 MB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10</backPressureObjectThreshold>
                    <destination>
                        <groupId>410c037f-749d-3170-0000-000000000000</groupId>
                        <id>c4d7f0ea-1316-396b-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>260ae67a-744b-3122-ab46-999ee9b823a8</versionedComponentId>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <source>
                        <groupId>410c037f-749d-3170-0000-000000000000</groupId>
                        <id>6770d425-fff2-3401-0000-000000000000</id>
                        <type>INPUT_PORT</type>
                        <versionedComponentId>dd27b5e5-b445-3283-8958-df4ac03562bf</versionedComponentId>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>bb5e35f0-28a9-3cea-0000-000000000000</id>
                    <parentGroupId>410c037f-749d-3170-0000-000000000000</parentGroupId>
                    <versionedComponentId>2f2d6e42-bbf1-33eb-b5b3-037a32ca3587</versionedComponentId>
                    <backPressureDataSizeThreshold>0 MB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>100</backPressureObjectThreshold>
                    <destination>
                        <groupId>410c037f-749d-3170-0000-000000000000</groupId>
                        <id>3cc304fa-daa4-36f1-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>01805251-b76d-33c2-a303-60c4ec160965</versionedComponentId>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>success</selectedRelationships>
                    <source>
                        <groupId>410c037f-749d-3170-0000-000000000000</groupId>
                        <id>c4d7f0ea-1316-396b-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>260ae67a-744b-3122-ab46-999ee9b823a8</versionedComponentId>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <funnels>
                    <id>fe9bd3d4-ad45-3fa3-0000-000000000000</id>
                    <parentGroupId>410c037f-749d-3170-0000-000000000000</parentGroupId>
                    <position>
                        <x>1055.5088557816625</x>
                        <y>473.8863572898272</y>
                    </position>
                    <versionedComponentId>4ed64c34-cc43-3dd4-a3d7-08aa56483268</versionedComponentId>
                </funnels>
                <inputPorts>
                    <id>6770d425-fff2-3401-0000-000000000000</id>
                    <parentGroupId>410c037f-749d-3170-0000-000000000000</parentGroupId>
                    <position>
                        <x>418.0189879282432</x>
                        <y>107.99999712137014</y>
                    </position>
                    <versionedComponentId>dd27b5e5-b445-3283-8958-df4ac03562bf</versionedComponentId>
                    <comments></comments>
                    <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                    <name>data</name>
                    <state>DISABLED</state>
                    <type>INPUT_PORT</type>
                </inputPorts>
                <labels>
                    <id>ce761017-4cc8-3f8d-0000-000000000000</id>
                    <parentGroupId>410c037f-749d-3170-0000-000000000000</parentGroupId>
                    <position>
                        <x>-194.96208164979453</x>
                        <y>124.19798271082527</y>
                    </position>
                    <versionedComponentId>1659e998-f815-3b09-af16-b2d585cdae6e</versionedComponentId>
                    <height>84.0</height>
                    <label>Right click empty space -&gt; group variables 
set max_retry variable</label>
                    <style>
                        <entry>
                            <key>font-size</key>
                            <value>24px</value>
                        </entry>
                    </style>
                    <width>541.9999847412109</width>
                </labels>
                <outputPorts>
                    <id>e535714c-19ed-3682-0000-000000000000</id>
                    <parentGroupId>410c037f-749d-3170-0000-000000000000</parentGroupId>
                    <position>
                        <x>-191.96208259025042</x>
                        <y>467.8863572898272</y>
                    </position>
                    <versionedComponentId>8a9c0740-f38f-3f7b-b751-0cb5523562a2</versionedComponentId>
                    <comments>Items sent to this port have not yet exceeded the maximum retry count.</comments>
                    <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                    <name>retry</name>
                    <state>DISABLED</state>
                    <type>OUTPUT_PORT</type>
                </outputPorts>
                <processors>
                    <id>3cc304fa-daa4-36f1-0000-000000000000</id>
                    <parentGroupId>410c037f-749d-3170-0000-000000000000</parentGroupId>
                    <position>
                        <x>363.0189879282432</x>
                        <y>432.8863572898272</y>
                    </position>
                    <versionedComponentId>01805251-b76d-33c2-a303-60c4ec160965</versionedComponentId>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.12.1</version>
                    </bundle>
                    <config>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>Routing Strategy</key>
<value>
    <name>Routing Strategy</name>
</value>
                            </entry>
                            <entry>
<key>Try again</key>
<value>
    <name>Try again</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>Routing Strategy</key>
<value>Route to Property name</value>
                            </entry>
                            <entry>
<key>Try again</key>
<value>${retry.counter:le('${retry.maxcount}')}</value>
                            </entry>
                        </properties>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>30 s</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>Check Retry Count</name>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>Try again</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>unmatched</name>
                    </relationships>
                    <state>DISABLED</state>
                    <style/>
                    <type>org.apache.nifi.processors.standard.RouteOnAttribute</type>
                </processors>
                <processors>
                    <id>c4d7f0ea-1316-396b-0000-000000000000</id>
                    <parentGroupId>410c037f-749d-3170-0000-000000000000</parentGroupId>
                    <position>
                        <x>363.01898792824323</x>
                        <y>218.00000475076467</y>
                    </position>
                    <versionedComponentId>260ae67a-744b-3122-ab46-999ee9b823a8</versionedComponentId>
                    <bundle>
                        <artifact>nifi-update-attribute-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.12.1</version>
                    </bundle>
                    <config>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>Delete Attributes Expression</key>
<value>
    <name>Delete Attributes Expression</name>
</value>
                            </entry>
                            <entry>
<key>Store State</key>
<value>
    <name>Store State</name>
</value>
                            </entry>
                            <entry>
<key>Stateful Variables Initial Value</key>
<value>
    <name>Stateful Variables Initial Value</name>
</value>
                            </entry>
                            <entry>
<key>canonical-value-lookup-cache-size</key>
<value>
    <name>canonical-value-lookup-cache-size</name>
</value>
                            </entry>
                            <entry>
<key>retry.counter</key>
<value>
    <name>retry.counter</name>
</value>
                            </entry>
                            <entry>
<key>retry.maxcount</key>
<value>
    <name>retry.maxcount</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>Delete Attributes Expression</key>
                            </entry>
                            <entry>
<key>Store State</key>
<value>Do not store state</value>
                            </entry>
                            <entry>
<key>Stateful Variables Initial Value</key>
                            </entry>
                            <entry>
<key>canonical-value-lookup-cache-size</key>
<value>100</value>
                            </entry>
                            <entry>
<key>retry.counter</key>
<value>${retry.counter:replaceNull('0'):plus(1)}</value>
                            </entry>
                            <entry>
<key>retry.maxcount</key>
<value>${retry.maxcount:replaceNull(${max_retry})}</value>
                            </entry>
                        </properties>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>Set retry counter</name>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>success</name>
                    </relationships>
                    <state>DISABLED</state>
                    <style/>
                    <type>org.apache.nifi.processors.attributes.UpdateAttribute</type>
                </processors>
            </contents>
            <flowfileConcurrency>UNBOUNDED</flowfileConcurrency>
            <flowfileOutboundPolicy>STREAM_WHEN_AVAILABLE</flowfileOutboundPolicy>
            <name>Retry Check Loop</name>
            <variables>
                <entry>
                    <key>max_retry</key>
                    <value>5</value>
                </entry>
            </variables>
        </processGroups>
        <processGroups>
            <id>4db7cf97-82f6-338b-0000-000000000000</id>
            <parentGroupId>877a5ebb-ad50-3c75-0000-000000000000</parentGroupId>
            <position>
                <x>1936.0</x>
                <y>1456.0</y>
            </position>
            <versionedComponentId>4db7cf97-82f6-338b-b667-9f9d8e1c6332</versionedComponentId>
            <comments>This flow will track how many times a given flow file routes through it.  If the number of times exceeds a specific maximum then it will route to the 'limit exceeded' port.  Otherwise it will route to 'retry'.

The attributes it uses are 'retry.counter' and 'retry.maxcount'.  If the 'retry.maxcount' is specified on a given flowfile then it will be honored.  Otherwise a default of '3' is set as the maximum retry count.

As the flowfile goes through this flow it increments the 'retry.maxcount' attribute by 1.  It then checks if this value exceeds 'retry.maxcount' and if so then it routes the flowfile to 'limit exceeded' otherwise it routes to 'retry'.

So you can configure the 'retry' relationship to loop back to the process you want and you can send the 'limit exceeded' to move on from that process to something else.</comments>
            <contents>
                <connections>
                    <id>13145387-c758-3a61-0000-000000000000</id>
                    <parentGroupId>4db7cf97-82f6-338b-0000-000000000000</parentGroupId>
                    <versionedComponentId>13145387-c758-3a61-bd51-4dd5963ed52f</versionedComponentId>
                    <backPressureDataSizeThreshold>0 MB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10</backPressureObjectThreshold>
                    <destination>
                        <groupId>4db7cf97-82f6-338b-0000-000000000000</groupId>
                        <id>260ae67a-744b-3122-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>260ae67a-744b-3122-ab46-999ee9b823a8</versionedComponentId>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <source>
                        <groupId>4db7cf97-82f6-338b-0000-000000000000</groupId>
                        <id>dd27b5e5-b445-3283-0000-000000000000</id>
                        <type>INPUT_PORT</type>
                        <versionedComponentId>dd27b5e5-b445-3283-8958-df4ac03562bf</versionedComponentId>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>1c541ec6-f115-3818-0000-000000000000</id>
                    <parentGroupId>4db7cf97-82f6-338b-0000-000000000000</parentGroupId>
                    <versionedComponentId>1c541ec6-f115-3818-8d50-49931b354dc5</versionedComponentId>
                    <backPressureDataSizeThreshold>0 MB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10</backPressureObjectThreshold>
                    <destination>
                        <groupId>4db7cf97-82f6-338b-0000-000000000000</groupId>
                        <id>8a9c0740-f38f-3f7b-0000-000000000000</id>
                        <type>OUTPUT_PORT</type>
                        <versionedComponentId>8a9c0740-f38f-3f7b-b751-0cb5523562a2</versionedComponentId>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>Try again</selectedRelationships>
                    <source>
                        <groupId>4db7cf97-82f6-338b-0000-000000000000</groupId>
                        <id>01805251-b76d-33c2-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>01805251-b76d-33c2-a303-60c4ec160965</versionedComponentId>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>2f2d6e42-bbf1-33eb-0000-000000000000</id>
                    <parentGroupId>4db7cf97-82f6-338b-0000-000000000000</parentGroupId>
                    <versionedComponentId>2f2d6e42-bbf1-33eb-b5b3-037a32ca3587</versionedComponentId>
                    <backPressureDataSizeThreshold>0 MB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>100</backPressureObjectThreshold>
                    <destination>
                        <groupId>4db7cf97-82f6-338b-0000-000000000000</groupId>
                        <id>01805251-b76d-33c2-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>01805251-b76d-33c2-a303-60c4ec160965</versionedComponentId>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>success</selectedRelationships>
                    <source>
                        <groupId>4db7cf97-82f6-338b-0000-000000000000</groupId>
                        <id>260ae67a-744b-3122-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>260ae67a-744b-3122-ab46-999ee9b823a8</versionedComponentId>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>ccdc00ce-1031-3236-0000-000000000000</id>
                    <parentGroupId>4db7cf97-82f6-338b-0000-000000000000</parentGroupId>
                    <versionedComponentId>ccdc00ce-1031-3236-a675-e7dadaea27c3</versionedComponentId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>100000</backPressureObjectThreshold>
                    <destination>
                        <groupId>4db7cf97-82f6-338b-0000-000000000000</groupId>
                        <id>4ed64c34-cc43-3dd4-0000-000000000000</id>
                        <type>FUNNEL</type>
                        <versionedComponentId>4ed64c34-cc43-3dd4-a3d7-08aa56483268</versionedComponentId>
                    </destination>
                    <flowFileExpiration>0 days</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>unmatched</selectedRelationships>
                    <source>
                        <groupId>4db7cf97-82f6-338b-0000-000000000000</groupId>
                        <id>01805251-b76d-33c2-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>01805251-b76d-33c2-a303-60c4ec160965</versionedComponentId>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <funnels>
                    <id>4ed64c34-cc43-3dd4-0000-000000000000</id>
                    <parentGroupId>4db7cf97-82f6-338b-0000-000000000000</parentGroupId>
                    <position>
                        <x>1055.5088557816625</x>
                        <y>473.8863572898272</y>
                    </position>
                    <versionedComponentId>4ed64c34-cc43-3dd4-a3d7-08aa56483268</versionedComponentId>
                </funnels>
                <inputPorts>
                    <id>dd27b5e5-b445-3283-0000-000000000000</id>
                    <parentGroupId>4db7cf97-82f6-338b-0000-000000000000</parentGroupId>
                    <position>
                        <x>418.0189879282432</x>
                        <y>107.99999712137014</y>
                    </position>
                    <versionedComponentId>dd27b5e5-b445-3283-8958-df4ac03562bf</versionedComponentId>
                    <comments></comments>
                    <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                    <name>data</name>
                    <state>DISABLED</state>
                    <type>INPUT_PORT</type>
                </inputPorts>
                <labels>
                    <id>1659e998-f815-3b09-0000-000000000000</id>
                    <parentGroupId>4db7cf97-82f6-338b-0000-000000000000</parentGroupId>
                    <position>
                        <x>-194.96208164979453</x>
                        <y>124.19798271082527</y>
                    </position>
                    <versionedComponentId>1659e998-f815-3b09-af16-b2d585cdae6e</versionedComponentId>
                    <height>84.0</height>
                    <label>Right click empty space -&gt; group variables 
set max_retry variable</label>
                    <style>
                        <entry>
                            <key>font-size</key>
                            <value>24px</value>
                        </entry>
                    </style>
                    <width>541.9999847412109</width>
                </labels>
                <outputPorts>
                    <id>8a9c0740-f38f-3f7b-0000-000000000000</id>
                    <parentGroupId>4db7cf97-82f6-338b-0000-000000000000</parentGroupId>
                    <position>
                        <x>-191.96208259025042</x>
                        <y>467.8863572898272</y>
                    </position>
                    <versionedComponentId>8a9c0740-f38f-3f7b-b751-0cb5523562a2</versionedComponentId>
                    <comments>Items sent to this port have not yet exceeded the maximum retry count.</comments>
                    <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                    <name>retry</name>
                    <state>DISABLED</state>
                    <type>OUTPUT_PORT</type>
                </outputPorts>
                <processors>
                    <id>01805251-b76d-33c2-0000-000000000000</id>
                    <parentGroupId>4db7cf97-82f6-338b-0000-000000000000</parentGroupId>
                    <position>
                        <x>363.0189879282432</x>
                        <y>432.8863572898272</y>
                    </position>
                    <versionedComponentId>01805251-b76d-33c2-a303-60c4ec160965</versionedComponentId>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.12.1</version>
                    </bundle>
                    <config>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>Routing Strategy</key>
<value>
    <name>Routing Strategy</name>
</value>
                            </entry>
                            <entry>
<key>Try again</key>
<value>
    <name>Try again</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>Routing Strategy</key>
<value>Route to Property name</value>
                            </entry>
                            <entry>
<key>Try again</key>
<value>${retry.counter:le('${retry.maxcount}')}</value>
                            </entry>
                        </properties>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>30 s</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>Check Retry Count</name>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>Try again</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>unmatched</name>
                    </relationships>
                    <state>DISABLED</state>
                    <style/>
                    <type>org.apache.nifi.processors.standard.RouteOnAttribute</type>
                </processors>
                <processors>
                    <id>260ae67a-744b-3122-0000-000000000000</id>
                    <parentGroupId>4db7cf97-82f6-338b-0000-000000000000</parentGroupId>
                    <position>
                        <x>363.01898792824323</x>
                        <y>218.00000475076467</y>
                    </position>
                    <versionedComponentId>260ae67a-744b-3122-ab46-999ee9b823a8</versionedComponentId>
                    <bundle>
                        <artifact>nifi-update-attribute-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.12.1</version>
                    </bundle>
                    <config>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>Delete Attributes Expression</key>
<value>
    <name>Delete Attributes Expression</name>
</value>
                            </entry>
                            <entry>
<key>Store State</key>
<value>
    <name>Store State</name>
</value>
                            </entry>
                            <entry>
<key>Stateful Variables Initial Value</key>
<value>
    <name>Stateful Variables Initial Value</name>
</value>
                            </entry>
                            <entry>
<key>canonical-value-lookup-cache-size</key>
<value>
    <name>canonical-value-lookup-cache-size</name>
</value>
                            </entry>
                            <entry>
<key>retry.counter</key>
<value>
    <name>retry.counter</name>
</value>
                            </entry>
                            <entry>
<key>retry.maxcount</key>
<value>
    <name>retry.maxcount</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>Delete Attributes Expression</key>
                            </entry>
                            <entry>
<key>Store State</key>
<value>Do not store state</value>
                            </entry>
                            <entry>
<key>Stateful Variables Initial Value</key>
                            </entry>
                            <entry>
<key>canonical-value-lookup-cache-size</key>
<value>100</value>
                            </entry>
                            <entry>
<key>retry.counter</key>
<value>${retry.counter:replaceNull('0'):plus(1)}</value>
                            </entry>
                            <entry>
<key>retry.maxcount</key>
<value>${retry.maxcount:replaceNull(${max_retry})}</value>
                            </entry>
                        </properties>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>Set retry counter</name>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>success</name>
                    </relationships>
                    <state>DISABLED</state>
                    <style/>
                    <type>org.apache.nifi.processors.attributes.UpdateAttribute</type>
                </processors>
            </contents>
            <flowfileConcurrency>UNBOUNDED</flowfileConcurrency>
            <flowfileOutboundPolicy>STREAM_WHEN_AVAILABLE</flowfileOutboundPolicy>
            <name>Retry Check Loop</name>
            <variables>
                <entry>
                    <key>max_retry</key>
                    <value>5</value>
                </entry>
            </variables>
        </processGroups>
        <processGroups>
            <id>c6ad1c37-f2f4-3716-0000-000000000000</id>
            <parentGroupId>877a5ebb-ad50-3c75-0000-000000000000</parentGroupId>
            <position>
                <x>1936.0</x>
                <y>2112.0</y>
            </position>
            <comments>This flow will track how many times a given flow file routes through it.  If the number of times exceeds a specific maximum then it will route to the 'limit exceeded' port.  Otherwise it will route to 'retry'.

The attributes it uses are 'retry.counter' and 'retry.maxcount'.  If the 'retry.maxcount' is specified on a given flowfile then it will be honored.  Otherwise a default of '3' is set as the maximum retry count.

As the flowfile goes through this flow it increments the 'retry.maxcount' attribute by 1.  It then checks if this value exceeds 'retry.maxcount' and if so then it routes the flowfile to 'limit exceeded' otherwise it routes to 'retry'.

So you can configure the 'retry' relationship to loop back to the process you want and you can send the 'limit exceeded' to move on from that process to something else.</comments>
            <contents>
                <connections>
                    <id>4ea7044f-53a5-3506-0000-000000000000</id>
                    <parentGroupId>c6ad1c37-f2f4-3716-0000-000000000000</parentGroupId>
                    <versionedComponentId>2f2d6e42-bbf1-33eb-b5b3-037a32ca3587</versionedComponentId>
                    <backPressureDataSizeThreshold>0 MB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>100</backPressureObjectThreshold>
                    <destination>
                        <groupId>c6ad1c37-f2f4-3716-0000-000000000000</groupId>
                        <id>227fd731-771d-3087-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>01805251-b76d-33c2-a303-60c4ec160965</versionedComponentId>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>success</selectedRelationships>
                    <source>
                        <groupId>c6ad1c37-f2f4-3716-0000-000000000000</groupId>
                        <id>6a0f269d-4d0d-3b7f-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>260ae67a-744b-3122-ab46-999ee9b823a8</versionedComponentId>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>4f250f19-59e9-32b2-0000-000000000000</id>
                    <parentGroupId>c6ad1c37-f2f4-3716-0000-000000000000</parentGroupId>
                    <versionedComponentId>ccdc00ce-1031-3236-a675-e7dadaea27c3</versionedComponentId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>100000</backPressureObjectThreshold>
                    <destination>
                        <groupId>c6ad1c37-f2f4-3716-0000-000000000000</groupId>
                        <id>f167acbb-8e8b-3745-0000-000000000000</id>
                        <type>FUNNEL</type>
                        <versionedComponentId>4ed64c34-cc43-3dd4-a3d7-08aa56483268</versionedComponentId>
                    </destination>
                    <flowFileExpiration>0 days</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>unmatched</selectedRelationships>
                    <source>
                        <groupId>c6ad1c37-f2f4-3716-0000-000000000000</groupId>
                        <id>227fd731-771d-3087-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>01805251-b76d-33c2-a303-60c4ec160965</versionedComponentId>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>cbb68179-8092-3234-0000-000000000000</id>
                    <parentGroupId>c6ad1c37-f2f4-3716-0000-000000000000</parentGroupId>
                    <versionedComponentId>13145387-c758-3a61-bd51-4dd5963ed52f</versionedComponentId>
                    <backPressureDataSizeThreshold>0 MB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10</backPressureObjectThreshold>
                    <destination>
                        <groupId>c6ad1c37-f2f4-3716-0000-000000000000</groupId>
                        <id>6a0f269d-4d0d-3b7f-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>260ae67a-744b-3122-ab46-999ee9b823a8</versionedComponentId>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <source>
                        <groupId>c6ad1c37-f2f4-3716-0000-000000000000</groupId>
                        <id>68f06695-a48a-3eef-0000-000000000000</id>
                        <type>INPUT_PORT</type>
                        <versionedComponentId>dd27b5e5-b445-3283-8958-df4ac03562bf</versionedComponentId>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>dc4c5349-1f06-3306-0000-000000000000</id>
                    <parentGroupId>c6ad1c37-f2f4-3716-0000-000000000000</parentGroupId>
                    <versionedComponentId>1c541ec6-f115-3818-8d50-49931b354dc5</versionedComponentId>
                    <backPressureDataSizeThreshold>0 MB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10</backPressureObjectThreshold>
                    <destination>
                        <groupId>c6ad1c37-f2f4-3716-0000-000000000000</groupId>
                        <id>e5f2ef2c-e827-33aa-0000-000000000000</id>
                        <type>OUTPUT_PORT</type>
                        <versionedComponentId>8a9c0740-f38f-3f7b-b751-0cb5523562a2</versionedComponentId>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>Try again</selectedRelationships>
                    <source>
                        <groupId>c6ad1c37-f2f4-3716-0000-000000000000</groupId>
                        <id>227fd731-771d-3087-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>01805251-b76d-33c2-a303-60c4ec160965</versionedComponentId>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <funnels>
                    <id>f167acbb-8e8b-3745-0000-000000000000</id>
                    <parentGroupId>c6ad1c37-f2f4-3716-0000-000000000000</parentGroupId>
                    <position>
                        <x>1055.5088557816625</x>
                        <y>473.8863572898272</y>
                    </position>
                    <versionedComponentId>4ed64c34-cc43-3dd4-a3d7-08aa56483268</versionedComponentId>
                </funnels>
                <inputPorts>
                    <id>68f06695-a48a-3eef-0000-000000000000</id>
                    <parentGroupId>c6ad1c37-f2f4-3716-0000-000000000000</parentGroupId>
                    <position>
                        <x>418.0189879282432</x>
                        <y>107.99999712137014</y>
                    </position>
                    <versionedComponentId>dd27b5e5-b445-3283-8958-df4ac03562bf</versionedComponentId>
                    <comments></comments>
                    <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                    <name>data</name>
                    <state>RUNNING</state>
                    <type>INPUT_PORT</type>
                </inputPorts>
                <labels>
                    <id>3efb160b-83d4-3a26-0000-000000000000</id>
                    <parentGroupId>c6ad1c37-f2f4-3716-0000-000000000000</parentGroupId>
                    <position>
                        <x>-194.96208164979453</x>
                        <y>124.19798271082527</y>
                    </position>
                    <versionedComponentId>1659e998-f815-3b09-af16-b2d585cdae6e</versionedComponentId>
                    <height>84.0</height>
                    <label>Right click empty space -&gt; group variables 
set max_retry variable</label>
                    <style>
                        <entry>
                            <key>font-size</key>
                            <value>24px</value>
                        </entry>
                    </style>
                    <width>541.9999847412109</width>
                </labels>
                <outputPorts>
                    <id>e5f2ef2c-e827-33aa-0000-000000000000</id>
                    <parentGroupId>c6ad1c37-f2f4-3716-0000-000000000000</parentGroupId>
                    <position>
                        <x>-191.96208259025042</x>
                        <y>467.8863572898272</y>
                    </position>
                    <versionedComponentId>8a9c0740-f38f-3f7b-b751-0cb5523562a2</versionedComponentId>
                    <comments>Items sent to this port have not yet exceeded the maximum retry count.</comments>
                    <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                    <name>retry</name>
                    <state>RUNNING</state>
                    <type>OUTPUT_PORT</type>
                </outputPorts>
                <processors>
                    <id>227fd731-771d-3087-0000-000000000000</id>
                    <parentGroupId>c6ad1c37-f2f4-3716-0000-000000000000</parentGroupId>
                    <position>
                        <x>363.0189879282432</x>
                        <y>432.8863572898272</y>
                    </position>
                    <versionedComponentId>01805251-b76d-33c2-a303-60c4ec160965</versionedComponentId>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.12.1</version>
                    </bundle>
                    <config>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>Routing Strategy</key>
<value>
    <name>Routing Strategy</name>
</value>
                            </entry>
                            <entry>
<key>Try again</key>
<value>
    <name>Try again</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>Routing Strategy</key>
<value>Route to Property name</value>
                            </entry>
                            <entry>
<key>Try again</key>
<value>${retry.counter:le('${retry.maxcount}')}</value>
                            </entry>
                        </properties>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>30 s</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>Check Retry Count</name>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>Try again</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>unmatched</name>
                    </relationships>
                    <state>RUNNING</state>
                    <style/>
                    <type>org.apache.nifi.processors.standard.RouteOnAttribute</type>
                </processors>
                <processors>
                    <id>6a0f269d-4d0d-3b7f-0000-000000000000</id>
                    <parentGroupId>c6ad1c37-f2f4-3716-0000-000000000000</parentGroupId>
                    <position>
                        <x>363.01898792824323</x>
                        <y>218.00000475076467</y>
                    </position>
                    <versionedComponentId>260ae67a-744b-3122-ab46-999ee9b823a8</versionedComponentId>
                    <bundle>
                        <artifact>nifi-update-attribute-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.12.1</version>
                    </bundle>
                    <config>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>Delete Attributes Expression</key>
<value>
    <name>Delete Attributes Expression</name>
</value>
                            </entry>
                            <entry>
<key>Store State</key>
<value>
    <name>Store State</name>
</value>
                            </entry>
                            <entry>
<key>Stateful Variables Initial Value</key>
<value>
    <name>Stateful Variables Initial Value</name>
</value>
                            </entry>
                            <entry>
<key>canonical-value-lookup-cache-size</key>
<value>
    <name>canonical-value-lookup-cache-size</name>
</value>
                            </entry>
                            <entry>
<key>retry.counter</key>
<value>
    <name>retry.counter</name>
</value>
                            </entry>
                            <entry>
<key>retry.maxcount</key>
<value>
    <name>retry.maxcount</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>Delete Attributes Expression</key>
                            </entry>
                            <entry>
<key>Store State</key>
<value>Do not store state</value>
                            </entry>
                            <entry>
<key>Stateful Variables Initial Value</key>
                            </entry>
                            <entry>
<key>canonical-value-lookup-cache-size</key>
<value>100</value>
                            </entry>
                            <entry>
<key>retry.counter</key>
<value>${retry.counter:replaceNull('0'):plus(1)}</value>
                            </entry>
                            <entry>
<key>retry.maxcount</key>
<value>${retry.maxcount:replaceNull(${max_retry})}</value>
                            </entry>
                        </properties>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>Set retry counter</name>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>success</name>
                    </relationships>
                    <state>RUNNING</state>
                    <style/>
                    <type>org.apache.nifi.processors.attributes.UpdateAttribute</type>
                </processors>
            </contents>
            <flowfileConcurrency>UNBOUNDED</flowfileConcurrency>
            <flowfileOutboundPolicy>STREAM_WHEN_AVAILABLE</flowfileOutboundPolicy>
            <name>Retry Check Loop</name>
            <variables>
                <entry>
                    <key>max_retry</key>
                    <value>5</value>
                </entry>
            </variables>
        </processGroups>
        <processors>
            <id>2387194b-5ef2-3c9f-0000-000000000000</id>
            <parentGroupId>877a5ebb-ad50-3c75-0000-000000000000</parentGroupId>
            <position>
                <x>672.0</x>
                <y>344.0</y>
            </position>
            <versionedComponentId>2387194b-5ef2-3c9f-b38b-784a539bac9b</versionedComponentId>
            <bundle>
                <artifact>nifi-update-attribute-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.12.1</version>
            </bundle>
            <config>
                <bulletinLevel>WARN</bulletinLevel>
                <comments></comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <descriptors>
                    <entry>
                        <key>Delete Attributes Expression</key>
                        <value>
                            <name>Delete Attributes Expression</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Store State</key>
                        <value>
                            <name>Store State</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Stateful Variables Initial Value</key>
                        <value>
                            <name>Stateful Variables Initial Value</name>
                        </value>
                    </entry>
                    <entry>
                        <key>canonical-value-lookup-cache-size</key>
                        <value>
                            <name>canonical-value-lookup-cache-size</name>
                        </value>
                    </entry>
                    <entry>
                        <key>dt</key>
                        <value>
                            <name>dt</name>
                        </value>
                    </entry>
                    <entry>
                        <key>timestamp</key>
                        <value>
                            <name>timestamp</name>
                        </value>
                    </entry>
                    <entry>
                        <key>topic</key>
                        <value>
                            <name>topic</name>
                        </value>
                    </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                    <entry>
                        <key>Delete Attributes Expression</key>
                    </entry>
                    <entry>
                        <key>Store State</key>
                        <value>Do not store state</value>
                    </entry>
                    <entry>
                        <key>Stateful Variables Initial Value</key>
                    </entry>
                    <entry>
                        <key>canonical-value-lookup-cache-size</key>
                        <value>100</value>
                    </entry>
                    <entry>
                        <key>dt</key>
                        <value>${now():format("yyyyMMdd")}</value>
                    </entry>
                    <entry>
                        <key>timestamp</key>
                        <value>${now():toNumber()}</value>
                    </entry>
                    <entry>
                        <key>topic</key>
                        <value>tessian_${tessianmodule}</value>
                    </entry>
                </properties>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>0 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
            </config>
            <executionNodeRestricted>false</executionNodeRestricted>
            <name>UpdateAttribute</name>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>success</name>
            </relationships>
            <state>RUNNING</state>
            <style/>
            <type>org.apache.nifi.processors.attributes.UpdateAttribute</type>
        </processors>
        <processors>
            <id>3b69dd33-955b-36f7-0000-000000000000</id>
            <parentGroupId>877a5ebb-ad50-3c75-0000-000000000000</parentGroupId>
            <position>
                <x>1208.0</x>
                <y>2152.0</y>
            </position>
            <bundle>
                <artifact>nifi-aws-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.12.1</version>
            </bundle>
            <config>
                <bulletinLevel>WARN</bulletinLevel>
                <comments></comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <descriptors>
                    <entry>
                        <key>Object Key</key>
                        <value>
                            <name>Object Key</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Bucket</key>
                        <value>
                            <name>Bucket</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Content Type</key>
                        <value>
                            <name>Content Type</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Content Disposition</key>
                        <value>
                            <name>Content Disposition</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Cache Control</key>
                        <value>
                            <name>Cache Control</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Access Key</key>
                        <value>
                            <name>Access Key</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Secret Key</key>
                        <value>
                            <name>Secret Key</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Credentials File</key>
                        <value>
                            <name>Credentials File</name>
                        </value>
                    </entry>
                    <entry>
                        <key>AWS Credentials Provider service</key>
                        <value>
                            <identifiesControllerService>org.apache.nifi.processors.aws.credentials.provider.service.AWSCredentialsProviderService</identifiesControllerService>
                            <name>AWS Credentials Provider service</name>
                        </value>
                    </entry>
                    <entry>
                        <key>s3-object-tags-prefix</key>
                        <value>
                            <name>s3-object-tags-prefix</name>
                        </value>
                    </entry>
                    <entry>
                        <key>s3-object-remove-tags-prefix</key>
                        <value>
                            <name>s3-object-remove-tags-prefix</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Storage Class</key>
                        <value>
                            <name>Storage Class</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Region</key>
                        <value>
                            <name>Region</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Communications Timeout</key>
                        <value>
                            <name>Communications Timeout</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Expiration Time Rule</key>
                        <value>
                            <name>Expiration Time Rule</name>
                        </value>
                    </entry>
                    <entry>
                        <key>FullControl User List</key>
                        <value>
                            <name>FullControl User List</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Read Permission User List</key>
                        <value>
                            <name>Read Permission User List</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Write Permission User List</key>
                        <value>
                            <name>Write Permission User List</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Read ACL User List</key>
                        <value>
                            <name>Read ACL User List</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Write ACL User List</key>
                        <value>
                            <name>Write ACL User List</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Owner</key>
                        <value>
                            <name>Owner</name>
                        </value>
                    </entry>
                    <entry>
                        <key>canned-acl</key>
                        <value>
                            <name>canned-acl</name>
                        </value>
                    </entry>
                    <entry>
                        <key>SSL Context Service</key>
                        <value>
                            <identifiesControllerService>org.apache.nifi.ssl.SSLContextService</identifiesControllerService>
                            <name>SSL Context Service</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Endpoint Override URL</key>
                        <value>
                            <name>Endpoint Override URL</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Signer Override</key>
                        <value>
                            <name>Signer Override</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Multipart Threshold</key>
                        <value>
                            <name>Multipart Threshold</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Multipart Part Size</key>
                        <value>
                            <name>Multipart Part Size</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Multipart Upload AgeOff Interval</key>
                        <value>
                            <name>Multipart Upload AgeOff Interval</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Multipart Upload Max Age Threshold</key>
                        <value>
                            <name>Multipart Upload Max Age Threshold</name>
                        </value>
                    </entry>
                    <entry>
                        <key>server-side-encryption</key>
                        <value>
                            <name>server-side-encryption</name>
                        </value>
                    </entry>
                    <entry>
                        <key>encryption-service</key>
                        <value>
                            <identifiesControllerService>org.apache.nifi.processors.aws.s3.AmazonS3EncryptionService</identifiesControllerService>
                            <name>encryption-service</name>
                        </value>
                    </entry>
                    <entry>
                        <key>use-chunked-encoding</key>
                        <value>
                            <name>use-chunked-encoding</name>
                        </value>
                    </entry>
                    <entry>
                        <key>use-path-style-access</key>
                        <value>
                            <name>use-path-style-access</name>
                        </value>
                    </entry>
                    <entry>
                        <key>proxy-configuration-service</key>
                        <value>
                            <identifiesControllerService>org.apache.nifi.proxy.ProxyConfigurationService</identifiesControllerService>
                            <name>proxy-configuration-service</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Proxy Host</key>
                        <value>
                            <name>Proxy Host</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Proxy Host Port</key>
                        <value>
                            <name>Proxy Host Port</name>
                        </value>
                    </entry>
                    <entry>
                        <key>proxy-user-name</key>
                        <value>
                            <name>proxy-user-name</name>
                        </value>
                    </entry>
                    <entry>
                        <key>proxy-user-password</key>
                        <value>
                            <name>proxy-user-password</name>
                        </value>
                    </entry>
                    <entry>
                        <key>s3-temporary-directory-multipart</key>
                        <value>
                            <name>s3-temporary-directory-multipart</name>
                        </value>
                    </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                    <entry>
                        <key>Object Key</key>
                        <value>outbound/${product}/${schema.name}/${timestamp:format("yyyy")}/${timestamp:format("MM")}/${timestamp:format("dd")}/${schema.name}_${timestamp:format("yyyyMMdd")}_${uuid}.json.bz2</value>
                    </entry>
                    <entry>
                        <key>Bucket</key>
                        <value>aws-cdi-data-outbound-294882693839-eu-west-1-bucket</value>
                    </entry>
                    <entry>
                        <key>Content Type</key>
                    </entry>
                    <entry>
                        <key>Content Disposition</key>
                    </entry>
                    <entry>
                        <key>Cache Control</key>
                    </entry>
                    <entry>
                        <key>Access Key</key>
                    </entry>
                    <entry>
                        <key>Secret Key</key>
                    </entry>
                    <entry>
                        <key>Credentials File</key>
                    </entry>
                    <entry>
                        <key>AWS Credentials Provider service</key>
                    </entry>
                    <entry>
                        <key>s3-object-tags-prefix</key>
                    </entry>
                    <entry>
                        <key>s3-object-remove-tags-prefix</key>
                        <value>false</value>
                    </entry>
                    <entry>
                        <key>Storage Class</key>
                        <value>Standard</value>
                    </entry>
                    <entry>
                        <key>Region</key>
                        <value>eu-west-1</value>
                    </entry>
                    <entry>
                        <key>Communications Timeout</key>
                        <value>30 secs</value>
                    </entry>
                    <entry>
                        <key>Expiration Time Rule</key>
                    </entry>
                    <entry>
                        <key>FullControl User List</key>
                        <value>${s3.permissions.full.users}</value>
                    </entry>
                    <entry>
                        <key>Read Permission User List</key>
                        <value>${s3.permissions.read.users}</value>
                    </entry>
                    <entry>
                        <key>Write Permission User List</key>
                        <value>${s3.permissions.write.users}</value>
                    </entry>
                    <entry>
                        <key>Read ACL User List</key>
                        <value>${s3.permissions.readacl.users}</value>
                    </entry>
                    <entry>
                        <key>Write ACL User List</key>
                        <value>${s3.permissions.writeacl.users}</value>
                    </entry>
                    <entry>
                        <key>Owner</key>
                        <value>${s3.owner}</value>
                    </entry>
                    <entry>
                        <key>canned-acl</key>
                        <value>${s3.permissions.cannedacl}</value>
                    </entry>
                    <entry>
                        <key>SSL Context Service</key>
                    </entry>
                    <entry>
                        <key>Endpoint Override URL</key>
                    </entry>
                    <entry>
                        <key>Signer Override</key>
                        <value>Default Signature</value>
                    </entry>
                    <entry>
                        <key>Multipart Threshold</key>
                        <value>5 GB</value>
                    </entry>
                    <entry>
                        <key>Multipart Part Size</key>
                        <value>5 GB</value>
                    </entry>
                    <entry>
                        <key>Multipart Upload AgeOff Interval</key>
                        <value>60 min</value>
                    </entry>
                    <entry>
                        <key>Multipart Upload Max Age Threshold</key>
                        <value>7 days</value>
                    </entry>
                    <entry>
                        <key>server-side-encryption</key>
                        <value>None</value>
                    </entry>
                    <entry>
                        <key>encryption-service</key>
                    </entry>
                    <entry>
                        <key>use-chunked-encoding</key>
                        <value>true</value>
                    </entry>
                    <entry>
                        <key>use-path-style-access</key>
                        <value>false</value>
                    </entry>
                    <entry>
                        <key>proxy-configuration-service</key>
                    </entry>
                    <entry>
                        <key>Proxy Host</key>
                    </entry>
                    <entry>
                        <key>Proxy Host Port</key>
                    </entry>
                    <entry>
                        <key>proxy-user-name</key>
                    </entry>
                    <entry>
                        <key>proxy-user-password</key>
                    </entry>
                    <entry>
                        <key>s3-temporary-directory-multipart</key>
                        <value>${java.io.tmpdir}</value>
                    </entry>
                </properties>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>0 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
            </config>
            <executionNodeRestricted>false</executionNodeRestricted>
            <name>toInfoSecS3Bucket_new_PRD_LZ</name>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>failure</name>
            </relationships>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>success</name>
            </relationships>
            <state>RUNNING</state>
            <style/>
            <type>org.apache.nifi.processors.aws.s3.PutS3Object</type>
        </processors>
        <processors>
            <id>4c41c3a7-3b25-3827-0000-000000000000</id>
            <parentGroupId>877a5ebb-ad50-3c75-0000-000000000000</parentGroupId>
            <position>
                <x>672.0</x>
                <y>896.0</y>
            </position>
            <versionedComponentId>4c41c3a7-3b25-3827-9f84-45a1bb0eb589</versionedComponentId>
            <bundle>
                <artifact>nifi-update-attribute-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.12.1</version>
            </bundle>
            <config>
                <bulletinLevel>WARN</bulletinLevel>
                <comments></comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <descriptors>
                    <entry>
                        <key>Delete Attributes Expression</key>
                        <value>
                            <name>Delete Attributes Expression</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Store State</key>
                        <value>
                            <name>Store State</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Stateful Variables Initial Value</key>
                        <value>
                            <name>Stateful Variables Initial Value</name>
                        </value>
                    </entry>
                    <entry>
                        <key>canonical-value-lookup-cache-size</key>
                        <value>
                            <name>canonical-value-lookup-cache-size</name>
                        </value>
                    </entry>
                    <entry>
                        <key>filename</key>
                        <value>
                            <name>filename</name>
                        </value>
                    </entry>
                    <entry>
                        <key>product</key>
                        <value>
                            <name>product</name>
                        </value>
                    </entry>
                    <entry>
                        <key>schema.name</key>
                        <value>
                            <name>schema.name</name>
                        </value>
                    </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                    <entry>
                        <key>Delete Attributes Expression</key>
                    </entry>
                    <entry>
                        <key>Store State</key>
                        <value>Do not store state</value>
                    </entry>
                    <entry>
                        <key>Stateful Variables Initial Value</key>
                    </entry>
                    <entry>
                        <key>canonical-value-lookup-cache-size</key>
                        <value>100</value>
                    </entry>
                    <entry>
                        <key>filename</key>
                        <value>${filename}-${timestamp}</value>
                    </entry>
                    <entry>
                        <key>product</key>
                        <value>tessian</value>
                    </entry>
                    <entry>
                        <key>schema.name</key>
                        <value>security_event</value>
                    </entry>
                </properties>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>0 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
            </config>
            <executionNodeRestricted>false</executionNodeRestricted>
            <name>UpdateAttribute</name>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>success</name>
            </relationships>
            <state>RUNNING</state>
            <style/>
            <type>org.apache.nifi.processors.attributes.UpdateAttribute</type>
        </processors>
        <processors>
            <id>6251ef35-4021-3d32-0000-000000000000</id>
            <parentGroupId>877a5ebb-ad50-3c75-0000-000000000000</parentGroupId>
            <position>
                <x>1200.0</x>
                <y>1784.0</y>
            </position>
            <bundle>
                <artifact>nifi-aws-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.12.1</version>
            </bundle>
            <config>
                <bulletinLevel>WARN</bulletinLevel>
                <comments></comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <descriptors>
                    <entry>
                        <key>Object Key</key>
                        <value>
                            <name>Object Key</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Bucket</key>
                        <value>
                            <name>Bucket</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Content Type</key>
                        <value>
                            <name>Content Type</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Content Disposition</key>
                        <value>
                            <name>Content Disposition</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Cache Control</key>
                        <value>
                            <name>Cache Control</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Access Key</key>
                        <value>
                            <name>Access Key</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Secret Key</key>
                        <value>
                            <name>Secret Key</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Credentials File</key>
                        <value>
                            <name>Credentials File</name>
                        </value>
                    </entry>
                    <entry>
                        <key>AWS Credentials Provider service</key>
                        <value>
                            <identifiesControllerService>org.apache.nifi.processors.aws.credentials.provider.service.AWSCredentialsProviderService</identifiesControllerService>
                            <name>AWS Credentials Provider service</name>
                        </value>
                    </entry>
                    <entry>
                        <key>s3-object-tags-prefix</key>
                        <value>
                            <name>s3-object-tags-prefix</name>
                        </value>
                    </entry>
                    <entry>
                        <key>s3-object-remove-tags-prefix</key>
                        <value>
                            <name>s3-object-remove-tags-prefix</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Storage Class</key>
                        <value>
                            <name>Storage Class</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Region</key>
                        <value>
                            <name>Region</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Communications Timeout</key>
                        <value>
                            <name>Communications Timeout</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Expiration Time Rule</key>
                        <value>
                            <name>Expiration Time Rule</name>
                        </value>
                    </entry>
                    <entry>
                        <key>FullControl User List</key>
                        <value>
                            <name>FullControl User List</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Read Permission User List</key>
                        <value>
                            <name>Read Permission User List</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Write Permission User List</key>
                        <value>
                            <name>Write Permission User List</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Read ACL User List</key>
                        <value>
                            <name>Read ACL User List</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Write ACL User List</key>
                        <value>
                            <name>Write ACL User List</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Owner</key>
                        <value>
                            <name>Owner</name>
                        </value>
                    </entry>
                    <entry>
                        <key>canned-acl</key>
                        <value>
                            <name>canned-acl</name>
                        </value>
                    </entry>
                    <entry>
                        <key>SSL Context Service</key>
                        <value>
                            <identifiesControllerService>org.apache.nifi.ssl.SSLContextService</identifiesControllerService>
                            <name>SSL Context Service</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Endpoint Override URL</key>
                        <value>
                            <name>Endpoint Override URL</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Signer Override</key>
                        <value>
                            <name>Signer Override</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Multipart Threshold</key>
                        <value>
                            <name>Multipart Threshold</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Multipart Part Size</key>
                        <value>
                            <name>Multipart Part Size</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Multipart Upload AgeOff Interval</key>
                        <value>
                            <name>Multipart Upload AgeOff Interval</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Multipart Upload Max Age Threshold</key>
                        <value>
                            <name>Multipart Upload Max Age Threshold</name>
                        </value>
                    </entry>
                    <entry>
                        <key>server-side-encryption</key>
                        <value>
                            <name>server-side-encryption</name>
                        </value>
                    </entry>
                    <entry>
                        <key>encryption-service</key>
                        <value>
                            <identifiesControllerService>org.apache.nifi.processors.aws.s3.AmazonS3EncryptionService</identifiesControllerService>
                            <name>encryption-service</name>
                        </value>
                    </entry>
                    <entry>
                        <key>use-chunked-encoding</key>
                        <value>
                            <name>use-chunked-encoding</name>
                        </value>
                    </entry>
                    <entry>
                        <key>use-path-style-access</key>
                        <value>
                            <name>use-path-style-access</name>
                        </value>
                    </entry>
                    <entry>
                        <key>proxy-configuration-service</key>
                        <value>
                            <identifiesControllerService>org.apache.nifi.proxy.ProxyConfigurationService</identifiesControllerService>
                            <name>proxy-configuration-service</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Proxy Host</key>
                        <value>
                            <name>Proxy Host</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Proxy Host Port</key>
                        <value>
                            <name>Proxy Host Port</name>
                        </value>
                    </entry>
                    <entry>
                        <key>proxy-user-name</key>
                        <value>
                            <name>proxy-user-name</name>
                        </value>
                    </entry>
                    <entry>
                        <key>proxy-user-password</key>
                        <value>
                            <name>proxy-user-password</name>
                        </value>
                    </entry>
                    <entry>
                        <key>s3-temporary-directory-multipart</key>
                        <value>
                            <name>s3-temporary-directory-multipart</name>
                        </value>
                    </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                    <entry>
                        <key>Object Key</key>
                        <value>outbound/${product}/${schema.name}/${timestamp:format("yyyy")}/${timestamp:format("MM")}/${timestamp:format("dd")}/${schema.name}_${timestamp:format("yyyyMMdd")}_${uuid}.json.bz2</value>
                    </entry>
                    <entry>
                        <key>Bucket</key>
                        <value>aws-cdi-data-outbound-924506175250-eu-west-1-bucket</value>
                    </entry>
                    <entry>
                        <key>Content Type</key>
                    </entry>
                    <entry>
                        <key>Content Disposition</key>
                    </entry>
                    <entry>
                        <key>Cache Control</key>
                    </entry>
                    <entry>
                        <key>Access Key</key>
                    </entry>
                    <entry>
                        <key>Secret Key</key>
                    </entry>
                    <entry>
                        <key>Credentials File</key>
                    </entry>
                    <entry>
                        <key>AWS Credentials Provider service</key>
                    </entry>
                    <entry>
                        <key>s3-object-tags-prefix</key>
                    </entry>
                    <entry>
                        <key>s3-object-remove-tags-prefix</key>
                        <value>false</value>
                    </entry>
                    <entry>
                        <key>Storage Class</key>
                        <value>Standard</value>
                    </entry>
                    <entry>
                        <key>Region</key>
                        <value>eu-west-1</value>
                    </entry>
                    <entry>
                        <key>Communications Timeout</key>
                        <value>30 secs</value>
                    </entry>
                    <entry>
                        <key>Expiration Time Rule</key>
                    </entry>
                    <entry>
                        <key>FullControl User List</key>
                        <value>${s3.permissions.full.users}</value>
                    </entry>
                    <entry>
                        <key>Read Permission User List</key>
                        <value>${s3.permissions.read.users}</value>
                    </entry>
                    <entry>
                        <key>Write Permission User List</key>
                        <value>${s3.permissions.write.users}</value>
                    </entry>
                    <entry>
                        <key>Read ACL User List</key>
                        <value>${s3.permissions.readacl.users}</value>
                    </entry>
                    <entry>
                        <key>Write ACL User List</key>
                        <value>${s3.permissions.writeacl.users}</value>
                    </entry>
                    <entry>
                        <key>Owner</key>
                        <value>${s3.owner}</value>
                    </entry>
                    <entry>
                        <key>canned-acl</key>
                        <value>${s3.permissions.cannedacl}</value>
                    </entry>
                    <entry>
                        <key>SSL Context Service</key>
                    </entry>
                    <entry>
                        <key>Endpoint Override URL</key>
                    </entry>
                    <entry>
                        <key>Signer Override</key>
                        <value>Default Signature</value>
                    </entry>
                    <entry>
                        <key>Multipart Threshold</key>
                        <value>5 GB</value>
                    </entry>
                    <entry>
                        <key>Multipart Part Size</key>
                        <value>5 GB</value>
                    </entry>
                    <entry>
                        <key>Multipart Upload AgeOff Interval</key>
                        <value>60 min</value>
                    </entry>
                    <entry>
                        <key>Multipart Upload Max Age Threshold</key>
                        <value>7 days</value>
                    </entry>
                    <entry>
                        <key>server-side-encryption</key>
                        <value>None</value>
                    </entry>
                    <entry>
                        <key>encryption-service</key>
                    </entry>
                    <entry>
                        <key>use-chunked-encoding</key>
                        <value>true</value>
                    </entry>
                    <entry>
                        <key>use-path-style-access</key>
                        <value>false</value>
                    </entry>
                    <entry>
                        <key>proxy-configuration-service</key>
                    </entry>
                    <entry>
                        <key>Proxy Host</key>
                    </entry>
                    <entry>
                        <key>Proxy Host Port</key>
                    </entry>
                    <entry>
                        <key>proxy-user-name</key>
                    </entry>
                    <entry>
                        <key>proxy-user-password</key>
                    </entry>
                    <entry>
                        <key>s3-temporary-directory-multipart</key>
                        <value>${java.io.tmpdir}</value>
                    </entry>
                </properties>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>0 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
            </config>
            <executionNodeRestricted>false</executionNodeRestricted>
            <name>toInfoSecS3Bucket_new_DEV_LZ</name>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>failure</name>
            </relationships>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>success</name>
            </relationships>
            <state>DISABLED</state>
            <style/>
            <type>org.apache.nifi.processors.aws.s3.PutS3Object</type>
        </processors>
        <processors>
            <id>8747cb6d-9407-3ab7-0000-000000000000</id>
            <parentGroupId>877a5ebb-ad50-3c75-0000-000000000000</parentGroupId>
            <position>
                <x>1208.0</x>
                <y>1480.0</y>
            </position>
            <versionedComponentId>8747cb6d-9407-3ab7-87ce-2671c52a4476</versionedComponentId>
            <bundle>
                <artifact>nifi-aws-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.12.1</version>
            </bundle>
            <config>
                <bulletinLevel>WARN</bulletinLevel>
                <comments></comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <descriptors>
                    <entry>
                        <key>Object Key</key>
                        <value>
                            <name>Object Key</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Bucket</key>
                        <value>
                            <name>Bucket</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Content Type</key>
                        <value>
                            <name>Content Type</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Content Disposition</key>
                        <value>
                            <name>Content Disposition</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Cache Control</key>
                        <value>
                            <name>Cache Control</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Access Key</key>
                        <value>
                            <name>Access Key</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Secret Key</key>
                        <value>
                            <name>Secret Key</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Credentials File</key>
                        <value>
                            <name>Credentials File</name>
                        </value>
                    </entry>
                    <entry>
                        <key>AWS Credentials Provider service</key>
                        <value>
                            <identifiesControllerService>org.apache.nifi.processors.aws.credentials.provider.service.AWSCredentialsProviderService</identifiesControllerService>
                            <name>AWS Credentials Provider service</name>
                        </value>
                    </entry>
                    <entry>
                        <key>s3-object-tags-prefix</key>
                        <value>
                            <name>s3-object-tags-prefix</name>
                        </value>
                    </entry>
                    <entry>
                        <key>s3-object-remove-tags-prefix</key>
                        <value>
                            <name>s3-object-remove-tags-prefix</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Storage Class</key>
                        <value>
                            <name>Storage Class</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Region</key>
                        <value>
                            <name>Region</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Communications Timeout</key>
                        <value>
                            <name>Communications Timeout</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Expiration Time Rule</key>
                        <value>
                            <name>Expiration Time Rule</name>
                        </value>
                    </entry>
                    <entry>
                        <key>FullControl User List</key>
                        <value>
                            <name>FullControl User List</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Read Permission User List</key>
                        <value>
                            <name>Read Permission User List</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Write Permission User List</key>
                        <value>
                            <name>Write Permission User List</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Read ACL User List</key>
                        <value>
                            <name>Read ACL User List</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Write ACL User List</key>
                        <value>
                            <name>Write ACL User List</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Owner</key>
                        <value>
                            <name>Owner</name>
                        </value>
                    </entry>
                    <entry>
                        <key>canned-acl</key>
                        <value>
                            <name>canned-acl</name>
                        </value>
                    </entry>
                    <entry>
                        <key>SSL Context Service</key>
                        <value>
                            <identifiesControllerService>org.apache.nifi.ssl.SSLContextService</identifiesControllerService>
                            <name>SSL Context Service</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Endpoint Override URL</key>
                        <value>
                            <name>Endpoint Override URL</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Signer Override</key>
                        <value>
                            <name>Signer Override</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Multipart Threshold</key>
                        <value>
                            <name>Multipart Threshold</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Multipart Part Size</key>
                        <value>
                            <name>Multipart Part Size</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Multipart Upload AgeOff Interval</key>
                        <value>
                            <name>Multipart Upload AgeOff Interval</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Multipart Upload Max Age Threshold</key>
                        <value>
                            <name>Multipart Upload Max Age Threshold</name>
                        </value>
                    </entry>
                    <entry>
                        <key>server-side-encryption</key>
                        <value>
                            <name>server-side-encryption</name>
                        </value>
                    </entry>
                    <entry>
                        <key>encryption-service</key>
                        <value>
                            <identifiesControllerService>org.apache.nifi.processors.aws.s3.AmazonS3EncryptionService</identifiesControllerService>
                            <name>encryption-service</name>
                        </value>
                    </entry>
                    <entry>
                        <key>use-chunked-encoding</key>
                        <value>
                            <name>use-chunked-encoding</name>
                        </value>
                    </entry>
                    <entry>
                        <key>use-path-style-access</key>
                        <value>
                            <name>use-path-style-access</name>
                        </value>
                    </entry>
                    <entry>
                        <key>proxy-configuration-service</key>
                        <value>
                            <identifiesControllerService>org.apache.nifi.proxy.ProxyConfigurationService</identifiesControllerService>
                            <name>proxy-configuration-service</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Proxy Host</key>
                        <value>
                            <name>Proxy Host</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Proxy Host Port</key>
                        <value>
                            <name>Proxy Host Port</name>
                        </value>
                    </entry>
                    <entry>
                        <key>proxy-user-name</key>
                        <value>
                            <name>proxy-user-name</name>
                        </value>
                    </entry>
                    <entry>
                        <key>proxy-user-password</key>
                        <value>
                            <name>proxy-user-password</name>
                        </value>
                    </entry>
                    <entry>
                        <key>s3-temporary-directory-multipart</key>
                        <value>
                            <name>s3-temporary-directory-multipart</name>
                        </value>
                    </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                    <entry>
                        <key>Object Key</key>
                        <value>outbound/tessian/security_events/${dt:substring(0,4)}/${dt:substring(4,6)}/${dt:substring(6,8)}/${filename}</value>
                    </entry>
                    <entry>
                        <key>Bucket</key>
                        <value>sim-prd001-cyber-data-insight-dev</value>
                    </entry>
                    <entry>
                        <key>Content Type</key>
                    </entry>
                    <entry>
                        <key>Content Disposition</key>
                    </entry>
                    <entry>
                        <key>Cache Control</key>
                    </entry>
                    <entry>
                        <key>Access Key</key>
                    </entry>
                    <entry>
                        <key>Secret Key</key>
                    </entry>
                    <entry>
                        <key>Credentials File</key>
                    </entry>
                    <entry>
                        <key>AWS Credentials Provider service</key>
                    </entry>
                    <entry>
                        <key>s3-object-tags-prefix</key>
                    </entry>
                    <entry>
                        <key>s3-object-remove-tags-prefix</key>
                        <value>false</value>
                    </entry>
                    <entry>
                        <key>Storage Class</key>
                        <value>Standard</value>
                    </entry>
                    <entry>
                        <key>Region</key>
                        <value>eu-west-1</value>
                    </entry>
                    <entry>
                        <key>Communications Timeout</key>
                        <value>30 secs</value>
                    </entry>
                    <entry>
                        <key>Expiration Time Rule</key>
                    </entry>
                    <entry>
                        <key>FullControl User List</key>
                        <value>${s3.permissions.full.users}</value>
                    </entry>
                    <entry>
                        <key>Read Permission User List</key>
                        <value>${s3.permissions.read.users}</value>
                    </entry>
                    <entry>
                        <key>Write Permission User List</key>
                        <value>${s3.permissions.write.users}</value>
                    </entry>
                    <entry>
                        <key>Read ACL User List</key>
                        <value>${s3.permissions.readacl.users}</value>
                    </entry>
                    <entry>
                        <key>Write ACL User List</key>
                        <value>${s3.permissions.writeacl.users}</value>
                    </entry>
                    <entry>
                        <key>Owner</key>
                        <value>${s3.owner}</value>
                    </entry>
                    <entry>
                        <key>canned-acl</key>
                        <value>${s3.permissions.cannedacl}</value>
                    </entry>
                    <entry>
                        <key>SSL Context Service</key>
                    </entry>
                    <entry>
                        <key>Endpoint Override URL</key>
                    </entry>
                    <entry>
                        <key>Signer Override</key>
                        <value>Default Signature</value>
                    </entry>
                    <entry>
                        <key>Multipart Threshold</key>
                        <value>5 GB</value>
                    </entry>
                    <entry>
                        <key>Multipart Part Size</key>
                        <value>5 GB</value>
                    </entry>
                    <entry>
                        <key>Multipart Upload AgeOff Interval</key>
                        <value>60 min</value>
                    </entry>
                    <entry>
                        <key>Multipart Upload Max Age Threshold</key>
                        <value>7 days</value>
                    </entry>
                    <entry>
                        <key>server-side-encryption</key>
                        <value>None</value>
                    </entry>
                    <entry>
                        <key>encryption-service</key>
                    </entry>
                    <entry>
                        <key>use-chunked-encoding</key>
                        <value>true</value>
                    </entry>
                    <entry>
                        <key>use-path-style-access</key>
                        <value>false</value>
                    </entry>
                    <entry>
                        <key>proxy-configuration-service</key>
                    </entry>
                    <entry>
                        <key>Proxy Host</key>
                    </entry>
                    <entry>
                        <key>Proxy Host Port</key>
                    </entry>
                    <entry>
                        <key>proxy-user-name</key>
                    </entry>
                    <entry>
                        <key>proxy-user-password</key>
                    </entry>
                    <entry>
                        <key>s3-temporary-directory-multipart</key>
                        <value>${java.io.tmpdir}</value>
                    </entry>
                </properties>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>0 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
            </config>
            <executionNodeRestricted>false</executionNodeRestricted>
            <name>toInfoSecS3Bucket</name>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>failure</name>
            </relationships>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>success</name>
            </relationships>
            <state>DISABLED</state>
            <style/>
            <type>org.apache.nifi.processors.aws.s3.PutS3Object</type>
        </processors>
        <processors>
            <id>acef8a06-38c3-3716-0000-000000000000</id>
            <parentGroupId>877a5ebb-ad50-3c75-0000-000000000000</parentGroupId>
            <position>
                <x>664.0</x>
                <y>40.0</y>
            </position>
            <versionedComponentId>acef8a06-38c3-3716-997c-72f8b9ae001e</versionedComponentId>
            <bundle>
                <artifact>nifi-standard-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.12.1</version>
            </bundle>
            <config>
                <bulletinLevel>WARN</bulletinLevel>
                <comments></comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <descriptors>
                    <entry>
                        <key>Regular Expression</key>
                        <value>
                            <name>Regular Expression</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Replacement Value</key>
                        <value>
                            <name>Replacement Value</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Character Set</key>
                        <value>
                            <name>Character Set</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Maximum Buffer Size</key>
                        <value>
                            <name>Maximum Buffer Size</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Replacement Strategy</key>
                        <value>
                            <name>Replacement Strategy</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Evaluation Mode</key>
                        <value>
                            <name>Evaluation Mode</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Line-by-Line Evaluation Mode</key>
                        <value>
                            <name>Line-by-Line Evaluation Mode</name>
                        </value>
                    </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                    <entry>
                        <key>Regular Expression</key>
                        <value>timestamp</value>
                    </entry>
                    <entry>
                        <key>Replacement Value</key>
                        <value>tessian_timestamp</value>
                    </entry>
                    <entry>
                        <key>Character Set</key>
                        <value>UTF-8</value>
                    </entry>
                    <entry>
                        <key>Maximum Buffer Size</key>
                        <value>1 MB</value>
                    </entry>
                    <entry>
                        <key>Replacement Strategy</key>
                        <value>Regex Replace</value>
                    </entry>
                    <entry>
                        <key>Evaluation Mode</key>
                        <value>Entire text</value>
                    </entry>
                    <entry>
                        <key>Line-by-Line Evaluation Mode</key>
                        <value>All</value>
                    </entry>
                </properties>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>0 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
            </config>
            <executionNodeRestricted>false</executionNodeRestricted>
            <name>ReplaceText</name>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>failure</name>
            </relationships>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>success</name>
            </relationships>
            <state>RUNNING</state>
            <style/>
            <type>org.apache.nifi.processors.standard.ReplaceText</type>
        </processors>
        <processors>
            <id>bba12d87-f758-3345-0000-000000000000</id>
            <parentGroupId>877a5ebb-ad50-3c75-0000-000000000000</parentGroupId>
            <position>
                <x>672.0</x>
                <y>616.0</y>
            </position>
            <versionedComponentId>bba12d87-f758-3345-a673-5849b4433fcf</versionedComponentId>
            <bundle>
                <artifact>nifi-standard-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.12.1</version>
            </bundle>
            <config>
                <bulletinLevel>WARN</bulletinLevel>
                <comments></comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <descriptors>
                    <entry>
                        <key>record-reader</key>
                        <value>
                            <identifiesControllerService>org.apache.nifi.serialization.RecordReaderFactory</identifiesControllerService>
                            <name>record-reader</name>
                        </value>
                    </entry>
                    <entry>
                        <key>record-writer</key>
                        <value>
                            <identifiesControllerService>org.apache.nifi.serialization.RecordSetWriterFactory</identifiesControllerService>
                            <name>record-writer</name>
                        </value>
                    </entry>
                    <entry>
                        <key>replacement-value-strategy</key>
                        <value>
                            <name>replacement-value-strategy</name>
                        </value>
                    </entry>
                    <entry>
                        <key>/dt</key>
                        <value>
                            <name>/dt</name>
                        </value>
                    </entry>
                    <entry>
                        <key>/timestamp</key>
                        <value>
                            <name>/timestamp</name>
                        </value>
                    </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                    <entry>
                        <key>record-reader</key>
                        <value>1f9e1a90-24a5-3a30-0000-000000000000</value>
                    </entry>
                    <entry>
                        <key>record-writer</key>
                        <value>45d88c65-eed8-3308-0000-000000000000</value>
                    </entry>
                    <entry>
                        <key>replacement-value-strategy</key>
                        <value>literal-value</value>
                    </entry>
                    <entry>
                        <key>/dt</key>
                        <value>${timestamp:format("yyyyMMdd")}</value>
                    </entry>
                    <entry>
                        <key>/timestamp</key>
                        <value>${timestamp:divide(1000)}</value>
                    </entry>
                </properties>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>0 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
            </config>
            <executionNodeRestricted>false</executionNodeRestricted>
            <name>UpdateRecord</name>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>failure</name>
            </relationships>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>success</name>
            </relationships>
            <state>RUNNING</state>
            <style/>
            <type>org.apache.nifi.processors.standard.UpdateRecord</type>
        </processors>
        <processors>
            <id>bd74ed87-26d1-3036-0000-000000000000</id>
            <parentGroupId>877a5ebb-ad50-3c75-0000-000000000000</parentGroupId>
            <position>
                <x>672.0</x>
                <y>1248.0</y>
            </position>
            <versionedComponentId>bd74ed87-26d1-3036-bf10-dba22a343a8a</versionedComponentId>
            <bundle>
                <artifact>nifi-standard-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.12.1</version>
            </bundle>
            <config>
                <bulletinLevel>WARN</bulletinLevel>
                <comments></comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <descriptors>
                    <entry>
                        <key>Mode</key>
                        <value>
                            <name>Mode</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Compression Format</key>
                        <value>
                            <name>Compression Format</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Compression Level</key>
                        <value>
                            <name>Compression Level</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Update Filename</key>
                        <value>
                            <name>Update Filename</name>
                        </value>
                    </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                    <entry>
                        <key>Mode</key>
                        <value>compress</value>
                    </entry>
                    <entry>
                        <key>Compression Format</key>
                        <value>bzip2</value>
                    </entry>
                    <entry>
                        <key>Compression Level</key>
                        <value>1</value>
                    </entry>
                    <entry>
                        <key>Update Filename</key>
                        <value>true</value>
                    </entry>
                </properties>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>0 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
            </config>
            <executionNodeRestricted>false</executionNodeRestricted>
            <name>CompressContent</name>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>failure</name>
            </relationships>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>success</name>
            </relationships>
            <state>RUNNING</state>
            <style/>
            <type>org.apache.nifi.processors.standard.CompressContent</type>
        </processors>
    </snippet>
    <timestamp>11/20/2025 13:45:44 UTC</timestamp>
</template>
