nifi/panaseer-version-1.json
{"externalControllerServices":{"5d1ea772-98a1-330f-bac2-157ee87cdd17":{"identifier":"5d1ea772-98a1-330f-bac2-157ee87cdd17","name":"SCCM Connection Pool Lookup"},"1e2de252-6eea-348f-9905-0a55245da01d":{"identifier":"1e2de252-6eea-348f-9905-0a55245da01d","name":"StandardProxyConfigurationService"},"426bd77d-4a64-3e44-891d-2ed59c2af301":{"identifier":"426bd77d-4a64-3e44-891d-2ed59c2af301","name":"Generic Avro Writer"},"5d6a7f9c-fad9-3b70-82bc-c8a2fe3530cc":{"identifier":"5d6a7f9c-fad9-3b70-82bc-c8a2fe3530cc","name":"MS SQL - HR"},"e4c3c128-5bf8-30d5-a022-69cdfd76f01c":{"identifier":"e4c3c128-5bf8-30d5-a022-69cdfd76f01c","name":"Generic Avro Reader"},"d8d42593-a84c-3f86-bf38-3db4bb73917f":{"identifier":"d8d42593-a84c-3f86-bf38-3db4bb73917f","name":"SchrodersAzureDistributedMapCacheClientService"},"8e9246eb-73d5-335f-a56c-9188b67f9b96":{"identifier":"8e9246eb-73d5-335f-a56c-9188b67f9b96","name":"BigFix"}},"flowContents":{"comments":"","componentType":"PROCESS_GROUP","connections":[],"controllerServices":[],"flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","funnels":[],"identifier":"8a1c9f2b-8e11-3f20-8c55-0c5f697b2351","inputPorts":[],"labels":[{"componentType":"LABEL","groupIdentifier":"8a1c9f2b-8e11-3f20-8c55-0c5f697b2351","height":400.0,"identifier":"9d3e53d8-eabe-3227-89d3-d166ed2b5dfe","label":"","position":{"x":280.0,"y":112.0},"style":{},"width":240.0}],"name":"CYBER DATA INSIGHTS PROD","outputPorts":[],"position":{"x":480.0,"y":160.0},"processGroups":[{"comments":"","componentType":"PROCESS_GROUP","connections":[{"backPressureDataSizeThreshold":"1 GB","backPressureObjectThreshold":10000,"bends":[],"componentType":"CONNECTION","destination":{"comments":"","groupId":"d26c8a66-8bbf-3d3a-8cbc-841a281aa2eb","id":"15d096b7-2aa5-36d3-83b3-b397489388e0","name":"UpdateAttribute","type":"PROCESSOR"},"flowFileExpiration":"0 sec","groupIdentifier":"d26c8a66-8bbf-3d3a-8cbc-841a281aa2eb","identifier":"c51ba877-0599-31f2-be41-26ee185314e5","labelIndex":1,"loadBalanceCompression":"DO_NOT_COMPRESS","loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","name":"","partitioningAttribute":"","prioritizers":[],"selectedRelationships":["success"],"source":{"comments":"","groupId":"d26c8a66-8bbf-3d3a-8cbc-841a281aa2eb","id":"fd926f3f-997e-3ec5-aca1-dbede6aaebaa","name":"SQL - Get Column Heading (Computers)","type":"PROCESSOR"},"zIndex":0},{"backPressureDataSizeThreshold":"1 GB","backPressureObjectThreshold":10000,"bends":[],"componentType":"CONNECTION","destination":{"comments":"","groupId":"d26c8a66-8bbf-3d3a-8cbc-841a281aa2eb","id":"c38ed2a5-1459-389d-8f6c-d1a2ebe8a95a","name":"Funnel","type":"FUNNEL"},"flowFileExpiration":"0 sec","groupIdentifier":"d26c8a66-8bbf-3d3a-8cbc-841a281aa2eb","identifier":"ba5998f9-d20a-3684-99d9-46713bd3b8b2","labelIndex":1,"loadBalanceCompression":"DO_NOT_COMPRESS","loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","name":"","partitioningAttribute":"","prioritizers":[],"selectedRelationships":["failure"],"source":{"comments":"","groupId":"d26c8a66-8bbf-3d3a-8cbc-841a281aa2eb","id":"fd926f3f-997e-3ec5-aca1-dbede6aaebaa","name":"SQL - Get Column Heading (Computers)","type":"PROCESSOR"},"zIndex":0},{"backPressureDataSizeThreshold":"1 GB","backPressureObjectThreshold":10000,"bends":[],"componentType":"CONNECTION","destination":{"comments":"","groupId":"d26c8a66-8bbf-3d3a-8cbc-841a281aa2eb","id":"819d5ba6-7b22-36f5-b840-cf3ce206e52c","name":"Funnel","type":"FUNNEL"},"flowFileExpiration":"0 sec","groupIdentifier":"d26c8a66-8bbf-3d3a-8cbc-841a281aa2eb","identifier":"abefe59e-4aab-39d4-995f-3c0dde563832","labelIndex":1,"loadBalanceCompression":"DO_NOT_COMPRESS","loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","name":"","partitioningAttribute":"","prioritizers":[],"selectedRelationships":["success"],"source":{"comments":"","groupId":"d26c8a66-8bbf-3d3a-8cbc-841a281aa2eb","id":"15d096b7-2aa5-36d3-83b3-b397489388e0","name":"UpdateAttribute","type":"PROCESSOR"},"zIndex":0},{"backPressureDataSizeThreshold":"1 GB","backPressureObjectThreshold":10000,"bends":[],"componentType":"CONNECTION","destination":{"comments":"","groupId":"d26c8a66-8bbf-3d3a-8cbc-841a281aa2eb","id":"fd926f3f-997e-3ec5-aca1-dbede6aaebaa","name":"SQL - Get Column Heading (Computers)","type":"PROCESSOR"},"flowFileExpiration":"0 sec","groupIdentifier":"d26c8a66-8bbf-3d3a-8cbc-841a281aa2eb","identifier":"3273a8e7-c4ba-3053-95b8-420206fe6900","labelIndex":1,"loadBalanceCompression":"DO_NOT_COMPRESS","loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","name":"","partitioningAttribute":"","prioritizers":[],"selectedRelationships":["success"],"source":{"comments":"","groupId":"d26c8a66-8bbf-3d3a-8cbc-841a281aa2eb","id":"018d74e8-cab9-3be5-bee9-8f9e9ca08b17","name":"Scheduled Trigger","type":"PROCESSOR"},"zIndex":0},{"backPressureDataSizeThreshold":"1 GB","backPressureObjectThreshold":10000,"bends":[],"componentType":"CONNECTION","destination":{"comments":"","groupId":"d26c8a66-8bbf-3d3a-8cbc-841a281aa2eb","id":"fd926f3f-997e-3ec5-aca1-dbede6aaebaa","name":"SQL - Get Column Heading (Computers)","type":"PROCESSOR"},"flowFileExpiration":"0 sec","groupIdentifier":"d26c8a66-8bbf-3d3a-8cbc-841a281aa2eb","identifier":"cd74f1f7-bfde-3506-a4cf-fc8a21a027f5","labelIndex":1,"loadBalanceCompression":"DO_NOT_COMPRESS","loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","name":"","partitioningAttribute":"","prioritizers":[],"selectedRelationships":["success"],"source":{"comments":"","groupId":"d26c8a66-8bbf-3d3a-8cbc-841a281aa2eb","id":"66d798b2-6b56-3868-aaee-6aba57a13ace","name":"Manual Trigger For Testing","type":"PROCESSOR"},"zIndex":0}],"controllerServices":[],"flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","funnels":[{"componentType":"FUNNEL","groupIdentifier":"d26c8a66-8bbf-3d3a-8cbc-841a281aa2eb","identifier":"819d5ba6-7b22-36f5-b840-cf3ce206e52c","position":{"x":920.0,"y":848.0}},{"componentType":"FUNNEL","groupIdentifier":"d26c8a66-8bbf-3d3a-8cbc-841a281aa2eb","identifier":"c38ed2a5-1459-389d-8f6c-d1a2ebe8a95a","position":{"x":1488.0,"y":488.0}}],"groupIdentifier":"8a1c9f2b-8e11-3f20-8c55-0c5f697b2351","identifier":"d26c8a66-8bbf-3d3a-8cbc-841a281aa2eb","inputPorts":[],"labels":[],"name":"BIGFIX","outputPorts":[],"position":{"x":1048.0,"y":368.0},"processGroups":[],"processors":[{"autoTerminatedRelationships":[],"bulletinLevel":"WARN","bundle":{"artifact":"nifi-standard-nar","group":"org.apache.nifi","version":"1.12.1"},"comments":"","componentType":"PROCESSOR","concurrentlySchedulableTaskCount":1,"executionNode":"ALL","groupIdentifier":"d26c8a66-8bbf-3d3a-8cbc-841a281aa2eb","identifier":"fd926f3f-997e-3ec5-aca1-dbede6aaebaa","name":"SQL - Get Column Heading (Computers)","penaltyDuration":"30 sec","position":{"x":768.0,"y":360.0},"properties":{"esql-max-rows":"0","dbf-default-precision":"10","Max Wait Time":"0 seconds","Database Connection Pooling Service":"8e9246eb-73d5-335f-a56c-9188b67f9b96","dbf-user-logical-types":"false","dbf-default-scale":"0","compression-format":"NONE","esql-output-batch-size":"0","esql-fetch-size":"0","SQL select query":"SELECT [ComputerID] as computer_id\n      ,[Name] as name\n      ,[Value] as value\n      ,[IsFailure] as is_failure\n\t  --, cast(${timestamp:divide(1000)} as bigint) timestamp\n  FROM [BFEnterprise].[dbo].[BES_COLUMN_HEADINGS]","dbf-normalize":"false"},"propertyDescriptors":{"esql-max-rows":{"displayName":"Max Rows Per Flow File","identifiesControllerService":false,"name":"esql-max-rows","sensitive":false},"dbf-default-precision":{"displayName":"Default Decimal Precision","identifiesControllerService":false,"name":"dbf-default-precision","sensitive":false},"Max Wait Time":{"displayName":"Max Wait Time","identifiesControllerService":false,"name":"Max Wait Time","sensitive":false},"Database Connection Pooling Service":{"displayName":"Database Connection Pooling Service","identifiesControllerService":true,"name":"Database Connection Pooling Service","sensitive":false},"sql-post-query":{"displayName":"SQL Post-Query","identifiesControllerService":false,"name":"sql-post-query","sensitive":false},"dbf-user-logical-types":{"displayName":"Use Avro Logical Types","identifiesControllerService":false,"name":"dbf-user-logical-types","sensitive":false},"dbf-default-scale":{"displayName":"Default Decimal Scale","identifiesControllerService":false,"name":"dbf-default-scale","sensitive":false},"sql-pre-query":{"displayName":"SQL Pre-Query","identifiesControllerService":false,"name":"sql-pre-query","sensitive":false},"compression-format":{"displayName":"Compression Format","identifiesControllerService":false,"name":"compression-format","sensitive":false},"esql-output-batch-size":{"displayName":"Output Batch Size","identifiesControllerService":false,"name":"esql-output-batch-size","sensitive":false},"esql-fetch-size":{"displayName":"Fetch Size","identifiesControllerService":false,"name":"esql-fetch-size","sensitive":false},"SQL select query":{"displayName":"SQL select query","identifiesControllerService":false,"name":"SQL select query","sensitive":false},"dbf-normalize":{"displayName":"Normalize Table/Column Names","identifiesControllerService":false,"name":"dbf-normalize","sensitive":false}},"runDurationMillis":0,"scheduledState":"DISABLED","schedulingPeriod":"30 sec","schedulingStrategy":"TIMER_DRIVEN","style":{},"type":"org.apache.nifi.processors.standard.ExecuteSQL","yieldDuration":"1 sec"},{"autoTerminatedRelationships":[],"bulletinLevel":"WARN","bundle":{"artifact":"nifi-update-attribute-nar","group":"org.apache.nifi","version":"1.12.1"},"comments":"","componentType":"PROCESSOR","concurrentlySchedulableTaskCount":1,"executionNode":"ALL","groupIdentifier":"d26c8a66-8bbf-3d3a-8cbc-841a281aa2eb","identifier":"15d096b7-2aa5-36d3-83b3-b397489388e0","name":"UpdateAttribute","penaltyDuration":"30 sec","position":{"x":768.0,"y":560.0},"properties":{"product":"bigfix","Store State":"Do not store state","canonical-value-lookup-cache-size":"100","schema.name":"bigfix_column_heading","kafka_topic":"bigfix_column_heading"},"propertyDescriptors":{"product":{"displayName":"product","identifiesControllerService":false,"name":"product","sensitive":false},"Delete Attributes Expression":{"displayName":"Delete Attributes Expression","identifiesControllerService":false,"name":"Delete Attributes Expression","sensitive":false},"Store State":{"displayName":"Store State","identifiesControllerService":false,"name":"Store State","sensitive":false},"canonical-value-lookup-cache-size":{"displayName":"Cache Value Lookup Cache Size","identifiesControllerService":false,"name":"canonical-value-lookup-cache-size","sensitive":false},"schema.name":{"displayName":"schema.name","identifiesControllerService":false,"name":"schema.name","sensitive":false},"kafka_topic":{"displayName":"kafka_topic","identifiesControllerService":false,"name":"kafka_topic","sensitive":false},"Stateful Variables Initial Value":{"displayName":"Stateful Variables Initial Value","identifiesControllerService":false,"name":"Stateful Variables Initial Value","sensitive":false}},"runDurationMillis":0,"scheduledState":"DISABLED","schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","style":{},"type":"org.apache.nifi.processors.attributes.UpdateAttribute","yieldDuration":"1 sec"},{"autoTerminatedRelationships":[],"bulletinLevel":"WARN","bundle":{"artifact":"nifi-standard-nar","group":"org.apache.nifi","version":"1.12.1"},"comments":"","componentType":"PROCESSOR","concurrentlySchedulableTaskCount":1,"executionNode":"PRIMARY","groupIdentifier":"d26c8a66-8bbf-3d3a-8cbc-841a281aa2eb","identifier":"018d74e8-cab9-3be5-bee9-8f9e9ca08b17","name":"Scheduled Trigger","penaltyDuration":"30 sec","position":{"x":768.0,"y":136.0},"properties":{"character-set":"UTF-8","File Size":"0B","Batch Size":"1","Unique FlowFiles":"false","Data Format":"Text"},"propertyDescriptors":{"character-set":{"displayName":"Character Set","identifiesControllerService":false,"name":"character-set","sensitive":false},"File Size":{"displayName":"File Size","identifiesControllerService":false,"name":"File Size","sensitive":false},"mime-type":{"displayName":"Mime Type","identifiesControllerService":false,"name":"mime-type","sensitive":false},"generate-ff-custom-text":{"displayName":"Custom Text","identifiesControllerService":false,"name":"generate-ff-custom-text","sensitive":false},"Batch Size":{"displayName":"Batch Size","identifiesControllerService":false,"name":"Batch Size","sensitive":false},"Unique FlowFiles":{"displayName":"Unique FlowFiles","identifiesControllerService":false,"name":"Unique FlowFiles","sensitive":false},"Data Format":{"displayName":"Data Format","identifiesControllerService":false,"name":"Data Format","sensitive":false}},"runDurationMillis":0,"scheduledState":"DISABLED","schedulingPeriod":"5 0 1 * * ? *","schedulingStrategy":"CRON_DRIVEN","style":{},"type":"org.apache.nifi.processors.standard.GenerateFlowFile","yieldDuration":"1 sec"},{"autoTerminatedRelationships":[],"bulletinLevel":"WARN","bundle":{"artifact":"nifi-standard-nar","group":"org.apache.nifi","version":"1.12.1"},"comments":"","componentType":"PROCESSOR","concurrentlySchedulableTaskCount":1,"executionNode":"PRIMARY","groupIdentifier":"d26c8a66-8bbf-3d3a-8cbc-841a281aa2eb","identifier":"66d798b2-6b56-3868-aaee-6aba57a13ace","name":"Manual Trigger For Testing","penaltyDuration":"30 sec","position":{"x":1264.0,"y":136.0},"properties":{"character-set":"UTF-8","File Size":"0B","Batch Size":"1","Unique FlowFiles":"false","Data Format":"Text"},"propertyDescriptors":{"character-set":{"displayName":"Character Set","identifiesControllerService":false,"name":"character-set","sensitive":false},"File Size":{"displayName":"File Size","identifiesControllerService":false,"name":"File Size","sensitive":false},"mime-type":{"displayName":"Mime Type","identifiesControllerService":false,"name":"mime-type","sensitive":false},"generate-ff-custom-text":{"displayName":"Custom Text","identifiesControllerService":false,"name":"generate-ff-custom-text","sensitive":false},"Batch Size":{"displayName":"Batch Size","identifiesControllerService":false,"name":"Batch Size","sensitive":false},"Unique FlowFiles":{"displayName":"Unique FlowFiles","identifiesControllerService":false,"name":"Unique FlowFiles","sensitive":false},"Data Format":{"displayName":"Data Format","identifiesControllerService":false,"name":"Data Format","sensitive":false}},"runDurationMillis":0,"scheduledState":"DISABLED","schedulingPeriod":"52 weeks","schedulingStrategy":"TIMER_DRIVEN","style":{},"type":"org.apache.nifi.processors.standard.GenerateFlowFile","yieldDuration":"1 sec"}],"remoteProcessGroups":[],"variables":{}},{"comments":"","componentType":"PROCESS_GROUP","connections":[],"controllerServices":[],"flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","funnels":[],"groupIdentifier":"8a1c9f2b-8e11-3f20-8c55-0c5f697b2351","identifier":"159da4e8-b8c3-3bd4-a50f-33148025c7fc","inputPorts":[],"labels":[],"name":"ORACLE","outputPorts":[],"position":{"x":1440.0,"y":552.0},"processGroups":[],"processors":[],"remoteProcessGroups":[],"variables":{}},{"comments":"","componentType":"PROCESS_GROUP","connections":[],"controllerServices":[],"flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","funnels":[],"groupIdentifier":"8a1c9f2b-8e11-3f20-8c55-0c5f697b2351","identifier":"adbc9b3d-c978-3cc0-bfcf-8147b7ba9fe6","inputPorts":[],"labels":[],"name":"LOGIC MONITOR","outputPorts":[],"position":{"x":656.0,"y":552.0},"processGroups":[],"processors":[],"remoteProcessGroups":[],"variables":{}},{"comments":"","componentType":"PROCESS_GROUP","connections":[{"backPressureDataSizeThreshold":"1 GB","backPressureObjectThreshold":10000,"bends":[],"componentType":"CONNECTION","destination":{"comments":"","groupId":"9712dd2e-edcc-35c3-841f-e6103be60e27","id":"8076a030-541c-3a73-94b9-71ef9bcd4c73","name":"UpdateRecord","type":"PROCESSOR"},"flowFileExpiration":"0 sec","groupIdentifier":"9712dd2e-edcc-35c3-841f-e6103be60e27","identifier":"1e7ba2b2-2f62-3212-a72c-fd11817479c0","labelIndex":1,"loadBalanceCompression":"DO_NOT_COMPRESS","loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","name":"","partitioningAttribute":"","prioritizers":[],"selectedRelationships":["success"],"source":{"comments":"","groupId":"9712dd2e-edcc-35c3-841f-e6103be60e27","id":"83c5860e-4c1c-3e05-84f0-3d9afc814cb4","name":"UpdateAttribute","type":"PROCESSOR"},"zIndex":0},{"backPressureDataSizeThreshold":"1 GB","backPressureObjectThreshold":10000,"bends":[],"componentType":"CONNECTION","destination":{"comments":"","groupId":"9712dd2e-edcc-35c3-841f-e6103be60e27","id":"1db8ddb1-1650-3c6b-a79e-4c76e7415ef0","name":"spt_identity","type":"PROCESSOR"},"flowFileExpiration":"0 sec","groupIdentifier":"9712dd2e-edcc-35c3-841f-e6103be60e27","identifier":"37c280cb-33ae-3527-9a40-536711d30a85","labelIndex":1,"loadBalanceCompression":"DO_NOT_COMPRESS","loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","name":"","partitioningAttribute":"","prioritizers":[],"selectedRelationships":["success"],"source":{"comments":"","groupId":"9712dd2e-edcc-35c3-841f-e6103be60e27","id":"40109e6b-01d6-31d3-bf1e-b05554ebfc45","name":"ADHOC TRIGGER","type":"PROCESSOR"},"zIndex":0},{"backPressureDataSizeThreshold":"1 GB","backPressureObjectThreshold":10000,"bends":[],"componentType":"CONNECTION","destination":{"comments":"","groupId":"9712dd2e-edcc-35c3-841f-e6103be60e27","id":"1c4ed9d5-21c7-3ba0-b0ac-ff18a3ed6d68","name":"ConvertAvroToJSON","type":"PROCESSOR"},"flowFileExpiration":"0 sec","groupIdentifier":"9712dd2e-edcc-35c3-841f-e6103be60e27","identifier":"4614d21b-26f7-3612-accd-e8502705ffc3","labelIndex":1,"loadBalanceCompression":"DO_NOT_COMPRESS","loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","name":"","partitioningAttribute":"","prioritizers":[],"selectedRelationships":["success"],"source":{"comments":"","groupId":"9712dd2e-edcc-35c3-841f-e6103be60e27","id":"8076a030-541c-3a73-94b9-71ef9bcd4c73","name":"UpdateRecord","type":"PROCESSOR"},"zIndex":0},{"backPressureDataSizeThreshold":"1 GB","backPressureObjectThreshold":10000,"bends":[],"componentType":"CONNECTION","destination":{"comments":"","groupId":"9712dd2e-edcc-35c3-841f-e6103be60e27","id":"7fa40f05-009d-336e-9955-048a8e924f1c","name":"spt_application","type":"PROCESSOR"},"flowFileExpiration":"0 sec","groupIdentifier":"9712dd2e-edcc-35c3-841f-e6103be60e27","identifier":"e0fb4726-0308-3ba6-b2c2-a3347901fc47","labelIndex":1,"loadBalanceCompression":"DO_NOT_COMPRESS","loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","name":"","partitioningAttribute":"","prioritizers":[],"selectedRelationships":["success"],"source":{"comments":"","groupId":"9712dd2e-edcc-35c3-841f-e6103be60e27","id":"902e3feb-2d6e-329e-b71f-6e9eb9fafaa0","name":"ADHOC TRIGGER","type":"PROCESSOR"},"zIndex":0},{"backPressureDataSizeThreshold":"1 GB","backPressureObjectThreshold":10000,"bends":[],"componentType":"CONNECTION","destination":{"comments":"","groupId":"9712dd2e-edcc-35c3-841f-e6103be60e27","id":"5a47b3e3-3215-3ea2-820a-ea7ce470b0ff","name":"UpdateAttribute","type":"PROCESSOR"},"flowFileExpiration":"0 sec","groupIdentifier":"9712dd2e-edcc-35c3-841f-e6103be60e27","identifier":"3c4dbb8b-b46b-3067-a733-5b57447e45de","labelIndex":1,"loadBalanceCompression":"DO_NOT_COMPRESS","loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","name":"","partitioningAttribute":"","prioritizers":[],"selectedRelationships":["success"],"source":{"comments":"","groupId":"9712dd2e-edcc-35c3-841f-e6103be60e27","id":"e74469ab-a3b5-3f16-a541-4099a7b80b32","name":"ExecuteSQL - spt_bundle","type":"PROCESSOR"},"zIndex":0},{"backPressureDataSizeThreshold":"1 GB","backPressureObjectThreshold":10000,"bends":[],"componentType":"CONNECTION","destination":{"comments":"","groupId":"9712dd2e-edcc-35c3-841f-e6103be60e27","id":"b7b9dd70-c370-3826-a594-dab51c88347f","name":"UpdateAttribute","type":"PROCESSOR"},"flowFileExpiration":"0 sec","groupIdentifier":"9712dd2e-edcc-35c3-841f-e6103be60e27","identifier":"44b7a68d-08ee-3d63-9c16-faa16fa7ca26","labelIndex":1,"loadBalanceCompression":"DO_NOT_COMPRESS","loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","name":"","partitioningAttribute":"","prioritizers":[],"selectedRelationships":["success"],"source":{"comments":"","groupId":"9712dd2e-edcc-35c3-841f-e6103be60e27","id":"7fa40f05-009d-336e-9955-048a8e924f1c","name":"spt_application","type":"PROCESSOR"},"zIndex":0},{"backPressureDataSizeThreshold":"1 GB","backPressureObjectThreshold":10000,"bends":[],"componentType":"CONNECTION","destination":{"comments":"","groupId":"9712dd2e-edcc-35c3-841f-e6103be60e27","id":"6d3492fa-93d3-33ee-b9b5-d789ac297029","name":"ExecuteSQL - HR","type":"PROCESSOR"},"flowFileExpiration":"0 sec","groupIdentifier":"9712dd2e-edcc-35c3-841f-e6103be60e27","identifier":"804fd46e-5e8d-38d7-9256-50f4ac8f5fb7","labelIndex":1,"loadBalanceCompression":"DO_NOT_COMPRESS","loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","name":"","partitioningAttribute":"","prioritizers":[],"selectedRelationships":["success"],"source":{"comments":"","groupId":"9712dd2e-edcc-35c3-841f-e6103be60e27","id":"6553dddc-2c31-33e7-8720-7caaf2f4d916","name":"schedule trigger","type":"PROCESSOR"},"zIndex":0},{"backPressureDataSizeThreshold":"1 GB","backPressureObjectThreshold":10000,"bends":[],"componentType":"CONNECTION","destination":{"comments":"","groupId":"9712dd2e-edcc-35c3-841f-e6103be60e27","id":"3e48d354-442d-3bc7-bee8-465dc2b96201","name":"Get MyAccess Identities","type":"PROCESSOR"},"flowFileExpiration":"0 sec","groupIdentifier":"9712dd2e-edcc-35c3-841f-e6103be60e27","identifier":"cc700e23-49e1-398a-a461-ccff37b1bfe0","labelIndex":1,"loadBalanceCompression":"DO_NOT_COMPRESS","loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","name":"","partitioningAttribute":"","prioritizers":[],"selectedRelationships":["success"],"source":{"comments":"","groupId":"9712dd2e-edcc-35c3-841f-e6103be60e27","id":"bd986e63-53bd-39e8-929b-34ba53c9fef9","name":"ADHOC TRIGGER","type":"PROCESSOR"},"zIndex":0},{"backPressureDataSizeThreshold":"1 GB","backPressureObjectThreshold":10000,"bends":[],"componentType":"CONNECTION","destination":{"comments":"","groupId":"9712dd2e-edcc-35c3-841f-e6103be60e27","id":"02808bc5-1784-3de9-8b37-3b759592243f","name":"spt_identity_request","type":"PROCESSOR"},"flowFileExpiration":"0 sec","groupIdentifier":"9712dd2e-edcc-35c3-841f-e6103be60e27","identifier":"a6823c2d-029f-3b8c-b8e8-fc1f63565f4c","labelIndex":1,"loadBalanceCompression":"DO_NOT_COMPRESS","loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","name":"","partitioningAttribute":"","prioritizers":[],"selectedRelationships":["success"],"source":{"comments":"","groupId":"9712dd2e-edcc-35c3-841f-e6103be60e27","id":"13721df7-ca5f-3278-84e4-ae78503d0069","name":"ADHOC TRIGGER","type":"PROCESSOR"},"zIndex":0},{"backPressureDataSizeThreshold":"1 GB","backPressureObjectThreshold":10000,"bends":[],"componentType":"CONNECTION","destination":{"comments":"","groupId":"9712dd2e-edcc-35c3-841f-e6103be60e27","id":"8076a030-541c-3a73-94b9-71ef9bcd4c73","name":"UpdateRecord","type":"PROCESSOR"},"flowFileExpiration":"0 sec","groupIdentifier":"9712dd2e-edcc-35c3-841f-e6103be60e27","identifier":"e17bcc04-1b3f-3e50-a04e-75a49052b95f","labelIndex":1,"loadBalanceCompression":"DO_NOT_COMPRESS","loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","name":"","partitioningAttribute":"","prioritizers":[],"selectedRelationships":["success"],"source":{"comments":"","groupId":"9712dd2e-edcc-35c3-841f-e6103be60e27","id":"f5e1e55e-d058-3b31-a0fb-c1aac4df5257","name":"UpdateAttribute","type":"PROCESSOR"},"zIndex":0},{"backPressureDataSizeThreshold":"1 GB","backPressureObjectThreshold":10000,"bends":[],"componentType":"CONNECTION","destination":{"comments":"","groupId":"9712dd2e-edcc-35c3-841f-e6103be60e27","id":"8076a030-541c-3a73-94b9-71ef9bcd4c73","name":"UpdateRecord","type":"PROCESSOR"},"flowFileExpiration":"0 sec","groupIdentifier":"9712dd2e-edcc-35c3-841f-e6103be60e27","identifier":"3f02cbfd-aeee-3bd0-87fe-c9a0d7889237","labelIndex":1,"loadBalanceCompression":"DO_NOT_COMPRESS","loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","name":"","partitioningAttribute":"","prioritizers":[],"selectedRelationships":["success"],"source":{"comments":"","groupId":"9712dd2e-edcc-35c3-841f-e6103be60e27","id":"cfe897da-639a-33b9-afcd-8b7f146f6c4f","name":"UpdateAttribute","type":"PROCESSOR"},"zIndex":0},{"backPressureDataSizeThreshold":"1 GB","backPressureObjectThreshold":10000,"bends":[],"componentType":"CONNECTION","destination":{"comments":"","groupId":"9712dd2e-edcc-35c3-841f-e6103be60e27","id":"fb04b121-7b82-34c1-853a-730582449e2b","name":"spt_identity_entitlement","type":"PROCESSOR"},"flowFileExpiration":"0 sec","groupIdentifier":"9712dd2e-edcc-35c3-841f-e6103be60e27","identifier":"795226b8-0adc-3181-b197-7b3ed5d13231","labelIndex":1,"loadBalanceCompression":"DO_NOT_COMPRESS","loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","name":"","partitioningAttribute":"","prioritizers":[],"selectedRelationships":["success"],"source":{"comments":"","groupId":"9712dd2e-edcc-35c3-841f-e6103be60e27","id":"6553dddc-2c31-33e7-8720-7caaf2f4d916","name":"schedule trigger","type":"PROCESSOR"},"zIndex":0},{"backPressureDataSizeThreshold":"1 GB","backPressureObjectThreshold":10000,"bends":[],"componentType":"CONNECTION","destination":{"comments":"","groupId":"9712dd2e-edcc-35c3-841f-e6103be60e27","id":"4ad94307-b462-3cb6-ad83-f8533bae5561","name":"ExecuteSQL - AllRoleMakeUp","type":"PROCESSOR"},"flowFileExpiration":"0 sec","groupIdentifier":"9712dd2e-edcc-35c3-841f-e6103be60e27","identifier":"9fb781d2-69a8-3b7a-a6d1-704fd5bc4ed2","labelIndex":1,"loadBalanceCompression":"DO_NOT_COMPRESS","loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","name":"","partitioningAttribute":"","prioritizers":[],"selectedRelationships":["success"],"source":{"comments":"","groupId":"9712dd2e-edcc-35c3-841f-e6103be60e27","id":"cb30fbf5-2459-3f0e-85f3-73437865d54c","name":"ADHOC TRIGGER","type":"PROCESSOR"},"zIndex":0},{"backPressureDataSizeThreshold":"1 GB","backPressureObjectThreshold":10000,"bends":[],"componentType":"CONNECTION","destination":{"comments":"","groupId":"9712dd2e-edcc-35c3-841f-e6103be60e27","id":"51631751-3972-37f8-9633-8adda4629824","name":"Funnel","type":"FUNNEL"},"flowFileExpiration":"0 sec","groupIdentifier":"9712dd2e-edcc-35c3-841f-e6103be60e27","identifier":"07a23e18-8b6b-3ec1-aedd-65d7f6dc3866","labelIndex":1,"loadBalanceCompression":"DO_NOT_COMPRESS","loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","name":"","partitioningAttribute":"","prioritizers":[],"selectedRelationships":["success"],"source":{"comments":"","groupId":"9712dd2e-edcc-35c3-841f-e6103be60e27","id":"cefd3905-6649-3e73-b858-13c4c4350825","name":"CompressContent","type":"PROCESSOR"},"zIndex":0},{"backPressureDataSizeThreshold":"1 GB","backPressureObjectThreshold":10000,"bends":[],"componentType":"CONNECTION","destination":{"comments":"","groupId":"9712dd2e-edcc-35c3-841f-e6103be60e27","id":"b580b682-3cdd-3f96-bcb5-5a641bae07fa","name":"UpdateAttribute","type":"PROCESSOR"},"flowFileExpiration":"0 sec","groupIdentifier":"9712dd2e-edcc-35c3-841f-e6103be60e27","identifier":"52d7bb4c-edf3-329c-bb51-95ada7140ec2","labelIndex":1,"loadBalanceCompression":"DO_NOT_COMPRESS","loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","name":"","partitioningAttribute":"","prioritizers":[],"selectedRelationships":["success"],"source":{"comments":"","groupId":"9712dd2e-edcc-35c3-841f-e6103be60e27","id":"02808bc5-1784-3de9-8b37-3b759592243f","name":"spt_identity_request","type":"PROCESSOR"},"zIndex":0},{"backPressureDataSizeThreshold":"1 GB","backPressureObjectThreshold":10000,"bends":[],"componentType":"CONNECTION","destination":{"comments":"","groupId":"9712dd2e-edcc-35c3-841f-e6103be60e27","id":"8076a030-541c-3a73-94b9-71ef9bcd4c73","name":"UpdateRecord","type":"PROCESSOR"},"flowFileExpiration":"0 sec","groupIdentifier":"9712dd2e-edcc-35c3-841f-e6103be60e27","identifier":"7741ea79-7ce6-3a82-bae2-017b6ccabb09","labelIndex":1,"loadBalanceCompression":"DO_NOT_COMPRESS","loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","name":"","partitioningAttribute":"","prioritizers":[],"selectedRelationships":["success"],"source":{"comments":"","groupId":"9712dd2e-edcc-35c3-841f-e6103be60e27","id":"36ad55ef-a422-3fd4-af5f-2dbfe6e5d025","name":"UpdateAttribute","type":"PROCESSOR"},"zIndex":0},{"backPressureDataSizeThreshold":"1 GB","backPressureObjectThreshold":10000,"bends":[],"componentType":"CONNECTION","destination":{"comments":"","groupId":"9712dd2e-edcc-35c3-841f-e6103be60e27","id":"02808bc5-1784-3de9-8b37-3b759592243f","name":"spt_identity_request","type":"PROCESSOR"},"flowFileExpiration":"0 sec","groupIdentifier":"9712dd2e-edcc-35c3-841f-e6103be60e27","identifier":"94749e8e-10f4-39a7-983c-2d50c5836874","labelIndex":1,"loadBalanceCompression":"DO_NOT_COMPRESS","loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","name":"","partitioningAttribute":"","prioritizers":[],"selectedRelationships":["success"],"source":{"comments":"","groupId":"9712dd2e-edcc-35c3-841f-e6103be60e27","id":"6553dddc-2c31-33e7-8720-7caaf2f4d916","name":"schedule trigger","type":"PROCESSOR"},"zIndex":0},{"backPressureDataSizeThreshold":"1 GB","backPressureObjectThreshold":10000,"bends":[],"componentType":"CONNECTION","destination":{"comments":"","groupId":"9712dd2e-edcc-35c3-841f-e6103be60e27","id":"f5e1e55e-d058-3b31-a0fb-c1aac4df5257","name":"UpdateAttribute","type":"PROCESSOR"},"flowFileExpiration":"0 sec","groupIdentifier":"9712dd2e-edcc-35c3-841f-e6103be60e27","identifier":"140ee3a1-d4c2-3c35-a8c4-640ff5c5e136","labelIndex":1,"loadBalanceCompression":"DO_NOT_COMPRESS","loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","name":"","partitioningAttribute":"","prioritizers":[],"selectedRelationships":["success"],"source":{"comments":"","groupId":"9712dd2e-edcc-35c3-841f-e6103be60e27","id":"1db8ddb1-1650-3c6b-a79e-4c76e7415ef0","name":"spt_identity","type":"PROCESSOR"},"zIndex":0},{"backPressureDataSizeThreshold":"1 GB","backPressureObjectThreshold":10000,"bends":[],"componentType":"CONNECTION","destination":{"comments":"","groupId":"9712dd2e-edcc-35c3-841f-e6103be60e27","id":"cfe897da-639a-33b9-afcd-8b7f146f6c4f","name":"UpdateAttribute","type":"PROCESSOR"},"flowFileExpiration":"0 sec","groupIdentifier":"9712dd2e-edcc-35c3-841f-e6103be60e27","identifier":"aa8d2de5-3554-386e-a630-5fc8b3c769e8","labelIndex":1,"loadBalanceCompression":"DO_NOT_COMPRESS","loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","name":"","partitioningAttribute":"","prioritizers":[],"selectedRelationships":["success"],"source":{"comments":"","groupId":"9712dd2e-edcc-35c3-841f-e6103be60e27","id":"6d3492fa-93d3-33ee-b9b5-d789ac297029","name":"ExecuteSQL - HR","type":"PROCESSOR"},"zIndex":0},{"backPressureDataSizeThreshold":"1 GB","backPressureObjectThreshold":10000,"bends":[],"componentType":"CONNECTION","destination":{"comments":"","groupId":"9712dd2e-edcc-35c3-841f-e6103be60e27","id":"8076a030-541c-3a73-94b9-71ef9bcd4c73","name":"UpdateRecord","type":"PROCESSOR"},"flowFileExpiration":"0 sec","groupIdentifier":"9712dd2e-edcc-35c3-841f-e6103be60e27","identifier":"2cddb1a8-1dea-3807-9b3b-1425263e954b","labelIndex":1,"loadBalanceCompression":"DO_NOT_COMPRESS","loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","name":"","partitioningAttribute":"","prioritizers":[],"selectedRelationships":["success"],"source":{"comments":"","groupId":"9712dd2e-edcc-35c3-841f-e6103be60e27","id":"b580b682-3cdd-3f96-bcb5-5a641bae07fa","name":"UpdateAttribute","type":"PROCESSOR"},"zIndex":0},{"backPressureDataSizeThreshold":"1 GB","backPressureObjectThreshold":10000,"bends":[],"componentType":"CONNECTION","destination":{"comments":"","groupId":"9712dd2e-edcc-35c3-841f-e6103be60e27","id":"8076a030-541c-3a73-94b9-71ef9bcd4c73","name":"UpdateRecord","type":"PROCESSOR"},"flowFileExpiration":"0 sec","groupIdentifier":"9712dd2e-edcc-35c3-841f-e6103be60e27","identifier":"0d026fb4-821c-3789-8387-c58e56381079","labelIndex":1,"loadBalanceCompression":"DO_NOT_COMPRESS","loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","name":"","partitioningAttribute":"","prioritizers":[],"selectedRelationships":["success"],"source":{"comments":"","groupId":"9712dd2e-edcc-35c3-841f-e6103be60e27","id":"5a47b3e3-3215-3ea2-820a-ea7ce470b0ff","name":"UpdateAttribute","type":"PROCESSOR"},"zIndex":0},{"backPressureDataSizeThreshold":"1 GB","backPressureObjectThreshold":10000,"bends":[],"componentType":"CONNECTION","destination":{"comments":"","groupId":"9712dd2e-edcc-35c3-841f-e6103be60e27","id":"1db8ddb1-1650-3c6b-a79e-4c76e7415ef0","name":"spt_identity","type":"PROCESSOR"},"flowFileExpiration":"0 sec","groupIdentifier":"9712dd2e-edcc-35c3-841f-e6103be60e27","identifier":"635eebc9-c229-340f-95a5-772d4bf447ee","labelIndex":1,"loadBalanceCompression":"DO_NOT_COMPRESS","loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","name":"","partitioningAttribute":"","prioritizers":[],"selectedRelationships":["success"],"source":{"comments":"","groupId":"9712dd2e-edcc-35c3-841f-e6103be60e27","id":"6553dddc-2c31-33e7-8720-7caaf2f4d916","name":"schedule trigger","type":"PROCESSOR"},"zIndex":0},{"backPressureDataSizeThreshold":"1 GB","backPressureObjectThreshold":10000,"bends":[],"componentType":"CONNECTION","destination":{"comments":"","groupId":"9712dd2e-edcc-35c3-841f-e6103be60e27","id":"8076a030-541c-3a73-94b9-71ef9bcd4c73","name":"UpdateRecord","type":"PROCESSOR"},"flowFileExpiration":"0 sec","groupIdentifier":"9712dd2e-edcc-35c3-841f-e6103be60e27","identifier":"b0b35f81-2690-3255-9fae-88f6bb1cae69","labelIndex":1,"loadBalanceCompression":"DO_NOT_COMPRESS","loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","name":"","partitioningAttribute":"","prioritizers":[],"selectedRelationships":["success"],"source":{"comments":"","groupId":"9712dd2e-edcc-35c3-841f-e6103be60e27","id":"a79dcbfb-39a7-3012-b7ea-3491db700746","name":"UpdateAttribute","type":"PROCESSOR"},"zIndex":0},{"backPressureDataSizeThreshold":"1 GB","backPressureObjectThreshold":10000,"bends":[],"componentType":"CONNECTION","destination":{"comments":"","groupId":"9712dd2e-edcc-35c3-841f-e6103be60e27","id":"cefd3905-6649-3e73-b858-13c4c4350825","name":"CompressContent","type":"PROCESSOR"},"flowFileExpiration":"0 sec","groupIdentifier":"9712dd2e-edcc-35c3-841f-e6103be60e27","identifier":"08f20947-969b-3267-ba4a-9f08891d8ac0","labelIndex":1,"loadBalanceCompression":"DO_NOT_COMPRESS","loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","name":"","partitioningAttribute":"","prioritizers":[],"selectedRelationships":["success"],"source":{"comments":"","groupId":"9712dd2e-edcc-35c3-841f-e6103be60e27","id":"1c4ed9d5-21c7-3ba0-b0ac-ff18a3ed6d68","name":"ConvertAvroToJSON","type":"PROCESSOR"},"zIndex":0},{"backPressureDataSizeThreshold":"1 GB","backPressureObjectThreshold":10000,"bends":[],"componentType":"CONNECTION","destination":{"comments":"","groupId":"9712dd2e-edcc-35c3-841f-e6103be60e27","id":"3e48d354-442d-3bc7-bee8-465dc2b96201","name":"Get MyAccess Identities","type":"PROCESSOR"},"flowFileExpiration":"0 sec","groupIdentifier":"9712dd2e-edcc-35c3-841f-e6103be60e27","identifier":"4de6c002-24e6-3868-850d-a51f0543df63","labelIndex":1,"loadBalanceCompression":"DO_NOT_COMPRESS","loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","name":"","partitioningAttribute":"","prioritizers":[],"selectedRelationships":["success"],"source":{"comments":"","groupId":"9712dd2e-edcc-35c3-841f-e6103be60e27","id":"6553dddc-2c31-33e7-8720-7caaf2f4d916","name":"schedule trigger","type":"PROCESSOR"},"zIndex":0},{"backPressureDataSizeThreshold":"1 GB","backPressureObjectThreshold":10000,"bends":[],"componentType":"CONNECTION","destination":{"comments":"","groupId":"9712dd2e-edcc-35c3-841f-e6103be60e27","id":"6d3492fa-93d3-33ee-b9b5-d789ac297029","name":"ExecuteSQL - HR","type":"PROCESSOR"},"flowFileExpiration":"0 sec","groupIdentifier":"9712dd2e-edcc-35c3-841f-e6103be60e27","identifier":"e5436ddf-a14e-38de-8dd0-5b8235c7b520","labelIndex":1,"loadBalanceCompression":"DO_NOT_COMPRESS","loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","name":"","partitioningAttribute":"","prioritizers":[],"selectedRelationships":["success"],"source":{"comments":"","groupId":"9712dd2e-edcc-35c3-841f-e6103be60e27","id":"4c1b5d50-9ab5-32c4-b478-3b248fd3e2c0","name":"ADHOC TRIGGER","type":"PROCESSOR"},"zIndex":0},{"backPressureDataSizeThreshold":"1 GB","backPressureObjectThreshold":10000,"bends":[],"componentType":"CONNECTION","destination":{"comments":"","groupId":"9712dd2e-edcc-35c3-841f-e6103be60e27","id":"e74469ab-a3b5-3f16-a541-4099a7b80b32","name":"ExecuteSQL - spt_bundle","type":"PROCESSOR"},"flowFileExpiration":"0 sec","groupIdentifier":"9712dd2e-edcc-35c3-841f-e6103be60e27","identifier":"4389a71f-b182-3942-a9cf-0e93b8b2155b","labelIndex":1,"loadBalanceCompression":"DO_NOT_COMPRESS","loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","name":"","partitioningAttribute":"","prioritizers":[],"selectedRelationships":["success"],"source":{"comments":"","groupId":"9712dd2e-edcc-35c3-841f-e6103be60e27","id":"4701220f-b060-3564-ac15-52d44fb043f7","name":"ADHOC TRIGGER","type":"PROCESSOR"},"zIndex":0},{"backPressureDataSizeThreshold":"1 GB","backPressureObjectThreshold":10000,"bends":[],"componentType":"CONNECTION","destination":{"comments":"","groupId":"9712dd2e-edcc-35c3-841f-e6103be60e27","id":"e74469ab-a3b5-3f16-a541-4099a7b80b32","name":"ExecuteSQL - spt_bundle","type":"PROCESSOR"},"flowFileExpiration":"0 sec","groupIdentifier":"9712dd2e-edcc-35c3-841f-e6103be60e27","identifier":"1a8947eb-6cc5-3766-aa2b-798d06a89356","labelIndex":1,"loadBalanceCompression":"DO_NOT_COMPRESS","loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","name":"","partitioningAttribute":"","prioritizers":[],"selectedRelationships":["success"],"source":{"comments":"","groupId":"9712dd2e-edcc-35c3-841f-e6103be60e27","id":"6553dddc-2c31-33e7-8720-7caaf2f4d916","name":"schedule trigger","type":"PROCESSOR"},"zIndex":0},{"backPressureDataSizeThreshold":"1 GB","backPressureObjectThreshold":10000,"bends":[],"componentType":"CONNECTION","destination":{"comments":"","groupId":"9712dd2e-edcc-35c3-841f-e6103be60e27","id":"a79dcbfb-39a7-3012-b7ea-3491db700746","name":"UpdateAttribute","type":"PROCESSOR"},"flowFileExpiration":"0 sec","groupIdentifier":"9712dd2e-edcc-35c3-841f-e6103be60e27","identifier":"edf5d867-bedf-3fdc-beef-19ff6613b22f","labelIndex":1,"loadBalanceCompression":"DO_NOT_COMPRESS","loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","name":"","partitioningAttribute":"","prioritizers":[],"selectedRelationships":["success"],"source":{"comments":"","groupId":"9712dd2e-edcc-35c3-841f-e6103be60e27","id":"fb04b121-7b82-34c1-853a-730582449e2b","name":"spt_identity_entitlement","type":"PROCESSOR"},"zIndex":0},{"backPressureDataSizeThreshold":"1 GB","backPressureObjectThreshold":10000,"bends":[],"componentType":"CONNECTION","destination":{"comments":"","groupId":"9712dd2e-edcc-35c3-841f-e6103be60e27","id":"83c5860e-4c1c-3e05-84f0-3d9afc814cb4","name":"UpdateAttribute","type":"PROCESSOR"},"flowFileExpiration":"0 sec","groupIdentifier":"9712dd2e-edcc-35c3-841f-e6103be60e27","identifier":"2288bfbb-69c6-35b5-b4b1-9b4e8e95f1d7","labelIndex":1,"loadBalanceCompression":"DO_NOT_COMPRESS","loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","name":"","partitioningAttribute":"","prioritizers":[],"selectedRelationships":["success"],"source":{"comments":"","groupId":"9712dd2e-edcc-35c3-841f-e6103be60e27","id":"4ad94307-b462-3cb6-ad83-f8533bae5561","name":"ExecuteSQL - AllRoleMakeUp","type":"PROCESSOR"},"zIndex":0},{"backPressureDataSizeThreshold":"1 GB","backPressureObjectThreshold":10000,"bends":[],"componentType":"CONNECTION","destination":{"comments":"","groupId":"9712dd2e-edcc-35c3-841f-e6103be60e27","id":"8076a030-541c-3a73-94b9-71ef9bcd4c73","name":"UpdateRecord","type":"PROCESSOR"},"flowFileExpiration":"0 sec","groupIdentifier":"9712dd2e-edcc-35c3-841f-e6103be60e27","identifier":"fa65f150-f55e-39a0-8753-b99ae3e16f17","labelIndex":1,"loadBalanceCompression":"DO_NOT_COMPRESS","loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","name":"","partitioningAttribute":"","prioritizers":[],"selectedRelationships":["success"],"source":{"comments":"","groupId":"9712dd2e-edcc-35c3-841f-e6103be60e27","id":"b7b9dd70-c370-3826-a594-dab51c88347f","name":"UpdateAttribute","type":"PROCESSOR"},"zIndex":0},{"backPressureDataSizeThreshold":"1 GB","backPressureObjectThreshold":10000,"bends":[],"componentType":"CONNECTION","destination":{"comments":"","groupId":"9712dd2e-edcc-35c3-841f-e6103be60e27","id":"7fa40f05-009d-336e-9955-048a8e924f1c","name":"spt_application","type":"PROCESSOR"},"flowFileExpiration":"0 sec","groupIdentifier":"9712dd2e-edcc-35c3-841f-e6103be60e27","identifier":"2345c569-63dc-33ff-81c1-3a25c27ecf72","labelIndex":1,"loadBalanceCompression":"DO_NOT_COMPRESS","loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","name":"","partitioningAttribute":"","prioritizers":[],"selectedRelationships":["success"],"source":{"comments":"","groupId":"9712dd2e-edcc-35c3-841f-e6103be60e27","id":"6553dddc-2c31-33e7-8720-7caaf2f4d916","name":"schedule trigger","type":"PROCESSOR"},"zIndex":0},{"backPressureDataSizeThreshold":"1 GB","backPressureObjectThreshold":10000,"bends":[],"componentType":"CONNECTION","destination":{"comments":"","groupId":"9712dd2e-edcc-35c3-841f-e6103be60e27","id":"36ad55ef-a422-3fd4-af5f-2dbfe6e5d025","name":"UpdateAttribute","type":"PROCESSOR"},"flowFileExpiration":"0 sec","groupIdentifier":"9712dd2e-edcc-35c3-841f-e6103be60e27","identifier":"432f34bb-7ed5-3ee2-aa96-678e2f0dc525","labelIndex":1,"loadBalanceCompression":"DO_NOT_COMPRESS","loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","name":"","partitioningAttribute":"","prioritizers":[],"selectedRelationships":["success"],"source":{"comments":"","groupId":"9712dd2e-edcc-35c3-841f-e6103be60e27","id":"3e48d354-442d-3bc7-bee8-465dc2b96201","name":"Get MyAccess Identities","type":"PROCESSOR"},"zIndex":0},{"backPressureDataSizeThreshold":"1 GB","backPressureObjectThreshold":10000,"bends":[],"componentType":"CONNECTION","destination":{"comments":"","groupId":"9712dd2e-edcc-35c3-841f-e6103be60e27","id":"fb04b121-7b82-34c1-853a-730582449e2b","name":"spt_identity_entitlement","type":"PROCESSOR"},"flowFileExpiration":"0 sec","groupIdentifier":"9712dd2e-edcc-35c3-841f-e6103be60e27","identifier":"98ee754a-6fda-3f62-b541-76835226f077","labelIndex":1,"loadBalanceCompression":"DO_NOT_COMPRESS","loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","name":"","partitioningAttribute":"","prioritizers":[],"selectedRelationships":["success"],"source":{"comments":"","groupId":"9712dd2e-edcc-35c3-841f-e6103be60e27","id":"239648ce-dffb-3b1a-b895-bfc894132278","name":"ADHOC TRIGGER","type":"PROCESSOR"},"zIndex":0},{"backPressureDataSizeThreshold":"1 GB","backPressureObjectThreshold":10000,"bends":[],"componentType":"CONNECTION","destination":{"comments":"","groupId":"9712dd2e-edcc-35c3-841f-e6103be60e27","id":"4ad94307-b462-3cb6-ad83-f8533bae5561","name":"ExecuteSQL - AllRoleMakeUp","type":"PROCESSOR"},"flowFileExpiration":"0 sec","groupIdentifier":"9712dd2e-edcc-35c3-841f-e6103be60e27","identifier":"ba5d8f46-c1e2-3360-b638-8acdf718e634","labelIndex":1,"loadBalanceCompression":"DO_NOT_COMPRESS","loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","name":"","partitioningAttribute":"","prioritizers":[],"selectedRelationships":["success"],"source":{"comments":"","groupId":"9712dd2e-edcc-35c3-841f-e6103be60e27","id":"6553dddc-2c31-33e7-8720-7caaf2f4d916","name":"schedule trigger","type":"PROCESSOR"},"zIndex":0}],"controllerServices":[],"flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","funnels":[{"componentType":"FUNNEL","groupIdentifier":"9712dd2e-edcc-35c3-841f-e6103be60e27","identifier":"51631751-3972-37f8-9633-8adda4629824","position":{"x":3320.0,"y":2424.0}}],"groupIdentifier":"8a1c9f2b-8e11-3f20-8c55-0c5f697b2351","identifier":"9712dd2e-edcc-35c3-841f-e6103be60e27","inputPorts":[],"labels":[{"componentType":"LABEL","groupIdentifier":"9712dd2e-edcc-35c3-841f-e6103be60e27","height":160.0,"identifier":"0e16c060-5dc5-3231-a877-075fb729b220","label":"","position":{"x":1752.0,"y":920.0},"style":{},"width":3096.0}],"name":"MYACCESS","outputPorts":[],"position":{"x":656.0,"y":368.0},"processGroups":[],"processors":[{"autoTerminatedRelationships":["failure"],"bulletinLevel":"WARN","bundle":{"artifact":"nifi-standard-nar","group":"org.apache.nifi","version":"1.12.1"},"comments":"","componentType":"PROCESSOR","concurrentlySchedulableTaskCount":1,"executionNode":"ALL","groupIdentifier":"9712dd2e-edcc-35c3-841f-e6103be60e27","identifier":"6d3492fa-93d3-33ee-b9b5-d789ac297029","name":"ExecuteSQL - HR","penaltyDuration":"300 sec","position":{"x":2576.0,"y":1104.0},"properties":{"esql-max-rows":"0","dbf-default-precision":"10","Max Wait Time":"0 seconds","Database Connection Pooling Service":"5d6a7f9c-fad9-3b70-82bc-c8a2fe3530cc","dbf-user-logical-types":"false","dbf-default-scale":"0","sql-pre-query":"SELECT top 1 1 FROM [InfoSec].[myAccess].[Panaseer_Identities_dev]","compression-format":"NONE","esql-output-batch-size":"0","esql-fetch-size":"0","SQL select query":"SELECT [employee_number]\n\t  ,[person_type]\n      ,[building]\n      ,[city]\n      ,[company]\n      ,[cost_centre]\n      ,[cost_centre_description]\n      ,[country]\n      ,[country_code]\n      ,[department]\n      ,[division]\n      ,[extended_leaver]\n      ,[col_function]\n      ,[functional_title]\n      ,[leave_date]\n      ,[leaver_processed]\n      ,[login_name]\n      ,[middle_name]\n      ,[network_login]\n      ,[permanent_staff]\n      ,[person_id]\n      ,[primary_account]\n      ,[region]\n      ,[identity_role]\n      ,[start_date]\n      ,[team]\n      ,[name]\n      ,[description]\n      ,[protected]\n      ,[iiqlock]\n      ,[lm_employee_number]\n      ,[LineManager]\n      ,[display_name]\n      ,[firstname]\n      ,[lastname]\n      ,[email]\n      ,[manager_status]\n      ,[known_as]\n      ,[SMT] as smt\n      ,[SMTEmployeeNumber] as smt_employee_number\n      ,[lm_department]\n      ,[legal_entity]\n      ,[LEGAL_ENTITY_DESCRIPTION] AS [legal_entity_description]\n  FROM [InfoSec].[myAccess].[Panaseer_Identities_dev]","dbf-normalize":"false"},"propertyDescriptors":{"esql-max-rows":{"displayName":"Max Rows Per Flow File","identifiesControllerService":false,"name":"esql-max-rows","sensitive":false},"dbf-default-precision":{"displayName":"Default Decimal Precision","identifiesControllerService":false,"name":"dbf-default-precision","sensitive":false},"Max Wait Time":{"displayName":"Max Wait Time","identifiesControllerService":false,"name":"Max Wait Time","sensitive":false},"Database Connection Pooling Service":{"displayName":"Database Connection Pooling Service","identifiesControllerService":true,"name":"Database Connection Pooling Service","sensitive":false},"sql-post-query":{"displayName":"SQL Post-Query","identifiesControllerService":false,"name":"sql-post-query","sensitive":false},"dbf-user-logical-types":{"displayName":"Use Avro Logical Types","identifiesControllerService":false,"name":"dbf-user-logical-types","sensitive":false},"dbf-default-scale":{"displayName":"Default Decimal Scale","identifiesControllerService":false,"name":"dbf-default-scale","sensitive":false},"sql-pre-query":{"displayName":"SQL Pre-Query","identifiesControllerService":false,"name":"sql-pre-query","sensitive":false},"compression-format":{"displayName":"Compression Format","identifiesControllerService":false,"name":"compression-format","sensitive":false},"esql-output-batch-size":{"displayName":"Output Batch Size","identifiesControllerService":false,"name":"esql-output-batch-size","sensitive":false},"esql-fetch-size":{"displayName":"Fetch Size","identifiesControllerService":false,"name":"esql-fetch-size","sensitive":false},"SQL select query":{"displayName":"SQL select query","identifiesControllerService":false,"name":"SQL select query","sensitive":false},"dbf-normalize":{"displayName":"Normalize Table/Column Names","identifiesControllerService":false,"name":"dbf-normalize","sensitive":false}},"runDurationMillis":0,"scheduledState":"DISABLED","schedulingPeriod":"360 sec","schedulingStrategy":"TIMER_DRIVEN","style":{},"type":"org.apache.nifi.processors.standard.ExecuteSQL","yieldDuration":"10 sec"},{"autoTerminatedRelationships":["failure"],"bulletinLevel":"WARN","bundle":{"artifact":"nifi-standard-nar","group":"org.apache.nifi","version":"1.12.1"},"comments":"","componentType":"PROCESSOR","concurrentlySchedulableTaskCount":1,"executionNode":"ALL","groupIdentifier":"9712dd2e-edcc-35c3-841f-e6103be60e27","identifier":"cefd3905-6649-3e73-b858-13c4c4350825","name":"CompressContent","penaltyDuration":"30 sec","position":{"x":3168.0,"y":2192.0},"properties":{"Compression Format":"bzip2","Mode":"compress","Compression Level":"1","Update Filename":"true"},"propertyDescriptors":{"Compression Format":{"displayName":"Compression Format","identifiesControllerService":false,"name":"Compression Format","sensitive":false},"Mode":{"displayName":"Mode","identifiesControllerService":false,"name":"Mode","sensitive":false},"Compression Level":{"displayName":"Compression Level","identifiesControllerService":false,"name":"Compression Level","sensitive":false},"Update Filename":{"displayName":"Update Filename","identifiesControllerService":false,"name":"Update Filename","sensitive":false}},"runDurationMillis":0,"scheduledState":"DISABLED","schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","style":{},"type":"org.apache.nifi.processors.standard.CompressContent","yieldDuration":"1 sec"},{"autoTerminatedRelationships":[],"bulletinLevel":"WARN","bundle":{"artifact":"nifi-update-attribute-nar","group":"org.apache.nifi","version":"1.12.1"},"comments":"","componentType":"PROCESSOR","concurrentlySchedulableTaskCount":1,"executionNode":"ALL","groupIdentifier":"9712dd2e-edcc-35c3-841f-e6103be60e27","identifier":"cfe897da-639a-33b9-afcd-8b7f146f6c4f","name":"UpdateAttribute","penaltyDuration":"30 sec","position":{"x":2568.0,"y":1408.0},"properties":{"product":"myaccess","Store State":"Do not store state","canonical-value-lookup-cache-size":"100","topic":"hr_myaccess","timestamp":"${now():toNumber()}"},"propertyDescriptors":{"product":{"displayName":"product","identifiesControllerService":false,"name":"product","sensitive":false},"Delete Attributes Expression":{"displayName":"Delete Attributes Expression","identifiesControllerService":false,"name":"Delete Attributes Expression","sensitive":false},"Store State":{"displayName":"Store State","identifiesControllerService":false,"name":"Store State","sensitive":false},"canonical-value-lookup-cache-size":{"displayName":"Cache Value Lookup Cache Size","identifiesControllerService":false,"name":"canonical-value-lookup-cache-size","sensitive":false},"topic":{"displayName":"topic","identifiesControllerService":false,"name":"topic","sensitive":false},"Stateful Variables Initial Value":{"displayName":"Stateful Variables Initial Value","identifiesControllerService":false,"name":"Stateful Variables Initial Value","sensitive":false},"timestamp":{"displayName":"timestamp","identifiesControllerService":false,"name":"timestamp","sensitive":false}},"runDurationMillis":0,"scheduledState":"DISABLED","schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","style":{},"type":"org.apache.nifi.processors.attributes.UpdateAttribute","yieldDuration":"1 sec"},{"autoTerminatedRelationships":[],"bulletinLevel":"WARN","bundle":{"artifact":"nifi-standard-nar","group":"org.apache.nifi","version":"1.12.1"},"comments":"","componentType":"PROCESSOR","concurrentlySchedulableTaskCount":1,"executionNode":"PRIMARY","groupIdentifier":"9712dd2e-edcc-35c3-841f-e6103be60e27","identifier":"cb30fbf5-2459-3f0e-85f3-73437865d54c","name":"ADHOC TRIGGER","penaltyDuration":"30 sec","position":{"x":1784.0,"y":936.0},"properties":{"character-set":"UTF-8","File Size":"0B","Batch Size":"1","Unique FlowFiles":"false","Data Format":"Text"},"propertyDescriptors":{"character-set":{"displayName":"Character Set","identifiesControllerService":false,"name":"character-set","sensitive":false},"File Size":{"displayName":"File Size","identifiesControllerService":false,"name":"File Size","sensitive":false},"mime-type":{"displayName":"Mime Type","identifiesControllerService":false,"name":"mime-type","sensitive":false},"generate-ff-custom-text":{"displayName":"Custom Text","identifiesControllerService":false,"name":"generate-ff-custom-text","sensitive":false},"Batch Size":{"displayName":"Batch Size","identifiesControllerService":false,"name":"Batch Size","sensitive":false},"Unique FlowFiles":{"displayName":"Unique FlowFiles","identifiesControllerService":false,"name":"Unique FlowFiles","sensitive":false},"Data Format":{"displayName":"Data Format","identifiesControllerService":false,"name":"Data Format","sensitive":false}},"runDurationMillis":0,"scheduledState":"DISABLED","schedulingPeriod":"52 weeks","schedulingStrategy":"TIMER_DRIVEN","style":{},"type":"org.apache.nifi.processors.standard.GenerateFlowFile","yieldDuration":"1 sec"},{"autoTerminatedRelationships":[],"bulletinLevel":"WARN","bundle":{"artifact":"nifi-standard-nar","group":"org.apache.nifi","version":"1.12.1"},"comments":"","componentType":"PROCESSOR","concurrentlySchedulableTaskCount":1,"executionNode":"PRIMARY","groupIdentifier":"9712dd2e-edcc-35c3-841f-e6103be60e27","identifier":"902e3feb-2d6e-329e-b71f-6e9eb9fafaa0","name":"ADHOC TRIGGER","penaltyDuration":"30 sec","position":{"x":4104.0,"y":936.0},"properties":{"character-set":"UTF-8","File Size":"0B","Batch Size":"1","Unique FlowFiles":"false","Data Format":"Text"},"propertyDescriptors":{"character-set":{"displayName":"Character Set","identifiesControllerService":false,"name":"character-set","sensitive":false},"File Size":{"displayName":"File Size","identifiesControllerService":false,"name":"File Size","sensitive":false},"mime-type":{"displayName":"Mime Type","identifiesControllerService":false,"name":"mime-type","sensitive":false},"generate-ff-custom-text":{"displayName":"Custom Text","identifiesControllerService":false,"name":"generate-ff-custom-text","sensitive":false},"Batch Size":{"displayName":"Batch Size","identifiesControllerService":false,"name":"Batch Size","sensitive":false},"Unique FlowFiles":{"displayName":"Unique FlowFiles","identifiesControllerService":false,"name":"Unique FlowFiles","sensitive":false},"Data Format":{"displayName":"Data Format","identifiesControllerService":false,"name":"Data Format","sensitive":false}},"runDurationMillis":0,"scheduledState":"DISABLED","schedulingPeriod":"52 weeks","schedulingStrategy":"TIMER_DRIVEN","style":{},"type":"org.apache.nifi.processors.standard.GenerateFlowFile","yieldDuration":"1 sec"},{"autoTerminatedRelationships":[],"bulletinLevel":"WARN","bundle":{"artifact":"nifi-update-attribute-nar","group":"org.apache.nifi","version":"1.12.1"},"comments":"","componentType":"PROCESSOR","concurrentlySchedulableTaskCount":1,"executionNode":"ALL","groupIdentifier":"9712dd2e-edcc-35c3-841f-e6103be60e27","identifier":"b7b9dd70-c370-3826-a594-dab51c88347f","name":"UpdateAttribute","penaltyDuration":"30 sec","position":{"x":4104.0,"y":1408.0},"properties":{"product":"myaccess","Store State":"Do not store state","canonical-value-lookup-cache-size":"100","topic":"spt_application","timestamp":"${now():toNumber()}"},"propertyDescriptors":{"product":{"displayName":"product","identifiesControllerService":false,"name":"product","sensitive":false},"Delete Attributes Expression":{"displayName":"Delete Attributes Expression","identifiesControllerService":false,"name":"Delete Attributes Expression","sensitive":false},"Store State":{"displayName":"Store State","identifiesControllerService":false,"name":"Store State","sensitive":false},"canonical-value-lookup-cache-size":{"displayName":"Cache Value Lookup Cache Size","identifiesControllerService":false,"name":"canonical-value-lookup-cache-size","sensitive":false},"topic":{"displayName":"topic","identifiesControllerService":false,"name":"topic","sensitive":false},"Stateful Variables Initial Value":{"displayName":"Stateful Variables Initial Value","identifiesControllerService":false,"name":"Stateful Variables Initial Value","sensitive":false},"timestamp":{"displayName":"timestamp","identifiesControllerService":false,"name":"timestamp","sensitive":false}},"runDurationMillis":0,"scheduledState":"DISABLED","schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","style":{},"type":"org.apache.nifi.processors.attributes.UpdateAttribute","yieldDuration":"1 sec"},{"autoTerminatedRelationships":[],"bulletinLevel":"WARN","bundle":{"artifact":"nifi-update-attribute-nar","group":"org.apache.nifi","version":"1.12.1"},"comments":"","componentType":"PROCESSOR","concurrentlySchedulableTaskCount":1,"executionNode":"ALL","groupIdentifier":"9712dd2e-edcc-35c3-841f-e6103be60e27","identifier":"36ad55ef-a422-3fd4-af5f-2dbfe6e5d025","name":"UpdateAttribute","penaltyDuration":"30 sec","position":{"x":2960.0,"y":1408.0},"properties":{"product":"myaccess","Store State":"Do not store state","canonical-value-lookup-cache-size":"100","topic":"hr_identity_map","timestamp":"${now():toNumber()}"},"propertyDescriptors":{"product":{"displayName":"product","identifiesControllerService":false,"name":"product","sensitive":false},"Delete Attributes Expression":{"displayName":"Delete Attributes Expression","identifiesControllerService":false,"name":"Delete Attributes Expression","sensitive":false},"Store State":{"displayName":"Store State","identifiesControllerService":false,"name":"Store State","sensitive":false},"canonical-value-lookup-cache-size":{"displayName":"Cache Value Lookup Cache Size","identifiesControllerService":false,"name":"canonical-value-lookup-cache-size","sensitive":false},"topic":{"displayName":"topic","identifiesControllerService":false,"name":"topic","sensitive":false},"Stateful Variables Initial Value":{"displayName":"Stateful Variables Initial Value","identifiesControllerService":false,"name":"Stateful Variables Initial Value","sensitive":false},"timestamp":{"displayName":"timestamp","identifiesControllerService":false,"name":"timestamp","sensitive":false}},"runDurationMillis":0,"scheduledState":"DISABLED","schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","style":{},"type":"org.apache.nifi.processors.attributes.UpdateAttribute","yieldDuration":"1 sec"},{"autoTerminatedRelationships":[],"bulletinLevel":"WARN","bundle":{"artifact":"nifi-standard-nar","group":"org.apache.nifi","version":"1.12.1"},"comments":"","componentType":"PROCESSOR","concurrentlySchedulableTaskCount":1,"executionNode":"PRIMARY","groupIdentifier":"9712dd2e-edcc-35c3-841f-e6103be60e27","identifier":"4c1b5d50-9ab5-32c4-b478-3b248fd3e2c0","name":"ADHOC TRIGGER","penaltyDuration":"30 sec","position":{"x":2576.0,"y":936.0},"properties":{"character-set":"UTF-8","File Size":"0B","Batch Size":"1","Unique FlowFiles":"false","Data Format":"Text"},"propertyDescriptors":{"character-set":{"displayName":"Character Set","identifiesControllerService":false,"name":"character-set","sensitive":false},"File Size":{"displayName":"File Size","identifiesControllerService":false,"name":"File Size","sensitive":false},"mime-type":{"displayName":"Mime Type","identifiesControllerService":false,"name":"mime-type","sensitive":false},"generate-ff-custom-text":{"displayName":"Custom Text","identifiesControllerService":false,"name":"generate-ff-custom-text","sensitive":false},"Batch Size":{"displayName":"Batch Size","identifiesControllerService":false,"name":"Batch Size","sensitive":false},"Unique FlowFiles":{"displayName":"Unique FlowFiles","identifiesControllerService":false,"name":"Unique FlowFiles","sensitive":false},"Data Format":{"displayName":"Data Format","identifiesControllerService":false,"name":"Data Format","sensitive":false}},"runDurationMillis":0,"scheduledState":"DISABLED","schedulingPeriod":"52 weeks","schedulingStrategy":"TIMER_DRIVEN","style":{},"type":"org.apache.nifi.processors.standard.GenerateFlowFile","yieldDuration":"1 sec"},{"autoTerminatedRelationships":[],"bulletinLevel":"WARN","bundle":{"artifact":"nifi-standard-nar","group":"org.apache.nifi","version":"1.12.1"},"comments":"","componentType":"PROCESSOR","concurrentlySchedulableTaskCount":1,"executionNode":"PRIMARY","groupIdentifier":"9712dd2e-edcc-35c3-841f-e6103be60e27","identifier":"bd986e63-53bd-39e8-929b-34ba53c9fef9","name":"ADHOC TRIGGER","penaltyDuration":"30 sec","position":{"x":2968.0,"y":936.0},"properties":{"character-set":"UTF-8","File Size":"0B","Batch Size":"1","Unique FlowFiles":"false","Data Format":"Text"},"propertyDescriptors":{"character-set":{"displayName":"Character Set","identifiesControllerService":false,"name":"character-set","sensitive":false},"File Size":{"displayName":"File Size","identifiesControllerService":false,"name":"File Size","sensitive":false},"mime-type":{"displayName":"Mime Type","identifiesControllerService":false,"name":"mime-type","sensitive":false},"generate-ff-custom-text":{"displayName":"Custom Text","identifiesControllerService":false,"name":"generate-ff-custom-text","sensitive":false},"Batch Size":{"displayName":"Batch Size","identifiesControllerService":false,"name":"Batch Size","sensitive":false},"Unique FlowFiles":{"displayName":"Unique FlowFiles","identifiesControllerService":false,"name":"Unique FlowFiles","sensitive":false},"Data Format":{"displayName":"Data Format","identifiesControllerService":false,"name":"Data Format","sensitive":false}},"runDurationMillis":0,"scheduledState":"DISABLED","schedulingPeriod":"52 weeks","schedulingStrategy":"TIMER_DRIVEN","style":{},"type":"org.apache.nifi.processors.standard.GenerateFlowFile","yieldDuration":"1 sec"},{"autoTerminatedRelationships":[],"bulletinLevel":"WARN","bundle":{"artifact":"nifi-update-attribute-nar","group":"org.apache.nifi","version":"1.12.1"},"comments":"","componentType":"PROCESSOR","concurrentlySchedulableTaskCount":1,"executionNode":"ALL","groupIdentifier":"9712dd2e-edcc-35c3-841f-e6103be60e27","identifier":"b580b682-3cdd-3f96-bcb5-5a641bae07fa","name":"UpdateAttribute","penaltyDuration":"30 sec","position":{"x":4472.0,"y":1408.0},"properties":{"product":"myaccess","Store State":"Do not store state","canonical-value-lookup-cache-size":"100","topic":"spt_identity_request","timestamp":"${now():toNumber()}"},"propertyDescriptors":{"product":{"displayName":"product","identifiesControllerService":false,"name":"product","sensitive":false},"Delete Attributes Expression":{"displayName":"Delete Attributes Expression","identifiesControllerService":false,"name":"Delete Attributes Expression","sensitive":false},"Store State":{"displayName":"Store State","identifiesControllerService":false,"name":"Store State","sensitive":false},"canonical-value-lookup-cache-size":{"displayName":"Cache Value Lookup Cache Size","identifiesControllerService":false,"name":"canonical-value-lookup-cache-size","sensitive":false},"topic":{"displayName":"topic","identifiesControllerService":false,"name":"topic","sensitive":false},"Stateful Variables Initial Value":{"displayName":"Stateful Variables Initial Value","identifiesControllerService":false,"name":"Stateful Variables Initial Value","sensitive":false},"timestamp":{"displayName":"timestamp","identifiesControllerService":false,"name":"timestamp","sensitive":false}},"runDurationMillis":0,"scheduledState":"DISABLED","schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","style":{},"type":"org.apache.nifi.processors.attributes.UpdateAttribute","yieldDuration":"1 sec"},{"autoTerminatedRelationships":["failure"],"bulletinLevel":"WARN","bundle":{"artifact":"nifi-standard-nar","group":"org.apache.nifi","version":"1.12.1"},"comments":"","componentType":"PROCESSOR","concurrentlySchedulableTaskCount":1,"executionNode":"ALL","groupIdentifier":"9712dd2e-edcc-35c3-841f-e6103be60e27","identifier":"3e48d354-442d-3bc7-bee8-465dc2b96201","name":"Get MyAccess Identities","penaltyDuration":"30 sec","position":{"x":2968.0,"y":1104.0},"properties":{"esql-max-rows":"0","dbf-default-precision":"10","Max Wait Time":"0 seconds","Database Connection Pooling Service":"5d6a7f9c-fad9-3b70-82bc-c8a2fe3530cc","dbf-user-logical-types":"false","dbf-default-scale":"0","compression-format":"NONE","esql-output-batch-size":"0","esql-fetch-size":"0","SQL select query":"/****** Script for SelectTopNRows command from SSMS  ******/\nSELECT [IdentityId] id\n      ,[Identity] employee_id\n      ,[native_identity] \n      ,[Account] username\n\t  ,[ApplicationName] application\n  FROM [InfoSec].[myAccess].[PanaseerIdentityMapper]","dbf-normalize":"false"},"propertyDescriptors":{"esql-max-rows":{"displayName":"Max Rows Per Flow File","identifiesControllerService":false,"name":"esql-max-rows","sensitive":false},"dbf-default-precision":{"displayName":"Default Decimal Precision","identifiesControllerService":false,"name":"dbf-default-precision","sensitive":false},"Max Wait Time":{"displayName":"Max Wait Time","identifiesControllerService":false,"name":"Max Wait Time","sensitive":false},"Database Connection Pooling Service":{"displayName":"Database Connection Pooling Service","identifiesControllerService":true,"name":"Database Connection Pooling Service","sensitive":false},"sql-post-query":{"displayName":"SQL Post-Query","identifiesControllerService":false,"name":"sql-post-query","sensitive":false},"dbf-user-logical-types":{"displayName":"Use Avro Logical Types","identifiesControllerService":false,"name":"dbf-user-logical-types","sensitive":false},"dbf-default-scale":{"displayName":"Default Decimal Scale","identifiesControllerService":false,"name":"dbf-default-scale","sensitive":false},"sql-pre-query":{"displayName":"SQL Pre-Query","identifiesControllerService":false,"name":"sql-pre-query","sensitive":false},"compression-format":{"displayName":"Compression Format","identifiesControllerService":false,"name":"compression-format","sensitive":false},"esql-output-batch-size":{"displayName":"Output Batch Size","identifiesControllerService":false,"name":"esql-output-batch-size","sensitive":false},"esql-fetch-size":{"displayName":"Fetch Size","identifiesControllerService":false,"name":"esql-fetch-size","sensitive":false},"SQL select query":{"displayName":"SQL select query","identifiesControllerService":false,"name":"SQL select query","sensitive":false},"dbf-normalize":{"displayName":"Normalize Table/Column Names","identifiesControllerService":false,"name":"dbf-normalize","sensitive":false}},"runDurationMillis":0,"scheduledState":"DISABLED","schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","style":{},"type":"org.apache.nifi.processors.standard.ExecuteSQL","yieldDuration":"1 sec"},{"autoTerminatedRelationships":[],"bulletinLevel":"WARN","bundle":{"artifact":"nifi-standard-nar","group":"org.apache.nifi","version":"1.12.1"},"comments":"","componentType":"PROCESSOR","concurrentlySchedulableTaskCount":1,"executionNode":"PRIMARY","groupIdentifier":"9712dd2e-edcc-35c3-841f-e6103be60e27","identifier":"239648ce-dffb-3b1a-b895-bfc894132278","name":"ADHOC TRIGGER","penaltyDuration":"30 sec","position":{"x":3720.0,"y":936.0},"properties":{"character-set":"UTF-8","File Size":"0B","Batch Size":"1","Unique FlowFiles":"false","Data Format":"Text"},"propertyDescriptors":{"character-set":{"displayName":"Character Set","identifiesControllerService":false,"name":"character-set","sensitive":false},"File Size":{"displayName":"File Size","identifiesControllerService":false,"name":"File Size","sensitive":false},"mime-type":{"displayName":"Mime Type","identifiesControllerService":false,"name":"mime-type","sensitive":false},"generate-ff-custom-text":{"displayName":"Custom Text","identifiesControllerService":false,"name":"generate-ff-custom-text","sensitive":false},"Batch Size":{"displayName":"Batch Size","identifiesControllerService":false,"name":"Batch Size","sensitive":false},"Unique FlowFiles":{"displayName":"Unique FlowFiles","identifiesControllerService":false,"name":"Unique FlowFiles","sensitive":false},"Data Format":{"displayName":"Data Format","identifiesControllerService":false,"name":"Data Format","sensitive":false}},"runDurationMillis":0,"scheduledState":"DISABLED","schedulingPeriod":"52 weeks","schedulingStrategy":"TIMER_DRIVEN","style":{},"type":"org.apache.nifi.processors.standard.GenerateFlowFile","yieldDuration":"1 sec"},{"autoTerminatedRelationships":[],"bulletinLevel":"WARN","bundle":{"artifact":"nifi-standard-nar","group":"org.apache.nifi","version":"1.12.1"},"comments":"","componentType":"PROCESSOR","concurrentlySchedulableTaskCount":1,"executionNode":"PRIMARY","groupIdentifier":"9712dd2e-edcc-35c3-841f-e6103be60e27","identifier":"13721df7-ca5f-3278-84e4-ae78503d0069","name":"ADHOC TRIGGER","penaltyDuration":"30 sec","position":{"x":4472.0,"y":936.0},"properties":{"character-set":"UTF-8","File Size":"0B","Batch Size":"1","Unique FlowFiles":"false","Data Format":"Text"},"propertyDescriptors":{"character-set":{"displayName":"Character Set","identifiesControllerService":false,"name":"character-set","sensitive":false},"File Size":{"displayName":"File Size","identifiesControllerService":false,"name":"File Size","sensitive":false},"mime-type":{"displayName":"Mime Type","identifiesControllerService":false,"name":"mime-type","sensitive":false},"generate-ff-custom-text":{"displayName":"Custom Text","identifiesControllerService":false,"name":"generate-ff-custom-text","sensitive":false},"Batch Size":{"displayName":"Batch Size","identifiesControllerService":false,"name":"Batch Size","sensitive":false},"Unique FlowFiles":{"displayName":"Unique FlowFiles","identifiesControllerService":false,"name":"Unique FlowFiles","sensitive":false},"Data Format":{"displayName":"Data Format","identifiesControllerService":false,"name":"Data Format","sensitive":false}},"runDurationMillis":0,"scheduledState":"DISABLED","schedulingPeriod":"52 weeks","schedulingStrategy":"TIMER_DRIVEN","style":{},"type":"org.apache.nifi.processors.standard.GenerateFlowFile","yieldDuration":"1 sec"},{"autoTerminatedRelationships":["failure"],"bulletinLevel":"WARN","bundle":{"artifact":"nifi-standard-nar","group":"org.apache.nifi","version":"1.12.1"},"comments":"","componentType":"PROCESSOR","concurrentlySchedulableTaskCount":1,"executionNode":"ALL","groupIdentifier":"9712dd2e-edcc-35c3-841f-e6103be60e27","identifier":"02808bc5-1784-3de9-8b37-3b759592243f","name":"spt_identity_request","penaltyDuration":"300 sec","position":{"x":4472.0,"y":1104.0},"properties":{"esql-max-rows":"0","dbf-default-precision":"10","Max Wait Time":"0 seconds","Database Connection Pooling Service":"5d6a7f9c-fad9-3b70-82bc-c8a2fe3530cc","dbf-user-logical-types":"false","dbf-default-scale":"0","sql-pre-query":"SELECT TOP (1) [id]\n      ,[name]\n      ,[created]\n      ,[modified]\n      ,[owner]\n      ,[assigned_scope]\n      ,[assigned_scope_path]\n      ,[state]\n      ,[type]\n      ,[source]\n      ,[target_id]\n      ,[target_display_name]\n      ,[target_class]\n      ,[requester_display_name]\n      ,[requester_id]\n      ,[end_date]\n      ,[verified]\n      ,[priority]\n      ,[completion_status]\n      ,[execution_status]\n      ,[has_messages]\n      ,[external_ticket_id]\n      ,[attributes]\n  FROM [InfoSec].[myAccess].[spt_identity_request]","compression-format":"NONE","esql-output-batch-size":"0","esql-fetch-size":"0","SQL select query":"SELECT [id]\n      ,[name]\n      ,[created]\n      ,[modified]\n      ,[owner]\n      ,[assigned_scope]\n      ,[assigned_scope_path]\n      ,[state]\n      ,[type]\n      ,[source]\n      ,[target_id]\n      ,[target_display_name]\n      ,[target_class]\n      ,[requester_display_name]\n      ,[requester_id]\n      ,[end_date]\n      ,[verified]\n      ,[priority]\n      ,[completion_status]\n      ,[execution_status]\n      ,[has_messages]\n      ,[external_ticket_id]\n      ,[attributes]\n  FROM [InfoSec].[myAccess].[spt_identity_request] WHERE [created] > '1445525815194'","dbf-normalize":"false"},"propertyDescriptors":{"esql-max-rows":{"displayName":"Max Rows Per Flow File","identifiesControllerService":false,"name":"esql-max-rows","sensitive":false},"dbf-default-precision":{"displayName":"Default Decimal Precision","identifiesControllerService":false,"name":"dbf-default-precision","sensitive":false},"Max Wait Time":{"displayName":"Max Wait Time","identifiesControllerService":false,"name":"Max Wait Time","sensitive":false},"Database Connection Pooling Service":{"displayName":"Database Connection Pooling Service","identifiesControllerService":true,"name":"Database Connection Pooling Service","sensitive":false},"sql-post-query":{"displayName":"SQL Post-Query","identifiesControllerService":false,"name":"sql-post-query","sensitive":false},"dbf-user-logical-types":{"displayName":"Use Avro Logical Types","identifiesControllerService":false,"name":"dbf-user-logical-types","sensitive":false},"dbf-default-scale":{"displayName":"Default Decimal Scale","identifiesControllerService":false,"name":"dbf-default-scale","sensitive":false},"sql-pre-query":{"displayName":"SQL Pre-Query","identifiesControllerService":false,"name":"sql-pre-query","sensitive":false},"compression-format":{"displayName":"Compression Format","identifiesControllerService":false,"name":"compression-format","sensitive":false},"esql-output-batch-size":{"displayName":"Output Batch Size","identifiesControllerService":false,"name":"esql-output-batch-size","sensitive":false},"esql-fetch-size":{"displayName":"Fetch Size","identifiesControllerService":false,"name":"esql-fetch-size","sensitive":false},"SQL select query":{"displayName":"SQL select query","identifiesControllerService":false,"name":"SQL select query","sensitive":false},"dbf-normalize":{"displayName":"Normalize Table/Column Names","identifiesControllerService":false,"name":"dbf-normalize","sensitive":false}},"runDurationMillis":0,"scheduledState":"DISABLED","schedulingPeriod":"360 sec","schedulingStrategy":"TIMER_DRIVEN","style":{},"type":"org.apache.nifi.processors.standard.ExecuteSQL","yieldDuration":"10 sec"},{"autoTerminatedRelationships":[],"bulletinLevel":"WARN","bundle":{"artifact":"nifi-update-attribute-nar","group":"org.apache.nifi","version":"1.12.1"},"comments":"","componentType":"PROCESSOR","concurrentlySchedulableTaskCount":1,"executionNode":"ALL","groupIdentifier":"9712dd2e-edcc-35c3-841f-e6103be60e27","identifier":"5a47b3e3-3215-3ea2-820a-ea7ce470b0ff","name":"UpdateAttribute","penaltyDuration":"30 sec","position":{"x":2176.0,"y":1408.0},"properties":{"product":"myaccess","Store State":"Do not store state","canonical-value-lookup-cache-size":"100","topic":"spt_bundle","timestamp":"${now():toNumber()}"},"propertyDescriptors":{"product":{"displayName":"product","identifiesControllerService":false,"name":"product","sensitive":false},"Delete Attributes Expression":{"displayName":"Delete Attributes Expression","identifiesControllerService":false,"name":"Delete Attributes Expression","sensitive":false},"Store State":{"displayName":"Store State","identifiesControllerService":false,"name":"Store State","sensitive":false},"canonical-value-lookup-cache-size":{"displayName":"Cache Value Lookup Cache Size","identifiesControllerService":false,"name":"canonical-value-lookup-cache-size","sensitive":false},"topic":{"displayName":"topic","identifiesControllerService":false,"name":"topic","sensitive":false},"Stateful Variables Initial Value":{"displayName":"Stateful Variables Initial Value","identifiesControllerService":false,"name":"Stateful Variables Initial Value","sensitive":false},"timestamp":{"displayName":"timestamp","identifiesControllerService":false,"name":"timestamp","sensitive":false}},"runDurationMillis":0,"scheduledState":"DISABLED","schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","style":{},"type":"org.apache.nifi.processors.attributes.UpdateAttribute","yieldDuration":"1 sec"},{"autoTerminatedRelationships":[],"bulletinLevel":"WARN","bundle":{"artifact":"nifi-update-attribute-nar","group":"org.apache.nifi","version":"1.12.1"},"comments":"","componentType":"PROCESSOR","concurrentlySchedulableTaskCount":1,"executionNode":"ALL","groupIdentifier":"9712dd2e-edcc-35c3-841f-e6103be60e27","identifier":"f5e1e55e-d058-3b31-a0fb-c1aac4df5257","name":"UpdateAttribute","penaltyDuration":"30 sec","position":{"x":3344.0,"y":1408.0},"properties":{"product":"myaccess","Store State":"Do not store state","canonical-value-lookup-cache-size":"100","topic":"spt_identity","timestamp":"${now():toNumber()}"},"propertyDescriptors":{"product":{"displayName":"product","identifiesControllerService":false,"name":"product","sensitive":false},"Delete Attributes Expression":{"displayName":"Delete Attributes Expression","identifiesControllerService":false,"name":"Delete Attributes Expression","sensitive":false},"Store State":{"displayName":"Store State","identifiesControllerService":false,"name":"Store State","sensitive":false},"canonical-value-lookup-cache-size":{"displayName":"Cache Value Lookup Cache Size","identifiesControllerService":false,"name":"canonical-value-lookup-cache-size","sensitive":false},"topic":{"displayName":"topic","identifiesControllerService":false,"name":"topic","sensitive":false},"Stateful Variables Initial Value":{"displayName":"Stateful Variables Initial Value","identifiesControllerService":false,"name":"Stateful Variables Initial Value","sensitive":false},"timestamp":{"displayName":"timestamp","identifiesControllerService":false,"name":"timestamp","sensitive":false}},"runDurationMillis":0,"scheduledState":"DISABLED","schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","style":{},"type":"org.apache.nifi.processors.attributes.UpdateAttribute","yieldDuration":"1 sec"},{"autoTerminatedRelationships":["failure"],"bulletinLevel":"WARN","bundle":{"artifact":"nifi-avro-nar","group":"org.apache.nifi","version":"1.12.1"},"comments":"","componentType":"PROCESSOR","concurrentlySchedulableTaskCount":1,"executionNode":"ALL","groupIdentifier":"9712dd2e-edcc-35c3-841f-e6103be60e27","identifier":"1c4ed9d5-21c7-3ba0-b0ac-ff18a3ed6d68","name":"ConvertAvroToJSON","penaltyDuration":"30 sec","position":{"x":3168.0,"y":1976.0},"properties":{"JSON container options":"array","Wrap Single Record":"false"},"propertyDescriptors":{"JSON container options":{"displayName":"JSON container options","identifiesControllerService":false,"name":"JSON container options","sensitive":false},"Wrap Single Record":{"displayName":"Wrap Single Record","identifiesControllerService":false,"name":"Wrap Single Record","sensitive":false},"Avro schema":{"displayName":"Avro schema","identifiesControllerService":false,"name":"Avro schema","sensitive":false}},"runDurationMillis":0,"scheduledState":"DISABLED","schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","style":{},"type":"org.apache.nifi.processors.avro.ConvertAvroToJSON","yieldDuration":"1 sec"},{"autoTerminatedRelationships":["failure"],"bulletinLevel":"WARN","bundle":{"artifact":"nifi-standard-nar","group":"org.apache.nifi","version":"1.12.1"},"comments":"","componentType":"PROCESSOR","concurrentlySchedulableTaskCount":1,"executionNode":"ALL","groupIdentifier":"9712dd2e-edcc-35c3-841f-e6103be60e27","identifier":"e74469ab-a3b5-3f16-a541-4099a7b80b32","name":"ExecuteSQL - spt_bundle","penaltyDuration":"300 sec","position":{"x":2184.0,"y":1104.0},"properties":{"esql-max-rows":"0","dbf-default-precision":"10","Max Wait Time":"0 seconds","Database Connection Pooling Service":"5d6a7f9c-fad9-3b70-82bc-c8a2fe3530cc","dbf-user-logical-types":"false","dbf-default-scale":"0","sql-pre-query":"SELECT top 1 1 FROM Infosec.myAccess.spt_bundle","compression-format":"NONE","esql-output-batch-size":"0","esql-fetch-size":"0","SQL select query":"SELECT * FROM Infosec.myAccess.spt_bundle","dbf-normalize":"false"},"propertyDescriptors":{"esql-max-rows":{"displayName":"Max Rows Per Flow File","identifiesControllerService":false,"name":"esql-max-rows","sensitive":false},"dbf-default-precision":{"displayName":"Default Decimal Precision","identifiesControllerService":false,"name":"dbf-default-precision","sensitive":false},"Max Wait Time":{"displayName":"Max Wait Time","identifiesControllerService":false,"name":"Max Wait Time","sensitive":false},"Database Connection Pooling Service":{"displayName":"Database Connection Pooling Service","identifiesControllerService":true,"name":"Database Connection Pooling Service","sensitive":false},"sql-post-query":{"displayName":"SQL Post-Query","identifiesControllerService":false,"name":"sql-post-query","sensitive":false},"dbf-user-logical-types":{"displayName":"Use Avro Logical Types","identifiesControllerService":false,"name":"dbf-user-logical-types","sensitive":false},"dbf-default-scale":{"displayName":"Default Decimal Scale","identifiesControllerService":false,"name":"dbf-default-scale","sensitive":false},"sql-pre-query":{"displayName":"SQL Pre-Query","identifiesControllerService":false,"name":"sql-pre-query","sensitive":false},"compression-format":{"displayName":"Compression Format","identifiesControllerService":false,"name":"compression-format","sensitive":false},"esql-output-batch-size":{"displayName":"Output Batch Size","identifiesControllerService":false,"name":"esql-output-batch-size","sensitive":false},"esql-fetch-size":{"displayName":"Fetch Size","identifiesControllerService":false,"name":"esql-fetch-size","sensitive":false},"SQL select query":{"displayName":"SQL select query","identifiesControllerService":false,"name":"SQL select query","sensitive":false},"dbf-normalize":{"displayName":"Normalize Table/Column Names","identifiesControllerService":false,"name":"dbf-normalize","sensitive":false}},"runDurationMillis":0,"scheduledState":"DISABLED","schedulingPeriod":"360 sec","schedulingStrategy":"TIMER_DRIVEN","style":{},"type":"org.apache.nifi.processors.standard.ExecuteSQL","yieldDuration":"10 sec"},{"autoTerminatedRelationships":["failure"],"bulletinLevel":"WARN","bundle":{"artifact":"nifi-standard-nar","group":"org.apache.nifi","version":"1.12.1"},"comments":"","componentType":"PROCESSOR","concurrentlySchedulableTaskCount":1,"executionNode":"ALL","groupIdentifier":"9712dd2e-edcc-35c3-841f-e6103be60e27","identifier":"4ad94307-b462-3cb6-ad83-f8533bae5561","name":"ExecuteSQL - AllRoleMakeUp","penaltyDuration":"300 sec","position":{"x":1784.0,"y":1104.0},"properties":{"esql-max-rows":"0","dbf-default-precision":"10","Max Wait Time":"0 seconds","Database Connection Pooling Service":"5d6a7f9c-fad9-3b70-82bc-c8a2fe3530cc","dbf-user-logical-types":"false","dbf-default-scale":"0","sql-pre-query":"SELECT top 1 \n[Org Role] AS ORG_ROLE,\n[i_server_guid] AS I_SERVER_GUID,\n[App Role Display Name] AS APP_ROLE_DISPLAY_NAME,\n[App Role Name] AS APP_ROLE_NAME,\n[App Role CreatedDate] AS APP_ROLE_CREATED_DATE,\n[App Role ModifiedDate] AS APP_ROLE_MODIFIED_DATE,\n[Disabled] AS DISABLED,\n[App role Approver] AS APP_ROLE_APPROVER,\n[role_secondary_approver] AS ROLE_SECONDARY_APPROVER,\n[department] AS DEPARTMENT, \n[cost_centre] AS COST_CENTRE,\n[Type] AS TYPE,\n[Role Type] AS ROLE_TYPE,\n[IT Role Display Name] AS IT_ROLE_DISPLAY_NAME,\n[IT Role Name] AS IT_ROLE_NAME,\n[IT Role CreatedDate] AS IT_ROLE_CREATED_DATE,\n[IT Role ModifiedDate] AS IT_ROLE_MODIFIED_DATE,\n[IT role Approver] AS IT_ROLE_APPROVER,\n[Application] AS APPLICATION,\n[Entitlements] AS ENTITLEMENTS\nfrom [InfoSec].[myAccess].[AllRoleMakeUp_extended]","compression-format":"NONE","esql-output-batch-size":"0","esql-fetch-size":"0","SQL select query":"select\n[Org Role] AS ORG_ROLE,\n[i_server_guid] AS I_SERVER_GUID,\n[App Role Display Name] AS APP_ROLE_DISPLAY_NAME,\n[App Role Name] AS APP_ROLE_NAME,\n[App Role CreatedDate] AS APP_ROLE_CREATED_DATE,\n[App Role ModifiedDate] AS APP_ROLE_MODIFIED_DATE,\n[Disabled] AS DISABLED,\n[App role Approver] AS APP_ROLE_APPROVER,\n[role_secondary_approver] AS ROLE_SECONDARY_APPROVER,\n[department] AS DEPARTMENT, \n[cost_centre] AS COST_CENTRE,\n[Type] AS TYPE,\n[Role Type] AS ROLE_TYPE,\n[IT Role Display Name] AS IT_ROLE_DISPLAY_NAME,\n[IT Role Name] AS IT_ROLE_NAME,\n[IT Role CreatedDate] AS IT_ROLE_CREATED_DATE,\n[IT Role ModifiedDate] AS IT_ROLE_MODIFIED_DATE,\n[IT role Approver] AS IT_ROLE_APPROVER,\n[Application] AS APPLICATION,\n[Entitlements] AS ENTITLEMENTS\nfrom [InfoSec].[myAccess].[AllRoleMakeUp_extended]","dbf-normalize":"false"},"propertyDescriptors":{"esql-max-rows":{"displayName":"Max Rows Per Flow File","identifiesControllerService":false,"name":"esql-max-rows","sensitive":false},"dbf-default-precision":{"displayName":"Default Decimal Precision","identifiesControllerService":false,"name":"dbf-default-precision","sensitive":false},"Max Wait Time":{"displayName":"Max Wait Time","identifiesControllerService":false,"name":"Max Wait Time","sensitive":false},"Database Connection Pooling Service":{"displayName":"Database Connection Pooling Service","identifiesControllerService":true,"name":"Database Connection Pooling Service","sensitive":false},"sql-post-query":{"displayName":"SQL Post-Query","identifiesControllerService":false,"name":"sql-post-query","sensitive":false},"dbf-user-logical-types":{"displayName":"Use Avro Logical Types","identifiesControllerService":false,"name":"dbf-user-logical-types","sensitive":false},"dbf-default-scale":{"displayName":"Default Decimal Scale","identifiesControllerService":false,"name":"dbf-default-scale","sensitive":false},"sql-pre-query":{"displayName":"SQL Pre-Query","identifiesControllerService":false,"name":"sql-pre-query","sensitive":false},"compression-format":{"displayName":"Compression Format","identifiesControllerService":false,"name":"compression-format","sensitive":false},"esql-output-batch-size":{"displayName":"Output Batch Size","identifiesControllerService":false,"name":"esql-output-batch-size","sensitive":false},"esql-fetch-size":{"displayName":"Fetch Size","identifiesControllerService":false,"name":"esql-fetch-size","sensitive":false},"SQL select query":{"displayName":"SQL select query","identifiesControllerService":false,"name":"SQL select query","sensitive":false},"dbf-normalize":{"displayName":"Normalize Table/Column Names","identifiesControllerService":false,"name":"dbf-normalize","sensitive":false}},"runDurationMillis":0,"scheduledState":"DISABLED","schedulingPeriod":"360 sec","schedulingStrategy":"TIMER_DRIVEN","style":{},"type":"org.apache.nifi.processors.standard.ExecuteSQL","yieldDuration":"10 sec"},{"autoTerminatedRelationships":["failure"],"bulletinLevel":"WARN","bundle":{"artifact":"nifi-standard-nar","group":"org.apache.nifi","version":"1.12.1"},"comments":"","componentType":"PROCESSOR","concurrentlySchedulableTaskCount":1,"executionNode":"ALL","groupIdentifier":"9712dd2e-edcc-35c3-841f-e6103be60e27","identifier":"1db8ddb1-1650-3c6b-a79e-4c76e7415ef0","name":"spt_identity","penaltyDuration":"300 sec","position":{"x":3344.0,"y":1104.0},"properties":{"esql-max-rows":"0","dbf-default-precision":"10","Max Wait Time":"0 seconds","Database Connection Pooling Service":"5d6a7f9c-fad9-3b70-82bc-c8a2fe3530cc","dbf-user-logical-types":"false","dbf-default-scale":"0","sql-pre-query":"SELECT top 1 1 FROM [InfoSec].[myAccess].[spt_identity] ","compression-format":"NONE","esql-output-batch-size":"0","esql-fetch-size":"0","SQL select query":"SELECT [id]\n      ,[created]\n      ,[modified]\n      ,[owner]\n      ,[assigned_scope]\n      ,[assigned_scope_path]\n      ,[extended1]\n      ,[extended2]\n      ,[extended3]\n      ,[extended4]\n      ,[extended5]\n      ,[extended6]\n      ,[extended7]\n      ,[extended8]\n      ,[extended9]\n      ,[extended10]\n      ,[building]\n      ,[city]\n      ,[company]\n      ,[cost_centre]\n      ,[cost_centre_description]\n      ,[country]\n      ,[country_code]\n      ,[department]\n      ,[division]\n      ,[employee_number]\n      ,[extended_leaver]\n      ,[col_function]\n      ,[functional_title]\n      ,[leave_date]\n      ,[leaver_processed]\n      ,[login_name]\n      ,[middle_name]\n      ,[network_login]\n      ,[permanent_staff]\n      ,[person_id]\n      ,[primary_account]\n      ,[region]\n      ,[identity_role]\n      ,[start_date]\n      ,[team]\n      ,[extended_identity1]\n      ,[extended_identity2]\n      ,[extended_identity3]\n      ,[extended_identity4]\n      ,[extended_identity5]\n      ,[name]\n      ,[description]\n      ,[protected]\n      ,[iiqlock]\n      ,[attributes]\n      ,[manager]\n      ,[display_name]\n      ,[firstname]\n      ,[lastname]\n      ,[email]\n      ,[manager_status]\n      ,[inactive]\n      ,[last_login]\n      ,[last_refresh]\n      ,[password]\n      ,[password_expiration]\n      ,[password_history]\n      ,[bundle_summary]\n      ,[assigned_role_summary]\n      ,[correlated]\n      ,[correlated_overridden]\n      ,[auth_lock_start]\n      ,[failed_auth_question_attempts]\n      ,[failed_login_attempts]\n      ,[controls_assigned_scope]\n      ,[certifications]\n      ,[activity_config]\n      ,[preferences]\n      ,[scorecard]\n      ,[uipreferences]\n      ,[attribute_meta_data]\n      ,[workgroup]\n      ,[known_as]\n      ,[comments]\n      ,[leaver_email_sent]\n      ,[needs_refresh]\n      ,[external_telephone_number]\n      ,[postal_address]\n      ,[external_email_address]\n      ,[telephone_number]\n      ,[community]\n      ,[floor]\n      ,[zone]\n      ,[location_postcode]\n      ,[person_type]\n      ,[pass_number]\n      ,[full_name]\n      ,[company_reference]\n      ,[legal_entity]\n      ,[last_physical_day_in_office]\n  FROM [InfoSec].[myAccess].[spt_identity]","dbf-normalize":"false"},"propertyDescriptors":{"esql-max-rows":{"displayName":"Max Rows Per Flow File","identifiesControllerService":false,"name":"esql-max-rows","sensitive":false},"dbf-default-precision":{"displayName":"Default Decimal Precision","identifiesControllerService":false,"name":"dbf-default-precision","sensitive":false},"Max Wait Time":{"displayName":"Max Wait Time","identifiesControllerService":false,"name":"Max Wait Time","sensitive":false},"Database Connection Pooling Service":{"displayName":"Database Connection Pooling Service","identifiesControllerService":true,"name":"Database Connection Pooling Service","sensitive":false},"sql-post-query":{"displayName":"SQL Post-Query","identifiesControllerService":false,"name":"sql-post-query","sensitive":false},"dbf-user-logical-types":{"displayName":"Use Avro Logical Types","identifiesControllerService":false,"name":"dbf-user-logical-types","sensitive":false},"dbf-default-scale":{"displayName":"Default Decimal Scale","identifiesControllerService":false,"name":"dbf-default-scale","sensitive":false},"sql-pre-query":{"displayName":"SQL Pre-Query","identifiesControllerService":false,"name":"sql-pre-query","sensitive":false},"compression-format":{"displayName":"Compression Format","identifiesControllerService":false,"name":"compression-format","sensitive":false},"esql-output-batch-size":{"displayName":"Output Batch Size","identifiesControllerService":false,"name":"esql-output-batch-size","sensitive":false},"esql-fetch-size":{"displayName":"Fetch Size","identifiesControllerService":false,"name":"esql-fetch-size","sensitive":false},"SQL select query":{"displayName":"SQL select query","identifiesControllerService":false,"name":"SQL select query","sensitive":false},"dbf-normalize":{"displayName":"Normalize Table/Column Names","identifiesControllerService":false,"name":"dbf-normalize","sensitive":false}},"runDurationMillis":0,"scheduledState":"DISABLED","schedulingPeriod":"360 sec","schedulingStrategy":"TIMER_DRIVEN","style":{},"type":"org.apache.nifi.processors.standard.ExecuteSQL","yieldDuration":"10 sec"},{"autoTerminatedRelationships":["failure"],"bulletinLevel":"WARN","bundle":{"artifact":"nifi-standard-nar","group":"org.apache.nifi","version":"1.12.1"},"comments":"","componentType":"PROCESSOR","concurrentlySchedulableTaskCount":1,"executionNode":"ALL","groupIdentifier":"9712dd2e-edcc-35c3-841f-e6103be60e27","identifier":"fb04b121-7b82-34c1-853a-730582449e2b","name":"spt_identity_entitlement","penaltyDuration":"300 sec","position":{"x":3720.0,"y":1104.0},"properties":{"esql-max-rows":"0","dbf-default-precision":"10","Max Wait Time":"0 seconds","Database Connection Pooling Service":"5d6a7f9c-fad9-3b70-82bc-c8a2fe3530cc","dbf-user-logical-types":"false","dbf-default-scale":"0","sql-pre-query":"SELECT top 1 1 FROM [InfoSec].[myAccess].[spt_identity_entitlement] ","compression-format":"NONE","esql-output-batch-size":"0","esql-fetch-size":"0","SQL select query":"SELECT [id]\n      ,[created]\n      ,[modified]\n      ,[owner]\n      ,[start_date]\n      ,[end_date]\n      ,[attributes]\n      ,[name]\n      ,[value]\n      ,[annotation]\n      ,[display_name]\n      ,[native_identity]\n      ,[instance]\n      ,[application]\n      ,[identity_id]\n      ,[aggregation_state]\n      ,[source]\n      ,[assigned]\n      ,[allowed]\n      ,[granted_by_role]\n      ,[assigner]\n      ,[assignment_id]\n      ,[assignment_note]\n      ,[type]\n      ,[request_item]\n      ,[pending_request_item]\n      ,[certification_item]\n      ,[pending_certification_item]\n  FROM [InfoSec].[myAccess].[spt_identity_entitlement]","dbf-normalize":"false"},"propertyDescriptors":{"esql-max-rows":{"displayName":"Max Rows Per Flow File","identifiesControllerService":false,"name":"esql-max-rows","sensitive":false},"dbf-default-precision":{"displayName":"Default Decimal Precision","identifiesControllerService":false,"name":"dbf-default-precision","sensitive":false},"Max Wait Time":{"displayName":"Max Wait Time","identifiesControllerService":false,"name":"Max Wait Time","sensitive":false},"Database Connection Pooling Service":{"displayName":"Database Connection Pooling Service","identifiesControllerService":true,"name":"Database Connection Pooling Service","sensitive":false},"sql-post-query":{"displayName":"SQL Post-Query","identifiesControllerService":false,"name":"sql-post-query","sensitive":false},"dbf-user-logical-types":{"displayName":"Use Avro Logical Types","identifiesControllerService":false,"name":"dbf-user-logical-types","sensitive":false},"dbf-default-scale":{"displayName":"Default Decimal Scale","identifiesControllerService":false,"name":"dbf-default-scale","sensitive":false},"sql-pre-query":{"displayName":"SQL Pre-Query","identifiesControllerService":false,"name":"sql-pre-query","sensitive":false},"compression-format":{"displayName":"Compression Format","identifiesControllerService":false,"name":"compression-format","sensitive":false},"esql-output-batch-size":{"displayName":"Output Batch Size","identifiesControllerService":false,"name":"esql-output-batch-size","sensitive":false},"esql-fetch-size":{"displayName":"Fetch Size","identifiesControllerService":false,"name":"esql-fetch-size","sensitive":false},"SQL select query":{"displayName":"SQL select query","identifiesControllerService":false,"name":"SQL select query","sensitive":false},"dbf-normalize":{"displayName":"Normalize Table/Column Names","identifiesControllerService":false,"name":"dbf-normalize","sensitive":false}},"runDurationMillis":0,"scheduledState":"DISABLED","schedulingPeriod":"360 sec","schedulingStrategy":"TIMER_DRIVEN","style":{},"type":"org.apache.nifi.processors.standard.ExecuteSQL","yieldDuration":"10 sec"},{"autoTerminatedRelationships":[],"bulletinLevel":"WARN","bundle":{"artifact":"nifi-standard-nar","group":"org.apache.nifi","version":"1.12.1"},"comments":"","componentType":"PROCESSOR","concurrentlySchedulableTaskCount":1,"executionNode":"PRIMARY","groupIdentifier":"9712dd2e-edcc-35c3-841f-e6103be60e27","identifier":"4701220f-b060-3564-ac15-52d44fb043f7","name":"ADHOC TRIGGER","penaltyDuration":"30 sec","position":{"x":2184.0,"y":936.0},"properties":{"character-set":"UTF-8","File Size":"0B","Batch Size":"1","Unique FlowFiles":"false","Data Format":"Text"},"propertyDescriptors":{"character-set":{"displayName":"Character Set","identifiesControllerService":false,"name":"character-set","sensitive":false},"File Size":{"displayName":"File Size","identifiesControllerService":false,"name":"File Size","sensitive":false},"mime-type":{"displayName":"Mime Type","identifiesControllerService":false,"name":"mime-type","sensitive":false},"generate-ff-custom-text":{"displayName":"Custom Text","identifiesControllerService":false,"name":"generate-ff-custom-text","sensitive":false},"Batch Size":{"displayName":"Batch Size","identifiesControllerService":false,"name":"Batch Size","sensitive":false},"Unique FlowFiles":{"displayName":"Unique FlowFiles","identifiesControllerService":false,"name":"Unique FlowFiles","sensitive":false},"Data Format":{"displayName":"Data Format","identifiesControllerService":false,"name":"Data Format","sensitive":false}},"runDurationMillis":0,"scheduledState":"DISABLED","schedulingPeriod":"52 weeks","schedulingStrategy":"TIMER_DRIVEN","style":{},"type":"org.apache.nifi.processors.standard.GenerateFlowFile","yieldDuration":"1 sec"},{"autoTerminatedRelationships":[],"bulletinLevel":"WARN","bundle":{"artifact":"nifi-update-attribute-nar","group":"org.apache.nifi","version":"1.12.1"},"comments":"","componentType":"PROCESSOR","concurrentlySchedulableTaskCount":1,"executionNode":"ALL","groupIdentifier":"9712dd2e-edcc-35c3-841f-e6103be60e27","identifier":"83c5860e-4c1c-3e05-84f0-3d9afc814cb4","name":"UpdateAttribute","penaltyDuration":"30 sec","position":{"x":1784.0,"y":1408.0},"properties":{"product":"myaccess","Store State":"Do not store state","canonical-value-lookup-cache-size":"100","topic":"AllRoleMakeUp","timestamp":"${now():toNumber()}"},"propertyDescriptors":{"product":{"displayName":"product","identifiesControllerService":false,"name":"product","sensitive":false},"Delete Attributes Expression":{"displayName":"Delete Attributes Expression","identifiesControllerService":false,"name":"Delete Attributes Expression","sensitive":false},"Store State":{"displayName":"Store State","identifiesControllerService":false,"name":"Store State","sensitive":false},"canonical-value-lookup-cache-size":{"displayName":"Cache Value Lookup Cache Size","identifiesControllerService":false,"name":"canonical-value-lookup-cache-size","sensitive":false},"topic":{"displayName":"topic","identifiesControllerService":false,"name":"topic","sensitive":false},"Stateful Variables Initial Value":{"displayName":"Stateful Variables Initial Value","identifiesControllerService":false,"name":"Stateful Variables Initial Value","sensitive":false},"timestamp":{"displayName":"timestamp","identifiesControllerService":false,"name":"timestamp","sensitive":false}},"runDurationMillis":0,"scheduledState":"DISABLED","schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","style":{},"type":"org.apache.nifi.processors.attributes.UpdateAttribute","yieldDuration":"1 sec"},{"autoTerminatedRelationships":[],"bulletinLevel":"WARN","bundle":{"artifact":"nifi-standard-nar","group":"org.apache.nifi","version":"1.12.1"},"comments":"","componentType":"PROCESSOR","concurrentlySchedulableTaskCount":1,"executionNode":"PRIMARY","groupIdentifier":"9712dd2e-edcc-35c3-841f-e6103be60e27","identifier":"40109e6b-01d6-31d3-bf1e-b05554ebfc45","name":"ADHOC TRIGGER","penaltyDuration":"30 sec","position":{"x":3344.0,"y":936.0},"properties":{"character-set":"UTF-8","File Size":"0B","Batch Size":"1","Unique FlowFiles":"false","Data Format":"Text"},"propertyDescriptors":{"character-set":{"displayName":"Character Set","identifiesControllerService":false,"name":"character-set","sensitive":false},"File Size":{"displayName":"File Size","identifiesControllerService":false,"name":"File Size","sensitive":false},"mime-type":{"displayName":"Mime Type","identifiesControllerService":false,"name":"mime-type","sensitive":false},"generate-ff-custom-text":{"displayName":"Custom Text","identifiesControllerService":false,"name":"generate-ff-custom-text","sensitive":false},"Batch Size":{"displayName":"Batch Size","identifiesControllerService":false,"name":"Batch Size","sensitive":false},"Unique FlowFiles":{"displayName":"Unique FlowFiles","identifiesControllerService":false,"name":"Unique FlowFiles","sensitive":false},"Data Format":{"displayName":"Data Format","identifiesControllerService":false,"name":"Data Format","sensitive":false}},"runDurationMillis":0,"scheduledState":"DISABLED","schedulingPeriod":"52 weeks","schedulingStrategy":"TIMER_DRIVEN","style":{},"type":"org.apache.nifi.processors.standard.GenerateFlowFile","yieldDuration":"1 sec"},{"autoTerminatedRelationships":[],"bulletinLevel":"WARN","bundle":{"artifact":"nifi-standard-nar","group":"org.apache.nifi","version":"1.12.1"},"comments":"","componentType":"PROCESSOR","concurrentlySchedulableTaskCount":1,"executionNode":"PRIMARY","groupIdentifier":"9712dd2e-edcc-35c3-841f-e6103be60e27","identifier":"6553dddc-2c31-33e7-8720-7caaf2f4d916","name":"schedule trigger","penaltyDuration":"30 sec","position":{"x":3144.0,"y":576.0},"properties":{"character-set":"UTF-8","File Size":"0B","Batch Size":"1","Unique FlowFiles":"false","Data Format":"Text"},"propertyDescriptors":{"character-set":{"displayName":"Character Set","identifiesControllerService":false,"name":"character-set","sensitive":false},"File Size":{"displayName":"File Size","identifiesControllerService":false,"name":"File Size","sensitive":false},"mime-type":{"displayName":"Mime Type","identifiesControllerService":false,"name":"mime-type","sensitive":false},"generate-ff-custom-text":{"displayName":"Custom Text","identifiesControllerService":false,"name":"generate-ff-custom-text","sensitive":false},"Batch Size":{"displayName":"Batch Size","identifiesControllerService":false,"name":"Batch Size","sensitive":false},"Unique FlowFiles":{"displayName":"Unique FlowFiles","identifiesControllerService":false,"name":"Unique FlowFiles","sensitive":false},"Data Format":{"displayName":"Data Format","identifiesControllerService":false,"name":"Data Format","sensitive":false}},"runDurationMillis":0,"scheduledState":"DISABLED","schedulingPeriod":"0 30 0 * * ? *","schedulingStrategy":"CRON_DRIVEN","style":{},"type":"org.apache.nifi.processors.standard.GenerateFlowFile","yieldDuration":"1 sec"},{"autoTerminatedRelationships":[],"bulletinLevel":"WARN","bundle":{"artifact":"nifi-update-attribute-nar","group":"org.apache.nifi","version":"1.12.1"},"comments":"","componentType":"PROCESSOR","concurrentlySchedulableTaskCount":1,"executionNode":"ALL","groupIdentifier":"9712dd2e-edcc-35c3-841f-e6103be60e27","identifier":"a79dcbfb-39a7-3012-b7ea-3491db700746","name":"UpdateAttribute","penaltyDuration":"30 sec","position":{"x":3720.0,"y":1408.0},"properties":{"product":"myaccess","Store State":"Do not store state","canonical-value-lookup-cache-size":"100","topic":"spt_identity_entitlement","timestamp":"${now():toNumber()}"},"propertyDescriptors":{"product":{"displayName":"product","identifiesControllerService":false,"name":"product","sensitive":false},"Delete Attributes Expression":{"displayName":"Delete Attributes Expression","identifiesControllerService":false,"name":"Delete Attributes Expression","sensitive":false},"Store State":{"displayName":"Store State","identifiesControllerService":false,"name":"Store State","sensitive":false},"canonical-value-lookup-cache-size":{"displayName":"Cache Value Lookup Cache Size","identifiesControllerService":false,"name":"canonical-value-lookup-cache-size","sensitive":false},"topic":{"displayName":"topic","identifiesControllerService":false,"name":"topic","sensitive":false},"Stateful Variables Initial Value":{"displayName":"Stateful Variables Initial Value","identifiesControllerService":false,"name":"Stateful Variables Initial Value","sensitive":false},"timestamp":{"displayName":"timestamp","identifiesControllerService":false,"name":"timestamp","sensitive":false}},"runDurationMillis":0,"scheduledState":"DISABLED","schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","style":{},"type":"org.apache.nifi.processors.attributes.UpdateAttribute","yieldDuration":"1 sec"},{"autoTerminatedRelationships":["failure"],"bulletinLevel":"WARN","bundle":{"artifact":"nifi-standard-nar","group":"org.apache.nifi","version":"1.12.1"},"comments":"","componentType":"PROCESSOR","concurrentlySchedulableTaskCount":1,"executionNode":"ALL","groupIdentifier":"9712dd2e-edcc-35c3-841f-e6103be60e27","identifier":"7fa40f05-009d-336e-9955-048a8e924f1c","name":"spt_application","penaltyDuration":"300 sec","position":{"x":4104.0,"y":1104.0},"properties":{"esql-max-rows":"0","dbf-default-precision":"10","Max Wait Time":"0 seconds","Database Connection Pooling Service":"5d6a7f9c-fad9-3b70-82bc-c8a2fe3530cc","dbf-user-logical-types":"false","dbf-default-scale":"0","sql-pre-query":"SELECT top 1 1 FROM [InfoSec].[myAccess].[spt_application] ","compression-format":"NONE","esql-output-batch-size":"0","esql-fetch-size":"0","SQL select query":"SELECT [id]\n      ,[created]\n      ,[modified]\n      ,[owner]\n      ,[assigned_scope]\n      ,[assigned_scope_path]\n      ,[extended1]\n      ,[extended2]\n      ,[extended3]\n      ,[extended4]\n      ,[name]\n      ,[proxied_name]\n      ,[app_cluster]\n      ,[icon]\n      ,[connector]\n      ,[type]\n      ,[features_string]\n      ,[profile_class]\n      ,[authentication_resource]\n      ,[case_insensitive]\n      ,[authoritative]\n      ,[logical]\n      ,[supports_provisioning]\n      ,[supports_authenticate]\n      ,[supports_account_only]\n      ,[supports_additional_accounts]\n      ,[no_aggregation]\n      ,[sync_provisioning]\n      ,[attributes]\n      ,[templates]\n      ,[provisioning_config]\n      ,[manages_other_apps]\n      ,[proxy]\n      ,[correlation_rule]\n      ,[creation_rule]\n      ,[manager_correlation_rule]\n      ,[customization_rule]\n      ,[managed_attr_customize_rule]\n      ,[account_correlation_config]\n      ,[scorecard]\n      ,[target_source]\n      ,[account_name_format]\n      ,[provisioning_forms]\n      ,[aggregation_types]\n  FROM [InfoSec].[myAccess].[spt_application]","dbf-normalize":"false"},"propertyDescriptors":{"esql-max-rows":{"displayName":"Max Rows Per Flow File","identifiesControllerService":false,"name":"esql-max-rows","sensitive":false},"dbf-default-precision":{"displayName":"Default Decimal Precision","identifiesControllerService":false,"name":"dbf-default-precision","sensitive":false},"Max Wait Time":{"displayName":"Max Wait Time","identifiesControllerService":false,"name":"Max Wait Time","sensitive":false},"Database Connection Pooling Service":{"displayName":"Database Connection Pooling Service","identifiesControllerService":true,"name":"Database Connection Pooling Service","sensitive":false},"sql-post-query":{"displayName":"SQL Post-Query","identifiesControllerService":false,"name":"sql-post-query","sensitive":false},"dbf-user-logical-types":{"displayName":"Use Avro Logical Types","identifiesControllerService":false,"name":"dbf-user-logical-types","sensitive":false},"dbf-default-scale":{"displayName":"Default Decimal Scale","identifiesControllerService":false,"name":"dbf-default-scale","sensitive":false},"sql-pre-query":{"displayName":"SQL Pre-Query","identifiesControllerService":false,"name":"sql-pre-query","sensitive":false},"compression-format":{"displayName":"Compression Format","identifiesControllerService":false,"name":"compression-format","sensitive":false},"esql-output-batch-size":{"displayName":"Output Batch Size","identifiesControllerService":false,"name":"esql-output-batch-size","sensitive":false},"esql-fetch-size":{"displayName":"Fetch Size","identifiesControllerService":false,"name":"esql-fetch-size","sensitive":false},"SQL select query":{"displayName":"SQL select query","identifiesControllerService":false,"name":"SQL select query","sensitive":false},"dbf-normalize":{"displayName":"Normalize Table/Column Names","identifiesControllerService":false,"name":"dbf-normalize","sensitive":false}},"runDurationMillis":0,"scheduledState":"DISABLED","schedulingPeriod":"360 sec","schedulingStrategy":"TIMER_DRIVEN","style":{},"type":"org.apache.nifi.processors.standard.ExecuteSQL","yieldDuration":"10 sec"},{"autoTerminatedRelationships":["failure"],"bulletinLevel":"WARN","bundle":{"artifact":"nifi-standard-nar","group":"org.apache.nifi","version":"1.12.1"},"comments":"","componentType":"PROCESSOR","concurrentlySchedulableTaskCount":1,"executionNode":"ALL","groupIdentifier":"9712dd2e-edcc-35c3-841f-e6103be60e27","identifier":"8076a030-541c-3a73-94b9-71ef9bcd4c73","name":"UpdateRecord","penaltyDuration":"30 sec","position":{"x":3168.0,"y":1736.0},"properties":{"record-writer":"426bd77d-4a64-3e44-891d-2ed59c2af301","record-reader":"e4c3c128-5bf8-30d5-a022-69cdfd76f01c","replacement-value-strategy":"literal-value","/dt":"${timestamp:format(\"yyyyMMdd\")}"},"propertyDescriptors":{"record-writer":{"displayName":"Record Writer","identifiesControllerService":true,"name":"record-writer","sensitive":false},"record-reader":{"displayName":"Record Reader","identifiesControllerService":true,"name":"record-reader","sensitive":false},"replacement-value-strategy":{"displayName":"Replacement Value Strategy","identifiesControllerService":false,"name":"replacement-value-strategy","sensitive":false},"/dt":{"displayName":"/dt","identifiesControllerService":false,"name":"/dt","sensitive":false}},"runDurationMillis":0,"scheduledState":"DISABLED","schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","style":{},"type":"org.apache.nifi.processors.standard.UpdateRecord","yieldDuration":"1 sec"}],"remoteProcessGroups":[],"variables":{}},{"comments":"","componentType":"PROCESS_GROUP","connections":[{"backPressureDataSizeThreshold":"1 GB","backPressureObjectThreshold":10000,"bends":[],"componentType":"CONNECTION","destination":{"comments":"","groupId":"793e9d08-bb87-3527-b213-a33c9cc00bd0","id":"5fb77bdb-9e9a-37d7-a7a6-7fb19c076181","name":"defender","type":"PROCESSOR"},"flowFileExpiration":"0 sec","groupIdentifier":"793e9d08-bb87-3527-b213-a33c9cc00bd0","identifier":"82fe0c32-f958-39a8-a6b7-86c1dee34334","labelIndex":1,"loadBalanceCompression":"DO_NOT_COMPRESS","loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","name":"","partitioningAttribute":"","prioritizers":[],"selectedRelationships":["success"],"source":{"comments":"","groupId":"793e9d08-bb87-3527-b213-a33c9cc00bd0","id":"3f29cda9-b515-3081-82ab-9f4809992052","name":"Common attributes","type":"PROCESSOR"},"zIndex":0},{"backPressureDataSizeThreshold":"1 GB","backPressureObjectThreshold":10000,"bends":[],"componentType":"CONNECTION","destination":{"comments":"","groupId":"793e9d08-bb87-3527-b213-a33c9cc00bd0","id":"8ee0bcf9-8606-3d60-a21e-3cd6d7a15421","name":"Antimalware query","type":"PROCESSOR"},"flowFileExpiration":"0 sec","groupIdentifier":"793e9d08-bb87-3527-b213-a33c9cc00bd0","identifier":"c82cb528-a3d8-3477-ae47-0353ab8df2d1","labelIndex":1,"loadBalanceCompression":"DO_NOT_COMPRESS","loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","name":"","partitioningAttribute":"","prioritizers":[],"selectedRelationships":["success"],"source":{"comments":"","groupId":"793e9d08-bb87-3527-b213-a33c9cc00bd0","id":"3f29cda9-b515-3081-82ab-9f4809992052","name":"Common attributes","type":"PROCESSOR"},"zIndex":0},{"backPressureDataSizeThreshold":"1 GB","backPressureObjectThreshold":10000,"bends":[],"componentType":"CONNECTION","destination":{"comments":"","groupId":"793e9d08-bb87-3527-b213-a33c9cc00bd0","id":"d2d16dc7-1b02-3089-9910-d1e30182478f","name":"Macro Readiness Report Query","type":"PROCESSOR"},"flowFileExpiration":"0 sec","groupIdentifier":"793e9d08-bb87-3527-b213-a33c9cc00bd0","identifier":"371d2c19-606b-3cfc-813d-68ae6fc8d358","labelIndex":1,"loadBalanceCompression":"DO_NOT_COMPRESS","loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","name":"","partitioningAttribute":"","prioritizers":[],"selectedRelationships":["success"],"source":{"comments":"","groupId":"793e9d08-bb87-3527-b213-a33c9cc00bd0","id":"3f29cda9-b515-3081-82ab-9f4809992052","name":"Common attributes","type":"PROCESSOR"},"zIndex":0},{"backPressureDataSizeThreshold":"1 GB","backPressureObjectThreshold":10000,"bends":[],"componentType":"CONNECTION","destination":{"comments":"","groupId":"793e9d08-bb87-3527-b213-a33c9cc00bd0","id":"b69882d8-c392-36aa-b3c0-0cffa935a05d","name":"Encryption Status Query","type":"PROCESSOR"},"flowFileExpiration":"0 sec","groupIdentifier":"793e9d08-bb87-3527-b213-a33c9cc00bd0","identifier":"f37e14b9-b7b7-3776-a804-7c9632c1b438","labelIndex":1,"loadBalanceCompression":"DO_NOT_COMPRESS","loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","name":"","partitioningAttribute":"","prioritizers":[],"selectedRelationships":["success"],"source":{"comments":"","groupId":"793e9d08-bb87-3527-b213-a33c9cc00bd0","id":"3f29cda9-b515-3081-82ab-9f4809992052","name":"Common attributes","type":"PROCESSOR"},"zIndex":0},{"backPressureDataSizeThreshold":"1 GB","backPressureObjectThreshold":10000,"bends":[],"componentType":"CONNECTION","destination":{"comments":"","groupId":"793e9d08-bb87-3527-b213-a33c9cc00bd0","id":"52055e0b-0b4f-3795-a690-07388739a7f0","name":"Execute SQL","type":"PROCESSOR"},"flowFileExpiration":"0 sec","groupIdentifier":"793e9d08-bb87-3527-b213-a33c9cc00bd0","identifier":"f61a7a30-d9b7-3c69-8a06-d6bbff05f99d","labelIndex":1,"loadBalanceCompression":"DO_NOT_COMPRESS","loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","name":"","partitioningAttribute":"","prioritizers":[],"selectedRelationships":["success"],"source":{"comments":"","groupId":"793e9d08-bb87-3527-b213-a33c9cc00bd0","id":"5ff9acf2-6aa5-3340-9ad2-5db9b778ebfc","name":"Installed software query","type":"PROCESSOR"},"zIndex":0},{"backPressureDataSizeThreshold":"1 GB","backPressureObjectThreshold":10000,"bends":[],"componentType":"CONNECTION","destination":{"comments":"","groupId":"793e9d08-bb87-3527-b213-a33c9cc00bd0","id":"52055e0b-0b4f-3795-a690-07388739a7f0","name":"Execute SQL","type":"PROCESSOR"},"flowFileExpiration":"0 sec","groupIdentifier":"793e9d08-bb87-3527-b213-a33c9cc00bd0","identifier":"bce4ce07-2415-33cf-9746-ac63f82d09d9","labelIndex":1,"loadBalanceCompression":"DO_NOT_COMPRESS","loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","name":"","partitioningAttribute":"","prioritizers":[],"selectedRelationships":["success"],"source":{"comments":"","groupId":"793e9d08-bb87-3527-b213-a33c9cc00bd0","id":"4e5f270b-37ee-3663-9aa3-dbc88e81e842","name":"Encryption Status Query","type":"PROCESSOR"},"zIndex":0},{"backPressureDataSizeThreshold":"1 GB","backPressureObjectThreshold":10000,"bends":[],"componentType":"CONNECTION","destination":{"comments":"","groupId":"793e9d08-bb87-3527-b213-a33c9cc00bd0","id":"52055e0b-0b4f-3795-a690-07388739a7f0","name":"Execute SQL","type":"PROCESSOR"},"flowFileExpiration":"0 sec","groupIdentifier":"793e9d08-bb87-3527-b213-a33c9cc00bd0","identifier":"b94937c7-e967-3507-83ea-2809873a4c28","labelIndex":1,"loadBalanceCompression":"DO_NOT_COMPRESS","loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","name":"","partitioningAttribute":"","prioritizers":[],"selectedRelationships":["success"],"source":{"comments":"","groupId":"793e9d08-bb87-3527-b213-a33c9cc00bd0","id":"8ee0bcf9-8606-3d60-a21e-3cd6d7a15421","name":"Antimalware query","type":"PROCESSOR"},"zIndex":0},{"backPressureDataSizeThreshold":"1 GB","backPressureObjectThreshold":10000,"bends":[],"componentType":"CONNECTION","destination":{"comments":"","groupId":"793e9d08-bb87-3527-b213-a33c9cc00bd0","id":"52055e0b-0b4f-3795-a690-07388739a7f0","name":"Execute SQL","type":"PROCESSOR"},"flowFileExpiration":"0 sec","groupIdentifier":"793e9d08-bb87-3527-b213-a33c9cc00bd0","identifier":"405197f4-aaf0-3273-8712-e6fc85490f83","labelIndex":1,"loadBalanceCompression":"DO_NOT_COMPRESS","loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","name":"","partitioningAttribute":"","prioritizers":[],"selectedRelationships":["success"],"source":{"comments":"","groupId":"793e9d08-bb87-3527-b213-a33c9cc00bd0","id":"b69882d8-c392-36aa-b3c0-0cffa935a05d","name":"Encryption Status Query","type":"PROCESSOR"},"zIndex":0},{"backPressureDataSizeThreshold":"1 GB","backPressureObjectThreshold":10000,"bends":[],"componentType":"CONNECTION","destination":{"comments":"","groupId":"793e9d08-bb87-3527-b213-a33c9cc00bd0","id":"b5e6393f-c044-3670-b02d-faceb3aff654","name":"Device query","type":"PROCESSOR"},"flowFileExpiration":"0 sec","groupIdentifier":"793e9d08-bb87-3527-b213-a33c9cc00bd0","identifier":"b2233c1a-d4f4-32f2-bbe6-daa52d65f61a","labelIndex":1,"loadBalanceCompression":"DO_NOT_COMPRESS","loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","name":"","partitioningAttribute":"","prioritizers":[],"selectedRelationships":["success"],"source":{"comments":"","groupId":"793e9d08-bb87-3527-b213-a33c9cc00bd0","id":"3f29cda9-b515-3081-82ab-9f4809992052","name":"Common attributes","type":"PROCESSOR"},"zIndex":0},{"backPressureDataSizeThreshold":"1 GB","backPressureObjectThreshold":10000,"bends":[],"componentType":"CONNECTION","destination":{"comments":"","groupId":"793e9d08-bb87-3527-b213-a33c9cc00bd0","id":"915896bc-443c-3eb6-9000-86934c5dac72","name":"Manageable chunks","type":"PROCESSOR"},"flowFileExpiration":"0 sec","groupIdentifier":"793e9d08-bb87-3527-b213-a33c9cc00bd0","identifier":"ed595b19-1bfd-3e77-b62f-121adc2e391f","labelIndex":1,"loadBalanceCompression":"DO_NOT_COMPRESS","loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","name":"","partitioningAttribute":"","prioritizers":[],"selectedRelationships":["success"],"source":{"comments":"","groupId":"793e9d08-bb87-3527-b213-a33c9cc00bd0","id":"52055e0b-0b4f-3795-a690-07388739a7f0","name":"Execute SQL","type":"PROCESSOR"},"zIndex":0},{"backPressureDataSizeThreshold":"1 GB","backPressureObjectThreshold":10000,"bends":[],"componentType":"CONNECTION","destination":{"comments":"","groupId":"793e9d08-bb87-3527-b213-a33c9cc00bd0","id":"52055e0b-0b4f-3795-a690-07388739a7f0","name":"Execute SQL","type":"PROCESSOR"},"flowFileExpiration":"0 sec","groupIdentifier":"793e9d08-bb87-3527-b213-a33c9cc00bd0","identifier":"605ac4b3-b185-3431-a08e-9aa689fdbb56","labelIndex":1,"loadBalanceCompression":"DO_NOT_COMPRESS","loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","name":"","partitioningAttribute":"","prioritizers":[],"selectedRelationships":["success"],"source":{"comments":"","groupId":"793e9d08-bb87-3527-b213-a33c9cc00bd0","id":"b5e6393f-c044-3670-b02d-faceb3aff654","name":"Device query","type":"PROCESSOR"},"zIndex":0},{"backPressureDataSizeThreshold":"1 GB","backPressureObjectThreshold":10000,"bends":[],"componentType":"CONNECTION","destination":{"comments":"","groupId":"793e9d08-bb87-3527-b213-a33c9cc00bd0","id":"5ff9acf2-6aa5-3340-9ad2-5db9b778ebfc","name":"Installed software query","type":"PROCESSOR"},"flowFileExpiration":"0 sec","groupIdentifier":"793e9d08-bb87-3527-b213-a33c9cc00bd0","identifier":"83e4bec8-32db-374b-afde-9b2d8ed9e082","labelIndex":1,"loadBalanceCompression":"DO_NOT_COMPRESS","loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","name":"","partitioningAttribute":"","prioritizers":[],"selectedRelationships":["success"],"source":{"comments":"","groupId":"793e9d08-bb87-3527-b213-a33c9cc00bd0","id":"3f29cda9-b515-3081-82ab-9f4809992052","name":"Common attributes","type":"PROCESSOR"},"zIndex":0},{"backPressureDataSizeThreshold":"1 GB","backPressureObjectThreshold":10000,"bends":[],"componentType":"CONNECTION","destination":{"comments":"","groupId":"793e9d08-bb87-3527-b213-a33c9cc00bd0","id":"56ffa687-60ca-3582-93aa-c1daaa5c71ed","name":"Funnel","type":"FUNNEL"},"flowFileExpiration":"0 sec","groupIdentifier":"793e9d08-bb87-3527-b213-a33c9cc00bd0","identifier":"614eee00-6393-3ddd-8de0-ffea4234d6ca","labelIndex":1,"loadBalanceCompression":"DO_NOT_COMPRESS","loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","name":"","partitioningAttribute":"","prioritizers":[],"selectedRelationships":["splits"],"source":{"comments":"","groupId":"793e9d08-bb87-3527-b213-a33c9cc00bd0","id":"915896bc-443c-3eb6-9000-86934c5dac72","name":"Manageable chunks","type":"PROCESSOR"},"zIndex":0},{"backPressureDataSizeThreshold":"1 GB","backPressureObjectThreshold":10000,"bends":[],"componentType":"CONNECTION","destination":{"comments":"","groupId":"793e9d08-bb87-3527-b213-a33c9cc00bd0","id":"52055e0b-0b4f-3795-a690-07388739a7f0","name":"Execute SQL","type":"PROCESSOR"},"flowFileExpiration":"0 sec","groupIdentifier":"793e9d08-bb87-3527-b213-a33c9cc00bd0","identifier":"6fe438d3-b31a-3505-8b6d-b4e5ebd424f1","labelIndex":1,"loadBalanceCompression":"DO_NOT_COMPRESS","loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","name":"","partitioningAttribute":"","prioritizers":[],"selectedRelationships":["success"],"source":{"comments":"","groupId":"793e9d08-bb87-3527-b213-a33c9cc00bd0","id":"5fb77bdb-9e9a-37d7-a7a6-7fb19c076181","name":"defender","type":"PROCESSOR"},"zIndex":0},{"backPressureDataSizeThreshold":"1 GB","backPressureObjectThreshold":10000,"bends":[],"componentType":"CONNECTION","destination":{"comments":"","groupId":"793e9d08-bb87-3527-b213-a33c9cc00bd0","id":"52055e0b-0b4f-3795-a690-07388739a7f0","name":"Execute SQL","type":"PROCESSOR"},"flowFileExpiration":"0 sec","groupIdentifier":"793e9d08-bb87-3527-b213-a33c9cc00bd0","identifier":"f834ff7b-f734-3983-86a6-61580517ea68","labelIndex":1,"loadBalanceCompression":"DO_NOT_COMPRESS","loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","name":"","partitioningAttribute":"","prioritizers":[],"selectedRelationships":["success"],"source":{"comments":"","groupId":"793e9d08-bb87-3527-b213-a33c9cc00bd0","id":"d2d16dc7-1b02-3089-9910-d1e30182478f","name":"Macro Readiness Report Query","type":"PROCESSOR"},"zIndex":0},{"backPressureDataSizeThreshold":"1 GB","backPressureObjectThreshold":10000,"bends":[],"componentType":"CONNECTION","destination":{"comments":"","groupId":"793e9d08-bb87-3527-b213-a33c9cc00bd0","id":"4e5f270b-37ee-3663-9aa3-dbc88e81e842","name":"Encryption Status Query","type":"PROCESSOR"},"flowFileExpiration":"0 sec","groupIdentifier":"793e9d08-bb87-3527-b213-a33c9cc00bd0","identifier":"e0d929aa-efd9-35bc-b339-55dea1caf445","labelIndex":1,"loadBalanceCompression":"DO_NOT_COMPRESS","loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","name":"","partitioningAttribute":"","prioritizers":[],"selectedRelationships":["success"],"source":{"comments":"","groupId":"793e9d08-bb87-3527-b213-a33c9cc00bd0","id":"3f29cda9-b515-3081-82ab-9f4809992052","name":"Common attributes","type":"PROCESSOR"},"zIndex":0}],"controllerServices":[],"flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","funnels":[{"componentType":"FUNNEL","groupIdentifier":"793e9d08-bb87-3527-b213-a33c9cc00bd0","identifier":"56ffa687-60ca-3582-93aa-c1daaa5c71ed","position":{"x":2635.0000042910824,"y":1676.0000005789948}}],"groupIdentifier":"8a1c9f2b-8e11-3f20-8c55-0c5f697b2351","identifier":"793e9d08-bb87-3527-b213-a33c9cc00bd0","inputPorts":[],"labels":[],"name":"SCCM","outputPorts":[],"position":{"x":1048.0,"y":552.0},"processGroups":[],"processors":[{"autoTerminatedRelationships":[],"bulletinLevel":"WARN","bundle":{"artifact":"nifi-update-attribute-nar","group":"org.apache.nifi","version":"1.12.1"},"comments":"","componentType":"PROCESSOR","concurrentlySchedulableTaskCount":1,"executionNode":"ALL","groupIdentifier":"793e9d08-bb87-3527-b213-a33c9cc00bd0","identifier":"b5e6393f-c044-3670-b02d-faceb3aff654","name":"Device query","penaltyDuration":"30 sec","position":{"x":2065.54618501618,"y":945.9656683036042},"properties":{"Store State":"Do not store state","canonical-value-lookup-cache-size":"100","query":"SELECT\n      V_R_SYSTEM.ResourceID as resource_id,\n      V_R_SYSTEM.ResourceType as resource_type,\n      V_R_SYSTEM.Active0 as active,\n      V_R_SYSTEM.Client0 as client,\n      V_R_SYSTEM_VALID.AD_Site_Name0 as ad_site_name,\n      V_R_SYSTEM.Client_Type0 as client_type,\n      V_R_SYSTEM.CPUType0 as cpu_type,\n      V_R_SYSTEM.Creation_Date0 as creation_date,\n      V_R_SYSTEM.DeviceOwner0 as device_owner,\n      V_R_SYSTEM.Distinguished_Name0 as distinguished_name,\n      V_R_SYSTEM.Full_Domain_Name0 as full_domain_name,\n      V_R_SYSTEM.Is_Assigned_To_User0 as is_assigned_to_user,\n      V_R_SYSTEM.Last_Logon_Timestamp0 as last_logon_timestamp,\n      V_R_SYSTEM.User_Domain0 as user_domain,\n      V_R_SYSTEM.User_name0 as user_name,\n      V_R_SYSTEM.Name0 as name,\n      V_R_SYSTEM.Hardware_ID0 as hardware_id,\n      V_R_SYSTEM.Netbios_Name0 as netbios_name,\n      V_R_SYSTEM.Operating_System_Name_and0 as os,\n      V_R_SYSTEM.Resource_Domain_OR_Workgr0 as resource_domain,\n      V_R_SYSTEM.Is_Virtual_Machine0 as is_virtual_machine,\n      V_GS_COMPUTER_SYSTEM.TimeStamp as update_timestamp,\n\t  V_CombinedDeviceResources.LastActiveTime as last_active_timestamp,\n      V_GS_COMPUTER_SYSTEM.Manufacturer0 as manufacturer,\n      V_GS_COMPUTER_SYSTEM.Model0 as model,\n      V_GS_WORKSTATION_STATUS.LastHWScan as last_hw_scan,\n      V_GS_SYSTEM_ENCLOSURE.ChassisTypes0 as chassis_types,\n      V_GS_OPERATING_SYSTEM.Caption0 as os_caption,\n      V_GS_OPERATING_SYSTEM.ServicePackMajorVersion0 as os_service_pack_major_version,\n      V_GS_OPERATING_SYSTEM.ServicePackMinorVersion0 as os_service_pack_minor_version,\n      V_GS_OPERATING_SYSTEM.CSDVersion0 as os_csd_version,\n      V_NETWORK_DATA_SERIALIZED.DNSDomain0 as dns_domain,\n      V_NETWORK_DATA_SERIALIZED.DNSHostName0 as dns_host_name,\n      cast(V_NETWORK_DATA_SERIALIZED.IPAddress0 as varchar) as ip_address,\n      V_NETWORK_DATA_SERIALIZED.MACAddress0 as mac_address,\n      V_GS_PC_BIOS.SerialNumber0 as serial_number,\n      cast(V_R_SYSTEM.ResourceID as varchar) as datasrc_resource_id,\n      cast(${timestamp:divide(1000)} as bigint) datasrc_tstamp,\n      '${datasrc.type}'     as datasrc_type,\n      '${datasrc.vendor}'   as datasrc_vendor,\n      '${datasrc.version}'  as datasrc_version,\n      '${database.name}'    as datasrc_instance,\n      '${database.name}'    as datasrc_endpoint,\n      cast(${timestamp:divide(1000)} as bigint) timestamp,\n      cast(${timestamp:format('yyyyMMdd')} as varchar) dt\nFROM\nV_R_SYSTEM\n\tLEFT JOIN\n\tV_R_SYSTEM_VALID ON V_R_SYSTEM_VALID.ResourceID = V_R_SYSTEM.ResourceID\n\tLEFT JOIN\n\tV_GS_COMPUTER_SYSTEM      ON V_R_SYSTEM.ResourceID = V_GS_COMPUTER_SYSTEM.ResourceID\n\tLEFT JOIN\n\tV_GS_WORKSTATION_STATUS   ON V_R_SYSTEM.ResourceID = V_GS_WORKSTATION_STATUS.ResourceID\n\tLEFT JOIN\n\tV_GS_SYSTEM_ENCLOSURE     ON V_R_SYSTEM.ResourceID =\n\tV_GS_SYSTEM_ENCLOSURE.ResourceID and V_GS_SYSTEM_ENCLOSURE.Tag0 = 'System Enclosure 0'\n\tLEFT JOIN\n\tV_GS_OPERATING_SYSTEM     ON V_R_SYSTEM.ResourceID = V_GS_OPERATING_SYSTEM.ResourceID\n\tLEFT JOIN\n    V_NETWORK_DATA_SERIALIZED ON V_R_SYSTEM.ResourceID = V_NETWORK_DATA_SERIALIZED.ResourceID and V_NETWORK_DATA_SERIALIZED.Index0 = 7\n    LEFT JOIN\n    (select distinct ResourceID, SerialNumber0 from V_GS_PC_BIOS ) V_GS_PC_BIOS ON V_R_SYSTEM.ResourceID = V_GS_PC_BIOS.ResourceID\n\tLEFT JOIN\n\tV_CombinedDeviceResources on V_R_SYSTEM.ResourceID = V_CombinedDeviceResources.MachineID","schema.name":"sccm_device"},"propertyDescriptors":{"Delete Attributes Expression":{"displayName":"Delete Attributes Expression","identifiesControllerService":false,"name":"Delete Attributes Expression","sensitive":false},"Store State":{"displayName":"Store State","identifiesControllerService":false,"name":"Store State","sensitive":false},"canonical-value-lookup-cache-size":{"displayName":"Cache Value Lookup Cache Size","identifiesControllerService":false,"name":"canonical-value-lookup-cache-size","sensitive":false},"query":{"displayName":"query","identifiesControllerService":false,"name":"query","sensitive":false},"schema.name":{"displayName":"schema.name","identifiesControllerService":false,"name":"schema.name","sensitive":false},"Stateful Variables Initial Value":{"displayName":"Stateful Variables Initial Value","identifiesControllerService":false,"name":"Stateful Variables Initial Value","sensitive":false}},"runDurationMillis":0,"scheduledState":"DISABLED","schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","style":{},"type":"org.apache.nifi.processors.attributes.UpdateAttribute","yieldDuration":"1 sec"},{"autoTerminatedRelationships":[],"bulletinLevel":"WARN","bundle":{"artifact":"nifi-update-attribute-nar","group":"org.apache.nifi","version":"1.12.1"},"comments":"","componentType":"PROCESSOR","concurrentlySchedulableTaskCount":1,"executionNode":"ALL","groupIdentifier":"793e9d08-bb87-3527-b213-a33c9cc00bd0","identifier":"3f29cda9-b515-3081-82ab-9f4809992052","name":"Common attributes","penaltyDuration":"30 sec","position":{"x":2469.4774594302426,"y":676.0000005789948},"properties":{"product":"sccm","Store State":"Do not store state","canonical-value-lookup-cache-size":"100","database.name":"default"},"propertyDescriptors":{"product":{"displayName":"product","identifiesControllerService":false,"name":"product","sensitive":false},"Delete Attributes Expression":{"displayName":"Delete Attributes Expression","identifiesControllerService":false,"name":"Delete Attributes Expression","sensitive":false},"Store State":{"displayName":"Store State","identifiesControllerService":false,"name":"Store State","sensitive":false},"canonical-value-lookup-cache-size":{"displayName":"Cache Value Lookup Cache Size","identifiesControllerService":false,"name":"canonical-value-lookup-cache-size","sensitive":false},"database.name":{"displayName":"database.name","identifiesControllerService":false,"name":"database.name","sensitive":false},"Stateful Variables Initial Value":{"displayName":"Stateful Variables Initial Value","identifiesControllerService":false,"name":"Stateful Variables Initial Value","sensitive":false}},"runDurationMillis":0,"scheduledState":"DISABLED","schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","style":{},"type":"org.apache.nifi.processors.attributes.UpdateAttribute","yieldDuration":"1 sec"},{"autoTerminatedRelationships":["original","failure"],"bulletinLevel":"WARN","bundle":{"artifact":"nifi-standard-nar","group":"org.apache.nifi","version":"1.12.1"},"comments":"","componentType":"PROCESSOR","concurrentlySchedulableTaskCount":1,"executionNode":"ALL","groupIdentifier":"793e9d08-bb87-3527-b213-a33c9cc00bd0","identifier":"915896bc-443c-3eb6-9000-86934c5dac72","name":"Manageable chunks","penaltyDuration":"30 sec","position":{"x":2467.6449800845517,"y":1461.731247167899},"properties":{"Record Writer":"426bd77d-4a64-3e44-891d-2ed59c2af301","Record Reader":"e4c3c128-5bf8-30d5-a022-69cdfd76f01c","Records Per Split":"80000"},"propertyDescriptors":{"Record Writer":{"displayName":"Record Writer","identifiesControllerService":true,"name":"Record Writer","sensitive":false},"Record Reader":{"displayName":"Record Reader","identifiesControllerService":true,"name":"Record Reader","sensitive":false},"Records Per Split":{"displayName":"Records Per Split","identifiesControllerService":false,"name":"Records Per Split","sensitive":false}},"runDurationMillis":0,"scheduledState":"DISABLED","schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","style":{},"type":"org.apache.nifi.processors.standard.SplitRecord","yieldDuration":"1 sec"},{"autoTerminatedRelationships":[],"bulletinLevel":"WARN","bundle":{"artifact":"nifi-update-attribute-nar","group":"org.apache.nifi","version":"1.12.1"},"comments":"","componentType":"PROCESSOR","concurrentlySchedulableTaskCount":1,"executionNode":"ALL","groupIdentifier":"793e9d08-bb87-3527-b213-a33c9cc00bd0","identifier":"b69882d8-c392-36aa-b3c0-0cffa935a05d","name":"Encryption Status Query","penaltyDuration":"30 sec","position":{"x":1140.0000042910824,"y":945.2366643973542},"properties":{"Store State":"Do not store state","canonical-value-lookup-cache-size":"100","query":"SELECT resourceID\n      ,GroupId\n      ,RevisionID\n      ,AgentId\n      ,timestamp\n      ,BitlockerPersistentVolumeId0\n      ,Compliant0\n      ,ConversionStatus0\n      ,DeviceId0\n      ,DriveLetter0\n      ,EncryptionMethod0\n      ,EnforcePolicyDate0\n      ,IsAutoUnlockEnabled0\n      ,KeyProtectorTypes0\n      ,MbamPersistentVolumeId0\n      ,MbamVolumeType0\n      ,NoncomplianceDetectedDate0\n      ,ProtectionStatus0\n      ,ReasonsForNonCompliance0\nFROM v_GS_BITLOCKER_DETAILS","schema.name":"sccm_bitlocker"},"propertyDescriptors":{"Delete Attributes Expression":{"displayName":"Delete Attributes Expression","identifiesControllerService":false,"name":"Delete Attributes Expression","sensitive":false},"Store State":{"displayName":"Store State","identifiesControllerService":false,"name":"Store State","sensitive":false},"canonical-value-lookup-cache-size":{"displayName":"Cache Value Lookup Cache Size","identifiesControllerService":false,"name":"canonical-value-lookup-cache-size","sensitive":false},"query":{"displayName":"query","identifiesControllerService":false,"name":"query","sensitive":false},"schema.name":{"displayName":"schema.name","identifiesControllerService":false,"name":"schema.name","sensitive":false},"Stateful Variables Initial Value":{"displayName":"Stateful Variables Initial Value","identifiesControllerService":false,"name":"Stateful Variables Initial Value","sensitive":false}},"runDurationMillis":0,"scheduledState":"DISABLED","schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","style":{},"type":"org.apache.nifi.processors.attributes.UpdateAttribute","yieldDuration":"1 sec"},{"autoTerminatedRelationships":[],"bulletinLevel":"WARN","bundle":{"artifact":"nifi-update-attribute-nar","group":"org.apache.nifi","version":"1.12.1"},"comments":"","componentType":"PROCESSOR","concurrentlySchedulableTaskCount":1,"executionNode":"ALL","groupIdentifier":"793e9d08-bb87-3527-b213-a33c9cc00bd0","identifier":"5ff9acf2-6aa5-3340-9ad2-5db9b778ebfc","name":"Installed software query","penaltyDuration":"30 sec","position":{"x":2950.084209918524,"y":944.4460760184479},"properties":{"Store State":"Do not store state","canonical-value-lookup-cache-size":"100","query":"SELECT  dbo.v_R_System.Name0\n       ,dbo.v_GS_INSTALLED_SOFTWARE.ProductName0\n       ,dbo.v_GS_INSTALLED_SOFTWARE.ProductVersion0\n       ,cast(${timestamp:format('yyyyMMdd')} as varchar) dt\n ,cast(${timestamp:divide(1000)} as bigint) timestamp\n    \nFROM   dbo.v_R_System INNER JOIN\n       dbo.v_GS_INSTALLED_SOFTWARE ON dbo.v_R_System.ResourceID = dbo.v_GS_INSTALLED_SOFTWARE.ResourceID","schema.name":"sccm_installed_software"},"propertyDescriptors":{"Delete Attributes Expression":{"displayName":"Delete Attributes Expression","identifiesControllerService":false,"name":"Delete Attributes Expression","sensitive":false},"Store State":{"displayName":"Store State","identifiesControllerService":false,"name":"Store State","sensitive":false},"canonical-value-lookup-cache-size":{"displayName":"Cache Value Lookup Cache Size","identifiesControllerService":false,"name":"canonical-value-lookup-cache-size","sensitive":false},"query":{"displayName":"query","identifiesControllerService":false,"name":"query","sensitive":false},"schema.name":{"displayName":"schema.name","identifiesControllerService":false,"name":"schema.name","sensitive":false},"Stateful Variables Initial Value":{"displayName":"Stateful Variables Initial Value","identifiesControllerService":false,"name":"Stateful Variables Initial Value","sensitive":false}},"runDurationMillis":0,"scheduledState":"DISABLED","schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","style":{},"type":"org.apache.nifi.processors.attributes.UpdateAttribute","yieldDuration":"1 sec"},{"autoTerminatedRelationships":[],"bulletinLevel":"WARN","bundle":{"artifact":"nifi-update-attribute-nar","group":"org.apache.nifi","version":"1.12.1"},"comments":"","componentType":"PROCESSOR","concurrentlySchedulableTaskCount":1,"executionNode":"ALL","groupIdentifier":"793e9d08-bb87-3527-b213-a33c9cc00bd0","identifier":"8ee0bcf9-8606-3d60-a21e-3cd6d7a15421","name":"Antimalware query","penaltyDuration":"30 sec","position":{"x":2470.494671344305,"y":945.9656683036042},"properties":{"Store State":"Do not store state","canonical-value-lookup-cache-size":"100","query":"SELECT [ResourceID]\n     ,[Version0] AS [Version]\n     ,CAST ([Enabled0] AS Bit) AS [Enabled]\n     ,[ProductStatus0] AS [ProductStatus]\n     ,CAST ([RtpEnabled0] AS Bit) AS [RtpEnabled]\n     ,[RealTimeScanDirection0] AS [RealTimeScanDirection]\n     ,CAST ([OnAccessProtectionEnabled0] AS Bit) AS [OnAccessProtectionEnabled]\n     ,CAST ([IoavProtectionEnabled0] AS Bit) AS [IoavProtectionEnabled]\n     ,CAST ([BehaviorMonitorEnabled0] AS Bit) AS [BehaviorMonitorEnabled]\n     ,CAST ([AntivirusEnabled0] AS Bit) AS [AntivirusEnabled]\n     ,CAST ([AntispywareEnabled0] AS Bit) AS [AntispywareEnabled]\n     ,[EngineVersion0] AS [EngineVersion]\n     ,[LastQuickScanDateTimeStart0] AS [LastQuickScanDateTimeStart]\n     ,[LastFullScanDateTimeStart0] AS [LastFullScanDateTimeStart]\n     ,[LastQuickScanDateTimeEnd0] AS [LastQuickScanDateTimeEnd]\n     ,[LastFullScanDateTimeEnd0] AS [LastFullScanDateTimeEnd]\n     ,[LastFullScanAge0] AS [LastFullScanAge]\n     ,[LastQuickScanAge0] AS [LastQuickScanAge]\n     ,[LastQuickScanSource0] AS [LastQuickScanSource]\n     ,[LastFullScanSource0] AS [LastFullScanSource]\n     ,[AntivirusSignatureUpdateDate0] AS [AntivirusSignatureUpdateDateTime]\n     ,[AntispywareSignatureUpdateDa0] AS [AntispywareSignatureUpdateDateTime]\n     ,[AntivirusSignatureAge0] AS [AntivirusSignatureAge]\n     ,[AntispywareSignatureAge0] AS [AntispywareSignatureAge]\n     ,[AntivirusSignatureVersion0] AS [AntivirusSignatureVersion]\n     ,[AntispywareSignatureVersion0] AS [AntispywareSignatureVersion]\n     ,CAST ([NisEnabled0] AS Bit) AS [NisEnabled]\n     ,[NisEngineVersion0] AS [NisEngineVersion]\n     ,[NisSignatureVersion0] AS [NisSignatureVersion]\n     ,cast(${timestamp:divide(1000)} as bigint) timestamp\n     ,cast(${timestamp:format('yyyyMMdd')} as varchar) dt\nFROM [dbo].[v_GS_AntimalwareHealthStatus]","schema.name":"sccm_antimalware"},"propertyDescriptors":{"Delete Attributes Expression":{"displayName":"Delete Attributes Expression","identifiesControllerService":false,"name":"Delete Attributes Expression","sensitive":false},"Store State":{"displayName":"Store State","identifiesControllerService":false,"name":"Store State","sensitive":false},"canonical-value-lookup-cache-size":{"displayName":"Cache Value Lookup Cache Size","identifiesControllerService":false,"name":"canonical-value-lookup-cache-size","sensitive":false},"query":{"displayName":"query","identifiesControllerService":false,"name":"query","sensitive":false},"schema.name":{"displayName":"schema.name","identifiesControllerService":false,"name":"schema.name","sensitive":false},"Stateful Variables Initial Value":{"displayName":"Stateful Variables Initial Value","identifiesControllerService":false,"name":"Stateful Variables Initial Value","sensitive":false}},"runDurationMillis":0,"scheduledState":"DISABLED","schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","style":{},"type":"org.apache.nifi.processors.attributes.UpdateAttribute","yieldDuration":"1 sec"},{"autoTerminatedRelationships":[],"bulletinLevel":"WARN","bundle":{"artifact":"nifi-update-attribute-nar","group":"org.apache.nifi","version":"1.12.1"},"comments":"","componentType":"PROCESSOR","concurrentlySchedulableTaskCount":1,"executionNode":"ALL","groupIdentifier":"793e9d08-bb87-3527-b213-a33c9cc00bd0","identifier":"4e5f270b-37ee-3663-9aa3-dbc88e81e842","name":"Encryption Status Query","penaltyDuration":"30 sec","position":{"x":1569.54618501618,"y":945.9656683036042},"properties":{"Store State":"Do not store state","canonical-value-lookup-cache-size":"100","query":"SELECT B.name0 AS name\n      ,B.Domain0 AS domain\n      ,B.SystemRole0 AS device_type\n      ,A.ProtectionStatus00 AS protection_status\n      ,C.System_OU_Name0 AS system_ou_name\n      ,cast(${timestamp:divide(1000)} as bigint) timestamp\n      ,cast(${timestamp:format('yyyyMMdd')} as varchar) dt\nFROM (SELECT * FROM dbo.ENCRYPTABLE_VOLUME_DATA) A\n    LEFT JOIN (SELECT * FROM dbo.System_DATA) B ON A.MachineID = B.MachineID\n    LEFT JOIN (SELECT * FROM dbo.System_System_OU_Name_ARR) C ON A.MachineID = C.ItemKey","schema.name":"sccm_encryption"},"propertyDescriptors":{"Delete Attributes Expression":{"displayName":"Delete Attributes Expression","identifiesControllerService":false,"name":"Delete Attributes Expression","sensitive":false},"Store State":{"displayName":"Store State","identifiesControllerService":false,"name":"Store State","sensitive":false},"canonical-value-lookup-cache-size":{"displayName":"Cache Value Lookup Cache Size","identifiesControllerService":false,"name":"canonical-value-lookup-cache-size","sensitive":false},"query":{"displayName":"query","identifiesControllerService":false,"name":"query","sensitive":false},"schema.name":{"displayName":"schema.name","identifiesControllerService":false,"name":"schema.name","sensitive":false},"Stateful Variables Initial Value":{"displayName":"Stateful Variables Initial Value","identifiesControllerService":false,"name":"Stateful Variables Initial Value","sensitive":false}},"runDurationMillis":0,"scheduledState":"DISABLED","schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","style":{},"type":"org.apache.nifi.processors.attributes.UpdateAttribute","yieldDuration":"1 sec"},{"autoTerminatedRelationships":["failure"],"bulletinLevel":"WARN","bundle":{"artifact":"nifi-standard-nar","group":"org.apache.nifi","version":"1.12.1"},"comments":"","componentType":"PROCESSOR","concurrentlySchedulableTaskCount":1,"executionNode":"ALL","groupIdentifier":"793e9d08-bb87-3527-b213-a33c9cc00bd0","identifier":"52055e0b-0b4f-3795-a690-07388739a7f0","name":"Execute SQL","penaltyDuration":"30 sec","position":{"x":2467.662579059149,"y":1235.8626409598542},"properties":{"esql-max-rows":"0","dbf-default-precision":"10","Max Wait Time":"0 seconds","Database Connection Pooling Service":"5d1ea772-98a1-330f-bac2-157ee87cdd17","dbf-user-logical-types":"false","dbf-default-scale":"0","compression-format":"NONE","esql-output-batch-size":"0","esql-fetch-size":"0","SQL select query":"${query}","dbf-normalize":"false"},"propertyDescriptors":{"esql-max-rows":{"displayName":"Max Rows Per Flow File","identifiesControllerService":false,"name":"esql-max-rows","sensitive":false},"dbf-default-precision":{"displayName":"Default Decimal Precision","identifiesControllerService":false,"name":"dbf-default-precision","sensitive":false},"Max Wait Time":{"displayName":"Max Wait Time","identifiesControllerService":false,"name":"Max Wait Time","sensitive":false},"Database Connection Pooling Service":{"displayName":"Database Connection Pooling Service","identifiesControllerService":true,"name":"Database Connection Pooling Service","sensitive":false},"sql-post-query":{"displayName":"SQL Post-Query","identifiesControllerService":false,"name":"sql-post-query","sensitive":false},"dbf-user-logical-types":{"displayName":"Use Avro Logical Types","identifiesControllerService":false,"name":"dbf-user-logical-types","sensitive":false},"dbf-default-scale":{"displayName":"Default Decimal Scale","identifiesControllerService":false,"name":"dbf-default-scale","sensitive":false},"sql-pre-query":{"displayName":"SQL Pre-Query","identifiesControllerService":false,"name":"sql-pre-query","sensitive":false},"compression-format":{"displayName":"Compression Format","identifiesControllerService":false,"name":"compression-format","sensitive":false},"esql-output-batch-size":{"displayName":"Output Batch Size","identifiesControllerService":false,"name":"esql-output-batch-size","sensitive":false},"esql-fetch-size":{"displayName":"Fetch Size","identifiesControllerService":false,"name":"esql-fetch-size","sensitive":false},"SQL select query":{"displayName":"SQL select query","identifiesControllerService":false,"name":"SQL select query","sensitive":false},"dbf-normalize":{"displayName":"Normalize Table/Column Names","identifiesControllerService":false,"name":"dbf-normalize","sensitive":false}},"runDurationMillis":0,"scheduledState":"DISABLED","schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","style":{},"type":"org.apache.nifi.processors.standard.ExecuteSQL","yieldDuration":"1 sec"},{"autoTerminatedRelationships":[],"bulletinLevel":"WARN","bundle":{"artifact":"nifi-update-attribute-nar","group":"org.apache.nifi","version":"1.12.1"},"comments":"","componentType":"PROCESSOR","concurrentlySchedulableTaskCount":1,"executionNode":"ALL","groupIdentifier":"793e9d08-bb87-3527-b213-a33c9cc00bd0","identifier":"5fb77bdb-9e9a-37d7-a7a6-7fb19c076181","name":"defender","penaltyDuration":"30 sec","position":{"x":3361.54618501618,"y":945.9656683036042},"properties":{"Store State":"Do not store state","canonical-value-lookup-cache-size":"100","query":"SELECT [Computer Name] AS [computer_name],\n       [PolicyName],\n       [PolicyApplicationState],\n       [onboardingState] AS [onboarding_state],\n\t   CAST([onAccessProtectionEnabled0] AS bit) AS [onAccessProtectionEnabled],\n       cast(${timestamp:divide(1000)} AS BIGINT) timestamp,\n       cast(${timestamp:format('yyyyMMdd')} as varchar) dt\nFROM dbo.[Defender Report]","schema.name":"sccm_defender_policy"},"propertyDescriptors":{"Delete Attributes Expression":{"displayName":"Delete Attributes Expression","identifiesControllerService":false,"name":"Delete Attributes Expression","sensitive":false},"Store State":{"displayName":"Store State","identifiesControllerService":false,"name":"Store State","sensitive":false},"canonical-value-lookup-cache-size":{"displayName":"Cache Value Lookup Cache Size","identifiesControllerService":false,"name":"canonical-value-lookup-cache-size","sensitive":false},"query":{"displayName":"query","identifiesControllerService":false,"name":"query","sensitive":false},"schema.name":{"displayName":"schema.name","identifiesControllerService":false,"name":"schema.name","sensitive":false},"Stateful Variables Initial Value":{"displayName":"Stateful Variables Initial Value","identifiesControllerService":false,"name":"Stateful Variables Initial Value","sensitive":false}},"runDurationMillis":0,"scheduledState":"DISABLED","schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","style":{},"type":"org.apache.nifi.processors.attributes.UpdateAttribute","yieldDuration":"1 sec"},{"autoTerminatedRelationships":[],"bulletinLevel":"WARN","bundle":{"artifact":"nifi-update-attribute-nar","group":"org.apache.nifi","version":"1.12.1"},"comments":"","componentType":"PROCESSOR","concurrentlySchedulableTaskCount":1,"executionNode":"ALL","groupIdentifier":"793e9d08-bb87-3527-b213-a33c9cc00bd0","identifier":"d2d16dc7-1b02-3089-9910-d1e30182478f","name":"Macro Readiness Report Query","penaltyDuration":"30 sec","position":{"x":3784.4599347110043,"y":945.7328191825104},"properties":{"Store State":"Do not store state","canonical-value-lookup-cache-size":"100","query":"SELECT DISTINCT OPR.name,\n    CASE WHEN OPR.MacroInventory = '3' THEN 'Macro Present'\n         WHEN OPR.MacroInventory = '1' THEN 'No Macro Present'\n         WHEN OPR.MacroInventory = '4' THEN 'Needs Review'\n         ELSE 'Other' END AS 'Macro_Readiness'\nFROM dbo.vSMS_OfficeProplusReadiness OPR\nGROUP BY OPR.MacroInventory, OPR.Name","schema.name":"sccm_macro_readiness_report"},"propertyDescriptors":{"Delete Attributes Expression":{"displayName":"Delete Attributes Expression","identifiesControllerService":false,"name":"Delete Attributes Expression","sensitive":false},"Store State":{"displayName":"Store State","identifiesControllerService":false,"name":"Store State","sensitive":false},"canonical-value-lookup-cache-size":{"displayName":"Cache Value Lookup Cache Size","identifiesControllerService":false,"name":"canonical-value-lookup-cache-size","sensitive":false},"query":{"displayName":"query","identifiesControllerService":false,"name":"query","sensitive":false},"schema.name":{"displayName":"schema.name","identifiesControllerService":false,"name":"schema.name","sensitive":false},"Stateful Variables Initial Value":{"displayName":"Stateful Variables Initial Value","identifiesControllerService":false,"name":"Stateful Variables Initial Value","sensitive":false}},"runDurationMillis":0,"scheduledState":"DISABLED","schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","style":{},"type":"org.apache.nifi.processors.attributes.UpdateAttribute","yieldDuration":"1 sec"}],"remoteProcessGroups":[],"variables":{}},{"comments":"","componentType":"PROCESS_GROUP","connections":[],"controllerServices":[],"flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","funnels":[],"groupIdentifier":"8a1c9f2b-8e11-3f20-8c55-0c5f697b2351","identifier":"436e53d7-8696-3668-b77b-1903396a67b4","inputPorts":[],"labels":[],"name":"QUALYS","outputPorts":[],"position":{"x":1440.0,"y":368.0},"processGroups":[],"processors":[],"remoteProcessGroups":[],"variables":{}},{"comments":"","componentType":"PROCESS_GROUP","connections":[],"controllerServices":[],"flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","funnels":[],"groupIdentifier":"8a1c9f2b-8e11-3f20-8c55-0c5f697b2351","identifier":"dd7cb436-52ba-3c3e-9da1-ab5a7898f670","inputPorts":[],"labels":[],"name":"TESSIAN","outputPorts":[],"position":{"x":1440.0,"y":736.0},"processGroups":[],"processors":[],"remoteProcessGroups":[],"variables":{}},{"comments":"","componentType":"PROCESS_GROUP","connections":[],"controllerServices":[],"flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","funnels":[],"groupIdentifier":"8a1c9f2b-8e11-3f20-8c55-0c5f697b2351","identifier":"365bdf5b-0eec-3b16-8ce0-ec90af0e7a21","inputPorts":[],"labels":[],"name":"SNOWLM","outputPorts":[],"position":{"x":656.0,"y":736.0},"processGroups":[],"processors":[],"remoteProcessGroups":[],"variables":{}},{"comments":"","componentType":"PROCESS_GROUP","connections":[{"backPressureDataSizeThreshold":"1 GB","backPressureObjectThreshold":10000,"bends":[],"componentType":"CONNECTION","destination":{"comments":"","groupId":"ee165d21-9957-3174-94de-8abf2534166a","id":"4e9e787c-d051-3a67-9fa9-702515118832","name":"Fetch AMI Data","type":"PROCESSOR"},"flowFileExpiration":"0 sec","groupIdentifier":"ee165d21-9957-3174-94de-8abf2534166a","identifier":"c20cef86-7d1c-312a-9292-4d85e8c5014c","labelIndex":1,"loadBalanceCompression":"DO_NOT_COMPRESS","loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","name":"","partitioningAttribute":"","prioritizers":[],"selectedRelationships":["success"],"source":{"comments":"","groupId":"ee165d21-9957-3174-94de-8abf2534166a","id":"e56654d0-d5f0-3d22-ad2f-04ee235c3d72","name":"Add Authorisation Header Attribute","type":"PROCESSOR"},"zIndex":0},{"backPressureDataSizeThreshold":"1 GB","backPressureObjectThreshold":10000,"bends":[],"componentType":"CONNECTION","destination":{"comments":"","groupId":"ee165d21-9957-3174-94de-8abf2534166a","id":"34c75568-a417-347d-bf89-92d49fc26c4c","name":"Add Authorisation Header Attribute","type":"PROCESSOR"},"flowFileExpiration":"0 sec","groupIdentifier":"ee165d21-9957-3174-94de-8abf2534166a","identifier":"4335febd-f846-377e-b2d7-4b746e5270c3","labelIndex":1,"loadBalanceCompression":"DO_NOT_COMPRESS","loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","name":"","partitioningAttribute":"","prioritizers":[],"selectedRelationships":["success"],"source":{"comments":"","groupId":"ee165d21-9957-3174-94de-8abf2534166a","id":"889c0f83-6de0-3a6f-aebd-07fccf4f2646","name":"Fetch Authentication Session Token","type":"PROCESSOR"},"zIndex":0},{"backPressureDataSizeThreshold":"1 GB","backPressureObjectThreshold":10000,"bends":[],"componentType":"CONNECTION","destination":{"comments":"","groupId":"ee165d21-9957-3174-94de-8abf2534166a","id":"c72211cf-b18b-304b-940f-ba8f5850c9ff","name":"UpdateAttribute","type":"PROCESSOR"},"flowFileExpiration":"0 sec","groupIdentifier":"ee165d21-9957-3174-94de-8abf2534166a","identifier":"43b680ad-7c3e-3dcb-a83f-88a4355c1aa6","labelIndex":1,"loadBalanceCompression":"DO_NOT_COMPRESS","loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","name":"","partitioningAttribute":"","prioritizers":[],"selectedRelationships":["Response"],"source":{"comments":"","groupId":"ee165d21-9957-3174-94de-8abf2534166a","id":"e000e34c-1fdb-3d12-ade7-81b25f61c421","name":"Fetch ASR Data","type":"PROCESSOR"},"zIndex":0},{"backPressureDataSizeThreshold":"1 GB","backPressureObjectThreshold":10000,"bends":[],"componentType":"CONNECTION","destination":{"comments":"","groupId":"ee165d21-9957-3174-94de-8abf2534166a","id":"a9b93f9c-ae46-3493-882d-3c1da7b62e45","name":"UpdateAttribute","type":"PROCESSOR"},"flowFileExpiration":"0 sec","groupIdentifier":"ee165d21-9957-3174-94de-8abf2534166a","identifier":"9b5a365b-b650-3d52-a769-fc8cf62496da","labelIndex":1,"loadBalanceCompression":"DO_NOT_COMPRESS","loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","name":"","partitioningAttribute":"","prioritizers":[],"selectedRelationships":["Response"],"source":{"comments":"","groupId":"ee165d21-9957-3174-94de-8abf2534166a","id":"4e9e787c-d051-3a67-9fa9-702515118832","name":"Fetch AMI Data","type":"PROCESSOR"},"zIndex":0},{"backPressureDataSizeThreshold":"1 GB","backPressureObjectThreshold":10000,"bends":[],"componentType":"CONNECTION","destination":{"comments":"","groupId":"ee165d21-9957-3174-94de-8abf2534166a","id":"1410937f-a2db-39c5-b478-f01309b9c172","name":"Fetch Authentication Session Token","type":"PROCESSOR"},"flowFileExpiration":"0 sec","groupIdentifier":"ee165d21-9957-3174-94de-8abf2534166a","identifier":"72c36201-5253-386f-a9cf-91db1e321744","labelIndex":1,"loadBalanceCompression":"DO_NOT_COMPRESS","loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","name":"","partitioningAttribute":"","prioritizers":[],"selectedRelationships":["success"],"source":{"comments":"","groupId":"ee165d21-9957-3174-94de-8abf2534166a","id":"3f8cdf3f-1c41-36f6-b58a-d1dee5050b97","name":"MS Security Center Alerts Query Generation","type":"PROCESSOR"},"zIndex":0},{"backPressureDataSizeThreshold":"1 GB","backPressureObjectThreshold":10000,"bends":[],"componentType":"CONNECTION","destination":{"comments":"","groupId":"ee165d21-9957-3174-94de-8abf2534166a","id":"889c0f83-6de0-3a6f-aebd-07fccf4f2646","name":"Fetch Authentication Session Token","type":"PROCESSOR"},"flowFileExpiration":"0 sec","groupIdentifier":"ee165d21-9957-3174-94de-8abf2534166a","identifier":"fb3664a0-9e92-3f19-a7a8-3ceed4847af9","labelIndex":1,"loadBalanceCompression":"DO_NOT_COMPRESS","loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","name":"","partitioningAttribute":"","prioritizers":[],"selectedRelationships":["success"],"source":{"comments":"","groupId":"ee165d21-9957-3174-94de-8abf2534166a","id":"3acaf1ed-d53b-3ddf-ad97-d712d7c5193a","name":"Scheduler - ASR Rules","type":"PROCESSOR"},"zIndex":0},{"backPressureDataSizeThreshold":"1 GB","backPressureObjectThreshold":10000,"bends":[],"componentType":"CONNECTION","destination":{"comments":"","groupId":"ee165d21-9957-3174-94de-8abf2534166a","id":"e56654d0-d5f0-3d22-ad2f-04ee235c3d72","name":"Add Authorisation Header Attribute","type":"PROCESSOR"},"flowFileExpiration":"0 sec","groupIdentifier":"ee165d21-9957-3174-94de-8abf2534166a","identifier":"26f07380-7442-39d7-8a68-41f21d9bedf4","labelIndex":1,"loadBalanceCompression":"DO_NOT_COMPRESS","loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","name":"","partitioningAttribute":"","prioritizers":[],"selectedRelationships":["success"],"source":{"comments":"","groupId":"ee165d21-9957-3174-94de-8abf2534166a","id":"1410937f-a2db-39c5-b478-f01309b9c172","name":"Fetch Authentication Session Token","type":"PROCESSOR"},"zIndex":0},{"backPressureDataSizeThreshold":"1 GB","backPressureObjectThreshold":10000,"bends":[],"componentType":"CONNECTION","destination":{"comments":"","groupId":"ee165d21-9957-3174-94de-8abf2534166a","id":"e000e34c-1fdb-3d12-ade7-81b25f61c421","name":"Fetch ASR Data","type":"PROCESSOR"},"flowFileExpiration":"0 sec","groupIdentifier":"ee165d21-9957-3174-94de-8abf2534166a","identifier":"52434b54-42ab-3468-833c-7c3bdc28f48b","labelIndex":1,"loadBalanceCompression":"DO_NOT_COMPRESS","loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","name":"","partitioningAttribute":"","prioritizers":[],"selectedRelationships":["success"],"source":{"comments":"","groupId":"ee165d21-9957-3174-94de-8abf2534166a","id":"34c75568-a417-347d-bf89-92d49fc26c4c","name":"Add Authorisation Header Attribute","type":"PROCESSOR"},"zIndex":0}],"controllerServices":[],"flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","funnels":[{"componentType":"FUNNEL","groupIdentifier":"ee165d21-9957-3174-94de-8abf2534166a","identifier":"d5677dc8-1f40-337b-9ce2-274420268d4d","position":{"x":1072.0,"y":360.0}}],"groupIdentifier":"8a1c9f2b-8e11-3f20-8c55-0c5f697b2351","identifier":"ee165d21-9957-3174-94de-8abf2534166a","inputPorts":[],"labels":[],"name":"ASR","outputPorts":[],"position":{"x":1048.0,"y":736.0},"processGroups":[],"processors":[{"autoTerminatedRelationships":[],"bulletinLevel":"WARN","bundle":{"artifact":"nifi-update-attribute-nar","group":"org.apache.nifi","version":"1.12.1"},"comments":"","componentType":"PROCESSOR","concurrentlySchedulableTaskCount":1,"executionNode":"ALL","groupIdentifier":"ee165d21-9957-3174-94de-8abf2534166a","identifier":"e56654d0-d5f0-3d22-ad2f-04ee235c3d72","name":"Add Authorisation Header Attribute","penaltyDuration":"30 sec","position":{"x":360.0,"y":400.0},"properties":{"Authorization":"Bearer ${session_token:substringAfter('\"access_token\":\"'):substringBefore('\"')}","Store State":"Do not store state","canonical-value-lookup-cache-size":"100"},"propertyDescriptors":{"Authorization":{"displayName":"Authorization","identifiesControllerService":false,"name":"Authorization","sensitive":false},"Delete Attributes Expression":{"displayName":"Delete Attributes Expression","identifiesControllerService":false,"name":"Delete Attributes Expression","sensitive":false},"Store State":{"displayName":"Store State","identifiesControllerService":false,"name":"Store State","sensitive":false},"canonical-value-lookup-cache-size":{"displayName":"Cache Value Lookup Cache Size","identifiesControllerService":false,"name":"canonical-value-lookup-cache-size","sensitive":false},"Stateful Variables Initial Value":{"displayName":"Stateful Variables Initial Value","identifiesControllerService":false,"name":"Stateful Variables Initial Value","sensitive":false}},"runDurationMillis":0,"scheduledState":"DISABLED","schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","style":{},"type":"org.apache.nifi.processors.attributes.UpdateAttribute","yieldDuration":"1 sec"},{"autoTerminatedRelationships":[],"bulletinLevel":"WARN","bundle":{"artifact":"nifi-standard-nar","group":"org.apache.nifi","version":"1.12.1"},"comments":"","componentType":"PROCESSOR","concurrentlySchedulableTaskCount":1,"executionNode":"ALL","groupIdentifier":"ee165d21-9957-3174-94de-8abf2534166a","identifier":"a20e42ac-5f9c-3583-98b2-9c655952b9e5","name":"Check size","penaltyDuration":"30 sec","position":{"x":920.0,"y":944.0},"properties":{"Routing Strategy":"Route to Property name","big_enough":"${fileSize:gt(5000)}"},"propertyDescriptors":{"Routing Strategy":{"displayName":"Routing Strategy","identifiesControllerService":false,"name":"Routing Strategy","sensitive":false},"big_enough":{"displayName":"big_enough","identifiesControllerService":false,"name":"big_enough","sensitive":false}},"runDurationMillis":0,"scheduledState":"DISABLED","schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","style":{},"type":"org.apache.nifi.processors.standard.RouteOnAttribute","yieldDuration":"1 sec"},{"autoTerminatedRelationships":[],"bulletinLevel":"WARN","bundle":{"artifact":"nifi-update-attribute-nar","group":"org.apache.nifi","version":"1.12.1"},"comments":"","componentType":"PROCESSOR","concurrentlySchedulableTaskCount":1,"executionNode":"ALL","groupIdentifier":"ee165d21-9957-3174-94de-8abf2534166a","identifier":"a9b93f9c-ae46-3493-882d-3c1da7b62e45","name":"UpdateAttribute","penaltyDuration":"30 sec","position":{"x":952.0,"y":712.0},"properties":{"product":"defender_av_compliance","Store State":"Do not store state","canonical-value-lookup-cache-size":"100","topic":"defender_av_compliance","timestamp":"${now():toNumber()}"},"propertyDescriptors":{"product":{"displayName":"product","identifiesControllerService":false,"name":"product","sensitive":false},"Delete Attributes Expression":{"displayName":"Delete Attributes Expression","identifiesControllerService":false,"name":"Delete Attributes Expression","sensitive":false},"Store State":{"displayName":"Store State","identifiesControllerService":false,"name":"Store State","sensitive":false},"canonical-value-lookup-cache-size":{"displayName":"Cache Value Lookup Cache Size","identifiesControllerService":false,"name":"canonical-value-lookup-cache-size","sensitive":false},"topic":{"displayName":"topic","identifiesControllerService":false,"name":"topic","sensitive":false},"Stateful Variables Initial Value":{"displayName":"Stateful Variables Initial Value","identifiesControllerService":false,"name":"Stateful Variables Initial Value","sensitive":false},"timestamp":{"displayName":"timestamp","identifiesControllerService":false,"name":"timestamp","sensitive":false}},"runDurationMillis":0,"scheduledState":"DISABLED","schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","style":{},"type":"org.apache.nifi.processors.attributes.UpdateAttribute","yieldDuration":"1 sec"},{"autoTerminatedRelationships":[],"bulletinLevel":"WARN","bundle":{"artifact":"nifi-standard-nar","group":"org.apache.nifi","version":"1.12.1"},"comments":"","componentType":"PROCESSOR","concurrentlySchedulableTaskCount":1,"executionNode":"ALL","groupIdentifier":"ee165d21-9957-3174-94de-8abf2534166a","identifier":"1410937f-a2db-39c5-b478-f01309b9c172","name":"Fetch Authentication Session Token","penaltyDuration":"30 sec","position":{"x":360.0,"y":120.0},"properties":{"Cache Entry Identifier":"sdr_ms_sc_session","Put Cache Value In Attribute":"session_token","Distributed Cache Service":"d8d42593-a84c-3f86-bf38-3db4bb73917f","Max Length To Put In Attribute":"4096","Character Set":"UTF-8"},"propertyDescriptors":{"Cache Entry Identifier":{"displayName":"Cache Entry Identifier","identifiesControllerService":false,"name":"Cache Entry Identifier","sensitive":false},"Put Cache Value In Attribute":{"displayName":"Put Cache Value In Attribute","identifiesControllerService":false,"name":"Put Cache Value In Attribute","sensitive":false},"Distributed Cache Service":{"displayName":"Distributed Cache Service","identifiesControllerService":true,"name":"Distributed Cache Service","sensitive":false},"Max Length To Put In Attribute":{"displayName":"Max Length To Put In Attribute","identifiesControllerService":false,"name":"Max Length To Put In Attribute","sensitive":false},"Character Set":{"displayName":"Character Set","identifiesControllerService":false,"name":"Character Set","sensitive":false}},"runDurationMillis":0,"scheduledState":"DISABLED","schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","style":{},"type":"org.apache.nifi.processors.standard.FetchDistributedMapCache","yieldDuration":"1 sec"},{"autoTerminatedRelationships":["Original"],"bulletinLevel":"WARN","bundle":{"artifact":"nifi-standard-nar","group":"org.apache.nifi","version":"1.12.1"},"comments":"","componentType":"PROCESSOR","concurrentlySchedulableTaskCount":1,"executionNode":"ALL","groupIdentifier":"ee165d21-9957-3174-94de-8abf2534166a","identifier":"e000e34c-1fdb-3d12-ade7-81b25f61c421","name":"Fetch ASR Data","penaltyDuration":"30 sec","position":{"x":2072.0,"y":664.0},"properties":{"Attributes to Send":"Authorization","use-etag":"false","proxy-configuration-service":"1e2de252-6eea-348f-9905-0a55245da01d","Proxy Type":"http","cookie-strategy":"DISABLED","Connection Timeout":"20 secs","send-message-body":"true","set-form-filename":"true","Always Output Response":"false","etag-max-cache-size":"10MB","Content-Encoding":"DISABLED","disable-http2":"False","idle-timeout":"5 mins","Use Chunked Encoding":"true","Follow Redirects":"True","Remote URL":"https://api.securitycenter.microsoft.com/api/advancedqueries/run\n","Content-Type":"application/json","flow-file-naming-strategy":"RANDOM","max-idle-connections":"5","Read Timeout":"2 mins","Max Length To Put In Attribute":"256","ignore-response-content":"false","Digest Authentication":"false","HTTP Method":"POST","Add Response Headers to Request":"false","Include Date Header":"True","Penalize on \"No Retry\"":"false"},"propertyDescriptors":{"Proxy Host":{"displayName":"Proxy Host","identifiesControllerService":false,"name":"Proxy Host","sensitive":false},"Attributes to Send":{"displayName":"Attributes to Send","identifiesControllerService":false,"name":"Attributes to Send","sensitive":false},"use-etag":{"displayName":"Use HTTP ETag","identifiesControllerService":false,"name":"use-etag","sensitive":false},"proxy-configuration-service":{"displayName":"Proxy Configuration Service","identifiesControllerService":true,"name":"proxy-configuration-service","sensitive":false},"Proxy Type":{"displayName":"Proxy Type","identifiesControllerService":false,"name":"Proxy Type","sensitive":false},"Basic Authentication Password":{"displayName":"Basic Authentication Password","identifiesControllerService":false,"name":"Basic Authentication Password","sensitive":true},"cookie-strategy":{"displayName":"cookie-strategy","identifiesControllerService":false,"name":"cookie-strategy","sensitive":false},"Connection Timeout":{"displayName":"Connection Timeout","identifiesControllerService":false,"name":"Connection Timeout","sensitive":false},"send-message-body":{"displayName":"Send Message Body","identifiesControllerService":false,"name":"send-message-body","sensitive":false},"set-form-filename":{"displayName":"Set Flowfile Form Data File Name","identifiesControllerService":false,"name":"set-form-filename","sensitive":false},"Always Output Response":{"displayName":"Always Output Response","identifiesControllerService":false,"name":"Always Output Response","sensitive":false},"etag-max-cache-size":{"displayName":"Maximum ETag Cache Size","identifiesControllerService":false,"name":"etag-max-cache-size","sensitive":false},"Content-Encoding":{"displayName":"Content-Encoding","identifiesControllerService":false,"name":"Content-Encoding","sensitive":false},"disable-http2":{"displayName":"disable-http2","identifiesControllerService":false,"name":"disable-http2","sensitive":false},"idle-timeout":{"displayName":"Idle Timeout","identifiesControllerService":false,"name":"idle-timeout","sensitive":false},"Put Response Body In Attribute":{"displayName":"Put Response Body In Attribute","identifiesControllerService":false,"name":"Put Response Body In Attribute","sensitive":false},"Use Chunked Encoding":{"displayName":"Use Chunked Encoding","identifiesControllerService":false,"name":"Use Chunked Encoding","sensitive":false},"Follow Redirects":{"displayName":"Follow Redirects","identifiesControllerService":false,"name":"Follow Redirects","sensitive":false},"Remote URL":{"displayName":"Remote URL","identifiesControllerService":false,"name":"Remote URL","sensitive":false},"Content-Type":{"displayName":"Content-Type","identifiesControllerService":false,"name":"Content-Type","sensitive":false},"form-body-form-name":{"displayName":"Flowfile Form Data Name","identifiesControllerService":false,"name":"form-body-form-name","sensitive":false},"flow-file-naming-strategy":{"displayName":"flow-file-naming-strategy","identifiesControllerService":false,"name":"flow-file-naming-strategy","sensitive":false},"max-idle-connections":{"displayName":"Max Idle Connections","identifiesControllerService":false,"name":"max-idle-connections","sensitive":false},"invokehttp-proxy-user":{"displayName":"Proxy Username","identifiesControllerService":false,"name":"invokehttp-proxy-user","sensitive":false},"Read Timeout":{"displayName":"Read Timeout","identifiesControllerService":false,"name":"Read Timeout","sensitive":false},"Max Length To Put In Attribute":{"displayName":"Max Length To Put In Attribute","identifiesControllerService":false,"name":"Max Length To Put In Attribute","sensitive":false},"invokehttp-proxy-password":{"displayName":"Proxy Password","identifiesControllerService":false,"name":"invokehttp-proxy-password","sensitive":true},"ignore-response-content":{"displayName":"Ignore response's content","identifiesControllerService":false,"name":"ignore-response-content","sensitive":false},"Proxy Port":{"displayName":"Proxy Port","identifiesControllerService":false,"name":"Proxy Port","sensitive":false},"SSL Context Service":{"displayName":"SSL Context Service","identifiesControllerService":true,"name":"SSL Context Service","sensitive":false},"Digest Authentication":{"displayName":"Use Digest Authentication","identifiesControllerService":false,"name":"Digest Authentication","sensitive":false},"HTTP Method":{"displayName":"HTTP Method","identifiesControllerService":false,"name":"HTTP Method","sensitive":false},"Add Response Headers to Request":{"displayName":"Add Response Headers to Request","identifiesControllerService":false,"name":"Add Response Headers to Request","sensitive":false},"Basic Authentication Username":{"displayName":"Basic Authentication Username","identifiesControllerService":false,"name":"Basic Authentication Username","sensitive":false},"Include Date Header":{"displayName":"Include Date Header","identifiesControllerService":false,"name":"Include Date Header","sensitive":false},"Penalize on \"No Retry\"":{"displayName":"Penalize on \"No Retry\"","identifiesControllerService":false,"name":"Penalize on \"No Retry\"","sensitive":false},"Useragent":{"displayName":"Useragent","identifiesControllerService":false,"name":"Useragent","sensitive":false}},"runDurationMillis":0,"scheduledState":"DISABLED","schedulingPeriod":"60 sec","schedulingStrategy":"TIMER_DRIVEN","style":{},"type":"org.apache.nifi.processors.standard.InvokeHTTP","yieldDuration":"1 sec"},{"autoTerminatedRelationships":[],"bulletinLevel":"WARN","bundle":{"artifact":"nifi-standard-nar","group":"org.apache.nifi","version":"1.12.1"},"comments":"","componentType":"PROCESSOR","concurrentlySchedulableTaskCount":1,"executionNode":"ALL","groupIdentifier":"ee165d21-9957-3174-94de-8abf2534166a","identifier":"889c0f83-6de0-3a6f-aebd-07fccf4f2646","name":"Fetch Authentication Session Token","penaltyDuration":"30 sec","position":{"x":2072.0,"y":160.0},"properties":{"Cache Entry Identifier":"sdr_ms_sc_session","Put Cache Value In Attribute":"session_token","Distributed Cache Service":"d8d42593-a84c-3f86-bf38-3db4bb73917f","Max Length To Put In Attribute":"4096","Character Set":"UTF-8"},"propertyDescriptors":{"Cache Entry Identifier":{"displayName":"Cache Entry Identifier","identifiesControllerService":false,"name":"Cache Entry Identifier","sensitive":false},"Put Cache Value In Attribute":{"displayName":"Put Cache Value In Attribute","identifiesControllerService":false,"name":"Put Cache Value In Attribute","sensitive":false},"Distributed Cache Service":{"displayName":"Distributed Cache Service","identifiesControllerService":true,"name":"Distributed Cache Service","sensitive":false},"Max Length To Put In Attribute":{"displayName":"Max Length To Put In Attribute","identifiesControllerService":false,"name":"Max Length To Put In Attribute","sensitive":false},"Character Set":{"displayName":"Character Set","identifiesControllerService":false,"name":"Character Set","sensitive":false}},"runDurationMillis":0,"scheduledState":"DISABLED","schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","style":{},"type":"org.apache.nifi.processors.standard.FetchDistributedMapCache","yieldDuration":"1 sec"},{"autoTerminatedRelationships":[],"bulletinLevel":"WARN","bundle":{"artifact":"nifi-update-attribute-nar","group":"org.apache.nifi","version":"1.12.1"},"comments":"","componentType":"PROCESSOR","concurrentlySchedulableTaskCount":1,"executionNode":"ALL","groupIdentifier":"ee165d21-9957-3174-94de-8abf2534166a","identifier":"c72211cf-b18b-304b-940f-ba8f5850c9ff","name":"UpdateAttribute","penaltyDuration":"30 sec","position":{"x":1472.0,"y":664.0},"properties":{"product":"asr","Store State":"Do not store state","canonical-value-lookup-cache-size":"100","topic":"data","timestamp":"${now():toNumber()}"},"propertyDescriptors":{"product":{"displayName":"product","identifiesControllerService":false,"name":"product","sensitive":false},"Delete Attributes Expression":{"displayName":"Delete Attributes Expression","identifiesControllerService":false,"name":"Delete Attributes Expression","sensitive":false},"Store State":{"displayName":"Store State","identifiesControllerService":false,"name":"Store State","sensitive":false},"canonical-value-lookup-cache-size":{"displayName":"Cache Value Lookup Cache Size","identifiesControllerService":false,"name":"canonical-value-lookup-cache-size","sensitive":false},"topic":{"displayName":"topic","identifiesControllerService":false,"name":"topic","sensitive":false},"Stateful Variables Initial Value":{"displayName":"Stateful Variables Initial Value","identifiesControllerService":false,"name":"Stateful Variables Initial Value","sensitive":false},"timestamp":{"displayName":"timestamp","identifiesControllerService":false,"name":"timestamp","sensitive":false}},"runDurationMillis":0,"scheduledState":"DISABLED","schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","style":{},"type":"org.apache.nifi.processors.attributes.UpdateAttribute","yieldDuration":"1 sec"},{"autoTerminatedRelationships":[],"bulletinLevel":"WARN","bundle":{"artifact":"nifi-update-attribute-nar","group":"org.apache.nifi","version":"1.12.1"},"comments":"","componentType":"PROCESSOR","concurrentlySchedulableTaskCount":1,"executionNode":"ALL","groupIdentifier":"ee165d21-9957-3174-94de-8abf2534166a","identifier":"34c75568-a417-347d-bf89-92d49fc26c4c","name":"Add Authorisation Header Attribute","penaltyDuration":"30 sec","position":{"x":2072.0,"y":416.0},"properties":{"Authorization":"Bearer ${session_token:substringAfter('\"access_token\":\"'):substringBefore('\"')}","Store State":"Do not store state","canonical-value-lookup-cache-size":"100"},"propertyDescriptors":{"Authorization":{"displayName":"Authorization","identifiesControllerService":false,"name":"Authorization","sensitive":false},"Delete Attributes Expression":{"displayName":"Delete Attributes Expression","identifiesControllerService":false,"name":"Delete Attributes Expression","sensitive":false},"Store State":{"displayName":"Store State","identifiesControllerService":false,"name":"Store State","sensitive":false},"canonical-value-lookup-cache-size":{"displayName":"Cache Value Lookup Cache Size","identifiesControllerService":false,"name":"canonical-value-lookup-cache-size","sensitive":false},"Stateful Variables Initial Value":{"displayName":"Stateful Variables Initial Value","identifiesControllerService":false,"name":"Stateful Variables Initial Value","sensitive":false}},"runDurationMillis":0,"scheduledState":"DISABLED","schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","style":{},"type":"org.apache.nifi.processors.attributes.UpdateAttribute","yieldDuration":"1 sec"},{"autoTerminatedRelationships":[],"bulletinLevel":"WARN","bundle":{"artifact":"nifi-standard-nar","group":"org.apache.nifi","version":"1.12.1"},"comments":"","componentType":"PROCESSOR","concurrentlySchedulableTaskCount":1,"executionNode":"PRIMARY","groupIdentifier":"ee165d21-9957-3174-94de-8abf2534166a","identifier":"3f8cdf3f-1c41-36f6-b58a-d1dee5050b97","name":"MS Security Center Alerts Query Generation","penaltyDuration":"30 sec","position":{"x":648.0,"y":-112.0},"properties":{"character-set":"UTF-8","subscription_id":"4efcf524-3739-40e4-a609-df3715f83591","File Size":"0B","generate-ff-custom-text":"{ \"Query\" : \"let avmodetable = DeviceTvmSecureConfigurationAssessment | where ConfigurationId == 'scid-2010' and isnotnull(Context) | extend avdata=parsejson(Context) | extend AVMode = iif(tostring(avdata[0][0]) == '0', 'Active' , iif(tostring(avdata[0][0]) == '1', 'Passive' ,iif(tostring(avdata[0][0]) == '4', 'EDR Blocked' ,'Unknown'))) | project DeviceId, AVMode; let QST = DeviceTvmInfoGathering | where isnotempty(AdditionalFields.AvScanResults) | extend ScanResults = tostring(parse_json(AdditionalFields).AvScanResults) | mv-expand QuickScanResults = parse_json(ScanResults).Quick | where QuickScanResults.ScanStatus == 'Completed' | mv-expand LastQuickScan = parse_json(ScanResults).Quick | where LastQuickScan contains 'Timestamp'  | project DeviceId, LastQuickScanTime = todatetime(LastQuickScan.Timestamp); let FST =  DeviceTvmInfoGathering  | where isnotempty(AdditionalFields.AvScanResults)  | extend ScanResults = tostring(parse_json(AdditionalFields).AvScanResults) | mv-expand FullScanResults = parse_json(ScanResults).Full | where FullScanResults.ScanStatus == 'Completed' | mv-expand LastFullScan = parse_json(ScanResults).Full | where LastFullScan contains 'Timestamp' | project DeviceId, LastFullScanTime = todatetime(LastFullScan.Timestamp); search in (DeviceEvents) ActionType == 'AntivirusScanCompleted' | order by Timestamp | extend fields=parse_json(AdditionalFields) | extend scanType = tostring(fields['ScanTypeIndex']) | distinct DeviceId,Timestamp,DeviceName,scanType | join (DeviceTvmSecureConfigurationAssessment) on DeviceId | where ConfigurationId == 'scid-2011' and isnotnull(Context) | extend avdata=parsejson(Context) | extend AVSigVersion = tostring(avdata[0][0]) | extend AVEngineVersion = tostring(avdata[0][1]) | extend AVSigLastUpdateTime = tostring(avdata[0][2]) | project DeviceId, DeviceName, OSPlatform, AVSigVersion, AVEngineVersion, AVSigLastUpdateTime, IsCompliant, IsApplicable | join avmodetable on DeviceId | join QST on DeviceId | join FST on DeviceId\"}","table_source":"asr_status_report","Batch Size":"1","Unique FlowFiles":"false","index":"azure_security_center","Data Format":"Text"},"propertyDescriptors":{"character-set":{"displayName":"Character Set","identifiesControllerService":false,"name":"character-set","sensitive":false},"subscription_id":{"displayName":"subscription_id","identifiesControllerService":false,"name":"subscription_id","sensitive":false},"File Size":{"displayName":"File Size","identifiesControllerService":false,"name":"File Size","sensitive":false},"mime-type":{"displayName":"Mime Type","identifiesControllerService":false,"name":"mime-type","sensitive":false},"generate-ff-custom-text":{"displayName":"Custom Text","identifiesControllerService":false,"name":"generate-ff-custom-text","sensitive":false},"table_source":{"displayName":"table_source","identifiesControllerService":false,"name":"table_source","sensitive":false},"Batch Size":{"displayName":"Batch Size","identifiesControllerService":false,"name":"Batch Size","sensitive":false},"Unique FlowFiles":{"displayName":"Unique FlowFiles","identifiesControllerService":false,"name":"Unique FlowFiles","sensitive":false},"index":{"displayName":"index","identifiesControllerService":false,"name":"index","sensitive":false},"Data Format":{"displayName":"Data Format","identifiesControllerService":false,"name":"Data Format","sensitive":false}},"runDurationMillis":0,"scheduledState":"DISABLED","schedulingPeriod":"5 0 1 * * ? *","schedulingStrategy":"CRON_DRIVEN","style":{},"type":"org.apache.nifi.processors.standard.GenerateFlowFile","yieldDuration":"1 sec"},{"autoTerminatedRelationships":["Original"],"bulletinLevel":"WARN","bundle":{"artifact":"nifi-standard-nar","group":"org.apache.nifi","version":"1.12.1"},"comments":"","componentType":"PROCESSOR","concurrentlySchedulableTaskCount":1,"executionNode":"ALL","groupIdentifier":"ee165d21-9957-3174-94de-8abf2534166a","identifier":"4e9e787c-d051-3a67-9fa9-702515118832","name":"Fetch AMI Data","penaltyDuration":"30 sec","position":{"x":360.0,"y":664.0},"properties":{"Attributes to Send":"Authorization","use-etag":"false","proxy-configuration-service":"1e2de252-6eea-348f-9905-0a55245da01d","Proxy Type":"http","cookie-strategy":"DISABLED","Connection Timeout":"20 secs","send-message-body":"true","set-form-filename":"true","Always Output Response":"false","etag-max-cache-size":"10MB","Content-Encoding":"DISABLED","disable-http2":"False","idle-timeout":"5 mins","Use Chunked Encoding":"true","Follow Redirects":"True","Remote URL":"https://api.securitycenter.microsoft.com/api/advancedqueries/run\n","Content-Type":"application/json","flow-file-naming-strategy":"RANDOM","max-idle-connections":"5","Read Timeout":"2 mins","Max Length To Put In Attribute":"256","ignore-response-content":"false","Digest Authentication":"false","HTTP Method":"POST","Add Response Headers to Request":"false","Include Date Header":"True","Penalize on \"No Retry\"":"false"},"propertyDescriptors":{"Proxy Host":{"displayName":"Proxy Host","identifiesControllerService":false,"name":"Proxy Host","sensitive":false},"Attributes to Send":{"displayName":"Attributes to Send","identifiesControllerService":false,"name":"Attributes to Send","sensitive":false},"use-etag":{"displayName":"Use HTTP ETag","identifiesControllerService":false,"name":"use-etag","sensitive":false},"proxy-configuration-service":{"displayName":"Proxy Configuration Service","identifiesControllerService":true,"name":"proxy-configuration-service","sensitive":false},"Proxy Type":{"displayName":"Proxy Type","identifiesControllerService":false,"name":"Proxy Type","sensitive":false},"Basic Authentication Password":{"displayName":"Basic Authentication Password","identifiesControllerService":false,"name":"Basic Authentication Password","sensitive":true},"cookie-strategy":{"displayName":"cookie-strategy","identifiesControllerService":false,"name":"cookie-strategy","sensitive":false},"Connection Timeout":{"displayName":"Connection Timeout","identifiesControllerService":false,"name":"Connection Timeout","sensitive":false},"send-message-body":{"displayName":"Send Message Body","identifiesControllerService":false,"name":"send-message-body","sensitive":false},"set-form-filename":{"displayName":"Set Flowfile Form Data File Name","identifiesControllerService":false,"name":"set-form-filename","sensitive":false},"Always Output Response":{"displayName":"Always Output Response","identifiesControllerService":false,"name":"Always Output Response","sensitive":false},"etag-max-cache-size":{"displayName":"Maximum ETag Cache Size","identifiesControllerService":false,"name":"etag-max-cache-size","sensitive":false},"Content-Encoding":{"displayName":"Content-Encoding","identifiesControllerService":false,"name":"Content-Encoding","sensitive":false},"disable-http2":{"displayName":"disable-http2","identifiesControllerService":false,"name":"disable-http2","sensitive":false},"idle-timeout":{"displayName":"Idle Timeout","identifiesControllerService":false,"name":"idle-timeout","sensitive":false},"Put Response Body In Attribute":{"displayName":"Put Response Body In Attribute","identifiesControllerService":false,"name":"Put Response Body In Attribute","sensitive":false},"Use Chunked Encoding":{"displayName":"Use Chunked Encoding","identifiesControllerService":false,"name":"Use Chunked Encoding","sensitive":false},"Follow Redirects":{"displayName":"Follow Redirects","identifiesControllerService":false,"name":"Follow Redirects","sensitive":false},"Remote URL":{"displayName":"Remote URL","identifiesControllerService":false,"name":"Remote URL","sensitive":false},"Content-Type":{"displayName":"Content-Type","identifiesControllerService":false,"name":"Content-Type","sensitive":false},"form-body-form-name":{"displayName":"Flowfile Form Data Name","identifiesControllerService":false,"name":"form-body-form-name","sensitive":false},"flow-file-naming-strategy":{"displayName":"flow-file-naming-strategy","identifiesControllerService":false,"name":"flow-file-naming-strategy","sensitive":false},"max-idle-connections":{"displayName":"Max Idle Connections","identifiesControllerService":false,"name":"max-idle-connections","sensitive":false},"invokehttp-proxy-user":{"displayName":"Proxy Username","identifiesControllerService":false,"name":"invokehttp-proxy-user","sensitive":false},"Read Timeout":{"displayName":"Read Timeout","identifiesControllerService":false,"name":"Read Timeout","sensitive":false},"Max Length To Put In Attribute":{"displayName":"Max Length To Put In Attribute","identifiesControllerService":false,"name":"Max Length To Put In Attribute","sensitive":false},"invokehttp-proxy-password":{"displayName":"Proxy Password","identifiesControllerService":false,"name":"invokehttp-proxy-password","sensitive":true},"ignore-response-content":{"displayName":"Ignore response's content","identifiesControllerService":false,"name":"ignore-response-content","sensitive":false},"Proxy Port":{"displayName":"Proxy Port","identifiesControllerService":false,"name":"Proxy Port","sensitive":false},"SSL Context Service":{"displayName":"SSL Context Service","identifiesControllerService":true,"name":"SSL Context Service","sensitive":false},"Digest Authentication":{"displayName":"Use Digest Authentication","identifiesControllerService":false,"name":"Digest Authentication","sensitive":false},"HTTP Method":{"displayName":"HTTP Method","identifiesControllerService":false,"name":"HTTP Method","sensitive":false},"Add Response Headers to Request":{"displayName":"Add Response Headers to Request","identifiesControllerService":false,"name":"Add Response Headers to Request","sensitive":false},"Basic Authentication Username":{"displayName":"Basic Authentication Username","identifiesControllerService":false,"name":"Basic Authentication Username","sensitive":false},"Include Date Header":{"displayName":"Include Date Header","identifiesControllerService":false,"name":"Include Date Header","sensitive":false},"Penalize on \"No Retry\"":{"displayName":"Penalize on \"No Retry\"","identifiesControllerService":false,"name":"Penalize on \"No Retry\"","sensitive":false},"Useragent":{"displayName":"Useragent","identifiesControllerService":false,"name":"Useragent","sensitive":false}},"runDurationMillis":0,"scheduledState":"DISABLED","schedulingPeriod":"0s","schedulingStrategy":"TIMER_DRIVEN","style":{},"type":"org.apache.nifi.processors.standard.InvokeHTTP","yieldDuration":"1 sec"},{"autoTerminatedRelationships":[],"bulletinLevel":"WARN","bundle":{"artifact":"nifi-standard-nar","group":"org.apache.nifi","version":"1.12.1"},"comments":"","componentType":"PROCESSOR","concurrentlySchedulableTaskCount":1,"executionNode":"PRIMARY","groupIdentifier":"ee165d21-9957-3174-94de-8abf2534166a","identifier":"8e941d52-e879-330d-bcad-31c0ecb27116","name":"ad-hoc trigger","penaltyDuration":"30 sec","position":{"x":32.0,"y":-112.0},"properties":{"character-set":"UTF-8","subscription_id":"4efcf524-3739-40e4-a609-df3715f83591","File Size":"0B","generate-ff-custom-text":"{ \"Query\" : \"let avmodetable = DeviceTvmSecureConfigurationAssessment | where ConfigurationId == 'scid-2010' and isnotnull(Context) | extend avdata=parsejson(Context) | extend AVMode = iif(tostring(avdata[0][0]) == '0', 'Active' , iif(tostring(avdata[0][0]) == '1', 'Passive' ,iif(tostring(avdata[0][0]) == '4', 'EDR Blocked' ,'Unknown'))) | project DeviceId, AVMode; let QST = DeviceTvmInfoGathering | where isnotempty(AdditionalFields.AvScanResults) | extend ScanResults = tostring(parse_json(AdditionalFields).AvScanResults) | mv-expand QuickScanResults = parse_json(ScanResults).Quick | where QuickScanResults.ScanStatus == 'Completed' | mv-expand LastQuickScan = parse_json(ScanResults).Quick | where LastQuickScan contains 'Timestamp'  | project DeviceId, LastQuickScanTime = todatetime(LastQuickScan.Timestamp); let FST =  DeviceTvmInfoGathering  | where isnotempty(AdditionalFields.AvScanResults)  | extend ScanResults = tostring(parse_json(AdditionalFields).AvScanResults) | mv-expand FullScanResults = parse_json(ScanResults).Full | where FullScanResults.ScanStatus == 'Completed' | mv-expand LastFullScan = parse_json(ScanResults).Full | where LastFullScan contains 'Timestamp' | project DeviceId, LastFullScanTime = todatetime(LastFullScan.Timestamp); search in (DeviceEvents) ActionType == 'AntivirusScanCompleted' | order by Timestamp | extend fields=parse_json(AdditionalFields) | extend scanType = tostring(fields['ScanTypeIndex']) | distinct DeviceId,Timestamp,DeviceName,scanType | join (DeviceTvmSecureConfigurationAssessment) on DeviceId | where ConfigurationId == 'scid-2011' and isnotnull(Context) | extend avdata=parsejson(Context) | extend AVSigVersion = tostring(avdata[0][0]) | extend AVEngineVersion = tostring(avdata[0][1]) | extend AVSigLastUpdateTime = tostring(avdata[0][2]) | project DeviceId, DeviceName, OSPlatform, AVSigVersion, AVEngineVersion, AVSigLastUpdateTime, IsCompliant, IsApplicable | join avmodetable on DeviceId | join QST on DeviceId | join FST on DeviceId\"}","table_source":"asr_status_report","Batch Size":"1","Unique FlowFiles":"false","index":"azure_security_center","Data Format":"Text"},"propertyDescriptors":{"character-set":{"displayName":"Character Set","identifiesControllerService":false,"name":"character-set","sensitive":false},"subscription_id":{"displayName":"subscription_id","identifiesControllerService":false,"name":"subscription_id","sensitive":false},"File Size":{"displayName":"File Size","identifiesControllerService":false,"name":"File Size","sensitive":false},"mime-type":{"displayName":"Mime Type","identifiesControllerService":false,"name":"mime-type","sensitive":false},"generate-ff-custom-text":{"displayName":"Custom Text","identifiesControllerService":false,"name":"generate-ff-custom-text","sensitive":false},"table_source":{"displayName":"table_source","identifiesControllerService":false,"name":"table_source","sensitive":false},"Batch Size":{"displayName":"Batch Size","identifiesControllerService":false,"name":"Batch Size","sensitive":false},"Unique FlowFiles":{"displayName":"Unique FlowFiles","identifiesControllerService":false,"name":"Unique FlowFiles","sensitive":false},"index":{"displayName":"index","identifiesControllerService":false,"name":"index","sensitive":false},"Data Format":{"displayName":"Data Format","identifiesControllerService":false,"name":"Data Format","sensitive":false}},"runDurationMillis":0,"scheduledState":"DISABLED","schedulingPeriod":"32 weeks","schedulingStrategy":"TIMER_DRIVEN","style":{},"type":"org.apache.nifi.processors.standard.GenerateFlowFile","yieldDuration":"1 sec"},{"autoTerminatedRelationships":[],"bulletinLevel":"WARN","bundle":{"artifact":"nifi-standard-nar","group":"org.apache.nifi","version":"1.12.1"},"comments":"","componentType":"PROCESSOR","concurrentlySchedulableTaskCount":1,"executionNode":"PRIMARY","groupIdentifier":"ee165d21-9957-3174-94de-8abf2534166a","identifier":"3acaf1ed-d53b-3ddf-ad97-d712d7c5193a","name":"Scheduler - ASR Rules","penaltyDuration":"30 sec","position":{"x":2072.0,"y":-104.0},"properties":{"character-set":"UTF-8","subscription_id":"4efcf524-3739-40e4-a609-df3715f83591","File Size":"0B","generate-ff-custom-text":"{\n  \"Query\" :\"let events = DeviceTvmSecureConfigurationAssessment | where ConfigurationSubcategory == 'Attack Surface Reduction' | summarize max(Timestamp) by DeviceName | extend Timestamp = max_Timestamp | join kind=rightouter (DeviceTvmSecureConfigurationAssessment | where ConfigurationId == 'scid-2000' | where IsCompliant == 1 and IsApplicable == 1 | summarize arg_max(Timestamp, *) by DeviceName) on $left.DeviceName == $right.DeviceName | project Timestamp=max_Timestamp, DeviceName; events | join kind=leftouter (DeviceTvmSecureConfigurationAssessment | where ConfigurationSubcategory == 'Attack Surface Reduction') on $left.DeviceName == $right.DeviceName and $left.Timestamp == $right.Timestamp | extend RuleState = case(Context contains 'Audit','Audit',Context contains 'Block','Block',Context contains 'Off','Off','Empty') | extend RuleStates = pack('RuleState', RuleState, 'ConfigurationId', ConfigurationId, 'IsCompliant',IsCompliant,'IsApplicable',IsApplicable,'IsExpectedUserImpact', IsExpectedUserImpact) | summarize make_list(RuleStates) by DeviceName | join kind=leftouter events on DeviceName | project DeviceName,list_RuleStates,Timestamp | project-rename event_timestamp = Timestamp\"\n}","table_source":"asr_status_report","Batch Size":"1","Unique FlowFiles":"false","index":"azure_security_center","Data Format":"Text"},"propertyDescriptors":{"character-set":{"displayName":"Character Set","identifiesControllerService":false,"name":"character-set","sensitive":false},"subscription_id":{"displayName":"subscription_id","identifiesControllerService":false,"name":"subscription_id","sensitive":false},"File Size":{"displayName":"File Size","identifiesControllerService":false,"name":"File Size","sensitive":false},"mime-type":{"displayName":"Mime Type","identifiesControllerService":false,"name":"mime-type","sensitive":false},"generate-ff-custom-text":{"displayName":"Custom Text","identifiesControllerService":false,"name":"generate-ff-custom-text","sensitive":false},"table_source":{"displayName":"table_source","identifiesControllerService":false,"name":"table_source","sensitive":false},"Batch Size":{"displayName":"Batch Size","identifiesControllerService":false,"name":"Batch Size","sensitive":false},"Unique FlowFiles":{"displayName":"Unique FlowFiles","identifiesControllerService":false,"name":"Unique FlowFiles","sensitive":false},"index":{"displayName":"index","identifiesControllerService":false,"name":"index","sensitive":false},"Data Format":{"displayName":"Data Format","identifiesControllerService":false,"name":"Data Format","sensitive":false}},"runDurationMillis":0,"scheduledState":"DISABLED","schedulingPeriod":"0 15 02 * * ?","schedulingStrategy":"CRON_DRIVEN","style":{},"type":"org.apache.nifi.processors.standard.GenerateFlowFile","yieldDuration":"1 sec"}],"remoteProcessGroups":[],"variables":{}}],"processors":[],"remoteProcessGroups":[],"variables":{}},"flowEncodingVersion":"1.0","parameterContexts":{},"snapshotMetadata":{"author":"anonymous","comments":"","timestamp":1763550454248,"version":1}}